{% assign limit = include.limit | default: 9 %}
{% assign offset = include.offset | default: 8 %}
{% assign avatar-size = include.avatar-size | default: "md" %}
<div class="mb-3">
	<label class="form-label">Person Check</label>
	<div class="row g-2">
		{% for person in site.data.people limit: limit offset: offset %}
		<div class="col-auto">
			<label class="form-imagecheck mb-2">
				<input name="form-imagecheck" type="checkbox" value="{{ forloop.index }}" class="form-imagecheck-input" {% if forloop.index == 2 or forloop.index == 4  or forloop.index == 7 %} checked{% endif %}/>
				<span class="form-imagecheck-figure">
					<span class="form-imagecheck-image">
						{% include ui/avatar.html size=avatar-size person=person %}
					</span>
				</span>
			</label>
		</div>
		{% endfor %}
	</div>
</div>
