<div class="mb-3">
   <label class="form-label">Simple selectgroup</label>
   {% include ui/form/input-selectgroup.html values="HTML,CSS,PHP,JavaScript" %}
</div>

<div class="mb-3">
   <label class="form-label">Icon input</label>
   {% include ui/form/input-selectgroup.html values="i:sun,i:moon,i:cloud-rain,i:cloud,Other" %}
</div>

<div class="mb-3">
   <label class="form-label">Selectgroup with icons and text</label>
   {% include ui/form/input-selectgroup.html values="i:home,i:user,i:circle,i:square" type="radio" name="icons" with-text=true %}
</div>

<div class="mb-3">
	<label class="form-label">Different style</label>
	{% include ui/form/input-selectgroup.html values="HTML,CSS,PHP,JavaScript" class="form-selectgroup-pills" %}
</div>
