// stylelint-disable declaration-no-important

$dark-text: $light;

@include dark-mode {
  & {
    color: $dark-text;
    background: $dark-darken;
  }

  .card,
  .navbar-light,
  .footer,
  .modal-content,
  .modal-header {
    background: $dark;
    color: inherit;
  }

  .card {
    border-color: transparent;
  }

  .btn-secondary,
  .form-file-button {
    @include button-variant($dark-lighten, $border-color, $dark-text, rgba($dark, 0), $border-color, $dark-text);
    background-image: none;
  }

  .form-check-input:not(:checked),
  .form-select,
  .form-file-text,
  .form-control,
  .form-selectgroup-box,
  .flatpickr-input.flatpickr-input,
  .form-selectgroup-check,
  .form-imagecheck-figure:before {
    background-color: $dark-darken;
    color: $dark-text;
  }

  .form-control-plaintext {
    color: $dark-text;
  }

  .input-group-flat .input-group-text {
    background-color: $dark-darken;
  }

  .navbar {
    box-shadow: 0 0 0 1px $dark-darken;
  }

  .highlight {
    background-color: $dark-darken;
  }

  .avatar {
    background-color: $dark-lighten;
  }

  .avatar-list-stacked .avatar {
    box-shadow: 0 0 0 2px $dark;
  }

  .markdown,
  .markdown>*,
  .close {
    color: inherit;
  }

  .apexcharts-text {
    fill: $dark-text;
  }

  .apexcharts-legend-text {
    color: inherit !important;
  }

  .navbar-brand-autodark {
    @include autodark-image;
  }
}

