body.theme-dark {
  color: #afbdd1;
  background: $dark;

  .card,
  .header,
  .sidebar,
  .sidenav,
  .topnav,
  .dropdown-menu {
    background: rgba(0, 0, 0, 0.1);
    border-color: transparent;
  }

  .text-default {
    color: #afbdd1 !important;
  }

  .avatar-list-stacked .avatar {
    box-shadow: 0 0 0 2px #2b3648;
  }
}

