// FONTS
$font-family-base: "Source Sans Pro", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-serif: "Georgia", "Times New Roman", times, serif !default;

// EXTERNAL FONTS
$google-font-url: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700" !default;
$icon-fonts: (
  "https://use.fontawesome.com/releases/v5.3.1/css/brands.css"
) !default;

// COLORS
$full-black: rgba(0, 0, 0, 1) !default;
$light-black: rgba(0, 0, 0, .35) !default;
$min-black: rgba(135, 150, 165, .1) !default;
$full-white: rgba(255, 255, 255, 1) !default;
$light-white: rgba(255, 255, 255, .35) !default;
$min-white: rgba(255, 255, 255, .1) !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$blue: #467fcf !default;
$azure: #45aaf2 !default;
$indigo: #6574cd !default;
$purple: #a55eea !default;
$pink: #f66d9b !default;
$red: #cd201f !default;
$orange: #fd9644 !default;
$yellow: #f1c40f !default;
$lime: #7bd235 !default;
$green: #5eba00 !default;
$teal: #2bcbba !default;
$cyan: #17a2b8 !default;

$light: #f0f2f5 !default;
$dark: #495057 !default;
$black: #121212 !default;
$white: #fff !default;

$body-bg: #f5f7fb !default;

$text-color: #495057 !default;
$text-muted: #778ca2 !default;
$text-muted-light: #adb5bd !default;

$border-color: rgba(0, 40, 100, .12) !default;

$social-colors: (
  "facebook": #3b5998,
  "twitter": #1da1f2,
  "google": #dc4e41,
  "youtube": #f00,
  "vimeo": #1ab7ea,
  "dribbble": #ea4c89,
  "github": #181717,
  "instagram": #e4405f,
  "pinterest": #bd081c,
  "vk": #6383a8,
  "rss": #ffa500,
  "flickr": #0063dc,
  "bitbucket": #0052cc,
) !default;

$status-colors: (
  "primary": $blue,
  "secondary": $gray-600,
  "success": $green,
  "info": $cyan,
  "warning": $yellow,
  "danger": $red,
  "dark": $dark,
) !default;

$colors: (
  "blue": $blue,
  "azure": $azure,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "lime": $lime,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
) !default;

$avatar-sizes: (
  ("xs", 1.25rem, 1rem),
  ("sm", 2rem, 1rem),
  ("md", 2.5rem, 1rem),
  ("lg", 3.75rem, 1.25rem),
  ("xl", 5rem, 2rem)
) !default;

$font-size-base: .9375rem !default;
$font-weight-base: 400 !default;
$line-height-base: (24 / 15) !default;

$border-radius: 3px !default;

$h1-font-size: 1.875rem !default;
$h2-font-size: 1.625rem !default;
$h3-font-size: 1.25rem !default;
$h4-font-size: 1.125rem !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: .75rem !default;

$ribbon-margin: .25rem !default;

$loader-size: 2.5rem !default;

$sizes: (
  1: 1%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
) !default;

$generate-social-colors: true !default;
$generate-color-hues: true !default;
$generate-colors: true !default;
$generate-flags: true !default;

$enable-gradients: false !default;

$grid-gutter-width: 24px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;

//pagination
$pagination-border-width: 0 !default;
$pagination-padding-y: .25rem !default;
$pagination-padding-x: .25rem !default;
$pagination-color: $text-muted !default;
$pagination-disabled-color: $text-muted-light !default;

//docelowo przeniesc gdzieindziej
$yiq-contrasted-threshold: 200 !default;

$card-border-color: $border-color !default;
$list-group-border-color: $border-color !default;
$body-color: $dark !default;

$input-disabled-bg: $gray-100 !default;
$input-border-color: $border-color !default;
$input-placeholder-color: $text-muted-light !default;

$input-group-addon-bg: $gray-100 !default;
$input-group-addon-color: $text-muted !default;

$dropdown-border-color: $border-color !default;

$card-border-radius: $border-radius !default;
$input-border-radius: $border-radius !default;

$form-feedback-icon-valid: str-replace(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='" + $green + "' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'><polyline points='20 6 9 17 4 12'></polyline></svg>"), "#", "%23") !default;
$form-feedback-icon-invalid: str-replace(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='" + $red + "' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'><line x1='18' y1='6' x2='6' y2='18'></line><line x1='6' y1='6' x2='18' y2='18'></line></svg>"), "#", "%23") !default;

