@import "config";
@import "demo/highlight";
@import "demo/examples";


.card-sponsor {
  background: #dbe7f6 no-repeat center/100% 100%;
  border-color: #548ed2;
  min-height: 316px;
}

body.no-transitions * {
  transition: none !important;
}

.toc-entry {
  &:before {
    content: '- '
  }

  ul {
    list-style: none;
    padding-left: 1rem;
  }

  a {
    color: $text-muted;
  }
}