{% assign person = site.data.people[1] %}
<div class="page-header page-header-border">
	<div class="row align-items-center">
		<div class="col">
			<h2 class="page-title">Improve cards with no border</h2>
			<div class="text-muted mt-1">
				<a href="#" class="text-reset">#693</a>
				opened by <a href="#" class="text-body">{{ person.full_name }}</a>
				in <a href="#" class="text-body">Calendar Page</a>
			</div>
		</div>
		<div class="col-auto">
			<div class="btn-list">
				{% include ui/button.html icon="plus" icon="edit" text="Edit" %}
				{% include ui/button.html icon="plus" icon="bell" text="Subscribe" class="d-none d-md-inline-flex" %}
			</div>
		</div>
	</div>
</div>