<div class="page-header d-print-none">
	<div class="row g-3 align-items-center">
		<div class="col-auto">
			{% include ui/status-indicator.html animated=true color="green" %}
		</div>

		<div class="col">
			<h2 class="page-title">
				tabler-icons.io
			</h2>
			<div class="text-muted">
				<ul class="list-inline list-inline-dots mb-0">
					<li class="list-inline-item"><span class="text-green">Up</span></li>
					<li class="list-inline-item">Checked every 3 minutes</li>
				</ul>
			</div>
		</div>

		<div class="col-md-auto ms-auto d-print-none">
			<div class="btn-list">
				{% include ui/button.html text="Configure" icon="settings" %}
				{% include ui/button.html color="primary" text="Pause this monitor" icon="player-pause" %}
			</div>
		</div>
	</div>
</div>