<div class="dropdown">
   <a class="dropdown-toggle text-muted-light" href="javascript:void(0)" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ include.value | default: 'Last 7 days' }}
   </a>
   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item active" href="javascript:void(0)">Last 7 days</a>
      <a class="dropdown-item" href="javascript:void(0)">Last 30 days</a>
      <a class="dropdown-item" href="javascript:void(0)">Last 3 months</a>
   </div>
</div>
