---
title: Hero
layout: marketing
page-libs: [typed.js]
permalink: marketing/hero.html
---

{% include "marketing/hero/side.html" %}

{% include "marketing/sections/companies.html" background="light" class="mt-4 pt-4" divider="waves" %}

{% include "marketing/sections/features.html" %}

{% include "marketing/sections/features-2.html" background="light" %}

{% include "marketing/sections/cta.html" %}

{% include "marketing/sections/features-3.html" background="light" %}

{% include "marketing/sections/testimonials.html" limit=9 %}

{% include "marketing/sections/counters.html" background="light" %}

{% include "marketing/sections/subscribe.html" %}

{% include "marketing/sections/faq-2.html" background="light"%}