---
layout: marketing
redirect_from: marketing.html
---

{% include marketing/hero/browser.html %}

{% include marketing/sections/companies.html background="light" class="mt-n12 pt-12" divider="waves" %}

{% include marketing/sections/features.html %}

{% include marketing/sections/features-2.html background="light" %}

{% include marketing/sections/cta.html %}

{% include marketing/sections/counters.html background="light" %}

{% include marketing/sections/testimonials.html limit=9 %}



<section class="section section-white">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<img src="{{ site.base }}/static/photos/{{ site.data.photos[10].file }}" class="rounded-3" alt="">
			</div>
			<div class="col-md-6">
				<div class="row g-4">
					<div class="col-md-8">
						<img src="{{ site.base }}/static/photos/{{ site.data.photos[11].file }}" class="rounded-3" alt="">
					</div>
					<div class="col-12">
						<img src="{{ site.base }}/static/photos/{{ site.data.photos[13].file }}" class="rounded-3" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include marketing/sections/subscribe.html %}

{% include marketing/sections/faq-2.html background="light"%}