---
layout: marketing
---

{% include marketing/hero/browser.html %}

{% include marketing/sections/companies.html background="light" class="mt-n12 pt-12" divider="waves" %}

{% include marketing/sections/features.html %}

<section class="section section-white">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">Trusted by hundreds</h2>
			<p class="section-description">Our Users send us bunch of smilies with our services, and we love them 😍</p>
		</div>

		<div class="row">
			{% for i in (1..3) %}
			<div class="col-4">
				<div class="card">
					<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi nihil perferendis praesentium sequi. Accusamus ea et eveniet expedita, explicabo hic maiores perspiciatis quam repellat reprehenderit tempora tenetur ut velit!</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% include marketing/sections/companies.html background="light" %}

<section class="section section-white">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<img src="{{ site.base }}/static/photos/{{ site.data.photos[10].file }}" class="rounded-3" alt="">
			</div>
			<div class="col-md-6">
				<div class="row g-4">
					<div class="col-md-8">
						<img src="{{ site.base }}/static/photos/{{ site.data.photos[11].file }}" class="rounded-3" alt="">
					</div>
					<div class="col-12">
						<img src="{{ site.base }}/static/photos/{{ site.data.photos[13].file }}" class="rounded-3" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include marketing/sections/subscribe.html %}