---
layout: marketing
libs: mapbox
brand-colors: ["#6366f1", "#3438ed", "#eff0fe"]
---

<header class="hero">
	<div class="container">
		<h1 class="hero-title">
			Over 2850 pixel-perfect icons for web design
		</h1>
		<p class="hero-description mt-4">
			Free and open source icons designed to make your website or app
			attractive, visually consistent and simply beautiful.
		</p>
		<div class="my-5">
			<div class="row g-3 justify-content-center">
				<div class="col-auto">
					{% include ui/button.html text="Tweet me" icon="brand-twitter"
					size="lg" color="twitter" %}
				</div>
				<div class="col-auto">
					{% include ui/button.html text="Share me" icon="brand-facebook"
					size="lg" color="facebook" %}
				</div>
			</div>
		</div>
	</div>
</header>

<section class="section section-white">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">Trusted by hundreds</h2>
			<p class="section-description">
				Our Users send us bunch of smilies with our services, and we love them
				😍
			</p>
		</div>

		<div class="row">
			{% for i in (1..3) %}
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi
						nihil perferendis praesentium sequi. Accusamus ea et eveniet
						expedita, explicabo hic maiores perspiciatis quam repellat
						reprehenderit tempora tenetur ut velit!
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<div class="section section-light">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">Built exclusively for you</h2>
			<p class="section-description">
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
				officia deserunt mollit anim id est laborum — semper quis lectus nulla
				at volutpat diam ut venenatis.
			</p>
		</div>

		<div class="row items-center text-center g-lg-6">
			<div
				class="col-md-6 col-lg">
				<div class="avatar bg-primary-lt mb-3">
					{% include ui/icon.html icon="brand-github" color="primary" %}
				</div>
				<h2 class="h2 mb-2">Free and open source</h2>
				<p class="text-muted">
					A big choice of free UI elements and layouts in one efficient, open
					source solution
				</p>
			</div>
			<div
				class="col-md-6 col-lg">
				<div class="avatar bg-primary-lt mb-3">
					{% include ui/icon.html icon="brand-bootstrap" color="primary" %}
				</div>
				<h2 class="h2 mb-2">Based on Bootstrap 5</h2>
				<p class="text-muted">
					Based on the latest version of Bootstrap, Tabler is a UI Kit of the
					future
				</p>
			</div>
			<div
				class="col-md-6 col-lg">
				<div class="avatar bg-primary-lt mb-3">
					{% include ui/icon.html icon="brand-html5" color="primary" %}
				</div>
				<h2 class="h2 mb-2">Modern design</h2>
				<p class="text-muted">
					Beautiful, fully responsive UI elements that will make your design
					modern and user-friendly
				</p>
			</div>
		</div>
	</div>
</div>

<section class="section section-white">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<img src="{{ site.base }}/static/photos/{{ site.data.photos[10].file }}" class="rounded-3" alt="" />
			</div>
			<div class="col-md-6">
				<div class="row g-4">
					<div class="col-md-8">
						<img src="{{ site.base }}/static/photos/{{ site.data.photos[11].file }}" class="rounded-3" alt="" />
					</div>
					<div class="col-12">
						<img src="{{ site.base }}/static/photos/{{ site.data.photos[13].file }}" class="rounded-3" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-light">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">Multiple Demos</h2>
			<p class="section-description">
				6 Pre-built layout options to cater needs of modern web applications. Ready-to-use UI elements enable to develop modern web application with great speed
			</p>
		</div>
	</div>
</section>

<section class="section section-white">
	<div class="container">
		<div class="row g-4 g-lg-5 align-items-center">
			<div class="col-lg-6 text-center">
				{% include ui/illustration.html image="undraw_work_together_h63l.svg"
				height=300 %}
			</div>

			<div class="col-lg-6">
				<div class="card card-md bg-light border-0">
					<div class="card-body">
						<h3 class="card-title">Send us message</h3>

						<form class="row g-4">
							<div class="col-md-6">
								<label class="form-label required">Your name</label>
								<input type="text" class="form-control" />
							</div>
							<div class="col-md-6">
								<label class="form-label required">Email address</label>
								<input type="email" class="form-control" />
							</div>
							<div class="col-12">
								<label class="form-label required">Mobile number</label>
								<input type="text" class="form-control" />
							</div>
							<div class="col-12">
								<label class="form-label required">Message</label>
								<textarea class="form-control" rows="3"></textarea>
							</div>
							<div class="col-12">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" />
									<label class="form-check-label">
										By submitting this form you agree to our terms and
										conditions.
									</label>
								</div>
							</div>
							<div class="col-12">
								<button class="btn btn-dark" type="button">Send Message</button>
							</div>
						</form>
					</div>
					<!-- Card body END -->
				</div>
			</div>

			<div class="col-12">
				{% include ui/map.html map-id="light" ratio="1x4" %}
			</div>
		</div>
	</div>
</section>

<section class="section section-dark">
	<div class="container">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni
		maiores possimus reprehenderit tempora. Ab consequatur cum illo ipsum itaque
		labore laboriosam laborum, libero nemo non obcaecati pariatur quaerat quo!
	</div>
</section>

<section class="section section-white">
	<div class="container">
		<div class="row g-4">
			<div class="col-sm-6 col-lg-3">
				<div class="avatar avatar-md bg-orange-lt rounded-2">
					{% include ui/icon.html icon="building-skyscraper" %}
				</div>
				<h3 class="mt-2">Hotel Booking</h3>
				<p class="text-muted mb-0">
					A pleasure exertion if believed provided to. All led out world this
					music while asked.
				</p>
			</div>

			<div class="col-sm-6 col-lg-3">
				<div class="avatar avatar-md bg-success-lt rounded-2">
					{% include ui/icon.html icon="plane" %}
				</div>
				<h3 class="mt-2">Flight Booking</h3>
				<p class="text-muted mb-0">
					Warrant private blushes removed an in equally totally Objection do Mr
					prevailed.
				</p>
			</div>

			<div class="col-sm-6 col-lg-3">
				<div class="avatar avatar-md bg-primary-lt rounded-2">
					{% include ui/icon.html icon="globe" %}
				</div>
				<h3 class="mt-2">Tour Booking</h3>
				<p class="text-muted mb-0">
					Dashwood does provide stronger is. But discretion frequently sir she
					instruments.
				</p>
			</div>

			<div class="col-sm-6 col-lg-3">
				<div class="avatar avatar-md bg-red-lt rounded-2">
					{% include ui/icon.html icon="car" %}
				</div>
				<h3 class="mt-2">Cab Booking</h3>
				<p class="text-muted mb-0">
					Imprudence attachment him his for sympathize. Large above be to means.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="section section-light">
	<div class="container">
		<div class="row g-5">
			<div class="col-md-4">
				<div class="sticky-top">
					<div class="h2">Frequently asked questions</div>
					<p class="font-h4 text-muted mb-7">
						Can’t find the answer you’re looking for? Reach out to our customer
						support team.
					</p>
				</div>
			</div>
			<div class="col">
				<div class="space-y-4">
					{% for item in site.data.faq[1].questions %}
					<div>
						<div class="h3 mb-1">{{ item.question }}</div>
						<div class="text-muted">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
							dolores labore necessitatibus tenetur ut? Autem excepturi fugit
							illum impedit molestiae porro quisquam repellendus sequi totam
							voluptatum.
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="bg-primary text-white rounded-3 p-4 p-lg-4">
			<div class="row align-items-center g-5 text-center text-md-start">
				<div class="col-md">
					<h3 class="h1 fw-black">Ready to download?</h3>
					<p class="fs-h4 m-0">
						Look like a PRO in every inbox. Start with one of our templates!
					</p>
				</div>
				<div class="col-md-auto">
					<div class="btn-list">
						<a
							href="#"
							class="btn btn-lg btn-white"
							target="_blank"
							rel="noreferrer"
							>Download for $29</a
						>
						<a
							href="#"
							class="btn btn-lg btn-outlined-white"
							target="_blank"
							rel="noreferrer"
						>
							Get free sample
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
