---
title: Pricing
description: Pricing page for Tabler UI Kit
layout: marketing
permalink: marketing/pricing.html
---

<header class="hero">
	<div class="container">
		<h2 class="hero-title">Simple, transparent pricing</h2>
		<p class="hero-description">Get early access to 100+ components and free updates every month. Make it yours today!</p>
	</div>
</header>

{% include "marketing/sections/pricing.html" class="pt-0" %}
{% include "marketing/sections/pricing-banner.html" %}
{% include "marketing/sections/faq.html" background="light" %}
