{% assign person = site.data.people[0] %}
<div class="page-header">
	<div class="row align-items-center">
		<div class="col-auto">
			{% include ui/avatar.html person=person size="md" %}
		</div>
		<div class="col">
			<h2 class="page-title">{{ person.full_name }}</h2>
			<div class="page-subtitle">
				<div class="row">
					<div class="col-auto">
						{% include ui/icon.html icon="building-skyscraper" %}
						<a href="#" class="text-reset">{{ person.job_title }} at {{ person.company }}</a>
					</div>
					<div class="col-auto">
						{% include ui/icon.html icon="users" %}
						<a href="#" class="text-reset">194 friends</a>
					</div>
					<div class="col-auto text-success">
						{% include ui/icon.html icon="check" color="green" %} Verified
					</div>
				</div>
			</div>
		</div>
		<div class="col-auto d-none d-md-flex">
			{% include ui/button.html icon="plus" color="primary" icon="message" text="Send message" %}
		</div>
	</div>
</div>