/**
Icon input
 */
@use '../../config' as *;

.input-icon {
  --input-icon-padding-end: #{$input-icon-padding-end};
  --input-icon-padding-start: #{$input-icon-padding-start};
  position: relative;

  .form-control:not(:last-child),
  .form-select:not(:last-child) {
    padding-inline-end: var(--input-icon-padding-end);
  }

  .form-control:not(:first-child),
  .form-select:not(:first-child) {
    padding-inline-start: var(--input-icon-padding-start);
  }
}

.input-icon-addon {
  --input-icon-addon-width: #{$input-icon-addon-width};
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-start: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--input-icon-addon-width);
  height: $input-height;
  color: var(--icon-color);
  pointer-events: none;
  font-size: 1.2em;

  &:last-child {
    inset-inline-end: 0;
    inset-inline-start: auto;
  }
}
