/**
Image check
 */
@use '../../config' as *;

.form-imagecheck {
  --form-imagecheck-radius: var(--border-radius);
  --form-imagecheck-check-offset: #{$form-imagecheck-check-offset};
  --form-imagecheck-caption-padding: #{$form-imagecheck-caption-padding};
  position: relative;
  margin: 0;
  cursor: pointer;
}

.form-imagecheck-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form-imagecheck-figure {
  position: relative;
  display: block;
  margin: 0;
  user-select: none;
  border: var(--border-width) var(--border-style) var(--border-color);
  @include border-radius(var(--form-imagecheck-radius));

  .form-imagecheck-input:focus ~ & {
    border-color: var(--primary);
    box-shadow: $input-btn-focus-box-shadow;
  }

  .form-imagecheck-input:checked ~ & {
    border-color: var(--primary);
  }

  &:before {
    position: absolute;
    top: var(--form-imagecheck-check-offset);
    inset-inline-start: var(--form-imagecheck-check-offset);
    z-index: 1;
    display: block;
    width: $form-check-input-width;
    height: $form-check-input-width;
    color: $white;
    pointer-events: none;
    content: '';
    user-select: none;
    background: $form-check-input-bg;
    border: var(--border-width) var(--border-style) var(--border-color);
    @include border-radius($form-check-input-border-radius);
    @include transition(opacity $transition-time);

    .form-imagecheck-input:checked ~ & {
      background-color: $form-check-input-checked-bg-color;
      background-image: escape-svg($form-check-input-checked-bg-image);
      background-repeat: $form-check-input-checked-bg-repeat;
      background-position: center;
      background-size: $form-check-input-checked-bg-size;
      border-color: $form-check-input-checked-border-color;
    }

    .form-imagecheck-input[type='radio'] ~ & {
      @include border-radius($form-check-radio-border-radius);
    }

    .form-imagecheck-input[type='radio']:checked ~ & {
      background-image: escape-svg($form-check-radio-checked-bg-image);
    }
  }
}

.form-imagecheck-image {
  max-width: 100%;
  display: block;
  opacity: 0.64;
  @include transition(opacity $transition-time);

  &:first-child {
    border-start-start-radius: calc(var(--form-imagecheck-radius) - 1px);
    border-start-end-radius: calc(var(--form-imagecheck-radius) - 1px);
  }

  &:last-child {
    border-end-end-radius: calc(var(--form-imagecheck-radius) - 1px);
    border-end-start-radius: calc(var(--form-imagecheck-radius) - 1px);
  }

  .form-imagecheck:hover &,
  .form-imagecheck-input:focus ~ .form-imagecheck-figure &,
  .form-imagecheck-input:checked ~ .form-imagecheck-figure & {
    opacity: 1;
  }
}

.form-imagecheck-caption {
  padding: var(--form-imagecheck-caption-padding);
  font-size: $font-size-sm;
  color: var(--secondary);
  text-align: center;
  @include transition(color $transition-time);

  .form-imagecheck:hover &,
  .form-imagecheck-input:focus ~ .form-imagecheck-figure &,
  .form-imagecheck-input:checked ~ .form-imagecheck-figure & {
    color: var(--body-color);
  }
}
