/*
Form check
 */
@use '../../config' as *;

.form-check {
  user-select: none;

  &.form-check-highlight .form-check-input:not(:checked) ~ .form-check-label {
    color: var(--secondary);
  }

  .form-check-label-off {
    color: var(--secondary);
  }

  .form-check-input:checked ~ .form-check-label-off {
    display: none;
  }

  .form-check-input:not(:checked) ~ .form-check-label-on {
    display: none;
  }
}

.form-check-input {
  --form-check-input-width: #{$form-check-input-width};

  background-size: var(--form-check-input-width);
  margin-top: ($form-check-min-height - $form-check-input-width) * 0.5;
  box-shadow: $form-check-input-box-shadow;

  .form-switch & {
    @include transition(background-color$transition-time, background-position $transition-time);
  }
}

.form-check-label {
  --form-check-label-required-gap: #{$form-check-label-required-gap};

  display: block;

  &.required {
    &:after {
      content: '*';
      margin-inline-start: var(--form-check-label-required-gap);
      color: $red;
    }
  }
}

.form-check-description {
  --form-check-description-margin-top: #{$form-check-description-margin-top};

  display: block;
  color: var(--secondary);
  font-size: $h5-font-size;
  margin-top: var(--form-check-description-margin-top);
}

.form-check-single {
  margin: 0;

  .form-check-input {
    margin: 0;
  }
}

/*
Form switch
 */
.form-switch {
  .form-check-input {
    height: $form-switch-height;
    margin-top: ($form-check-min-height - $form-switch-height) * 0.5;
  }
}

.form-switch-lg {
  --form-switch-lg-padding-start: #{$form-switch-lg-padding-start};
  --form-switch-lg-min-height: #{$form-switch-lg-min-height};
  --form-switch-lg-height: #{$form-switch-lg-height};
  --form-switch-lg-width: #{$form-switch-lg-width};
  --form-switch-lg-bg-size: #{$form-switch-lg-bg-size};
  --form-switch-lg-input-offset: #{$form-switch-lg-input-offset};
  --form-switch-lg-label-padding-top: #{$form-switch-lg-label-padding-top};

  padding-inline-start: var(--form-switch-lg-padding-start);
  min-height: var(--form-switch-lg-min-height);

  .form-check-input {
    height: var(--form-switch-lg-height);
    width: var(--form-switch-lg-width);
    background-size: var(--form-switch-lg-bg-size);
    margin-inline-start: var(--form-switch-lg-input-offset);
  }

  .form-check-label {
    padding-top: var(--form-switch-lg-label-padding-top);
  }
}
