<div class="border rounded w-8 h-7 bg-light shadow-sm mx-auto d-flex flex-column">
	<div class="row row-0 flex-fill">
		{% if include.sidebar %}
		<div class="{% if include.sidebar-narrow %}col-auto w-2{% else %}col-3{% endif %} {% if include.sidebar-dark %}bg-dark{% else %}border-right bg-white{% endif %}"></div>
		{% endif %}
		<div class="col">
			{% unless include.hide-topnav %}
			<div class="border-bottom h-2 bg-white"></div>
			{% endunless %}
			{% if include.topmenu %}
			<div class="h-2 {% if include.topmenu-dark %}bg-dark{% else %}border-bottom bg-white{% endif %}"></div>
			{% endif %}
		</div>
		{% if include.sidebar-right %}
		<div class="col-3 {% if include.sidebar-dark %}bg-dark{% else %}border-left bg-white{% endif %}"></div>
		{% endif %}
	</div>
</div>
