<fieldset class="form-fieldset">
	<div class="mb-2">
		<label class="form-label">Full name<span class="form-required">*</span></label>
		<input type="text" class="form-control"{{ site.base }}/>
	</div>
	<div class="mb-2">
		<label class="form-label">Company<span class="form-required">*</span></label>
		<input type="text" class="form-control"{{ site.base }}/>
	</div>
	<div class="mb-2">
		<label class="form-label">Email<span class="form-required">*</span></label>
		<input type="email" class="form-control"{{ site.base }}/>
	</div>
	<div class="mb-2 mb-0">
		<label class="form-label">Phone number</label>
		<input type="tel" class="form-control"{{ site.base }}/>
	</div>
</fieldset>
