<div class="form-group">
	<div class="form-label">Toggle switches</div>
   <label class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input">
      <div class="custom-control-label">Option 1</div>
   </label>
   <label class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input">
      <div class="custom-control-label">Option 2</div>
   </label>
   <label class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input">
      <div class="custom-control-label">Option 3</div>
   </label>
</div>
