{% assign limit = include.limit | default: 6 %}
<div class="mb-3">
	<label class="form-label">Image Check</label>
	<div class="row row-xs">
		{% for photo in site.data.photos limit: limit offset: 30 %}
		<div class="{{ include.row-class | default: 'col-6 col-sm-4' }}">
			<label class="imagecheck mb-2">
				<input name="imagecheck" type="checkbox" value="{{ forloop.index }}" class="imagecheck-input" {% if forloop.index == 2 or forloop.index == 4  or forloop.index == 7 %} checked{% endif %}/>
				<span class="imagecheck-figure">
					<img src="{{ site.base }}/img/photos/{{ photo.file }}" alt="" class="imagecheck-image">
				</span>
			</label>
		</div>
		{% endfor %}
	</div>
</div>
