<aside class="aside">
	<div class="aside-header">
		<div class="row">
			<div class="col-auto">
				<span class="avatar" style="background-image: url({{ site.base }}/assets/images/faces/male/4.jpg)">
		            <span class="avatar-status bg-green"></span>
		        </span>
			</div>
			<div class="col">
				<h5 class="mb-0">Boston Rob</h5>
				<small class="d-block text-muted">3 minutes ago</small>
			</div>
		</div>
	</div>
	<div class="aside-body">
		{% include chat-content.html %}
	</div>
	<div class="aside-footer">
		<div class="row gutters-xs">
			<div class="col">
				<input type="text" class="form-control" placeholder="Message to Bob&hellip;">
			</div>
			<div class="col-auto">
				<button class="btn btn-primary"><i class="si si-arrow-right"></i></button>
			</div>
		</div>
	</div>
</aside>