<ul class="chat">
	<li class="chat-line chat-line-friend">
		<div class="chat-author">
			<span class="avatar avatar-sm" style="background-image: url({{ site.base }}/{{ site.data.users[4].photo }})"></span>
		</div>
		<div class="chat-message">Hello</div>
	</li>
	<li class="chat-line">
		<div class="chat-message">Hi, how are you?</div>
	</li>
	<li class="chat-line chat-line-friend">
		<div class="chat-author">
			<span class="avatar avatar-sm" style="background-image: url({{ site.base }}/{{ site.data.users[4].photo }})"></span>
		</div>
		<div class="chat-message">Good, I'll need support with my pc</div>
	</li>
	<li class="chat-line">
		<div class="chat-message">Sure, just tell me what is going on with your computer?</div>
	</li>
	<li class="chat-line chat-line-friend">
		<div class="chat-author">
			<span class="avatar avatar-sm" style="background-image: url({{ site.base }}/{{ site.data.users[4].photo }})"></span>
		</div>
		<div class="chat-message">I don't know it just turns off suddenly</div>
	</li>
	<li class="chat-line chat-line-friend">
		<div class="chat-author">
			<span class="avatar avatar-sm" style="background-image: url({{ site.base }}/{{ site.data.users[4].photo }})"></span>
		</div>
		<div class="chat-message">Awesome photo:</div>
	</li>
	<li class="chat-line chat-line-friend">
		<div class="chat-author">
			<span class="avatar avatar-sm" style="background-image: url({{ site.base }}/{{ site.data.users[4].photo }})"></span>
		</div>
		<div class="chat-message">
			<img src="{{ site.base }}/{{ site.data.photos[11].small }}" alt="">
		</div>
	</li>
	<li class="chat-line">
		<div class="chat-message">nope.</div>
	</li>
</ul>