
<footer class="footer">
	<div class="container">
		<div class="row align-items-center flex-row-reverse">
			<div class="col-auto ml-lg-auto">
				<div class="row align-items-center">
					<div class="col-auto">
						<ul class="list-inline list-inline-dots mb-0">
							<li class="list-inline-item"><a href="{{ site.base }}/docs/index.html">Documentation</a></li>
							<li class="list-inline-item"><a href="{{ site.base }}/faq.html">FAQ</a></li>
						</ul>
					</div>
					<div class="col-auto">
						<a href="{{ site.github_url }}" class="btn btn-outline-primary btn-sm">Source code</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
				Copyright © {{ site.time | date: '%Y' }} <a href="{{ site.base }}">{{ site.title }}</a>. Theme by <a href="{{ site.author.url }}" target="_blank">{{ site.author.name }}</a> All rights reserved.
			</div>
		</div>
	</div>
</footer>