<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="{{ site.base }}">Advertise</a></li>
							<li><a href="{{ site.base }}">Help Center</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="{{ site.base }}">Invite friends</a></li>
							<li><a href="{{ site.base }}">Tag photos</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="{{ site.base }}">Stock photos</a></li>
							<li><a href="{{ site.base }}">Photobooks</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="{{ site.base }}">Press Kit</a></li>
							<li><a href="{{ site.base }}">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mt-4 mt-lg-0">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur corporis debitis dolore doloribus esse.
			</div>
		</div>
	</div>
</div>