<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="#">First link</a></li>
							<li><a href="#">Second link</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="#">Third link</a></li>
							<li><a href="#">Fourth link</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="#">Fifth link</a></li>
							<li><a href="#">Sixth link</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="#">Other link</a></li>
							<li><a href="#">Last link</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mt-4 mt-lg-0">
				Premium and Open Source dashboard template with responsive and high quality UI. For Free!
			</div>
		</div>
	</div>
</div>