<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
	{% assign menu = site.data.menu %}
	{% assign menu_levels = layout.menu | default: page.menu | split: '.' %}

	{% for item in menu %}
	<li class="nav-item{% if data.subpages %} dropdown{% endif %}">
		{% assign index = item[0] %}
		{% assign data = item[1] %}
		<a href="{% if data.url %}{% if data.url != '#' %}{{ site.base }}/{% endif %}{{ data.url }}{% else %}javascript:void(0){% endif %}" class="nav-link{% if menu_levels[0] == index %} active{% endif %}{% if data.disabled %} disabled{% endif %}"{% if data.subpages %} data-toggle="dropdown"{% endif %}>{% if data.icon %}<i class="{{ data.icon }}"></i>{% endif %} {{ data.name }}{% if data.count %} <span class="badge badge-pill bg-primary text-white ml-2">{{ data.count }}</span>{% endif %}</a>

		{% if data.subpages %}
			<div class="dropdown-menu dropdown-menu-arrow">
				{% for subitem in data.subpages %}
					{% assign subindex = subitem[0] %}
					{% assign subdata = subitem[1] %}
					<a href="{{ site.base }}/{{ subdata.url }}" class="dropdown-item {% if menu_levels[1] == subindex %}active{% endif %}">{{ subdata.name }}</a>
				{% endfor %}
			</div>
		{% endif %}
	</li>
	{% endfor %}
</ul>