{% assign count = include.count | default: 5 %}
{% assign active-item = include.active-item | default: 2 %}
<ul class="pagination {{ include.class }}{% if include.pager %} pagination-pager{% endif %}">
	<li class="page-item page-prev disabled">
		<a class="page-link" href="#" tabindex="-1">
			{% if include.left-icon %}<i class="{{ include.left-icon }}"></i>{% else %}Prev{% endif %}
		</a>
	</li>

	{% for i in (1..count) %}
	<li class="page-item{% if i == active-item %} active{% endif %}"><a class="page-link" href="#">{{ i }}</a></li>
	{% endfor %}

	<li class="page-item page-next">
		<a class="page-link" href="#">
			{% if include.right-icon %}<i class="{{ include.right-icon }}"></i>{% else %}Next{% endif %}
		</a>
	</li>
</ul>