{% assign count = include.count | default: 5 %}
{% assign active-item = include.active-item | default: 2 %}
<ul class="pagination {{ include.class }}">
	<li class="page-item disabled{% if include.pager %} mr-auto{% endif %}">
		<a class="page-link" href="#" tabindex="-1">
			{% if include.left-icon %}<i class="{{ include.left-icon }}"></i>{% else %}Prev{% endif %}
		</a>
	</li>

	{% unless include.pager %}
	{% for i in (1..count) %}
	<li class="page-item{% if i == active-item %} active{% endif %}"><a class="page-link" href="#">{{ i }}</a></li>
	{% endfor %}
	{% endunless %}

	<li class="page-item{% if include.pager %} ml-auto{% endif %}">
		<a class="page-link" href="#">
			{% if include.right-icon %}<i class="{{ include.right-icon }}"></i>{% else %}Next{% endif %}
		</a>
	</li>
</ul>