<div class="bottombar js-bottombar" style="display: none">
	<a href="#" class="bottombar-close js-bottombar-close">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
	</a>
	<div class="container position-relative d-flex align-items-center">
		<a href="https://gumroad.com/l/tabler-email?utm_source=demo" class="bottombar-image">
			<picture>
				<source srcset="https://tabler.io/img/bottombar.webp" type="image/webp">
				<source srcset="https://tabler.io/img/bottombar.png" type="image/jpeg">
				<img src="https://tabler.io/img/bottombar.png" alt="">
			</picture>
		</a>
		<div class="d-lg-flex flex-fill align-items-center">
			<div class="mr-2">
				50 eye-catching templates tested in 90+ email clients. Compose your own, mobile optimized email message in less than 5 minutes!
			</div>
			<div class=" ml-auto mt-2 mt-lg-0">
				<a href="https://gumroad.com/l/tabler-email?utm_source=demo" class="btn btn-sm btn-green text-nowrap" target="_blank">More info</a>
			</div>
		</div>
	</div>
</div>
<script>
	require(['jquery'], function () {
		$(document).ready(function () {

			function setCookie(name,value,days) {
				var expires = "";
				if (days) {
					var date = new Date();
					date.setTime(date.getTime() + (days*24*60*60*1000));
					expires = "; expires=" + date.toUTCString();
				}
				document.cookie = name + "=" + (value || "")  + expires + "; path=/";
			}

			function getCookie(name) {
				var nameEQ = name + "=";
				var ca = document.cookie.split(';');
				for(var i=0;i < ca.length;i++) {
					var c = ca[i];
					while (c.charAt(0)==' ') c = c.substring(1,c.length);
					if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
				}
				return null;
			}

			if (!getCookie('bottombar-hidden')) {
				$('.js-bottombar').show();
			}

			$('.js-bottombar-close').on('click', function (e) {
				$('.js-bottombar').hide();
				setCookie('bottombar-hidden', 1, 7);

				e.preventDefault();
				return false;
			});
		});
	});
</script>
