
{% include parts/form/input-selectgroups.html %}
{% include parts/form/selectgroup-payments.html %}
{% include parts/form/selectgroup-project-manager.html %}

<div class="mb-3">
	<label class="form-label">Buttons group</label>
	{% include ui/button-group.html items="1 min,5 min,10 min,30 min" fluid=true radio=true id="basic" %}
</div>

<div class="mb-3">
	<label class="form-label">Buttons group with dropdown</label>
	{% include ui/button-group.html items="Option 1,Option 2" dropdown=true fluid=true radio=true id="dropdown" %}
</div>

<div class="row">
	<div class="col">
		<div class="mb-3">
			<label class="form-label">Vertical buttons group</label>
			{% include ui/button-group.html items="Button 1,Button 2,Button 3,Button 4,Button 5" fluid=true vertical=true radio=true id="vertical"%}
		</div>
	</div>
	<div class="col">
		<div class="mb-3">
			<label class="form-label">Vertical with dropdown</label>
			{% include ui/button-group.html items="Button 1,Button 2,Button 3,Button 4" fluid=true vertical=true dropdown=true radio=true id="vertical-dropdown" %}
		</div>
	</div>
</div>

<div class="mb-3">
	<label class="form-label">Toolbar</label>
	{% include ui/button-group.html icons="bold,italic,underline,copy,scissors,file-plus,file-minus" fluid=true radio=true id="toolbar" %}
</div>