
{% include parts/form/input-selectgroups.html %}
{% include parts/form/selectgroup-payments.html %}
{% include parts/form/selectgroup-project-manager.html %}


<div class="mb-3">
	<label class="form-label">Buttons group</label>
	<div class="btn-group w-100">
		<button type="button" class="btn">1 min</button>
		<button type="button" class="btn btn-primary">5 min</button>
		<button type="button" class="btn">10 min</button>
		<button type="button" class="btn">30 min</button>
	</div>
</div>

<div class="mb-3">
	<label class="form-label">Buttons group with dropdown</label>
	<div class="btn-group w-100">
		<button type="button" class="btn">Option 1</button>
		<button type="button" class="btn btn-primary">Option 2</button>
		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Other
			</button>
			<div class="dropdown-menu dropdown-menu-end">
				<a class="dropdown-item" href="#">
					Option 4
				</a>
				<a class="dropdown-item" href="#">
					Option 5
				</a>
				<a class="dropdown-item" href="#">
					Option 6
				</a>
			</div>
		</div>
	</div>
</div>

<div class="mb-3">
	<label class="form-label">Toolbar</label>
	<div class="btn-group w-100">
		{% assign icons = "bold,italic,underline,copy,scissors,file-plus,file-minus" | split: ',' %}
		{% for icon in icons %}
		{% include ui/button.html color="white" icon=icon icon-only=true %}
		{% endfor %}
	</div>
</div>