@import url('https://rsms.me/inter/inter.css');

.no-transition {
	* {
		transition: none !important;
	}
}

.example>.modal,
.example>.offcanvas {
	display: block !important;
	position: relative !important;
}

.example>.offcanvas-backdrop {
	position: absolute !important;
}