@import url('https://rsms.me/inter/inter.css');

:root {
	--tblr-font-sans-serif: "Inter", sans-serif;
}

.docs-bg-gradient {
	background: radial-gradient(circle at 0 0, color-mix(in srgb, var(--tblr-primary) 4%, transparent), transparent 80%) no-repeat 0 0 / 800px 800px;
}

.no-transition {
	* {
		transition: none !important;
	}
}
