{% capture_script %}
<script>
	{% if environment == 'development' %}window.tabler_list = window.tabler_list || {};{% endif %}
	document.addEventListener("DOMContentLoaded", function() {
		const list = {% if environment == 'development' %}window.tabler_list["table-{{ id }}"] = {% endif %}new List('table-{{ id }}', {
			sortClass: 'table-sort',
			listClass: 'table-tbody',
			valueNames: [ 'sort-name', 'sort-content', 'sort-status', 'sort-date', 'sort-tags', 'sort-category'],
		});
	})
</script>
{% endcapture_script %}