<div class="browser">
	<div class="browser-header">
		<div class="row align-items-center">
			<div class="col-auto col-md-2">
				<div class="browser-dots browser-dots-colored">
					<div class="browser-dot"></div>
					<div class="browser-dot"></div>
					<div class="browser-dot"></div>
				</div>
			</div>
			<div class="col-8">
				<a href="{{ site.previewUrl }}" class="browser-input" target="_blank" rel="noopener noreferrer"
					data-bs-toggle="tooltip" data-bs-placement="top" title="Open preview of Tabler dashboard!">
					{% include "ui/icon.html" icon="lock" color="green" size="sm" class="me-2" %}
					{% if include.url %}{{ include.url }}{% else %}{{ site.previewUrl }}{% endif %}
				</a>
			</div>
		</div>
	</div>
	{% include "ui/responsive-image.html" src="static/marketing/preview.png" width=1040 height=760 %}
</div>