{% assign el = 'span' %}
<{{ el }} class="badge{% if include.color %} bg-{{ include.color }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
{% if include.person-id %}
    {% assign person-id = include.person-id | minus: 1 %}
    {% assign person = site.data.people[person-id] %}
    {% assign src = person.photo %}
    {% unless src %}
        {% assign placeholder = person.full_name | first_letters %}
    {% endunless %}
    <{{ el }} class="avatar" style="background-image: url({{ site.base }}/{{ src }})">{% unless src %}{{ person.full_name | first_letters }}{% endunless %}</{{ el }}>
 {% endif %}
{% if include.text %}
    {{ include.text }}
{% else %}
    {{ person.full_name }}
{% endif %}
{% if include.addon %}<{{ el }} class="badge-addon {% if include.addon-color%}bg-{{ include.addon-color }}{% endif %}">{{ include.addon }}</{{ el }}>{% endif %}
</{{ el }}>
