{% assign menu = include.menu | default: 'Import,Export,Download,Another action' | split: ',' %}
{% assign icon = include.icon | default: 'dots-vertical' %}
<div class="dropdown{% if include.class %} {{ include.class }}{% endif %}">
   <a href="#" class="card-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
      {% include ui/icon.html icon=icon %}
   </a>
   <div class="dropdown-menu dropdown-menu-end">
      {% for item in menu %}
      <a href="#" class="dropdown-item">{{ item }}</a>
      {% endfor %}
   </div>
</div>
