{% assign count = include.count | default: 4 %}
{% assign active = include.active | default: 3 %}
<div class="steps{% if include.numbers %} steps-counter{% endif %}{% if include.color %} steps-{{ include.color }}{% endif %}{% if include['size'] %} steps-{{ include['size'] }}{% endif %}">
   {% for i in (1..count) %}
   {% assign elem = 'a' %}
   {% if i > active %}{% assign elem = 'span' %}{% endif %}
   <{{ elem }} href="#" class="step-item{% if i == active %} active{% endif %}"{% if include.show-tooltip %} data-bs-toggle="tooltip" title="Step {{ i }} description"{% endif %}>{% if include.show-title %}
      Step {{ i }}
   {% endif %}</{{ elem }}>
   {% endfor %}
</div>
