{% assign person-id = include.person-id | default: 2 %}
{% assign person = site.data.people[person-id] %}
<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" data-bs-toggle="toast">
	{% unless include.hide-header %}
	<div class="toast-header">
		{% include ui/avatar.html person=person class="me-2" size="xs" %}
		<strong class="me-auto">{{ person.full_name }}</strong>
		<small>{{ include.date | default: '11 mins ago' }}</small>
		<button type="button" class="ms-2 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	</div>
	{% endunless %}
	<div class="toast-body">
		{% if include.cookies %}
		🍪&nbsp;Our site uses cookies. By continuing to use our site, you agree to our Cookie Policy. <a href="#" class="btn btn-primary btn-sm">I understand</a>
		{% else %}
		{{ include.text | default: 'Hello, world! This is a toast message.' }}
		{% endif %}
	</div>
</div>
