[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2

[*.svg]
indent_style=tab
tab_width=3

[*.html]
indent_style=space
indent_size=3

[*.md]
indent_style=tab
tab_width=3

[*.js.map]
indent_style=tab
indent_size=3

[{*.css,*.scss}]
indent_style=space
indent_size=2
insert_final_newline = true

[{*.yml,*.yaml}]
indent_style=space
indent_size=2
