[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=tab
tab_width=3
max_line_length=off

[*.svg]
indent_style=tab
tab_width=3

[*.html]
indent_style=tab
indent_size=3
tab_width=3
insert_final_newline=false

[*.md]
indent_style=tab
tab_width=3

[{*.rb,*.yml,*.scss}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=tab
indent_size=3
