node_modules/
/package-lock.json
.idea/
/db.json
.jekyll-metadata
.jekyll-cache
tmp/
/yarn.lock
.DS_Store
/Gemfile.lock
/_site/
/.cache/

.vscode/

/_gh_pages/
/site/docs/**/dist/
/site/static/**/dist/
/resources/
/svg-tmp/
/dist/
/dist-html/
/dist-demo/
/components/
