node_modules/
.idea/
/db.json
.jekyll-metadata
.jekyll-cache
/tmp/
/.tmp/
/tmp-dist/
/yarn.lock
.DS_Store
/_site/
/.cache/
.sass-cache/

.vscode/

/_gh_pages/
/site/docs/**/dist/
/site/static/**/dist/
/resources/
/svg-tmp/
/components/
/percy.sh
/src/pages/playground.html