.idea/
_site/
/Gemfile.lock
/node_modules/
/.sass-cache/
/.jekyll-metadata
/.asset-cache/
.DS_Store
package-lock.json
/_test/
src/assets/css/*.css
src/assets/plugins/**/plugin.css
src/assets/plugins/**/plugin.min.css
generated-site
deploy-site
/commits.sh
/assets/css/
/vendor/
