{
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"printWidth": 320,
	"proseWrap": "always",
	"semi": false,
	"singleQuote": true,
	"quoteProps": "consistent",
	"tabWidth": 2,
	"useTabs": false,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"parser": "scss"
			}
		},
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
