{% include ui/modal/header.html title="Add a new team" %}
<div class="modal-body">
	<div class="row mb-3 align-items-end">
		<div class="col-auto">
			{% include ui/avatar-upload.html class="rounded" %}
		</div>
		<div class="col">
			<label class="form-label">Name</label>
			<input type="text" class="form-control" />
		</div>
	</div>

	{% include parts/form/input-color.html label="Pick your team color" %}

	<div>
		<label class="form-label">Additional info</label>
		<textarea class="form-control"></textarea>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Team</button>
</div>