@function px2rem($px) {
  @return ($px / 16px) * 1rem;
}

@function alpha-attribute($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);

  @return mix($opaque, $background, $percent);
}

@function theme-color-lighter($color) {
  @return alpha-attribute(rgba($color, .2), #fff);
}

@function theme-color-lightest($color) {
  @return mix($color, #fff, 10%);
}


@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
