{% assign person = include.person %}
<div class="alert alert-{{ include.type | default: 'primary'}}{%if include.close %} alert-dismissible{% endif %}{% if include.avatar %} alert-avatar{% endif %}" role="alert">
   {% if include.avatar %}{% include ui/avatar.html person=person  %}{% endif %}
   {% if include.icon %}{% include_cached ui/icon.html icon=include.icon class="mr-1" %}{% endif %} {{ include.text | default:
   "This is a custom alert box!" }}
   {% if include.buttons %}
   <div class="btn-list">
      <a href="#" class="btn btn-success">Save changes</a>
      <a href="#" class="btn btn-secondary">Cancel</a>
   </div>
   {% endif %}
   {% if include.close %}<a href="#" class="close" data-dismiss="alert" aria-label="close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-md"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></a>{% endif %}
</div>
