<div class="alert alert-{{ include.type | default: 'primary'}}{%if include.close %} alert-dismissible{% endif %}{% if include.avatar %} alert-avatar{% endif %}" role="alert">
   {% if include.person-id %}{% include ui/avatar.html person-id=include.person-id  %}{% endif %}
   {% if include.icon %}
   {% include ui/icon.html icon=include.icon class="mr-1" %}
   {% endif %}

   {{ include.text | default: "This is a custom alert box!" }}

   {% if include.buttons %}
   <div class="btn-list">
      <a href="#" class="btn btn-success">Save changes</a>
      <a href="#" class="btn btn-white">Cancel</a>
   </div>
   {% endif %}

   {% if include.close %}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{% endif %}
</div>
