{% assign spinner-class = false %}
{% assign e = element | default: 'a' %}

{% assign color = color %}
{% if color == false %}
{% assign color = null %}
{% endif %}

{% assign provider = provider | default: 'fe' %}
{% if include.text %}{% assign spinner-class="me-2" %}{% endif %}

{% assign href = '#' %}
{% if include.href %}
	{% if include.external %}
		{% assign href = include.href %}
	{% else %}
		{% assign href = site.base | append: '/' | append: include.href %}
	{% endif %}
{% endif %}

<{{ e }}{% if e == 'a' %} href="{{ href }}"{% endif %}{% if type %} type="{{ type }}"{% endif %} class="btn{% if height %} btn-{{ height }}{% endif %}{% if color %} btn-{% if outline %}outline-{% elsif ghost %}ghost-{% endif %}{{ color }}{% endif %}{% if disabled %} disabled{% endif %}{% if square %} btn-square{% endif %}{% if loading %} btn-loading{% endif %}{% if pill %} btn-pill{% endif %}{% if size %} btn-{{ size }}{% endif %}{% if class %} {{ class }}{% endif %}{% if block %} w-100{% endif %}{% if link %} btn-link{% endif %}{% if icon-only %} btn-icon{% endif %}"{% if external %} target="_blank" rel="noreferrer"{% endif %}{% if modal-id %} data-bs-toggle="modal" data-bs-target="#modal-{{ modal-id }}"{% endif %}{% if toast-id %} data-bs-toggle="toast" data-bs-target="#toast-{{ toast-id }}"{% endif %}{% if icon-only %} aria-label="{{ text | default: "Button" }}"{% endif %}{% if dismiss %} data-bs-dismiss="modal"{% endif %}>
{% if spinner %}
{% include "ui/spinner.html" color=false size="sm" class=spinner-class element="span" %}{% endif %}
{% if icon %}{% include "ui/icon.html" icon=icon use-svg=true color=icon-color %}{% endif %}
{% unless icon-only %}
{{ text | default: "Button" }}{% if dots %}<span class="animated-dots"></span>{% endif %}
{% if icon-right %}{% include "ui/icon.html" icon=icon-right use-svg=true class="icon-right" %}{% endif %}
{% endunless %}
</{{ e }}>