{% assign icon = include.icon | default: "search" %}
<div class="empty{% if include.bordered %} empty-bordered{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
   <div class="empty-icon">
      {% if include.illustration %}
      {% assign illustration-src = include.illustration-src | default: 'undraw_quitting_time_dm8t.svg' %}
      {% include ui/illustration.html image=illustration-src class="mb-4" %}
      {% elsif include.icon-text %}
      <div class="display-4">{{ include.icon-text }}</div>
      {% else %}
      {% include ui/icon.html icon=icon %}
      {% endif %}
   </div>

   <p class="empty-title h3">{{ include.title | default: "No results found" }}</p>
   <p class="empty-subtitle text-muted">
      {{ include.subtitle | default: "Try adjusting your search or filter to find what you're looking for." }}
   </p>
   <div class="empty-action">
      {% assign button-text = include.button-text | default: "Search again" %}
      {% assign button-icon = include.button-icon | default: "search" %}
      {% include ui/button.html text=button-text color="primary" icon=button-icon href="." %}
   </div>
</div>
