{% assign modal-id = include.modal-id | default: 'simple' %}
{% assign size = include['size'] %}

{% capture_global modals %}
<div class="modal modal-blur fade" id="modal-{{ modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog{% if size%} modal-{{ size }}{% endif %}{% unless include.top %} modal-dialog-centered{% endunless %}{% if include.scrollable %} modal-dialog-scrollable{% endif %}" role="document">
		<div class="modal-content">
			{% include parts/modals/{{ modal-id }}.html %}
		</div>
	</div>
</div>
{% endcapture_global %}
