<ul class="nav {% if include.pills %}nav-pills{% if include.header %} card-header-pills{% endif %}{% elsif include.tabs %}nav-tabs{% if include.header %} card-header-tabs{% endif %}{% endif %}">
   <li class="nav-item">
      <a class="nav-link active" href="#">
         Active
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="#">
         {% include ui/icon.html icon="star" class="mr-1" %}
         Link
      </a>
   </li>
   <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
         Disabled
      </a>
   </li>
   <li class="nav-item ml-auto">
      <a class="nav-link" href="#">
         {% include ui/icon.html icon="settings" %}
      </a>
   </li>
</ul>
