{% assign percentage = include.percentage | default: 38 %}
<div class="progress{% if include['size'] %} progress-{{ include['size'] }}{% endif %}{% if include.class %}{{ include.class }}{% endif %}">
   {% if include.indeterminate %}
   <div class="progress-bar progress-bar-indeterminate"></div>
   {% else %}
   <div class="progress-bar{% if include.color %} bg-{{ include.color }}{% endif %}" style="width: {{ percentage }}%" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100">
      {% if include.show-value %}
      {{ percentage }}%
      {% else %}
      <span class="sr-only">{{ percentage }}% Complete</span>
      {% endif %}
   </div>
   {% endif %}
</div>
