{% assign type = include.type %}
{% assign square = false %}
	{% if type == "pie" or type == "donut" %}
{% assign square = true %}
{% endif %}

{% append_lib peity %}
<div class="sparkline{% if square %} sparkline-square{% endif %}{% if include.wide %} sparkline-wide{% endif %}" data-spark="{{ include.data }}" data-spark-type="{{  include.type }}" {% if include.color %}data-spark-color="{{ include.color | tabler_color }}" data-spark-color-bg="{{ include.color | tabler_color: '100' }}"{% endif %}>
	{% if include.label %}
	<div class="sparkline-label">
		{{ include.label }}
	</div>
	{% endif %}
	{% if include.label-icon %}
	<div class="sparkline-label">
		{% include_cached ui/icon.html icon=include.label-icon color=include.color %}
	</div>
	{% endif %}
</div>
