{% if include.responsive %}<div class="table-responsive">{% endif %}
   <table class="table{% if include.nowrap %} table-nowrap{% endif %}"{% if include.sorting %} {% endif %}>
      <thead>
         <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>{% if include.nowrap %}
            <th></th>
            {% endif %}
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>{% if include.nowrap %}
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam beatae commodi, dignissimos dolores, doloribus eaque hic inventore laudantium magni nisi obcaecati porro quibusdam ratione rem repellat sint voluptas?</td>
            {% endif %}
         </tr>
         <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>{% if include.nowrap %}
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam beatae commodi, dignissimos dolores, doloribus eaque hic inventore laudantium magni nisi obcaecati porro quibusdam ratione rem repellat sint voluptas?</td>
            {% endif %}
         </tr>
         <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>{% if include.nowrap %}
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquam beatae commodi, dignissimos dolores, doloribus eaque hic inventore laudantium magni nisi obcaecati porro quibusdam ratione rem repellat sint voluptas?</td>
            {% endif %}
         </tr>
      </tbody>
   </table>
{% if include.responsive %}</div>{% endif %}
