{% assign person-id = include.person-id | default: 2 %}
{% assign person = site.data.people[person-id] %}
<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" data-toggle="toast">
   <div class="toast-header">
      {% include ui/avatar.html person=person class="mr-2" %}
      <strong class="mr-auto">{{ person.full_name }}</strong>
      <small>{{ include.date | default: '11 mins ago' }}</small>
      <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="toast-body">
      {{ include.text | default: 'Hello, world! This is a toast message.' }}
   </div>
</div>
