<div class="mb-3">
   <div class="form-label">Radios</div>
   <div>
      {% include ui/form/check.html title="Option 1" type="radio" %}
      {% include ui/form/check.html title="Option 2" type="radio" %}
      {% include ui/form/check.html title="Option 3" type="radio" %}
   </div>
</div>

<div class="mb-3">
   <div class="form-label">Inline Radios</div>
   <div>
      {% include ui/form/check.html title="Option 1" type="radio" inline=true %}
      {% include ui/form/check.html title="Option 2" type="radio" inline=true %}
      {% include ui/form/check.html title="Option 3" type="radio" inline=true %}
   </div>
</div>
<div class="mb-3">
   <div class="form-label">Checkboxes</div>
   <div>
      {% include ui/form/check.html type="checkbox" %}
      {% include ui/form/check.html type="checkbox" disabled=true %}
      {% include ui/form/check.html type="checkbox" checked=true %}
   </div>
</div>
<div class="mb-3">
   <div class="form-label">Inline Checkboxes</div>
   <div>
      {% include ui/form/check.html inline=true title="Option 1" type="checkbox" %}
      {% include ui/form/check.html inline=true title="Option 2" type="checkbox" disabled=true %}
      {% include ui/form/check.html inline=true title="Option 3" type="checkbox" checked=true %}
   </div>
</div>
{% include parts/input-toggle.html %}

<div class="mb-3">
   <div class="form-label">Toggle switch single</div>
   {% include ui/form/check.html title="I agree with terms and conditions" switch=true %}
</div>
<div class="mb-3">
   <div class="form-label">Bootstrap's Custom File Input</div>
   <div class="custom-file">
      <input type="file" class="custom-file-input" name="example-file-input-custom">
      <label class="custom-file-label">Choose file</label>
   </div>
</div>

<div class="mb-3">
   <label class="form-label">Date of birth</label>
   <div class="row row-xs">
      <div class="col-5">
         <select name="user[month]" class="form-select">
            <option value="">Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option selected="selected" value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
         </select>
      </div>
      <div class="col-3">
         <select name="user[day]" class="form-select">
            <option value="">Day</option>
            {% for i in (1..31) %}
            <option value="{{ i }}"{% if i == 20 %} selected{% endif %}>{{ i }}</option>{% endfor %}
         </select>
      </div>
      <div class="col-4">
         <select name="user[year]" class="form-select">
            <option value="">Year</option>
            {% for i in (1897..2014) reversed %}
            <option value="{{ i }}"{% if i == 1989 %} selected{% endif %}>{{ i }}</option>{% endfor %}
         </select>
      </div>
   </div>
</div>


<div class="mb-3">
   <label class="form-label">Username</label>
   {% include ui/input-group.html prepend="@" placeholder="username" %}
</div>

<div class="mb-3">
   <label class="form-label">Subdomain</label>
   {% include ui/input-group.html append=".tabler.io" placeholder="subdomain" %}
</div>

<div class="mb-3">
   <label class="form-label">Your vanity URL</label>
   {% include ui/input-group.html prepend="https://example.com/users/" %}
</div>

<div class="mb-3">
   <label class="form-label">Price</label>
   {% include ui/input-group.html prepend="$" append=".00" %}
</div>

<div class="mb-3">
   <label class="form-label">Button input</label>
   <div class="input-group">
      <div class="input-group-prepend">
         <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
            Action
         </button>
         <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
         </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with dropdown button">
   </div>
</div>

<div class="mb-3">
   <label class="form-label">Tags</label>
   <input type="text" class="form-control" id="input-tags" value="aa,bb,cc,dd">
</div>

<div class="mb-3">
   <label class="form-label">Beast</label>
   <select name="beast" id="select-beast" class="form-select">
      <option value="1">Chuck Testa</option>
      <option value="4">Sage Cattabriga-Alosa</option>
      <option value="3">Nikola Tesla</option>
   </select>
</div>

<div class="mb-3">
   <label class="form-label">Users list</label>
   <select name="user" id="select-users" class="form-select">
      {% for user in site.data.people limit: 10 %}
      <option value="{{ forloop.index }}" data-data='{"image": "{{ user.photo }}"}'>
         {{ user.first_name }} {{ user.last_name }}
      </option>
      {% endfor %}
   </select>
</div>

<div class="mb-3">
   <label class="form-label">Countries</label>
   <select name="country" id="select-countries" class="form-select">
      <option value="br" data-data='{"image": "{{ site.base }}/assets/images/flags/br.svg"}'>Brazil</option>
      <option value="cz" data-data='{"image": "{{ site.base }}/assets/images/flags/cz.svg"}'>Czech Republic
      </option>
      <option value="de" data-data='{"image": "{{ site.base }}/assets/images/flags/de.svg"}'>Germany
      </option>
      <option value="pl" data-data='{"image": "{{ site.base }}/assets/images/flags/pl.svg"}' selected>Poland
      </option>
   </select>
</div>
