{% include parts/input-image.html %}
{% include parts/input-color.html %}
{% include parts/input-colorpicker.html %}



<div class="mb-3">
   <label class="form-label">Valid State</label>
   <input type="text" class="form-control is-valid" placeholder="Valid State..">

   <input type="text" class="form-control mt-3 state-valid" value="Valid state">
</div>

<div class="mb-3">
   <label class="form-label">Invalid State</label>
   <input type="text" class="form-control is-invalid" placeholder="Invalid State..">
   <div class="invalid-feedback">Invalid feedback</div>

   <input type="text" class="form-control mt-3 state-invalid" value="Invalid state">
</div>


