{% assign items = include.items | default: "Push Notifications:1,SMS Notifications,Email Notifications:1" | split: ',' %}

<div class="divide-y{% if include.class %} {{ include.class }}{% endif %}">
	{% for item in items %}
	{% assign item-options = item | split: ':' %}
	<div>
		<label class="row">
			<span class="col">{{ item-options[0] }}</span>
			<span class="col-auto">
					<label class="form-check form-check-single form-switch">
						<input class="form-check-input" type="checkbox"{% if item-options[1] == '1' %} checked{% endif %}>
					</label>
				</span>
		</label>
	</div>
	{% endfor %}
</div>