<div class="mb-3">
	<label class="form-label">Payment method</label>

	{% assign items = "visa,mastercard,paypal" | split: ',' %}
	<div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
		{% for item in items %}
		<label class="form-selectgroup-item flex-fill">
			<input type="radio" name="form-payment" value="{{ item | escape }}" class="form-selectgroup-input"{% if forloop.index == 2 %} checked{% endif %}>
			<div class="form-selectgroup-label d-flex align-items-center p-3">
				<div class="me-3">
					<span class="form-selectgroup-check"></span>
				</div>
				<div>
					<span class="payment payment-provider-{{ item }} payment-xs me-2"></span>

					{% if forloop.index < 3 %}
					ending in <strong>{{ forloop.index | random_number: 1000, 9999 }}</strong>
					{% endif %}
				</div>
			</div>
		</label>
		{% endfor %}
	</div>
</div>
