@use "bootstrap";

// All colors
@each $color, $value in $theme-colors {
  .bg-#{"" + $color} {
    --#{$prefix}bg-opacity: 1;
    background-color: rgba(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}bg-opacity)) !important;
  }

  .bg-#{"" + $color}-lt {
    color: var(--#{$prefix}#{$color}) !important;
    background: rgba(var(--#{$prefix}#{$color}-rgb), .1) !important;
  }
}

@each $color, $value in $theme-colors {
  .text-#{"" + $color} {
    color: var(--#{$prefix}#{$color}) !important;
  }
}

@each $color, $value in $gray-colors {
  .bg-#{"" + $color} {
    background-color: var(--#{$prefix}#{$color}) !important;
  }

  .text-#{"" + $color}-fg {
    color: color-contrast($value) !important;
  }
}
