<div class="dropdown-menu{% if include.show %} dropdown-menu-demo{% endif %}">

	<h6 class="dropdown-header">Dropdown header</h6>
	<a href="#" class="dropdown-item">{% include ui/icon.html icon="activity" class="dropdown-item-icon" %} Item 1</a>
	<a href="#" class="dropdown-item">{% include ui/icon.html icon="edit" class="dropdown-item-icon" %} Item 2</a>

	<div class="dropdown-item">
		<a href="#" class="text-reset">My profile</a>
		<label class="form-check m-0 ms-auto">
			<input type="checkbox" class="form-check-input">
			Public
		</label>
	</div>
	<label class="dropdown-item"><input class="form-check-input m-0 me-2" type="radio"> Radio input</label>
	<label class="dropdown-item"><input class="form-check-input m-0 me-2" type="checkbox"> Checkbox input</label>
	<label class="dropdown-item form-switch"><input class="form-check-input m-0 me-2" type="checkbox"> Checkbox input</label>


	<div class="dropdown-divider"></div>

	<a href="#" class="dropdown-item">Dropdown item 1</a>
	<a href="#" class="dropdown-item">Dropdown item 2</a>
	<a href="#" class="dropdown-item disabled">Dropdown disabled</a>
	<a href="#" class="dropdown-item active">Dropdown active</a>

	<div class="dropdown-divider"></div>

	{% for person in site.data.people limit: 3 %}
	<a href="#" class="dropdown-item">{% include ui/avatar.html person-id=person.id class="rounded me-2" size="xs" %} {{ person.full_name }}</a>
	{% endfor %}

	<div class="dropdown-divider"></div>

	<a href="#" class="dropdown-item">{% include ui/icon.html icon="logout" class="dropdown-item-icon" %} Logout</a>
</div>
