{% assign count = include.count | default: 5 %}
{% assign active-item = include.active-item | default: 2 %}
<ul class="pagination {{ include.class }}">
   <li class="page-item{% if include.prev-description %} page-prev{% endif %} disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
         {% if include.prev-description %}
            <div class="page-item-subtitle">previous</div>
            <div class="page-item-title">{{ include.prev-description }}</div>
         {% else %}
            {% if include.icons %}{% include ui/icon.html icon="chevron-left" %}{% else %}{% include ui/icon.html icon="chevron-left" %} prev{% endif %}
         {% endif %}
      </a>
   </li>

   {% for i in (1..count) %}
   <li class="page-item{% if i == active-item %} active{% endif %}"><a class="page-link" href="#">{{ i }}</a></li>
   {% endfor %}

   <li class="page-item{% if include.prev-description %} page-next{% endif %}">
      <a class="page-link" href="#">

         {% if include.next-description %}
            <div class="page-item-subtitle">next</div>
            <div class="page-item-title">{{ include.next-description }}</div>
         {% else %}
            {% if include.icons %}{% include ui/icon.html icon="chevron-right" %}{% else %}next {% include ui/icon.html icon="chevron-right" %}{% endif %}
         {% endif %}
      </a>
   </li>
</ul>
