{% removeemptylines %}
{% assign count = include.count | default: 5 %}
{% assign rate = include.rate | default: 4 %}
{% assign icon = include.icon | default: 'star' %}
{% assign class = include.color | default: 'yellow' | prepend: 'text-' %}
{% assign filled = include.filled | default: false %}
<div class="stars">
	{% for i in (1..5) %}
	<span class="star {% if forloop.index <= rate %}{{ class }}{% endif %}">
		{% include ui/icon.html icon=icon %}
	</span>
	{% endfor %}
</div>
{% endremoveemptylines %}
