{% assign value = include.value | default: 25 %}
{% if value > 0 %}
   {% assign color = 'green' %}
   {% assign icon = 'trending-up' %}
{% elsif value == 0 %}
   {% assign color = 'yellow' %}
   {% assign icon = 'minus' %}
{% else %}
   {% assign color = 'red' %}
   {% assign icon = 'trending-down' %}
{% endif %}

<span class="text-{{ color }} d-inline-flex align-items-center lh-1{% if include.class %} {{ include.class }}{% endif %}">
   {{ value }}% {% include ui/icon.html icon=icon class="ms-1" %}
</span>
