{% assign limit = include.limit | default: 9 %}
<div class="form-group">
	<label class="form-label">Image Check</label>
	<div class="row gutters-sm">
		{% for photo in site.data.photos limit: limit offset: 30 %}
		<div class="{{ include.row-class | default: 'col-6 col-sm-4' }}">
			<label class="imagecheck mb-4">
				<input name="imagecheck" type="checkbox" value="{{ forloop.index }}" class="imagecheck-input" {% if forloop.index == 2 or forloop.index == 4  or forloop.index == 7 %} checked{% endif %} />
				<figure class="imagecheck-figure">
					<img src="{{ site.base }}/{{ photo.small }}" alt="}" class="imagecheck-image">
				</figure>
			</label>
		</div>
		{% endfor %}
	</div>
</div>