@use '../config' as *;

.accordion {
  --accordion-color: var(--body-color);
  --accordion-border-color: var(--border-color);
  --accordion-border-radius: #{$accordion-border-radius};
  --accordion-inner-border-radius: #{$accordion-inner-border-radius};
  --accordion-padding-x: #{$accordion-body-padding-x};
  --accordion-gap: 0;
  --accordion-active-color: #{$accordion-button-active-color};
  --accordion-btn-color: var(--accordion-color);
  --accordion-btn-bg: #{$accordion-button-bg};
  --accordion-btn-toggle-width: #{$accordion-btn-toggle-width};
  --accordion-btn-padding-x: var(--accordion-padding-x);
  --accordion-btn-padding-y: #{$accordion-button-padding-y};
  --accordion-btn-font-weight: var(--font-weight-medium);
  --accordion-body-padding-x: var(--accordion-padding-x);
  --accordion-body-padding-y: #{$accordion-body-padding-y};
  --accordion-btn-gap: #{$accordion-btn-gap};
  --accordion-header-gap: #{$accordion-header-gap};

  display: flex;
  flex-direction: column;
  gap: var(--accordion-gap);
}

.accordion-button {
  position: relative;
  display: flex;
  gap: var(--accordion-btn-gap);
  align-items: center;
  width: 100%;
  padding: var(--accordion-btn-padding-y) var(--accordion-padding-x);
  font-size: inherit;
  font-weight: var(--accordion-btn-font-weight);
  color: inherit;
  text-align: inherit;
  background-color: transparent;
  border: 0;

  &:not(.collapsed) {
    color: var(--accordion-active-color);
    border-bottom-color: transparent;
    box-shadow: none;
  }
}

.accordion-header {
  position: relative;
  display: flex;
  gap: var(--accordion-header-gap);
  align-items: center;
  width: 100%;
  margin: 0;
  color: var(--accordion-btn-color);
  text-align: start;
  background-color: transparent;
  border: 0;
  transition: transform $transition-time;
  overflow-anchor: none;

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    outline: 0;
    box-shadow: var(--accordion-btn-focus-box-shadow);

    &:not(:focus-visible) {
      outline: none;
      box-shadow: none;
    }
  }
}

.accordion-button-icon {
  color: var(--secondary);
}

.accordion-button-toggle {
  display: flex;
  width: var(--accordion-btn-toggle-width);
  height: var(--accordion-btn-toggle-width);
  margin-inline-start: auto;
  margin-inline-end: 0;
  line-height: 1;
  color: var(--secondary);
  transition: $transition-time transform;

  .accordion-button:not(.collapsed) & {
    color: var(--accordion-active-color);
    transform: rotate(-180deg);
  }

  path {
    transition: $transition-time opacity;
  }
}

.accordion-button-toggle-plus {
  .accordion-button:not(.collapsed) & {
    path:first-child {
      opacity: 0;
    }
  }
}

.accordion-item {
  color: var(--accordion-color);
  border: var(--border-width) solid var(--accordion-border-color);

  &:first-of-type {
    @include border-top-radius(var(--accordion-border-radius));

    > .accordion-header {
      @include border-top-radius(var(--accordion-inner-border-radius));
    }
  }

  &:not(:first-of-type) {
    border-top: 0;
  }

  &:last-of-type {
    @include border-bottom-radius(var(--accordion-border-radius));

    > .accordion-header {
      &.collapsed {
        @include border-bottom-radius(var(--accordion-inner-border-radius));
      }
    }

    > .accordion-collapse {
      @include border-bottom-radius(var(--accordion-border-radius));
    }
  }
}

.accordion-body {
  padding: 0 var(--accordion-body-padding-x) var(--accordion-body-padding-y);
  color: var(--secondary);
}

.accordion-flush {
  > .accordion-item {
    border-inline-start: 0;
    border-inline-end: 0;
    @include border-radius(0);

    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }

    > .accordion-collapse,
    > .accordion-header .accordion-button {
      @include border-radius(0);
    }
  }
}

.accordion-tabs {
  --accordion-gap: #{$accordion-tabs-gap};

  > .accordion-item {
    border: var(--border-width) solid var(--accordion-border-color);
    @include border-radius(var(--accordion-border-radius));
  }
}

.accordion-inverted {
  .accordion-button-toggle {
    order: -1;
    margin-inline-start: 0;
  }
}
