@use '../config' as *;

.chat {
  --#{$prefix}chat-bubbles-gap: #{$chat-bubbles-gap};
  --#{$prefix}chat-bubble-padding: #{$chat-bubble-padding};
  --#{$prefix}chat-bubble-title-margin-bottom: #{$chat-bubble-title-margin-bottom};
}

.chat-bubbles {
  display: flex;
  flex-direction: column;
  gap: var(--#{$prefix}chat-bubbles-gap);
}

.chat-bubble {
  background: var(--#{$prefix}bg-surface-secondary);
  @include border-radius(var(--#{$prefix}border-radius-lg));
  padding: var(--#{$prefix}chat-bubble-padding);
  position: relative;
}

.chat-bubble-me {
  background-color: var(--#{$prefix}primary-lt);
  box-shadow: none;
}

.chat-bubble-title {
  margin-bottom: var(--#{$prefix}chat-bubble-title-margin-bottom);
}

.chat-bubble-author {
  font-weight: 600;
}

.chat-bubble-date {
  color: var(--#{$prefix}secondary);
}

.chat-bubble-body {
  > *:last-child {
    margin-bottom: 0;
  }
}
