//
// Base styles
//

@use '../config' as *;

.datagrid {
  --datagrid-padding: #{$datagrid-padding};
  --datagrid-item-width: #{$datagrid-item-width};
  --datagrid-title-margin-bottom: #{$datagrid-title-margin-bottom};

  display: grid;
  grid-gap: var(--datagrid-padding);
  grid-template-columns: repeat(auto-fit, minmax(var(--datagrid-item-width), 1fr));
}

.datagrid-title {
  @include subheader;
  margin-bottom: var(--datagrid-title-margin-bottom);
}
