@use '../config' as *;

.dropdown-menu {
  --dropdown-item-gap: #{$dropdown-item-gap};
  --dropdown-item-icon-size: #{$icon-size};
  --dropdown-item-icon-color: var(--tertiary);
  --dropdown-header-padding-bottom: #{$dropdown-header-padding-bottom};
  --dropdown-menu-columns-gap: #{$dropdown-menu-columns-gap};
  --dropdown-arrow-offset: #{$dropdown-arrow-offset};
  --dropdown-arrow-inset: #{$dropdown-arrow-inset};
  --dropdown-dropend-offset: #{$dropdown-dropend-offset};
  --dropdown-menu-card-min-width: #{$dropdown-menu-card-min-width};
  user-select: none;
  background-clip: border-box;

  &.card {
    padding: 0;
    min-width: $dropdown-max-width;
    display: none;

    &.show {
      display: flex;
    }
  }

  @include media-print {
    display: none;
  }
}

.dropdown-item {
  min-width: $dropdown-min-width;
  display: flex;
  align-items: center;
  margin: 0;
  line-height: $line-height-base;
  gap: var(--dropdown-item-gap);
}

.dropdown-item-icon {
  width: var(--dropdown-item-icon-size) !important;
  height: var(--dropdown-item-icon-size) !important;
  color: var(--dropdown-item-icon-color);
  text-align: center;
}

.dropdown-item-indicator {
  height: var(--dropdown-item-icon-size);
  display: inline-flex;
  line-height: 1;
  vertical-align: bottom;
  align-items: center;
}

.dropdown-header {
  @include subheader;
  padding-bottom: var(--dropdown-header-padding-bottom);
  pointer-events: none;
}

.dropdown-menu-scrollable {
  height: auto;
  max-height: $dropdown-scrollable-height;
  overflow-x: hidden;
}

.dropdown-menu-column {
  min-width: $dropdown-min-width;

  .dropdown-item {
    min-width: 0;
  }
}

.dropdown-menu-columns {
  display: flex;
  flex: 0 var(--dropdown-menu-columns-gap);
}

.dropdown-menu-arrow {
  &:before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--dropdown-arrow-offset));
    inset-inline-start: var(--dropdown-arrow-inset);
    display: block;
    background: inherit;
    width: 14px;
    height: 14px;
    /*rtl:ignore*/
    transform: rotate(45deg);
    transform-origin: center;
    border: 1px solid;
    border-color: inherit;
    z-index: -1;
    clip: rect(0px, 9px, 9px, 0px);
  }

  &.dropdown-menu-end {
    &:before {
      inset-inline-end: var(--dropdown-arrow-inset);
      inset-inline-start: auto;
    }
  }
}

.dropend {
  > .dropdown-menu {
    margin-top: subtract(calc(-1 * $dropdown-padding-y), 1px);
    margin-inline-start: calc(-1 * var(--dropdown-dropend-offset));
  }

  .dropdown-toggle {
    &:after {
      margin-inline-start: auto;
    }
  }
}

.dropdown-menu-card {
  padding: 0;
  min-width: var(--dropdown-menu-card-min-width);

  > .card {
    margin: 0;
    border: 0;
    box-shadow: none;
  }
}
