@use '../config' as *;

.empty {
  --#{$prefix}empty-padding: #{$empty-padding};
  --#{$prefix}empty-padding-md: #{$empty-padding-md};
  --#{$prefix}empty-icon-size: #{$empty-icon-size};
  --#{$prefix}empty-icon-margin-bottom: #{$empty-icon-margin-bottom};
  --#{$prefix}empty-img-margin-bottom: #{$empty-img-margin-bottom};
  --#{$prefix}empty-header-margin-bottom: #{$empty-header-margin-bottom};
  --#{$prefix}empty-header-font-size: #{$empty-header-font-size};
  --#{$prefix}empty-title-margin-bottom: #{$empty-title-margin-bottom};
  --#{$prefix}empty-action-margin-top: #{$empty-action-margin-top};

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--#{$prefix}empty-padding);
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: var(--#{$prefix}empty-padding-md);
  }
}

.empty-icon {
  margin: 0 0 var(--#{$prefix}empty-icon-margin-bottom);
  width: var(--#{$prefix}empty-icon-size);
  height: var(--#{$prefix}empty-icon-size);
  line-height: 1;
  color: var(--#{$prefix}secondary);

  svg {
    width: 100%;
    height: 100%;
  }
}

.empty-img {
  margin: 0 0 var(--#{$prefix}empty-img-margin-bottom);
  line-height: 1;
}

.empty-header {
  margin: 0 0 var(--#{$prefix}empty-header-margin-bottom);
  font-size: var(--#{$prefix}empty-header-font-size);
  font-weight: var(--#{$prefix}font-weight-light);
  line-height: 1;
  color: var(--#{$prefix}secondary);
}

.empty-title {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: $headings-font-weight;
}

.empty-title,
.empty-subtitle {
  margin: 0 0 var(--#{$prefix}empty-title-margin-bottom);
}

.empty-action {
  margin-top: var(--#{$prefix}empty-action-margin-top);
}

.empty-bordered {
  border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
  @include border-radius(var(--#{$prefix}border-radius));
}
