/**
Legend
 */
@use '../config' as *;

.legend {
  --legend-size: #{$legend-size};
  display: inline-block;
  background: $legend-bg;
  width: var(--legend-size);
  height: var(--legend-size);
  @include border-radius($legend-border-radius);
  border: 1px solid var(--border-color-translucent);
}
