/**
Legend
 */
@use '../config' as *;

.legend {
  --#{$prefix}legend-size: #{$legend-size};
  display: inline-block;
  width: var(--#{$prefix}legend-size);
  height: var(--#{$prefix}legend-size);
  background: $legend-bg;
  border: 1px solid var(--#{$prefix}border-color-translucent);
  @include border-radius($legend-border-radius);
}
