@use '../config' as *;

.offcanvas {
  @include media-print() {
    display: none;
  }
}

.offcanvas-header {
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.offcanvas-footer {
  padding: $offcanvas-padding-y $offcanvas-padding-x;
}

.offcanvas-title {
  --offcanvas-title-line-height: #{$offcanvas-title-line-height};

  font-size: $h3-font-size;
  font-weight: var(--font-weight-medium);
  line-height: var(--offcanvas-title-line-height);
}

.offcanvas-narrow {
  --offcanvas-narrow-width: #{$offcanvas-narrow-width};

  width: var(--offcanvas-narrow-width);
}
