@use '../config' as *;

.pagination {
  gap: var(--#{$prefix}pagination-gap);
  margin: 0;
  line-height: var(--#{$prefix}body-line-height);
  user-select: none;
  --#{$prefix}pagination-gap: #{$pagination-gap};
  --#{$prefix}pagination-link-min-width: #{$pagination-link-min-width};
  --#{$prefix}page-text-padding-x: #{$page-text-padding-x};

  @include media-print() {
    display: none;
  }
}

.page-link {
  min-width: var(--#{$prefix}pagination-link-min-width);
  @include border-radius(var(--#{$prefix}pagination-border-radius));
}

.page-item:not(.active) .page-link:hover {
  background: var(--#{$prefix}pagination-hover-bg);
}

.page-text {
  padding-inline-start: var(--#{$prefix}page-text-padding-x);
  padding-inline-end: var(--#{$prefix}page-text-padding-x);
}

.page-item {
  text-align: center;

  &.page-prev,
  &.page-next {
    flex: 0 0 50%;
    text-align: start;
  }

  &.page-next {
    margin-inline-start: auto;
    text-align: end;
  }
}

.page-item-subtitle {
  --#{$prefix}page-item-subtitle-margin-bottom: #{$page-item-subtitle-margin-bottom};
  --#{$prefix}page-item-subtitle-font-size: #{$page-item-subtitle-font-size};
  margin-bottom: var(--#{$prefix}page-item-subtitle-margin-bottom);
  font-size: var(--#{$prefix}page-item-subtitle-font-size);
  color: var(--#{$prefix}secondary);
  text-transform: uppercase;

  .page-item.disabled & {
    color: $pagination-disabled-color;
  }
}

.page-item-title {
  font-size: $h3-font-size;
  font-weight: var(--#{$prefix}font-weight-normal);
  color: var(--#{$prefix}body-color);

  .page-link:hover & {
    color: $link-color;
  }

  .page-item.disabled & {
    color: $pagination-disabled-color;
  }
}

.pagination-outline {
  --#{$prefix}pagination-border-color: var(--#{$prefix}border-color);
  --#{$prefix}pagination-disabled-border-color: var(--#{$prefix}border-color);
  --#{$prefix}pagination-border-width: 1px;
}

.pagination-circle {
  --#{$prefix}pagination-border-radius: var(--tblr-border-radius-pill);
}
