// stylelint-disable declaration-no-important

@use '../config' as *;

.ribbon {
  --ribbon-margin: #{$card-ribbon-margin};
  --ribbon-border-radius: #{$card-ribbon-border-radius};
  --ribbon-font-size: #{$card-ribbon-font-size};
  --ribbon-icon-size: #{$card-ribbon-icon-size};
  --ribbon-offset: #{$ribbon-offset};
  --ribbon-padding-y: #{$ribbon-padding-y};
  --ribbon-padding-x: #{$ribbon-padding-x};
  --ribbon-min-size: #{$ribbon-min-size};
  --ribbon-top-width: #{$ribbon-top-width};
  --ribbon-top-padding-y: #{$ribbon-top-padding-y};
  --ribbon-bookmark-border-size: #{$ribbon-bookmark-border-size};
  --ribbon-bookmark-notch-width: #{$ribbon-bookmark-notch-width};

  position: absolute;
  top: var(--ribbon-offset);
  inset-inline-end: calc(-1 * var(--ribbon-margin));
  z-index: 1;
  padding: var(--ribbon-padding-y) var(--ribbon-padding-x);
  font-size: var(--ribbon-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  background: var(--primary);
  border-color: var(--primary);
  @include border-radius(var(--ribbon-border-radius) 0 var(--ribbon-border-radius) var(--ribbon-border-radius));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: var(--ribbon-min-size);
  min-width: var(--ribbon-min-size);

  &:before {
    position: absolute;
    inset-inline-end: 0;
    bottom: 100%;
    width: 0;
    height: 0;
    content: '';
    filter: brightness(70%);
    border: calc(var(--ribbon-margin) * 0.5) var(--border-style);
    border-color: inherit;
    border-top-color: transparent;
    border-inline-end-color: transparent;
  }

  @if $enable-extra-colors {
    @each $color, $value in $extra-colors {
      &.bg-#{$color} {
        border-color: var(--#{$color});
      }

      &.bg-#{$color}-lt {
        border-color: color-transparent(var(--#{$color}), 0.1) !important;
      }
    }
  }

  .icon {
    width: var(--ribbon-icon-size);
    height: var(--ribbon-icon-size);
    font-size: var(--ribbon-icon-size);
  }
}

.ribbon-top {
  top: calc(-1 * var(--ribbon-margin));
  inset-inline-end: var(--ribbon-offset);
  width: var(--ribbon-top-width);
  padding: var(--ribbon-top-padding-y) 0;
  @include border-radius(0 var(--ribbon-border-radius) var(--ribbon-border-radius) var(--ribbon-border-radius));

  &:before {
    top: 0;
    inset-inline-end: 100%;
    bottom: auto;
    border-color: inherit;
    border-top-color: transparent;
    border-inline-start-color: transparent;
  }

  &.ribbon-start {
    inset-inline-end: auto;
    inset-inline-start: var(--ribbon-offset);

    &:before {
      top: 0;
      inset-inline-end: 100%;
      inset-inline-start: auto;
    }
  }
}

.ribbon-start {
  inset-inline-end: auto;
  inset-inline-start: calc(-1 * var(--ribbon-margin));
  @include border-radius(0 var(--ribbon-border-radius) var(--ribbon-border-radius) var(--ribbon-border-radius));

  &:before {
    top: auto;
    bottom: 100%;
    inset-inline-start: 0;
    border-color: inherit;
    border-top-color: transparent;
    border-inline-start-color: transparent;
  }
}

.ribbon-bottom {
  top: auto;
  bottom: var(--ribbon-offset);
}

.ribbon-bookmark {
  padding-inline-start: var(--ribbon-padding-y);
  @include border-radius(0 0 var(--ribbon-border-radius) 0);

  &:after {
    position: absolute;
    top: 0;
    inset-inline-end: 100%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border: var(--ribbon-bookmark-border-size) var(--border-style);
    border-color: inherit;
    border-inline-end-width: 0;
    border-inline-start-color: transparent;
    border-inline-start-width: var(--ribbon-bookmark-notch-width);
  }

  &.ribbon-left {
    padding-inline-end: var(--ribbon-bookmark-notch-width);

    &:after {
      inset-inline-end: auto;
      inset-inline-start: 100%;
      border-inline-end-color: transparent;

      border-inline-end-width: var(--ribbon-bookmark-notch-width);
      border-inline-start-width: 0;
    }
  }

  &.ribbon-top {
    padding-inline-end: 0;
    padding-bottom: var(--ribbon-padding-y);
    padding-inline-start: 0;
    @include border-radius(0 var(--ribbon-border-radius) 0 0);

    &:after {
      top: 100%;
      inset-inline-end: 0;
      inset-inline-start: 0;
      border-color: inherit;
      border-width: var(--ribbon-bookmark-border-size);
      border-top-width: 0;
      border-bottom-color: transparent;
      border-bottom-width: var(--ribbon-bookmark-notch-width);
    }
  }
}
