@use '../config' as *;

.nav-segmented {
  --nav-bg: var(--bg-surface-tertiary);
  --nav-padding: #{$nav-segmented-padding};
  --nav-height: #{$nav-segmented-height};
  --nav-gap: #{$nav-segmented-gap};
  --nav-active-bg: var(--bg-surface);
  --nav-font-size: inherit;
  --nav-radius: #{$nav-segmented-radius};

  --nav-link-disabled-color: var(--disabled-color);
  --nav-link-gap: #{$nav-segmented-link-gap};
  --nav-link-padding-x: #{$nav-segmented-link-padding-x};
  --nav-link-icon-size: #{$nav-segmented-link-icon-size};
  --nav-link-icon-margin: #{$nav-segmented-icon-margin};
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--nav-gap);
  padding: var(--nav-padding);
  list-style: none;
  background: var(--nav-bg);
  @include border-radius(calc(var(--nav-radius) + var(--nav-padding)));
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04);

  .nav-link {
    display: inline-flex;
    gap: calc(#{$nav-segmented-link-gap} + var(--nav-link-gap));
    align-items: center;
    margin: 0;
    font-size: var(--nav-font-size);
    min-width: calc(var(--nav-height) - 2 * var(--nav-padding));
    height: calc(var(--nav-height) - 2 * var(--nav-padding));
    padding: 0 calc(var(--nav-link-padding-x) - 2px);
    border: 1px solid transparent;
    background: transparent;
    color: var(--secondary);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition:
      background-color $transition-time,
      color $transition-time;
    @include border-radius(var(--nav-radius));
    flex-grow: 1;
    justify-content: center;

    &:hover,
    &.hover {
      background: rgba(0, 0, 0, 0.04);
      color: var(--body-color);
    }

    &.disabled,
    &:disabled {
      color: var(--nav-link-disabled-color);
      cursor: not-allowed;
    }
  }

  .nav-link-input:checked + .nav-link,
  .nav-link.active {
    color: var(--body-color);
    background: var(--nav-active-bg);
    border-color: var(--border-color);
  }

  .nav-link-input {
    display: none;
  }

  .nav-link-icon {
    width: var(--nav-link-icon-size);
    height: var(--nav-link-icon-size);
    margin: 0 var(--nav-link-icon-margin);
    color: inherit;
  }
}

.nav-segmented-vertical {
  flex-direction: column;

  .nav-link {
    justify-content: start;
  }
}

.nav-sm {
  --nav-height: #{$nav-segmented-height-sm};
  --nav-font-size: var(--font-size-h5);
  --nav-radius: #{$nav-segmented-radius-sm};
  --nav-link-padding-x: #{$nav-segmented-link-padding-x-sm};
  --nav-link-gap: #{$nav-segmented-link-gap-sm};
  --nav-link-icon-size: #{$nav-segmented-link-icon-size-sm};
}

.nav-lg {
  --nav-height: #{$nav-segmented-height-lg};
  --nav-font-size: var(--font-size-h3);
  --nav-radius: #{$nav-segmented-radius-lg};
  --nav-link-padding-x: #{$nav-segmented-link-padding-x-lg};
  --nav-link-gap: #{$nav-segmented-link-gap-lg};
  --nav-link-icon-size: #{$nav-segmented-link-icon-size-lg};
}
