.signature {
  border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
  padding: var(--#{$prefix}spacer-1);
  border-radius: var(--#{$prefix}border-radius);
}

.signature-canvas {
  border: var(--#{$prefix}border-width) dashed var(--#{$prefix}border-color);
  border-radius: var(--#{$prefix}border-radius-sm);
  display: block;
  cursor: crosshair;
  width: 100%;
}