@use '../config' as *;

.stars {
  --stars-gap: #{$stars-gap};

  display: inline-flex;
  font-size: $h5-font-size;
  color: $gray-400;

  .star:not(:first-child) {
    margin-inline-start: var(--stars-gap);
  }
}
