@use '../config' as *;

.stars {
  // scss-docs-start stars-css-vars
  --stars-gap: #{$stars-gap};
  // scss-docs-end stars-css-vars

  display: inline-flex;
  font-size: $h5-font-size;
  color: $gray-400;

  .star:not(:first-child) {
    margin-inline-start: var(--stars-gap);
  }
}
