@use '../config' as *;

.stars {
  --#{$prefix}stars-gap: #{$stars-gap};

  display: inline-flex;
  color: $gray-400;
  font-size: $h5-font-size;

  .star:not(:first-child) {
    margin-inline-start: var(--#{$prefix}stars-gap);
  }
}
