//
// Steps
//
@use '../config' as *;

.steps {
  --#{$prefix}steps-color: #{$steps-color};
  --#{$prefix}steps-inactive-color: #{$steps-inactive-color};
  --#{$prefix}steps-dot-size: #{$steps-dot-size};
  --#{$prefix}steps-border-width: #{$steps-border-width};
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  @include media-breakpoint-down(sm) {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

@each $name, $color in $extra-colors {
  .steps-#{$name} {
    --#{$prefix}steps-color: var(--#{$prefix}#{$name});

    &-lt {
      --#{$prefix}steps-color: var(--#{$prefix}#{$name}-lt);
    }
  }
}

//
// Step item
//
.step-item {
  --#{$prefix}step-item-min-height: #{$step-item-min-height};
  position: relative;
  flex: 1 1 0;
  min-height: var(--#{$prefix}step-item-min-height);
  margin-top: 0;
  color: inherit;
  text-align: center;
  cursor: default;
  padding-top: calc(var(--#{$prefix}steps-dot-size));

  @at-root a#{&} {
    cursor: pointer;

    &:hover {
      color: inherit;
    }
  }

  &:after,
  &:before {
    background: var(--#{$prefix}steps-color);
  }

  &:not(:last-child):after {
    position: absolute;
    inset-inline-start: 50%;
    width: 100%;
    content: '';
    transform: translateY(-50%);
  }

  &:after {
    top: calc(var(--#{$prefix}steps-dot-size) * 0.5);
    height: var(--#{$prefix}steps-border-width);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-start: 50%;
    z-index: 1;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    @include border-radius(var(--#{$prefix}border-radius-pill));
    /*rtl:ignore*/
    transform: translateX(calc(var(--#{$prefix}dir) * -50%));
    color: var(--#{$prefix}white);
    width: var(--#{$prefix}steps-dot-size);
    height: var(--#{$prefix}steps-dot-size);
  }

  &.active {
    font-weight: var(--#{$prefix}font-weight-semibold);

    &:after {
      background: var(--#{$prefix}steps-inactive-color);
    }

    & ~ .step-item {
      color: var(--#{$prefix}disabled-color);

      &:after,
      &:before {
        background: var(--#{$prefix}steps-inactive-color);
      }
    }
  }
}

//
// Steps counter
//
.steps-counter {
  --#{$prefix}steps-dot-size: #{$steps-counter-dot-size};
  counter-reset: steps;

  .step-item {
    counter-increment: steps;

    &:before {
      content: counter(steps);
    }
  }
}

//
// Steps vertical
//
.steps-vertical {
  --#{$prefix}steps-dot-offset: #{$steps-dot-offset};
  --#{$prefix}steps-vertical-padding-start: #{$steps-vertical-padding-start};
  --#{$prefix}steps-vertical-item-gap: #{$steps-vertical-item-gap};
  --#{$prefix}steps-vertical-connector-gap: #{$steps-vertical-connector-gap};
  flex-direction: column;

  &.steps-counter {
    --#{$prefix}steps-dot-offset: #{$steps-dot-offset-counter};
  }

  .step-item {
    text-align: start;
    padding-top: 0;
    padding-inline-start: calc(var(--#{$prefix}steps-dot-size) + var(--#{$prefix}steps-vertical-padding-start));
    min-height: auto;

    &:not(:first-child) {
      margin-top: var(--#{$prefix}steps-vertical-item-gap);
    }

    &:before {
      top: var(--#{$prefix}steps-dot-offset);
      inset-inline-start: 0;
      transform: translate(0, 0);
    }

    &:not(:last-child) {
      &:after {
        position: absolute;
        content: '';
        /*rtl:ignore*/
        transform: translateX(calc(var(--#{$prefix}dir) * -50%));
        top: var(--#{$prefix}steps-dot-offset);
        inset-inline-start: calc(var(--#{$prefix}steps-dot-size) * 0.5);
        width: var(--#{$prefix}steps-border-width);
        height: calc(100% + var(--#{$prefix}steps-vertical-connector-gap));
      }
    }
  }
}
