@use '../config' as *;

.tag {
  --#{$prefix}tag-height: #{$tag-height};
  --#{$prefix}tag-padding-x: #{$tag-padding-x};
  --#{$prefix}tag-gap: #{$tag-gap};
  --#{$prefix}tag-close-margin-end: #{$tag-close-margin-end};
  --#{$prefix}tag-close-margin-start: #{$tag-close-margin-start};
  --#{$prefix}tag-close-size: #{$tag-close-size};
  --#{$prefix}tag-close-font-size: #{$tag-close-font-size};
  --#{$prefix}tag-addon-margin-start: #{$tag-addon-margin-start};
  --#{$prefix}tag-icon-margin-end: #{$tag-icon-margin-end};
  --#{$prefix}tag-icon-size: #{$tag-icon-size};
  --#{$prefix}tag-check-size: #{$tag-check-size};

  border: $border-width solid var(--#{$prefix}border-color);
  display: inline-flex;
  align-items: center;
  height: var(--#{$prefix}tag-height);
  @include border-radius(var(--#{$prefix}border-radius));
  padding: 0 var(--#{$prefix}tag-padding-x);
  background: var(--#{$prefix}bg-surface);
  box-shadow: var(--#{$prefix}shadow-input);
  gap: var(--#{$prefix}tag-gap);

  .btn-close {
    margin-inline-end: var(--#{$prefix}tag-close-margin-end);
    margin-inline-start: var(--#{$prefix}tag-close-margin-start);
    padding: 0;
    width: var(--#{$prefix}tag-close-size);
    height: var(--#{$prefix}tag-close-size);
    font-size: var(--#{$prefix}tag-close-font-size);
  }
}

.tag-badge {
  --#{$prefix}tag-badge-padding-y: #{$tag-badge-padding-y};
  --#{$prefix}tag-badge-padding-x: #{$tag-badge-padding-x};
  --#{$prefix}tag-badge-margin-end: #{$tag-badge-margin-end};

  --#{$prefix}badge-font-size: #{$h6-font-size};
  --#{$prefix}badge-padding-x: var(--#{$prefix}tag-badge-padding-x);
  --#{$prefix}badge-padding-y: var(--#{$prefix}tag-badge-padding-y);
  margin-inline-end: var(--#{$prefix}tag-badge-margin-end);
}

.tag-avatar,
.tag-flag,
.tag-payment,
.tag-icon,
.tag-check {
  margin-inline-start: var(--#{$prefix}tag-addon-margin-start);
}

.tag-icon {
  color: var(--#{$prefix}secondary);
  margin-inline-end: var(--#{$prefix}tag-icon-margin-end);
  width: var(--#{$prefix}tag-icon-size);
  height: var(--#{$prefix}tag-icon-size);
}

.tag-check {
  width: var(--#{$prefix}tag-check-size);
  height: var(--#{$prefix}tag-check-size);
  background-size: var(--#{$prefix}tag-check-size);
}

//
// Tags list
//
.tags-list {
  @include elements-list;
}
