@use '../config' as *;

.tag {
  --tag-height: #{$tag-height};
  --tag-padding-x: #{$tag-padding-x};
  --tag-gap: #{$tag-gap};
  --tag-close-margin-end: #{$tag-close-margin-end};
  --tag-close-margin-start: #{$tag-close-margin-start};
  --tag-close-size: #{$tag-close-size};
  --tag-close-font-size: #{$tag-close-font-size};
  --tag-addon-margin-start: #{$tag-addon-margin-start};
  --tag-icon-margin-end: #{$tag-icon-margin-end};
  --tag-icon-size: #{$tag-icon-size};
  --tag-check-size: #{$tag-check-size};
  display: inline-flex;
  gap: var(--tag-gap);
  align-items: center;
  height: var(--tag-height);
  padding: 0 var(--tag-padding-x);
  background: var(--bg-surface);

  border: $border-width solid var(--border-color);
  box-shadow: var(--shadow-input);
  @include border-radius(var(--border-radius));

  .btn-close {
    width: var(--tag-close-size);
    height: var(--tag-close-size);
    padding: 0;
    margin-inline-start: var(--tag-close-margin-start);
    margin-inline-end: var(--tag-close-margin-end);
    font-size: var(--tag-close-font-size);
  }
}

.tag-badge {
  --tag-badge-padding-y: #{$tag-badge-padding-y};
  --tag-badge-padding-x: #{$tag-badge-padding-x};
  --tag-badge-margin-end: #{$tag-badge-margin-end};

  --badge-font-size: #{$h6-font-size};
  --badge-padding-x: var(--tag-badge-padding-x);
  --badge-padding-y: var(--tag-badge-padding-y);
  margin-inline-end: var(--tag-badge-margin-end);
}

.tag-avatar,
.tag-flag,
.tag-payment,
.tag-icon,
.tag-check {
  margin-inline-start: var(--tag-addon-margin-start);
}

.tag-icon {
  width: var(--tag-icon-size);
  height: var(--tag-icon-size);
  margin-inline-end: var(--tag-icon-margin-end);
  color: var(--secondary);
}

.tag-check {
  width: var(--tag-check-size);
  height: var(--tag-check-size);
  background-size: var(--tag-check-size);
}

//
// Tags list
//
.tags-list {
  @include elements-list();
}
