//
// Timeline
//
@use '../config' as *;

.timeline {
  --#{$prefix}timeline-icon-size: #{$avatar-size};
  position: relative;
  padding: 0;
  list-style: none;
}

//
// Timeline event
//
.timeline-event {
  position: relative;

  &:not(:last-child) {
    margin-bottom: var(--#{$prefix}page-padding);

    &::before {
      position: absolute;
      inset-inline-start: calc(var(--#{$prefix}timeline-icon-size) / 2);
      top: var(--#{$prefix}timeline-icon-size);
      bottom: calc(-1 * var(--#{$prefix}page-padding));
      width: var(--#{$prefix}border-width);
      content: '';
      background-color: var(--#{$prefix}border-color);
      @include border-radius(var(--#{$prefix}border-radius));
    }
  }
}

.timeline-event-icon {
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--#{$prefix}timeline-icon-size, $avatar-size);
  height: var(--#{$prefix}timeline-icon-size, $avatar-size);
  color: var(--#{$prefix}secondary);
  background: var(--#{$prefix}bg-surface-secondary);
  @include border-radius(var(--#{$prefix}border-radius));
}

.timeline-event-card {
  margin-inline-start: calc(var(--#{$prefix}timeline-icon-size, $avatar-size) + var(--#{$prefix}page-padding));
}

//
// Simple timeline
//
.timeline-simple {
  .timeline-event-icon {
    display: none;
  }

  .timeline-event-card {
    margin-inline-start: 0;
  }
}
