@use '../config' as *;

.toolbar {
  --#{$prefix}toolbar-gutter: #{$toolbar-gutter};

  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin: 0 calc(-1 * var(--#{$prefix}toolbar-gutter));

  > * {
    margin: 0 var(--#{$prefix}toolbar-gutter);
  }

  @include media-print() {
    display: none;
  }
}
