@use '../config' as *;

.tracking {
  --tracking-height: #{$tracking-height};
  --tracking-gap-width: #{$tracking-gap-width};
  --tracking-block-border-radius: #{$tracking-border-radius};
  --tracking-block-min-width: #{$tracking-block-min-width};
  display: flex;
  gap: var(--tracking-gap-width);
}

.tracking-squares {
  --tracking-block-border-radius: var(--border-radius-sm);

  .tracking-block {
    height: auto;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}

.tracking-block {
  flex: 1;
  @include border-radius(var(--tracking-block-border-radius));
  height: var(--tracking-height);
  min-width: var(--tracking-block-min-width);
  background: var(--border-color);
}
