@use '../config' as *;

.tracking {
  --#{$prefix}tracking-height: #{$tracking-height};
  --#{$prefix}tracking-gap-width: #{$tracking-gap-width};
  --#{$prefix}tracking-block-border-radius: #{$tracking-border-radius};
  --#{$prefix}tracking-block-min-width: #{$tracking-block-min-width};
  display: flex;
  gap: var(--#{$prefix}tracking-gap-width);
}

.tracking-squares {
  --#{$prefix}tracking-block-border-radius: var(--#{$prefix}border-radius-sm);

  .tracking-block {
    height: auto;

    &::before {
      display: block;
      padding-top: 100%;
      content: '';
    }
  }
}

.tracking-block {
  flex: 1;
  min-width: var(--#{$prefix}tracking-block-min-width);
  height: var(--#{$prefix}tracking-height);
  background: var(--#{$prefix}border-color);
  @include border-radius(var(--#{$prefix}tracking-block-border-radius));
}
