@use '../config' as *;

@forward 'typo/hr';

.lead {
  font-size: inherit;
  color: var(--#{$prefix}secondary);
}

a {
  text-decoration-skip-ink: auto;
  color: color-mix(in srgb, transparent, var(--#{$prefix}link-color) var(--#{$prefix}link-opacity, 100%));

  &:hover {
    color: color-mix(in srgb, transparent, var(--#{$prefix}link-hover-color) var(--#{$prefix}link-opacity, 100%));
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

h1,
.h1 {
  font-size: var(--#{$prefix}font-size-h1);
  line-height: var(--#{$prefix}line-height-h1);
}

h2,
.h2 {
  font-size: var(--#{$prefix}font-size-h2);
  line-height: var(--#{$prefix}line-height-h2);
}

h3,
.h3 {
  font-size: var(--#{$prefix}font-size-h3);
  line-height: var(--#{$prefix}line-height-h3);
}

h4,
.h4 {
  font-size: var(--#{$prefix}font-size-h4);
  line-height: var(--#{$prefix}line-height-h4);
}

h5,
.h5 {
  font-size: var(--#{$prefix}font-size-h5);
  line-height: var(--#{$prefix}line-height-h5);
}

h6,
.h6 {
  font-size: var(--#{$prefix}font-size-h6);
  line-height: var(--#{$prefix}line-height-h6);
}

.fs-base {
  font-size: var(--#{$prefix}body-font-size);
}

strong,
.strong,
b {
  font-weight: $headings-font-weight;
}

blockquote {
  --#{$prefix}blockquote-padding: #{$blockquote-padding};
  --#{$prefix}blockquote-paragraph-margin-bottom: #{$blockquote-paragraph-margin-bottom};
  padding: var(--#{$prefix}blockquote-padding) var(--#{$prefix}blockquote-padding) var(--#{$prefix}blockquote-padding);
  border-inline-start: 2px var(--#{$prefix}border-style) var(--#{$prefix}border-color);

  p {
    margin-bottom: var(--#{$prefix}blockquote-paragraph-margin-bottom);
  }

  cite {
    display: block;
    text-align: end;

    &::before {
      content: '— ';
    }
  }
}

ul,
ol {
  --#{$prefix}list-padding-start: #{$list-padding-start};
  padding-inline-start: var(--#{$prefix}list-padding-start);
}

hr {
  --#{$prefix}hr-margin-y: #{$hr-margin-y};
  margin: var(--#{$prefix}hr-margin-y) 0;
}

dl {
  dd {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

pre {
  --#{$prefix}scrollbar-color: #{$pre-color};
  padding: $pre-padding;
  line-height: $line-height-base;
  color: $pre-color;
  background: $pre-bg;
  @include border-radius(var(--#{$prefix}border-radius));

  @include scrollbar();

  code {
    padding: 0;
    background: transparent;
  }
}

code {
  padding: 2px 4px;
  background: var(--#{$prefix}code-bg);
  @include border-radius(var(--#{$prefix}border-radius));
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

kbd,
.kbd {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  font-size: $kbd-font-size;
  font-weight: $kbd-font-weight;
  line-height: 1;
  vertical-align: baseline;
  border: $kbd-border;
  @include border-radius($kbd-border-radius);
}

img {
  max-width: 100%;
  height: auto;
}

.list-unstyled {
  margin-inline-start: 0;
}

/**
Selection
 */
::selection,
.text-selected {
  background-color: $selection-bg;
}

.text-selected {
  display: inline-block;
}

/**
Links
 */
[class^='link-'],
[class*=' link-'] {
  &.disabled {
    color: $nav-link-disabled-color !important;
    pointer-events: none;
  }
}

a:hover:has(.icon) {
  text-decoration: none;
}

.link-hoverable {
  @include border-radius(var(--#{$prefix}border-radius));
  transition: background-color 0.15s ease-in-out;

  &:hover {
    color: var(--#{$prefix}primary);
    text-decoration: none;
    background: color-transparent(var(--#{$prefix}secondary), 0.04);
  }
}

/**
Subheader
 */
.subheader {
  @include subheader();
}

/**
Mentions
 */
.mention {
  display: inline-block;
  padding: calc(2em / 12) calc(8em / 12);
  font-size: calc(12em / 14);
  font-weight: var(--#{$prefix}font-weight-medium);
  line-height: calc(16em / 12);
  color: var(--#{$prefix}body-color);
  background: var(--#{$prefix}bg-surface-tertiary);
  box-shadow: var(--#{$prefix}shadow-border);
  @include border-radius(var(--#{$prefix}border-radius-pill));

  @at-root a#{&} {
    cursor: pointer;

    &:hover,
    &.hover {
      text-decoration: underline;
      background: var(--#{$prefix}bg-surface-secondary);
    }
  }
}

.mention-avatar,
.mention-app,
.mention-color {
  display: inline-flex;
  width: calc(14em / 12);
  height: calc(14em / 12);
  margin: calc(-2em / 12) calc(4em / 12) 0 calc(-4em / 12);
  text-align: center;
  vertical-align: middle;
  background: no-repeat center center/cover;
  box-shadow: var(--#{$prefix}shadow-border);
  @include border-radius(var(--#{$prefix}border-radius-pill));
}

.mention-app {
  background: none;
  border-radius: 0;
  box-shadow: none;
}

.mention-count {
  margin-inline-start: calc(8em / 12);
  color: var(--#{$prefix}secondary);
}

$text-variants: (
  incorrect: var(--#{$prefix}red),
  correct: var(--#{$prefix}green),
);

@each $variant, $color in $text-variants {
  .text-#{$variant} {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: $color;
    background: color-transparent($color, 0.04);
    background: color-transparent($color, 4%);
  }
}

.steps {
  --#{$prefix}steps-padding: #{$steps-padding};
  --#{$prefix}steps-item-size: #{$steps-item-size};
  --#{$prefix}steps-margin-start: #{$steps-margin-start};
  --#{$prefix}steps-margin-bottom: #{$steps-margin-bottom};
  --#{$prefix}steps-heading-margin-top: #{$steps-heading-margin-top};
  padding-inline-start: var(--#{$prefix}steps-padding);
  margin-inline-start: var(--#{$prefix}steps-margin-start);
  margin-bottom: var(--#{$prefix}steps-margin-bottom);
  counter-reset: step;
  border-inline-start: 1px solid var(--#{$prefix}border-color);

  h3 {
    counter-increment: step;

    &:not(:first-child) {
      margin-top: var(--#{$prefix}steps-heading-margin-top) !important;
    }

    &::before {
      position: absolute;
      display: inline-block;
      width: var(--#{$prefix}steps-item-size);
      height: var(--#{$prefix}steps-item-size);
      margin-inline-start: calc(-1 * var(--#{$prefix}steps-padding) - var(--#{$prefix}steps-item-size) / 2);
      margin-top: 1px;
      font-size: var(--#{$prefix}font-size-h4);
      font-weight: var(--#{$prefix}font-weight-semibold);
      line-height: calc(var(--#{$prefix}steps-item-size) - 2px);
      color: var(--#{$prefix}body-color);
      text-align: center;
      content: counter(step);
      background: var(--#{$prefix}bg-surface);
      border: 1px solid var(--#{$prefix}border-color);
      @include border-radius(var(--#{$prefix}border-radius));
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.callout {
  --#{$prefix}callout-margin-bottom: #{$callout-margin-bottom};
  --#{$prefix}callout-padding-y: #{$callout-padding-y};
  --#{$prefix}callout-padding-x: #{$callout-padding-x};
  padding: var(--#{$prefix}callout-padding-y) var(--#{$prefix}callout-padding-x);
  margin-bottom: var(--#{$prefix}callout-margin-bottom);
  background: var(--#{$prefix}primary-lt);
  border: 1px solid var(--#{$prefix}primary-200);
  @include border-radius(var(--#{$prefix}border-radius));

  & > :last-child {
    margin-bottom: 0;
  }
}
