@use '../config' as *;

@forward 'typo/hr';

.lead {
  color: var(--secondary);
  font-size: inherit;
}

a {
  text-decoration-skip-ink: auto;
  color: color-mix(in srgb, transparent, var(--link-color) var(--link-opacity, 100%));

  &:hover {
    color: color-mix(in srgb, transparent, var(--link-hover-color) var(--link-opacity, 100%));
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}

h1,
.h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

h5,
.h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

h6,
.h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
}

.fs-base {
  font-size: var(--body-font-size);
}

strong,
.strong,
b {
  font-weight: $headings-font-weight;
}

blockquote {
  --blockquote-padding: #{$blockquote-padding};
  --blockquote-paragraph-margin-bottom: #{$blockquote-paragraph-margin-bottom};
  padding: var(--blockquote-padding) var(--blockquote-padding) var(--blockquote-padding);
  border-inline-start: 2px var(--border-style) var(--border-color);

  p {
    margin-bottom: var(--blockquote-paragraph-margin-bottom);
  }

  cite {
    display: block;
    text-align: end;

    &:before {
      content: '— ';
    }
  }
}

ul,
ol {
  --list-padding-start: #{$list-padding-start};
  padding-inline-start: var(--list-padding-start);
}

hr {
  --hr-margin-y: #{$hr-margin-y};
  margin: var(--hr-margin-y) 0;
}

dl {
  dd {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

pre {
  --scrollbar-color: #{$pre-color};
  padding: $pre-padding;
  background: $pre-bg;
  color: $pre-color;
  @include border-radius(var(--border-radius));
  line-height: $line-height-base;

  @include scrollbar;

  code {
    background: transparent;
    padding: 0;
  }
}

code {
  background: var(--code-bg);
  padding: 2px 4px;
  @include border-radius(var(--border-radius));
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

kbd,
.kbd {
  border: $kbd-border;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  font-size: $kbd-font-size;
  font-weight: $kbd-font-weight;
  line-height: 1;
  vertical-align: baseline;
  @include border-radius($kbd-border-radius);
}

img {
  max-width: 100%;
  height: auto;
}

.list-unstyled {
  margin-inline-start: 0;
}

/**
Selection
 */
::selection,
.text-selected {
  background-color: $selection-bg;
}

.text-selected {
  display: inline-block;
}

/**
Links
 */
[class^='link-'],
[class*=' link-'] {
  &.disabled {
    color: $nav-link-disabled-color !important;
    pointer-events: none;
  }
}

a:hover:has(.icon) {
  text-decoration: none;
}

.link-hoverable {
  @include border-radius(var(--border-radius));
  transition: background-color 0.15s ease-in-out;

  &:hover {
    text-decoration: none;
    color: var(--primary);
    background: color-transparent(var(--secondary), 0.04);
  }
}

/**
Subheader
 */
.subheader {
  @include subheader;
}

/**
Mentions
 */
.mention {
  display: inline-block;
  box-shadow: var(--shadow-border);
  @include border-radius(var(--border-radius-pill));
  line-height: calc(16em / 12);
  font-size: calc(12em / 14);
  color: var(--body-color);
  background: var(--bg-surface-tertiary);
  padding: calc(2em / 12) calc(8em / 12);
  font-weight: var(--font-weight-medium);

  @at-root a#{&} {
    cursor: pointer;

    &:hover,
    &.hover {
      background: var(--bg-surface-secondary);
      text-decoration: underline;
    }
  }
}

.mention-avatar,
.mention-app,
.mention-color {
  width: calc(14em / 12);
  height: calc(14em / 12);
  @include border-radius(var(--border-radius-pill));
  margin: calc(-2em / 12) calc(4em / 12) 0 calc(-4em / 12);
  display: inline-flex;
  background: no-repeat center center/cover;
  box-shadow: var(--shadow-border);
  vertical-align: middle;
  text-align: center;
}

.mention-app {
  box-shadow: none;
  background: none;
  border-radius: 0;
}

.mention-count {
  color: var(--secondary);
  margin-inline-start: calc(8em / 12);
}

$text-variants: (
  incorrect: var(--red),
  correct: var(--green),
);

@each $variant, $color in $text-variants {
  .text-#{$variant} {
    background: color-transparent($color, 0.04);
    background: color-transparent($color, 4%);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: $color;
  }
}

.steps {
  --steps-padding: #{$steps-padding};
  --steps-item-size: #{$steps-item-size};
  --steps-margin-start: #{$steps-margin-start};
  --steps-margin-bottom: #{$steps-margin-bottom};
  --steps-heading-margin-top: #{$steps-heading-margin-top};
  margin-inline-start: var(--steps-margin-start);
  padding-inline-start: var(--steps-padding);
  counter-reset: step;
  border-inline-start: 1px solid var(--border-color);
  margin-bottom: var(--steps-margin-bottom);

  h3 {
    counter-increment: step;

    &:not(:first-child) {
      margin-top: var(--steps-heading-margin-top) !important;
    }

    &:before {
      content: counter(step);
      display: inline-block;
      position: absolute;
      margin-top: 1px;
      margin-inline-start: calc(-1 * var(--steps-padding) - var(--steps-item-size) / 2);
      width: var(--steps-item-size);
      height: var(--steps-item-size);
      text-align: center;
      color: var(--body-color);
      border: 1px solid var(--border-color);
      background: var(--bg-surface);
      @include border-radius(var(--border-radius));
      line-height: calc(var(--steps-item-size) - 2px);
      font-size: var(--font-size-h4);
      font-weight: var(--font-weight-semibold);
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.callout {
  --callout-margin-bottom: #{$callout-margin-bottom};
  --callout-padding-y: #{$callout-padding-y};
  --callout-padding-x: #{$callout-padding-x};
  margin-bottom: var(--callout-margin-bottom);
  border: 1px solid var(--primary-bg-muted);
  @include border-radius(var(--border-radius));
  padding: var(--callout-padding-y) var(--callout-padding-x);
  background: var(--primary-bg-subtle);

  & > :last-child {
    margin-bottom: 0;
  }
}
