<script>
	$(document).ready(function () {
		$(`#{{ include.id }}`).each(function () {
			$(this).vectorMap(
				{
					map: `{{ include.data[1].map }}`,
					backgroundColor: `{{ include.data[1].backgroundColor }}`,
					borderColor: `{{ include.data[1].borderColor }}`,
					borderWidth: `{{ include.data[1].borderWidth }}`,
					borderOpacity: `{{ include.data[1].borderOpacity }}`,
					color: `{{ include.data[1].color}}`,
					enableZoom: `{{ include.data[1].enableZoom}}`,
					showTooltip: `{{ include.data[1].showTooltip}}`,
					selectedColor: `{{ include.data[1].selectedColor}}`,
					hoverColor: `{{ include.data[1].hoverColor}}`
				}
			);
		});
	})
</script>