.shadow-sm,
.hover-shadow-sm:hover { box-shadow: $box-shadow-sm !important; }

.shadow,
.hover-shadow:hover{ box-shadow: $box-shadow !important; }

.shadow-lg,
.hover-shadow-lg:hover { box-shadow: $box-shadow-lg !important; }

.shadow-none,
.hover-shadow-none:hover{ box-shadow: none !important; }
