// stylelint-disable declaration-no-important

.max-h-full		{ max-height: 100% !important; }
.max-h-screen	{ max-height: 100vh !important; }

.min-h-0	{ min-height: 0 !important; }
.min-h-full	{ min-height: 100% !important; }
.min-h-screen	{ min-height: 100vh !important; }

.min-w-0	{ min-width: 0 !important; }
.min-w-full	{ min-width: 100% !important; }

.h-1	{ height: .25rem !important; }
.h-2	{ height: .5rem !important; }
.h-3	{ height: .75rem !important; }
.h-4	{ height: 1rem !important; }
.h-6	{ height: 1.5rem !important; }
.h-8	{ height: 2rem !important; }
.h-10	{ height: 2.5rem !important; }
.h-12	{ height: 3rem !important; }
.h-16	{ height: 4rem !important; }
.h-24	{ height: 6rem !important; }
.h-32	{ height: 8rem !important; }
.h-48	{ height: 12rem !important; }
.h-64	{ height: 16rem !important; }
.h-auto	{ height: auto !important; }
.h-px	{ height: 1px !important; }
.h-full	{ height: 100% !important; }
.h-screen	{ height: 100vh !important; }

.w-1	{ width: .25rem !important; }
.w-2	{ width: .5rem !important; }
.w-3	{ width: .75rem !important; }
.w-4	{ width: 1rem !important; }
.w-6	{ width: 1.5rem !important; }
.w-8	{ width: 2rem !important; }
.w-10	{ width: 2.5rem !important; }
.w-12	{ width: 3rem !important; }
.w-16	{ width: 4rem !important; }
.w-24	{ width: 6rem !important; }
.w-32	{ width: 8rem !important; }
.w-48	{ width: 12rem !important; }
.w-64	{ width: 16rem !important; }
.w-auto	{ width: auto !important; }
.w-px	{ width: 1px !important; }

.w-full	{ width: 100% !important; }
.w-screen	{ width: 100vw !important; }


