// stylelint-disable declaration-no-important

.text-inherit { color: inherit !important; }
.text-default { color: $body-color !important; }

.text-h6	{ font-size: $h6-font-size !important; }
.text-h5	{ font-size: $h5-font-size !important; }
.text-h4	{ font-size: $h4-font-size !important; }
.text-h3	{ font-size: $h3-font-size !important; }
.text-h2	{ font-size: $h2-font-size !important; }
.text-h1	{ font-size: $h1-font-size !important; }

.text-muted-light { color: $text-muted-light !important; }

.text-subheader {
  color: $text-muted;
  font-size: $h6-font-size;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-weight: 600;
}

.text-label {
  color: $text-muted;
  text-transform: uppercase;
  font-size: $h6-font-size;
}

.tracking-tight		{ letter-spacing: -.05em !important; }
.tracking-normal	{ letter-spacing: 0 !important; }
.tracking-wide		{ letter-spacing: .05em !important; }

.leading-none	{ line-height: 1 !important; }
.leading-tight	{ line-height: 1.25 !important; }
.leading-normal	{ line-height: $line-height-base !important; }
.leading-loose	{ line-height: 2 !important; }

.font-hairline	{ font-weight: 100 !important; }
.font-thin		{ font-weight: 200 !important; }
.font-light		{ font-weight: 300 !important; }
.font-normal	{ font-weight: 400 !important; }
.font-medium	{ font-weight: 500 !important; }
.font-semibold	{ font-weight: 600 !important; }
.font-bold		{ font-weight: 700 !important; }
.font-extrabold	{ font-weight: 800 !important; }
.font-black		{ font-weight: 900 !important; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-wrap {
  line-height: 1.66;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.5em;
      font-weight: 600;
    }
  }

  table {
    @extend .table, .table-bordered;
  }
}
