.breadcrumb {
  margin: 0;
  padding: 0;
  background: transparent;
}

.breadcrumb-dots {
  .breadcrumb-item + .breadcrumb-item::before {
    content: '·';
  }
}

.breadcrumb-arrows {
  .breadcrumb-item + .breadcrumb-item::before {
    content: $icon-fe-chevron-right;
    font-family: $font-icons;
    vertical-align: bottom;
  }
}
