.btn-secondary {
  @include button-variant($secondary, $border-color, $body-color);
}

.btn {
  &:not([class^="btn-outline"]):not([class*=" btn-outline"]):not([class^="btn-ghost"]):not([class*=" btn-ghost"]) {

    &:not(.btn-secondary) {
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .02);
    }

    &:not(.btn-light):not(.btn-link) {
      background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0), rgba($dark, .04) 90%);
    }

    &:not(:focus):not(.focus) {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05), inset 0 2px 0 -1px rgba(255, 255, 255, .1);
    }

    svg.icon {
      filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, .05));
    }
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }

  .icon {
    margin: 0 .25em 0 -.25em;
    font-size: 1.2em;
    vertical-align: sub;
  }

  .avatar {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: text-top;
    margin: 0 .5em 0 -.25em;
  }

  .icon-right {
    margin: 0 -.25em 0 .5em;
  }

  svg.icon {
    width: 1em;
    height: 1em;
    stroke-width: 1.5;
  }
}

.btn-lg {
  svg.icon {
    stroke-width: 2;
  }
}

.btn-pill {
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-radius: 10rem;
}

.btn-icon {
  min-width: add($btn-line-height * $btn-font-size + $btn-padding-y * 2, $btn-border-width * 2);

  .icon {
    margin: 0 -1em;
  }
}

// stylelint-disable declaration-no-important
.btn-link {
  box-shadow: none !important;
}

.btn-square {
  border-radius: 0;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -.5rem;
  margin-right: -.5rem;

  > .btn,
  > .dropdown {
    margin-bottom: .5rem;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

@if $enable-ghost-buttons {
  @each $vendor, $color in $theme-colors {
    .btn-ghost-#{$vendor} {
      @include button-variant(transparent, transparent, $color, $color, $color, #fff, $color, $color);
    }
  }
}

@if $enable-social-colors {
  @each $vendor, $color in $social-colors {
    .btn-#{$vendor} {
      @include button-variant($color, $color);
    }

    .btn-outline-#{$vendor} {
      @include button-outline-variant($color, $color);
    }
  }
}

@if $enable-extra-colors {
  @each $name, $color in $colors {
    .btn-#{$name} {
      @include button-variant($color, $color);
    }

    .btn-outline-#{$name} {
      @include button-outline-variant($color, $color);
    }
  }
}

.btn-options {
  display: flex;
  align-items: center;
  padding: 0;
  color: $text-muted;
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    outline: 0;
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }
}
