.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .04);
}

.card-link {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .08);
  }
}

.card-btn {
  padding: $card-spacer-y $card-spacer-x;
  text-align: center;
  background: rgba($primary, .02);
  transition: .3s background;

  &:hover {
    text-decoration: none;
    background: rgba($primary, .06);
  }
}

.card-cover {
  position: relative;
  padding: $card-spacer-y $card-spacer-x;
  background: #666 no-repeat center/cover;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: $light-black;
  }

  &:first-child,
  &:first-child::before {
    border-radius: $border-radius $border-radius 0 0;
  }
}

.card-cover-blurred {
  &::before {
    backdrop-filter: blur(2px);
  }
}

.card-footer {
  background: transparent;

  &:last-child {
    border-radius: 0 0 $border-radius $border-radius;
  }
}

.card-header {
  display: flex;
  align-items: center;
  background: transparent;
  min-height: 3.5rem;
}

.card-header-tabs {
  margin: (- $card-spacer-y) (- $card-spacer-x);
}

.card-progress {
  height: 4px;

  &:last-child {
    border-radius: 0 0 2px 2px;
  }

  &:first-child {
    border-radius: 2px 2px 0 0;
  }
}

.card-meta {
  color: $text-muted;
}

.card-title {
  display: block;
  font-size: $h4-font-size;
  font-weight: 500;
  line-height: 1;
  color: inherit;

  @at-root a#{&}:hover {
    color: inherit;
  }

  .card-header & {
    margin: 0;
  }
}

.card-body {
  > :last-child {
    margin-bottom: 0;
  }
}

.card-body-scrollable {
  overflow: auto;
}

/**
Card optinos
 */
.card-options {
  top: 1.5rem;
  right: .75rem;
  margin-left: auto;
}

.card-options-link {
  margin-left: .25rem;
  color: $text-muted-light;
  display: inline-block;
  min-width: 1rem;
}

/**
Card status
 */
.card-status {
  height: 2px;
  border-radius: $card-border-radius $card-border-radius 0 0;
}

.card-status-bottom {
  border-radius: 0 0 $card-border-radius $card-border-radius;
}

/**
Card table
 */
.card-table {
  margin-bottom: 0;

  tr {
    &:first-child {
      td,
      th {
        border-top: 0;
      }
    }

    td,
    th {
      border-top: 1px solid $border-color;

      &:first-child {
        padding-left: $card-spacer-x;
      }

      &:last-child {
        padding-right: $card-spacer-x;
      }
    }
  }

  .card-body + & {
    border-top: 1px solid $border-color;
  }
}

/*
Card code
 */
.card-code {
  background: $dark;

  .highlight {
    margin: 0;
  }

  pre {
    padding: 0;
    margin: 0;
    color: #fff;
    text-shadow: none;
    background: transparent;
  }
}

/*
Card chart
 */
.card-chart {
  height: 3.5rem;
  position: relative;
  z-index: 1;
}
