.dropdown-menu {
  min-width: 12rem;
  box-shadow: $box-shadow;
  user-select: none;
  margin: 0;

  .icon {
    width: 1em;
    margin-right: .5rem;
    color: inherit;
    opacity: .5;
    text-align: center;
    stroke-width: 2px;
  }

  &.card {
    padding: 0;
    min-width: $dropdown-menu-max-width;
    display: none;

    &.show {
      display: flex;
    }
  }
}

.dropdown-header {
  @include subheader;
  padding-bottom: .25rem;
  pointer-events: none;
}

.dropdown-menu-scrollable {
  height: auto;
  max-height: 12rem;
  overflow-x: hidden;
}

.dropdown-item {
  color: inherit;
  display: flex;
  align-items: center;
  margin: 0;
}

.dropdown-menu-arrow {
  margin-top: .75rem;

  &:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 12px;
    display: block;
    background: inherit;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    transform-origin: center;
    border: 1px solid;
    border-color: inherit;
    z-index: -1;
    clip: rect(0px, 9px, 9px, 0px);
  }

  &.dropdown-menu-right {
    &:before {
      right: 12px;
      left: auto;
    }
  }
}

.dropright {
  >.dropdown-menu {
    margin-top: subtract(-$dropdown-padding-y, 1px);
    margin-left: 0;
  }

  .dropdown-toggle {
    &:after {
      margin-left: auto;
    }
  }
}
