.dropdown-menu-scrollable {
  height: auto;
  max-height: 12rem;
  overflow-x: hidden;
}

.dropdown-menu {
  box-shadow: $box-shadow;
  min-width: 12rem;
}

.dropdown-menu-arrow {
  margin-top: .75rem;

  &:before {
    position: absolute;
    top: -6px;
    left: 12px;
    display: inline-block;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $border-color;
    border-left: 5px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  &:after {
    position: absolute;
    top: -5px;
    left: 12px;
    display: inline-block;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    content: '';
  }

  &.dropdown-menu-right {
    &:before,
    &:after {
      left: auto;
      right: 12px;
    }
  }
}

.dropdown-icon {
  color: $text-muted;
  margin-right: .5rem;
  margin-left: -.5rem;
  width: 1em;
  display: inline-block;
  text-align: center;
  vertical-align: -1px;
  stroke-width: 1.75px;
}
