.empty {
  text-align: center;
  color: $text-muted;
  padding: 3rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .empty-icon {
    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
  }

  .empty-title,
  .empty-subtitle {
    margin: 0 0 .5rem;
  }

  .empty-action {
    margin-top: 1.5rem;
  }
}

.empty-bordered {
  border-radius: $border-radius;
  border: 1px solid $border-color;
}
