.media-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: .5rem;
    grid-column: span 4;

    *{
        display: block;
        border-radius: 3px;
        padding-top: 56.25%;
        grid-column: span 4;
    }

    *:only-child{
        grid-column: span 12;
    }

    *:nth-last-child(n+2):nth-last-child(-n+2):first-child, *:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ * { 
        grid-column: span 6;
    }

    *:nth-last-child(n+3):nth-last-child(-n+3):first-child, *:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ * { 

        &:first-child{
            grid-column: span 8;
            grid-row: span 2;
        }
    }

    *:nth-last-child(n+4):nth-last-child(-n+4):first-child, *:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ * { 
        grid-column: span 6;
    }

    *:nth-last-child(n+5):nth-last-child(-n+5):first-child, *:nth-last-child(n+5):nth-last-child(-n+5):first-child ~ * { 
        @for $i from 1 through 2{
            &:nth-child(#{$i}){
                grid-column: span 6;
            }
        }
    }

    *:nth-last-child(n+7):nth-last-child(-n+7):first-child, *:nth-last-child(n+7):nth-last-child(-n+7):first-child ~ * {

        @for $i from 1 through 2{
            &:nth-child(#{$i}){
                grid-column: span 6;
            }
        }

        @for $i from 6 through 7{
            &:nth-child(#{$i}){
                grid-column: span 6;
            }
        }
    }

    *:nth-last-child(n+8):nth-last-child(-n+8):first-child, *:nth-last-child(n+8):nth-last-child(-n+8):first-child ~ * {
        grid-column: span 4;

        @for $i from 4 through 5{
            &:nth-child(#{$i}){
                grid-column: span 6;
            }
        }
    }

    *:nth-last-child(n+9):nth-last-child(-n+9):first-child, *:nth-last-child(n+9):nth-last-child(-n+9):first-child ~ * {
        grid-column: span 4;
    }

    *:nth-last-child(n+10):nth-last-child(-n+10):first-child, *:nth-last-child(n+10):nth-last-child(-n+10):first-child ~ * {
        
    }
}