.col-separator {
  border-left: 1px solid $border-color;
}

@each $name, $value in (0: 0, xs: .25rem, sm: .5rem, md: 1.5rem, lg: 3rem) {
  .row-#{$name} {
    margin-right: (-$value);
    margin-left: -($value);

    > .col,
    > [class*="col-"] {
      padding-right: $value;
      padding-left: $value;
    }

    .card {
      margin-bottom: 2 * $value;
    }
  }
}

.row-deck {
  > .col,
  > [class*="col-"] {
    display: flex;
    align-items: stretch;

    .card {
      flex: 1 1 auto;
    }
  }
}

.row-cards {
  @include media-breakpoint-down(sm) {
    margin-left: -($card-group-margin-sm / 2);
    margin-right: -($card-group-margin-sm / 2);

    >* {
      padding-left: $card-group-margin-sm / 2;
      padding-right: $card-group-margin-sm / 2;
    }
  }
}