.highlight {
  max-height: 40rem;
  margin: 1rem 0 2rem;
  overflow: auto;
  font-size: $font-size-base;
  background: #fcfcfc;
  border: 1px solid $border-color;
  border-radius: 3px;

  pre {
    height: 100%;
    margin-bottom: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
  }

  // stylelint-disable selector-class-pattern
  .hll {
    background-color: #ffc;
  }
  .c {
    color: #999;
  }
  .k {
    color: #069;
  }
  .o {
    color: #555;
  }
  .cm {
    color: #999;
  }
  .cp {
    color: #099;
  }
  .c1 {
    color: #999;
  }
  .cs {
    color: #999;
  }
  .gd {
    background-color: #fcc;
    border: 1px solid #c00;
  }
  .ge {
    font-style: italic;
  }
  .gr {
    color: #f00;
  }
  .gh {
    color: #030;
  }
  .gi {
    background-color: #cfc;
    border: 1px solid #0c0;
  }
  .go {
    color: #aaa;
  }
  .gp {
    color: #009;
  }
  .gu {
    color: #030;
  }
  .gt {
    color: #9c6;
  }
  .kc {
    color: #069;
  }
  .kd {
    color: #069;
  }
  .kn {
    color: #069;
  }
  .kp {
    color: #069;
  }
  .kr {
    color: #069;
  }
  .kt {
    color: #078;
  }
  .m {
    color: #f60;
  }
  .s {
    color: #d44950;
  }
  .na {
    color: #4f9fcf;
  }
  .nb {
    color: #366;
  }
  .nc { color: #0a8; }
  .no {
    color: #360;
  }
  .nd {
    color: #99f;
  }
  .ni {
    color: #999;
  }
  .ne {
    color: #c00;
  }
  .nf {
    color: #c0f;
  }
  .nl {
    color: #99f;
  }
  .nn {
    color: #0cf;
  }
  .nt {
    color: #2f6f9f;
  }
  .nv {
    color: #033;
  }
  .ow {
    color: #000;
  }
  .w {
    color: #bbb;
  }
  .mf {
    color: #f60;
  }
  .mh {
    color: #f60;
  }
  .mi {
    color: #f60;
  }
  .mo {
    color: #f60;
  }
  .sb {
    color: #c30;
  }
  .sc {
    color: #c30;
  }
  .sd {
    font-style: italic;
    color: #c30;
  }
  .s2 {
    color: #c30;
  }
  .se {
    color: #c30;
  }
  .sh {
    color: #c30;
  }
  .si {
    color: #a00;
  }
  .sx {
    color: #c30;
  }
  .sr {
    color: #3aa;
  }
  .s1 {
    color: #c30;
  }
  .ss {
    color: #fc3;
  }
  .bp {
    color: #366;
  }
  .vc {
    color: #033;
  }
  .vg {
    color: #033;
  }
  .vi {
    color: #033;
  }
  .il {
    color: #f60;
  }

  .css .o,
  .css .o + .nt,
  .css .nt + .nt {
    color: #999;
  }

  .language-bash:before,
  .language-sh:before {
    color: #009;
    content: "$ ";
    user-select: none;
  }

  .language-powershell:before {
    color: #009;
    content: "PM> ";
    user-select: none;
  }
}

.highlight-dark {
  color: $white;
  background: $dark;
  border-color: transparent;

  .c { color: #75715e; } /* Comment */
  .err { color: #960050; background-color: #1e0010; } /* Error */
  .k { color: #66d9ef; } /* Keyword */
  .l { color: #ae81ff; } /* Literal */
  .n { color: #f8f8f2; } /* Name */
  .o { color: #f92672; } /* Operator */
  .p { color: #f8f8f2; } /* Punctuation */
  .cm { color: #75715e; } /* Comment.Multiline */
  .cp { color: #75715e; } /* Comment.Preproc */
  .c1 { color: #75715e; } /* Comment.Single */
  .cs { color: #75715e; } /* Comment.Special */
  .ge { font-style: italic; } /* Generic.Emph */
  .gs { font-weight: $font-weight-bold; } /* Generic.Strong */
  .kc { color: #66d9ef; } /* Keyword.Constant */
  .kd { color: #66d9ef; } /* Keyword.Declaration */
  .kn { color: #f92672; } /* Keyword.Namespace */
  .kp { color: #66d9ef; } /* Keyword.Pseudo */
  .kr { color: #66d9ef; } /* Keyword.Reserved */
  .kt { color: #66d9ef; } /* Keyword.Type */
  .ld { color: #e6db74; } /* Literal.Date */
  .m { color: #ae81ff; } /* Literal.Number */
  .s { color: #e6db74; } /* Literal.String */
  .na { color: #a6e22e; } /* Name.Attribute */
  .nb { color: #f8f8f2; } /* Name.Builtin */
  .nc { color: #a6e22e; } /* Name.Class */
  .no { color: #66d9ef; } /* Name.Constant */
  .nd { color: #a6e22e; } /* Name.Decorator */
  .ni { color: #f8f8f2; } /* Name.Entity */
  .ne { color: #a6e22e; } /* Name.Exception */
  .nf { color: #a6e22e; } /* Name.Function */
  .nl { color: #f8f8f2; } /* Name.Label */
  .nn { color: #f8f8f2; } /* Name.Namespace */
  .nx { color: #a6e22e; } /* Name.Other */
  .py { color: #f8f8f2; } /* Name.Property */
  .nt { color: #f92672; } /* Name.Tag */
  .nv { color: #f8f8f2; } /* Name.Variable */
  .ow { color: #f92672; } /* Operator.Word */
  .w { color: #f8f8f2; } /* Text.Whitespace */
  .mf { color: #ae81ff; } /* Literal.Number.Float */
  .mh { color: #ae81ff; } /* Literal.Number.Hex */
  .mi { color: #ae81ff; } /* Literal.Number.Integer */
  .mo { color: #ae81ff; } /* Literal.Number.Oct */
  .sb { color: #e6db74; } /* Literal.String.Backtick */
  .sc { color: #e6db74; } /* Literal.String.Char */
  .sd { color: #e6db74; } /* Literal.String.Doc */
  .s2 { color: #e6db74; } /* Literal.String.Double */
  .se { color: #ae81ff; } /* Literal.String.Escape */
  .sh { color: #e6db74; } /* Literal.String.Heredoc */
  .si { color: #e6db74; } /* Literal.String.Interpol */
  .sx { color: #e6db74; } /* Literal.String.Other */
  .sr { color: #e6db74; } /* Literal.String.Regex */
  .s1 { color: #e6db74; } /* Literal.String.Single */
  .ss { color: #e6db74; } /* Literal.String.Symbol */
  .bp { color: #f8f8f2; } /* Name.Builtin.Pseudo */
  .vc { color: #f8f8f2; } /* Name.Variable.Class */
  .vg { color: #f8f8f2; } /* Name.Variable.Global */
  .vi { color: #f8f8f2; } /* Name.Variable.Instance */
  .il { color: #ae81ff; } /* Literal.Number.Integer.Long */

  .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
  .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
  .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
}
