.icon {
  width: 1em;
  height: 1em;
  font-size: 1em;
  vertical-align: -0.2em;

  &:hover {
    text-decoration: none;
  }
}

.icon-filled {
  fill: currentColor;
}

.icon-thick {
  stroke-width: 3;
}
.icon-thin {
  stroke-width: 1.5;
}

@each $icon, $value in $icons {
  .icon-#{$icon}{
    font-size: px2rem($value);
  }
}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -2px -1px 0;
  list-style: none;

  > li {
    flex: 1 0 4rem;
  }
}

.icons-list-wrap {
  overflow: hidden;
}

.icons-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  text-align: center;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  transition: background 150ms;

  i {
    font-size: 1.25rem;
  }
  a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $body-color;
  }

  &:hover{
    background: darken($color: white, $amount: 5);
  }
}