@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: relative;
  display: block;
  width: $loader-size;
  height: $loader-size;
  color: $blue;
  vertical-align: middle;

  //&:before,
  &::after {
    //margin: (- $loader-size / 2) 0 0 (- $loader-size / 2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }

  //&:before {
  //	border-radius: 50%;
  //	border: 3px solid currentColor;
  //	opacity: .15;
  //}

  &::after {
    border: 1px solid;
    border-color: transparent;
    border-top-color: currentColor;
    border-left-color: currentColor;

    border-radius: 50%;
    animation: loader .6s linear;
    animation-iteration-count: infinite;
  }
}
