/**
Markdown
 */
.markdown {
  font-size: 1rem;
  color: $gray-800;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 2rem;
      color: $body-color;
      font-weight: 400;
    }
  }

  >h2 {
    margin-bottom: 1rem;

    &:before {
      content: '';
      padding-top: 2rem;
      margin-top: -2rem;
      display: block;
    }
  }

  >hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  > table {
    @extend .table, .table-bordered;
  }
}