.modal-header,
.modal-body {
  padding-left: $modal-inner-padding;
  padding-right: $modal-inner-padding;
}

.modal-header {
  .close {
    font-size: 1rem;
    padding-right: $modal-inner-padding;
    margin-right: (- $modal-inner-padding);
  }
}

.modal-title {
  font-size: $h3-font-size;
  font-weight: $headings-font-weight;
  color: $headings-color;
  line-height: (24/18);
}

.modal-footer {
  padding-left: $modal-inner-padding - $modal-footer-margin-between / 2;
  padding-right: $modal-inner-padding - $modal-footer-margin-between / 2;
}

.modal-footer {
  background: $min-black;
}

.modal-blur {
  backdrop-filter: blur($modal-backdrop-blur);
}
