
.nav-tabs {
  .icon {
    color: $text-muted;
  }

  .nav-link {
    padding: $card-spacer-y $card-spacer-x;
    line-height: 20px;
    color: $text-muted;
    cursor: pointer;
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    transition: .3s color, .3s border-color;

    &:hover {
      color: $body-color;
      border-color: transparent;
    }

    &.disabled {
      color: rgba($text-muted, .2);
    }

    &.active {
      color: $body-color;
      background: inherit;
      border-color: transparent;
      border-bottom-color: $primary;
    }
  }
}

.nav-tabs-alt {
  .nav-link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
