.pagination {
  user-select: none;
}

.page-link {
  border-radius: $border-radius;
  min-width: px2rem(26px);

  &:hover {
    background: transparent;
  }
}

.page-item {
  text-align: center;

  &.page-prev,
  &.page-next {
    flex: 0 0 50%;
    text-align: left;
  }

  &.page-next {
    margin-left: auto;
    text-align: right;
  }
}

.page-item-subtitle {
  color: $text-muted;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 2px;

  .page-item.disabled &{
    color: $pagination-disabled-color;
  }
}

.page-item-title {
  color: $text-color;
  font-weight: 400;
  font-size: $h3-font-size;

  .page-link:hover & {
    color: $link-color;
  }

  .page-item.disabled &{
    color: $pagination-disabled-color;
  }
}
