
.tag {
  display: inline-flex;
  padding: .25em .75em;
  font-size: px2rem(12px);
  font-weight: 400;
  line-height: 1.5;
  color: $text-muted;
  cursor: default;
  user-select: none;
  background-color: $body-bg;
  border-radius: 3px;

  @at-root a#{&} {
    text-decoration: none;
    cursor: pointer;
    transition: .3s color, .3s background;

    &:hover {
      color: inherit;
      background-color: rgba($text-muted, .2);
    }
  }

}

.tag-addon {
  display: inline-block;
  min-width: 1.5rem;
  padding: 0 .5rem;
  margin: 0 -.5rem 0 .5rem;
  color: inherit;
  text-align: center;
  text-decoration: none;
  background: rgba(#000, .06);

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  i {
    margin: 0 -.25rem;
    vertical-align: middle;
  }

  @at-root a#{&} {
    text-decoration: none;
    cursor: pointer;
    transition: .3s color, .3s background;

    &:hover {
      color: inherit;
      background: rgba(#000, .16);
    }
  }
}

.tag-avatar {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .5rem 0 -.5rem;
  border-radius: 3px 0 0 3px;
}

@each $vendor, $color in $colors {
  .tag-#{$vendor} {
    color: #fff;
    background-color: $color;
  }
}

@each $vendor, $color in $theme-colors {
  .tag-#{$vendor} {
    color: #fff;
    background-color: $color;
  }
}

.tag-rounded {
  border-radius: 50px;

  .tag-avatar {
    border-radius: 50px;
  }
}

.tag-list {
  margin-bottom: -.5rem;
  font-size: 0;

  > .tag {
    margin-bottom: .5rem;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}
