@import "typo/hr";

.lead {
  line-height: 1.4;
}

a {
  text-decoration-skip-ink: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

  a {
    color: inherit;
  }
}

strong,
b {
  font-weight: 600;
}

blockquote {
  padding-left: 1rem;
  color: $text-muted;
  border-left: 2px solid $border-color;

  p {
    margin-bottom: 1rem;
  }

  cite {
    display: block;
    text-align: right;

    &::before {
      content: "— ";
    }
  }
}

code {
  padding: 3px;
  background: rgba($code-color, .03);
  border: 1px solid rgba($code-color, .064);
  border-radius: $border-radius;

  pre & {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
  }
}


pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  hyphens: none;
  line-height: 1.45;
  color: $gray-800;
  tab-size: 3;
  background-color: #f8fafc;
  border-radius: $border-radius;
  -webkit-font-smoothing: auto;
}

img {
  max-width: 100%;
}


/**
Selection
 */
::selection {
  color: #fff;
  background-color: lighten($primary, 8%);
}


/**
Subheader
 */
.subheader {
  @include subheader;
}

/**
Antialiasing
 */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

/**
Markdown
 */
.markdown {

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  > {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 2rem;
    }
  }

  table {
    @extend .table, .table-bordered;
  }
}
