.body-marketing {
  --#{$prefix}body-font-size: 15px;
  --#{$prefix}body-line-height: 1.6;
}

.body-gradient {
  background-image: linear-gradient(to bottom, transparent 12%, var(--#{$prefix}bg-surface) 99%);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: 100% 100vh;
}