//
// Sections
//
.section {
  --section-bg: transparent;
  background: var(--section-bg);
  position: relative;
  padding: 5rem 0;
}

.section-sm {
  padding: 4rem 0;
}

.section-white {
  --section-bg: var(--#{$prefix}bg-surface);
}

.section-light {
  --section-bg: var(--#{$prefix}bg-surface-secondary);
}

.section-dark {
  --section-bg: var(--#{$prefix}dark);
  color: $white;
}