.shape {
  background-color: var(--#{$prefix}primary-lt);
  color: var(--#{$prefix}primary);
  border-radius: 35%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1.5;
  }
}
