<section class="section{% if include.background %} section-{{ include.background }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
	<div class="container">
		<div class="row g-xl-6">
			<div class="col-lg-4">
				<div class="section-header text-start sticky-top">
					<div class="section-title">Frequently asked questions</div>
					<p class="section-description">Can’t find the answer you’re looking for? Reach out to our customer support team.</p>
				</div>
			</div>
			<div class="col-lg">
				<div class="space-y-5">
					<div>
						<div class="h3 mb-1">Can I use Tabler in commercial projects?</div>
						<div class="text-secondary">Of course! Tabler is under MIT license, so you can confidently use it in commercial projects. However, remember to include a note that your project uses Tabler.</div>
					</div>
					<div>
						<div class="h3 mb-1">How do I get notified of new Tabler versions?</div>
						<div class="text-secondary">You may watch the releases on GitHub or follow me on Twitter.</div>
					</div>
					<div>
						<div class="h3 mb-1">Can Tabler be used with WordPress?</div>
						<div class="text-secondary">
							Tabler is an HTML template that can be used for any purpose. However, it is not made to be easily installed on WordPress. It will require some effort and enough knowledge of the WordPress script to do so.
						</div>
					</div>
				</div>
				<div class="mt-5">
					<a class="btn" href="#">Read more questions</a>
				</div>
			</div>
		</div>
	</div>
</section>
