<section class="section{% if include.background %} section-{{ include.background }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">Frequently Asked Questions</h2>
		</div>
		<div class="row g-4">
			<div class="col-md-4 markdown">
				<h3 class="h2">How is Tabler Pro different from Tabler?</h3>
				<p class="text-secondary">Tabler offers fundamental components that you can piece together to build your app or website. However, Tabler Pro offers an elevated convenience by providing pre-assembled components and page templates, acting as ready-to-use building blocks that can be swiftly integrated into your app, thereby saving development time.</p>
			</div>
			<div class="col-md-4 markdown">
				<h3 class="h2">Is this a yearly subscription?</h3>
				<p class="text-secondary">Certainly, you have lifelong access to all our components. This implies that you will receive new components and updates every month, continuing as long as we have new component ideas to share.</p>
			</div>
			<div class="col-md-4 markdown">
				<h3 class="h2">I want to buy this but I can't afford it. Is there a discount?</h3>
				<p class="text-secondary">Should you be a student or find the cost excessively high in your local currency, please reach out to us at {{ site.email }} detailing your circumstances, and we will contemplate offering you a discount.</p>
			</div>
			<div class="col-md-4 markdown">
				<h3 class="h2">What can I do with this license?</h3>
				<ul class="text-secondary">
					<li>To build your websites or SaaS project that end-users need to pay</li>
					<li>To build an open-source tool or documentation website</li>
				</ul>
			</div>
			<div class="col-md-4 markdown">
				<h3 class="h2">What version of Tabler is used?</h3>
				<p class="text-secondary">The elements in Tabler Pro are created using Tabler v1.2 and later versions. If your current version is v0.8, we advise you to update to the latest version to make the most of the Pro components.</p>
			</div>
			<div class="col-md-4 markdown">
				<h3 class="h2">What restrictions does this license have?</h3>
				<ul class="text-secondary">
					<li>Create a clone of Tabler PRO to sell</li>
					<li>Create products like templates, themes, Figma or Sketch UI kits, page builders based on the PRO components</li>
					<li>Recreate the components for other UI libraries or CSS frameworks</li>
				</ul>
			</div>
		</div>
	</div>
</section>
