<section class="section{% if include.background %} section-{{ include.background }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
	{% include "marketing/section-divider.html" divider=include.divider %}
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">Everything you need to deploy your app</h2>
			<div class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
		</div>

		<div class="row g-10">
			<div class="col-lg-6">
				<div class="space-y-6">
					<div>
						<div class="row">
							<div class="col-auto">
								{% include "ui/shape.html" icon="tools" size="md" %}
							</div>
							<div class="col">
								<h3 class="h2 mb-2">Designed with users in mind</h3>
								<p class="text-secondary m-0">
									Tabler is fully responsive and compatible with all modern browsers. Thanks to its modern, user-friendly design you can create a fully functional interface that users will love. Every UI element has been created with
									attention to detail to make your interface beautiful!
								</p>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="col-auto">
								{% include "ui/shape.html" icon="brand-bootstrap" size="md" %}
							</div>
							<div class="col">
								<h3 class="h2 mb-2">Built for developers</h3>
								<p class="text-secondary m-0">
									Having in mind what it takes to write high-quality code, we want to help you speed up the development process and keep your code clean. Based on Bootstrap 5, Tabler is a cutting-edge solution, compatible with all modern
									browsers and fully responsive.
								</p>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="col-auto">
								{% include "ui/shape.html" icon="paint" size="md" %}
							</div>
							<div class="col">
								<h3 class="h2 mb-2">Fully customizable</h3>
								<p class="text-secondary m-0">You can easily customize the UI elements to make them fit the needs of your project. And don’t worry if you don’t have much experience - Tabler is easy to get started!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt-3 mt-lg-0">{% include "ui/svg.html" width=500 height=400 border=true %}</div>
		</div>
	</div>
</section>
