<section class="section{% if include.background %} section-{{ include.background }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
	{% include "marketing/section-divider.html" divider=include.divider %}
	<div class="container">
		<div class="row items-center text-center g-lg-10">
			<div class="col-md-6 col-lg">
				{% include "ui/shape.html" icon="devices" class="mb-3" size="md" %}
				<h2 class="h2">Mobile-optimized</h2>
				<p class="text-secondary">Our email templates are fully responsive, so you can be sure they will look great on any device and screen size.</p>
			</div>
			<div class="col-md-6 col-lg">
				{% include "ui/shape.html" icon="mailbox" class="mb-3" size="md" %}
				<h2 class="h2">Compatible with 90+ email clients</h2>
				<p class="text-secondary">Tested across 90+ email clients and devices, Tabler emails will help you make your email communication professional and reliable.</p>
			</div>
			<div class="col-md-6 col-lg">
				{% include "ui/shape.html" icon="palette" class="mb-3" size="md" %}
				<h2 class="h2">Unique, minimal design</h2>
				<p class="text-secondary">Draw recipients’ attention with beautiful, minimal email designs based on Bootstrap and Material Design principles.</p>
			</div>
		</div>
	</div>
</section>
