<section class="section{% if include.background %} section-{{ include.background }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
	<div class="container">
		<div class="section-header mb-6">
			<h2 class="section-title">Subscribe on our newsletter</h2>
			<p class="section-description">Get daily news on upcoming offers from many suppliers all over the world</p>
		</div>
	</div>

	<div class="container-tight">
		<div class="row">
			<div class="col">
				<input class="w-100 form-control" placeholder="Your Email" type="email" />
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-primary">{% include "ui/icon.html" icon="mail" %} Subscribe</button>
			</div>
		</div>
	</div>
</section>
