// All colors
@each $color, $value in map-merge($theme-colors, ( white: $white )) {
  .bg-#{"" + $color} {
    --#{$prefix}bg-opacity: 1;
    background-color: rgba(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}bg-opacity)) !important;
  }

  .bg-#{"" + $color}-lt {
    --#{$prefix}bg-opacity: 1;
    --#{$prefix}text-opacity: 1;
    color: rgba(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}text-opacity)) !important;
    background-color: rgba(var(--#{$prefix}#{$color}-lt-rgb), var(--#{$prefix}bg-opacity)) !important;
  }

  .border-#{"" + $color} {
    --#{$prefix}border-opacity: 1;
    border-color: rgba(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}border-opacity)) !important;
  }
}

@each $color, $value in $theme-colors {
  .text-#{"" + $color} {
    --#{$prefix}text-opacity: 1;
    color: rgba(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}text-opacity)) !important;
  }

  .text-#{"" + $color}-fg {
    color: var(--#{$prefix}#{$color}-fg) !important;
  }
}

@each $color, $value in $gray-colors {
  .bg-#{"" + $color} {
    --#{$prefix}bg-opacity: 1;
    background-color: rgba(var(--#{$prefix}#{$color}-rgb), var(--#{$prefix}bg-opacity)) !important;
  }

  .text-#{"" + $color}-fg {
    color: $value !important;
  }
}

.bg-surface {
  background-color: var(--#{$prefix}bg-surface) !important;
}

.bg-surface-secondary {
  background-color: var(--#{$prefix}bg-surface-secondary) !important;
}

.bg-surface-tertiary {
  background-color: var(--#{$prefix}bg-surface-tertiary) !important;
}