@use '../config' as *;

@layer utilities {
  .hover-shadow-sm:hover {
    box-shadow: $box-shadow-sm;
  }

  .hover-shadow:hover {
    box-shadow: $box-shadow;
  }

  .hover-shadow-lg:hover {
    box-shadow: $box-shadow-lg;
  }

  .hover-shadow-none:hover {
    box-shadow: none;
  }
}
