<div class="card">
	<div class="card-header">
		<h4 class="card-title">Authentication</h4>
	</div>
	<div class="card-body">
		<ul class="list-unstyled list-separated">
			<li class="list-separated-item">
				<div class="row align-items-center">
					<div class="col-auto w-8 text-center text-muted h1 m-0">
						<i class="si si-user"></i>
					</div>
					<div class="col">
						<div class="h5 mb-1">Everyone can look me up</div>
						<p class="text-muted m-0">A Jedi can feel the Force flowing through him. You mean it controls your actions</p>
					</div>
					<div class="col-auto text-right">
						<label class="custom-switch">
							<input type="checkbox" class="custom-switch-input">
							<span class="custom-switch-indicator"></span>
						</label>
					</div>
				</div>
			</li>
			<li class="list-separated-item">
				<div class="row align-items-center">
					<div class="col-auto w-8 text-center text-muted h1 m-0">
						<i class="si si-screen-smartphone"></i>
					</div>
					<div class="col">
						<div class="h5 mb-1">Everyone can contact me</div>
						<p class="text-muted m-0">When we heard about Alderaan, we were afraid that you were</p>
					</div>
					<div class="col-auto text-right">
						<label class="custom-switch">
							<input type="checkbox" class="custom-switch-input" checked>
							<span class="custom-switch-indicator"></span>
						</label>
					</div>
				</div>
			</li>
			<li class="list-separated-item">
				<div class="row align-items-center">
					<div class="col-auto w-8 text-center text-muted h1 m-0">
						<i class="si si-location-pin"></i>
					</div>
					<div class="col">
						<div class="h5 mb-1">Show my location</div>
						<p class="text-muted m-0"> I said, all systems have been alerted to your presence, sir. </p>
					</div>
					<div class="col-auto text-right">
						<label class="custom-switch">
							<input type="checkbox" class="custom-switch-input" checked>
							<span class="custom-switch-indicator"></span>
						</label>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>