<div class="card">
	<div class="card-header">
		<h4 class="card-title">Browser Stats</h4>
	</div>
	<table class="table card-table">
		<tr>
			<td width="1"><i class="fa fa-chrome text-muted"></i></td>
			<td>Google Chrome</td>
			<td class="text-right"><span class="text-muted">23%</span></td>
		</tr>
		<tr>
			<td><i class="fa fa-firefox text-muted"></i></td>
			<td>Mozila Firefox</td>
			<td class="text-right"><span class="text-muted">15%</span></td>
		</tr>
		<tr>
			<td><i class="fa fa-safari text-muted"></i></td>
			<td>Apple Safari</td>
			<td class="text-right"><span class="text-muted">7%</span></td>
		</tr>
		<tr>
			<td><i class="fa fa-internet-explorer text-muted"></i></td>
			<td>Internet Explorer</td>
			<td class="text-right"><span class="text-muted">9%</span></td>
		</tr>
		<tr>
			<td><i class="fa fa-opera text-muted"></i></td>
			<td>Opera mini</td>
			<td class="text-right"><span class="text-muted">23%</span></td>
		</tr>
		<tr>
			<td><i class="fa fa-edge text-muted"></i></td>
			<td>Microsoft edge</td>
			<td class="text-right"><span class="text-muted">9%</span></td>
		</tr>
	</table>
</div>