<div class="card">
	<header class="card-header">
		<h4 class="card-title">Feeds</h4>
		<div class="card-options">
			<button type="button" class="btn btn-option" data-toggle="tooltip" title="Edit">
				<i class="si si-pencil"></i>
			</button>
			<div class="dropdown card-options-dropdown">
				<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown"><i class="si si-options"></i></button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="javascript:void(0)">
						<i class="si si-bell mr-3"></i>News
					</a>
					<a class="dropdown-item" href="javascript:void(0)">
						<i class="si si-envelope mr-3"></i>Messages
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="javascript:void(0)">
						<i class="si si-pencil mr-3"></i>Edit Profile
					</a>
				</div>
			</div>
		</div>
	</header>
	<div class="card-body">
		<div class="media mb-3">
			<div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url({{ site.data.users[4].photo }})"></span></div>
			<div class="media-body">
				<h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Some of the fantastic things people have had to say about Ooooh</a></h5>
				<small class="text-muted">2 days ago</small>
			</div>
		</div>
		<div class="media mb-3">
			<div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url({{ site.data.users[5].photo }})"></span></div>
			<div class="media-body">
				<h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Here are just some of the magazine reviews we have had</a></h5>
				<small class="text-muted">1 day ago</small>
			</div>
		</div>
		<div class="media mb-3">
			<div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url({{ site.data.users[6].photo }})"></span></div>
			<div class="media-body">
				<h5 class="mb-0"><a href="javascript:void(0)" class="text-color">Lorem ipsum dolor amet, consectetur adipisicing elit.</a></h5>
				<small class="text-muted">2 days ago</small>
			</div>
		</div>
		<div class="media mb-3">
			<div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url({{ site.data.users[7].photo }})"></span></div>
			<div class="media-body">
				<h5 class="mb-0"><a href="javascript:void(0)" class="text-color">“It’s just brilliant. I will recommend it to everyone!”</a></h5>
				<small class="text-muted">2 mins ago</small>
			</div>
		</div>
		<div class="media">
			<div class="media-object mr-4"><span class="avatar avatar-md" style="background-image: url({{ site.data.users[8].photo }})"></span></div>
			<div class="media-body">
				<h5 class="mb-0"><a href="javascript:void(0)" class="text-color">John has just started working on the project</a></h5>
				<small class="text-muted">right now</small>
			</div>
		</div>
	</div>
</div>