<div class="card">
	<div class="card-header">
		<h3 class="card-title">
			Finance Stats
		</h3>
	</div>
	<div class="card-body">
		<ul class="list-unstyled">
			<li>
				<div class="row align-items-center">
					<div class="col-auto">
						<div class="h5 mb-0">
							IPO Margin
						</div>
						<span class="small text-muted">Awerage IPO Margin</span>
					</div>
					<div class="col text-right">
						<span class="h4 text-primary font-weight-bold">+24%</span>
					</div>
				</div>
			</li>
			<li class="mt-4">
				<div class="row align-items-center">
					<div class="col-auto">
						<div class="h5 mb-0">
							Payments
						</div>
						<span class="small text-muted">Yearly Expenses</span>
					</div>
					<div class="col text-right">
						<span class="h4 text-info font-weight-bold">+$560,800</span>
					</div>
				</div>
			</li>
			<li class="mt-4">
				<div class="row align-items-center">
					<div class="col-auto">
						<div class="h5 mb-0">
							Logistics
						</div>
						<span class="small text-muted">Overall Regional Logistics</span>
					</div>
					<div class="col text-right">
						<span class="h4 text-warning font-weight-bold">-10%</span>
					</div>
				</div>
			</li>
			<li class="mt-4">
				<div class="row align-items-center">
					<div class="col-auto">
						<div class="h5 mb-0">
							Expenses
						</div>
						<span class="small text-muted">Balance</span>
					</div>
					<div class="col text-right">
						<span class="h4 text-danger font-weight-bold">$345,000</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>