<div class="card">
	<div class="card-header">
		<h3 class="card-title">Icon/Text Groups</h3>
	</div>
	<div class="card-body">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-prepend"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" id="example-input1-group1" name="example-input1-group1" placeholder="Username">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<input type="email" class="form-control" id="example-input2-group1" name="example-input2-group1" placeholder="Email">
				<span class="input-group-append"><i class="fa fa-envelope-o"></i></span>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-prepend"><i class="fa fa-euro"></i></span>
				<input type="text" class="form-control" id="example-input3-group1" name="example-input3-group1" placeholder="..">
				<span class="input-group-append">.00</span>
			</div>
		</div>
		<div class="form-footer">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</div>