<div class="card">
	<div class="card-header">
		<h3 class="card-title">Map of Warsaw metro</h3>
		<div class="card-options">
			<div class="stamp bg-red">L2</div>
		</div>
	</div>
	<div class="card-map" id="map-metro"></div>

	<div class="card-body">
		<ul class="timeline">
			<li class="timeline-item">
				<div class="timeline-badge bg-red"></div>
				Rondo Daszyńskiego
				<div class="timeline-time">2 min. ago</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge"></div>
				Rondo ONZ
				<div class="timeline-time">1 min ago</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge bg-primary"></div>
				<div>
					<strong>Świętokrzyska</strong>
					<small class="d-block text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
				</div>
				<div class="timeline-time text-muted-dark">now</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge"></div>
				Nowy Świat-Uniwersytet
				<div class="timeline-time">2 min.</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge"></div>
				Centrum Nauki Kopernik
				<div class="timeline-time">3 min.</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge"></div>
				Stadion Narodowy
				<div class="timeline-time">5 min.</div>
			</li>
			<li class="timeline-item">
				<div class="timeline-badge bg-green"></div>
				Dworzec Wileński
				<div class="timeline-time">7 min.</div>
			</li>
		</ul>
	</div>
</div>

{% include js-google-maps.html id="map-metro" data="metro" %}