<div class="card">
	<div class="card-header">
		<h2 class="card-title">Projects</h2>
	</div>
	<table class="table card-table">
		<tr>
			<td>Admin Template</td>
			<td class="text-right">
				<span class="badge badge-default">65%</span>
			</td>
		</tr>
		<tr>
			<td>Landing Page</td>
			<td class="text-right">
				<span class="badge badge-success">Finished</span>
			</td>
		</tr>
		<tr>
			<td>Backend UI</td>
			<td class="text-right">
				<span class="badge badge-danger">Rejected</span>
			</td>
		</tr>
		<tr>
			<td>Personal Blog</td>
			<td class="text-right">
				<span class="badge badge-default">40%</span>
			</td>
		</tr>
		<tr>
			<td>E-mail Templates</td>
			<td class="text-right">
				<span class="badge badge-default">13%</span>
			</td>
		</tr>
		<tr>
			<td>Corporate Website</td>
			<td class="text-right">
				<span class="badge badge-warning">Pending</span>
			</td>
		</tr>
	</table>
</div>