<div class="card">
	<div class="card-body p-3 text-center">
		<div class="text-right {% if include.percentage > 0 %}text-green{% elsif include.percentage < 0 %}text-red{% endif %}">
			{{ include.percentage }}%
			{% if include.percentage > 0 %}
				<i class="fe fe-chevron-up"></i>
			{% elsif include.percentage < 0 %}
				<i class="fe fe-chevron-down"></i>
			{% endif %}
		</div>
		<div class="h1 m-0">{{ include.number }}</div>
		<div class="text-muted mb-4">{{ include.title }}</div>
	</div>
</div>