<div class="card">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item">
				<a class="nav-link active" href="javascript:void(0)">Active</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="javascript:void(0)">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<h4 class="card-title">Special title treatment</h4>
		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		<a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
	</div>
</div>