<div class="card">
	<div class="card-body">
		<div class="row text-center">
			<div class="col-lg-4">
				<h2 class="mb-1"><i class="mdi mdi-trending-down text-danger"></i> 25563</h2>
				<div class="text-muted-dark">Total tickets</div>
			</div>
			<div class="col-lg-4">
				<h2 class="mb-1"><i class="mdi mdi-trending-up text-success"></i> 6952</h2>
				<div class="text-muted-dark">Pending Tickets</div>
			</div>
			<div class="col-lg-4">
				<h2 class="mb-1"><i class="mdi mdi-trending-neutral text-warning"></i> 18361</h2>
				<div class="text-muted-dark">Closed Tickets</div>
			</div>
		</div>
	</div>
</div>