.tag {
	display: inline-block;
	font-size: px2rem(12px);
	color: $text-muted-dark;
	background-color: rgba($text-muted-dark, .1);
	border-radius: 3px;
	padding: 2px 5px;
	margin-right: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: default;
}