.lead {
	line-height: 1.4;
}

a {
	text-decoration-skip: ink;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	a {
		color: inherit;
	}
}

strong,
b {
	font-weight: 600;
}

p,
ul,
ol,
blockquote {
	margin-bottom: 1em;
}

blockquote {
	font-style: italic;
	color: $text-muted-dark;
	padding-left: 2rem;
	border-left: 2px solid $border-color;

	p {
		margin-bottom: 1rem;
	}

	cite {
		display: block;
		text-align: right;

		&:before {
			content: '— ';
		}
	}
}

hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

pre {
	color: $gray-800;
	padding: 1rem;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f8fafc;
	border-radius: 3px;
	tab-size: 4;
	text-shadow: 0 1px white;
	hyphens: none;
}

img {
	max-width: 100%;
}


.text-wrap {
	font-size: 1rem;
	line-height: 1.66;

	>:first-child {
		margin-top: 0;
	}

	> {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 1.5em;
		}
	}
}