@use "../node_modules/@docsearch/css/dist/style.css";

@import url('https://rsms.me/inter/inter.css');

:root {
  --docsearch-primary-color: var(--tblr-primary);
  --docsearch-searchbox-background: var(--tblr-bg-surface-primary);
  --docsearch-text-color: var(--tblr-body-text);
  --docsearch-key-shadow: 0 0 0 1px var(--tblr-border-color);
  --docsearch-key-gradient: var(--tblr-bg-surface-secondary);
}

.DocSearch-Button {
  width: 100%;
  box-shadow: 0 0 0 1px var(--tblr-border-color);
}

.DocSearch-Button-Key {
  top: 0;
}

.DocSearch-Container {
  z-index: 10000;
}

.no-transition {
	* {
		transition: none !important;
	}
}

.example>.modal,
.example>.offcanvas {
	display: block !important;
	position: relative !important;
}

.example>.offcanvas-backdrop {
	position: absolute !important;
}