.aside {
	background: #fff;
	display: flex;
	flex-direction: column;
	width: 16rem;
	border-right: 1px solid $border-color;
}

.aside-body {
	padding: 1.5rem;
	flex: 1 1 auto;
	overflow: auto;
}

.aside-footer {
	padding: 1rem 1.5rem;
	border-top: 1px solid $border-color;
}

.aside-header {
	padding: 1rem 1.5rem;
	border-bottom: 1px solid $border-color;
}