.aside {
	background: #fff;
	display: none;
	flex-direction: column;
	width: 16rem;
	border-right: 1px solid $border-color;

	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;

	@include media-breakpoint-up(xl) {
		display: flex;
	}
}

.aside-body {
	padding: 1.5rem;
	flex: 1 1 auto;
	overflow: auto;
}

.aside-footer {
	padding: 1rem 1.5rem;
	border-top: 1px solid $border-color;
}

.aside-header {
	padding: 1rem 1.5rem;
	border-bottom: 1px solid $border-color;
}