.avatar {
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 50%;
	display: inline-block;
	background: #999 no-repeat center/cover;
	position: relative;
	text-align: center;
	color: rgba(#fff, .8);
	font-weight: 600;
}

.avatar-status {
	position: absolute;
	right: -2px;
	bottom: -2px;
	width: .75rem;
	height: .75rem;
	border: 2px solid #fff;
	background: $gray-600;
	border-radius: 50%;
}

.avatar-sm {
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
}

.avatar-md {
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.avatar-lg {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
}

.avatar-xl {
	width: 4rem;
	height: 4rem;
	line-height: 4rem;
}

.avatar-xxl {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
}

.avatar-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 -.375rem -.75rem;
	padding: 0;
}

.avatar-list-item {
	padding: 0 .375rem .75rem;
}

.avatar-list-stacked {
	.avatar-list-item + .avatar-list-item {
		margin-left: -8%;
	}

	.avatar {
		box-shadow: 0 0 0 2px #fff;
	}
}