.bottombar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #363F51;
	border-top: 1px solid $border-color;

	z-index: 100;
	font-size: 1rem;
	padding: .75rem 0;
	color: #fff;
	box-shadow: 0 -1px 9px rgba(0, 0, 0, 0.05);
}

.bottombar-close {
	position: absolute;
	top: .75rem;
	right: 1rem;
	color: $text-muted;
	transition: .3s color;
	display: block;
	margin-left: 1rem;

	&:hover {
		color: $text-muted-dark;
	}
}

.bottombar-image {
	position: relative;
	display: block;
	margin: 0 1rem 0 0;

	@include media-breakpoint-up(lg) {
		margin: -176px 1rem -90px -25px;
	}

	img {
		width: 109px;
		display: block;

		@include media-breakpoint-up(lg) {
			width: 218px;
		}
	}
}
