.display-1,
.display-2,
.display-3,
.display-4 {
	i {
		vertical-align: baseline;
		font-size: 0.815em;
	}
}

.text-inherit { color: inherit !important; }
.text-default { color: $body-color !important; }
.text-muted-dark { color: $text-muted-dark !important; }