{% assign page-header = page.page-header | default: layout.page-header %}

<div class="content">
	<div class="container{% if page.layout-fluid %}-fluid{% else %}-xl{% endif %}{% if page.container-centered %} d-flex flex-column justify-content-center{% endif %}">
		{% if page-header %}
			{% assign description = page.page-header-description | default: layout.page-header-description %}
			{% assign actions = page.page-header-actions | default: layout.page-header-actions %}
			{% assign pretitle = page.page-header-pretitle | default: layout.page-header-pretitle %}
			{% assign class = page.page-header-class | default: layout.page-header-class %}
			{% assign icon = page.page-header-icon | default: layout.page-header-icon %}

			{% include layout/page-header.html title=page-header description=description actions=actions pretitle=pretitle icon=icon class=class %}
		{% endif %}

		{{ content }}
	</div>

	{% include layout/footer.html %}
</div>