{% assign page-header = page.page-header | default: layout.page-header %}

<div class="content">
	<div class="container{% if page.layout-fluid %}-fluid{% else %}-xl{% endif %}{% if page.container-centered %} d-flex flex-column justify-content-center{% endif %}">
		{% if page-header %}
		{% include layout/page-header.html title=page-header description=page.page-header-description actions=page.page-header-actions pretitle=page.page-header-pretitle class=page.page-header-class%}
		{% endif %}

		{{ content }}
	</div>

	{% include layout/footer.html %}
</div>