<div class="row row-deck row-cards">
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/sales.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/revenue.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/new-clients.html %}
	</div>

	<div class="col-sm-6 col-lg-3">
	  {% include cards/charts/active-users.html %}
	</div>

	<div class="col-12">
		<div class="row row-cards">
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html color="blue" icon="currency-dollar" title="132 Sales" description="12 waiting payments" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html color="green" icon="shopping-cart" title="78 Orders" description="32 shipped" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html icon="brand-twitter" color="twitter" title="623 Shares" description="16 today" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html icon="brand-facebook" color="facebook" title="132 Likes" description="21 today" %}
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Traffic summary</h3>
				{% include ui/chart.html chart-id="mentions" size="lg" legend=true %}
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		{% include cards/map-vector.html title="Locations" %}
	</div>

	{% comment %}
	<div class="col-lg-6">
		<div class="row row-cards">
			<div class="col-12">
			</div>

			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=43 title="New Tickets" percentage=6 %}
			</div>
			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=95 number-prefix="$" title="Daily Earnings" percentage=-2 %}
			</div>
			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=7 title="New Replies" percentage=9 %}
			</div>
		</div>
	</div>
	{% endcomment %}

	<div class="col-lg-6">
		<div class="row row-cards">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<p class="mb-3">Using Storage <strong>6854.45 MB </strong>of 8 GB</p>
						<div class="progress progress-separated mb-3">
							<div class="progress-bar bg-primary" role="progressbar" style="width: 44%" aria-label="Regular"></div>
							<div class="progress-bar bg-info" role="progressbar" style="width: 19%" aria-label="System"></div>
							<div class="progress-bar bg-success" role="progressbar" style="width: 9%" aria-label="Shared"></div>
						</div>
						<div class="row">
							<div class="col-auto d-flex align-items-center pe-2">
								<span class="legend me-2 bg-primary"></span>
								<span>Regular</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">915MB</span>
							</div>
							<div class="col-auto d-flex align-items-center px-2">
								<span class="legend me-2 bg-info"></span>
								<span>System</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">415MB</span>
							</div>
							<div class="col-auto d-flex align-items-center px-2">
								<span class="legend me-2 bg-success"></span>
								<span>Shared</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">201MB</span>
							</div>
							<div class="col-auto d-flex align-items-center ps-2">
								<span class="legend me-2"></span>
								<span>Free</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">612MB</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				{% include cards/activity.html %}
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		{% include cards/development-activity.html %}
	</div>

	<div class="col-12">
		{% include cards/icons-banner.html %}
	</div>

	<div class="col-md-12 col-lg-8">
		{% include cards/most-visited-pages.html %}
	</div>

	<div class="col-md-6 col-lg-4">
		{% include cards/sponsor.html %}
	</div>

	<div class="col-md-6 col-lg-4">
		{% include cards/social-traffic.html %}
	</div>

	<div class="col-md-12 col-lg-8">
		{% include cards/tasks.html %}
	</div>

	<div class="col-12">
		{% include cards/invoices.html %}
	</div>
</div>