<div class="navbar-minifier" data-bs-toggle="collapse"{% if include.target %} data-bs-target="#{{ include.target }}" aria-controls="{{ include.target }}"{% endif %} aria-expanded="true">
	<span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Reduce">{% include ui/icon.html icon="layout-sidebar-left-collapse" class="navbar-minifier-collapse-icon" %}</span>
	<span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Enlarge">{% include ui/icon.html icon="layout-sidebar-left-expand" class="navbar-minifier-expand-icon" %}</span>
</div>