<!-- Page title -->
<div class="page-header{% if include.class %} {{ include.class }}{% endif %}">

	<div class="row align-items-center">
		<div class="col">
			{% if include.pretitle %}
			<!-- Page pre-title -->
			<div class="page-pretitle">
				{{ include.pretitle }}
			</div>
			{% endif %}
			<h2 class="page-title">
				{{ include.title }}
			</h2>

			{% if include.description %}
				<div class="text-muted mt-1">{{ include.description }}</div>
			{% endif %}
		</div>

		{% if include.actions %}
			<!-- Page title actions -->
			<div class="col-auto ml-auto d-print-none">
				{% include layout/header-actions/{{ include.actions }}.html %}
			</div>
		{% endif %}
	</div>
</div>
