<div class="page-header">
	<div class="row align-items-center">
		<div class="col">
			<h2 class="page-title">Gallery</h2>
			<div class="text-muted mt-1">1-12 of 241 photos</div>
		</div>
		<div class="col-auto ms-auto d-print-none">
			<div class="d-flex">
				<div class="me-3 d-none d-md-block">
					<div class="input-icon">
						<input type="text" class="form-control" placeholder="Search…">
						<span class="input-icon-addon">
								{% include ui/icon.html icon="plus" %}
							</span>
					</div>
				</div>
				<a href="#" class="btn btn-primary">
					{% include ui/icon.html icon="plus" %}
					Add photo
				</a>
			</div>
		</div>
	</div>
</div>