{% assign actions = include.actions %}

<!-- Page title actions -->
<div class="col-auto ml-auto d-print-none">
	{% if actions == 'users' %}
	<div class="d-flex">
		<input type="search" class="form-control d-inline-block w-9 mr-3" placeholder="Search user…"/>
		{% include ui/button.html text="New user" color="primary" icon="plus" %}
	</div>
	{% elsif actions == 'calendar' %}
	<div class="d-flex">
		{% include ui/button.html text="Add event" color="primary" icon="plus" %}
	</div>
	{% elsif actions == 'photos' %}
	<div class="d-flex">
		<div class="mr-3">
			{% include ui/form/input-icon.html %}
		</div>
		{% include ui/button.html text="Add event" color="primary" icon="plus" %}
	</div>
	{% elsif actions == 'breadcrumb' %}
	<div class="d-flex">
		{% include ui/breadcrumb.html class="breadcrumb-alternate" %}
	</div>
	{% elsif actions == 'buttons' %}
	<span class="d-none d-sm-inline">
		{% include ui/button.html text="New view" color="white" %}
	</span>
	{% include ui/button.html icon="plus" text="Create new report" color="primary" class="ml-3 d-none d-sm-inline-block" modal-id="report" %}
	{% include ui/button.html icon="plus" icon-only=true color="primary" class="ml-3 d-sm-none" text="Create new report" modal-id="report" %}
	{% endif %}

	{% include ui/modal.html modal-id="report" size="lg" top=true %}
</div>
