{% assign page-header = page.page-header | default: layout.page-header %}
{% assign description = page.page-header-description | default: layout.page-header-description %}
{% assign actions = page.page-header-actions | default: layout.page-header-actions %}
{% assign pretitle = page.page-header-pretitle | default: layout.page-header-pretitle %}
{% assign class = page.page-header-class | default: layout.page-header-class %}
{% assign icon = page.page-header-icon | default: layout.page-header-icon %}


{% if page-header %}
<!-- Page title -->
<div class="page-header{% if class %} {{ class }}{% endif %} d-print-none">

	<div class="row align-items-center">
		<div class="col">
			{% if pretitle %}
			<!-- Page pre-title -->
			<div class="page-pretitle">
				{{ pretitle }}
			</div>
			{% endif %}
			<h2 class="page-title">
				{% if icon %}
					{% include ui/icon.html icon=icon %}
				{% endif %}
				{{ page-header }}
			</h2>

			{% if description %}
				<div class="text-muted mt-1">{{ description }}</div>
			{% endif %}
		</div>

		{% if actions %}
			<!-- Page title actions -->
			<div class="col-auto ms-auto d-print-none">
				{% include layout/header-actions/{{ actions }}.html %}
			</div>
		{% endif %}
	</div>
</div>
{% endif %}