<div class="dropdown">
   <a class="dropdown-toggle text-secondary"{% if include.id %} id="{{ include.id }}-dropdown"{% endif %} href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{ include.label | default: 'Select time range' }}">{{ include.value | default: 'Last 7 days' }}</a>
   <div class="dropdown-menu dropdown-menu-end"{% if include.id %} aria-labelledby="{{ include.id }}-dropdown"{% endif %}>
      <a class="dropdown-item active" href="#" aria-current="true">Last 7 days</a>
      <a class="dropdown-item" href="#">Last 30 days</a>
      <a class="dropdown-item" href="#">Last 3 months</a>
   </div>
</div>
