<div class="card">
   <div class="card-body">
      <div class="d-flex">
         <div>Sales</div>
         <div class="ml-auto">
            {% include parts/dropdown/days.html %}
         </div>
      </div>
      <div class="h1 mb-3">75%</div>
      <div class="d-flex mb-2">
         <div>Conversion rate</div>
         <div class="ml-auto text-green">
            24% {% include ui/icon.html icon="trending-up" class="icon-thin" %}
         </div>
      </div>
      {% include ui/progress.html percentage=75 color="blue" size="sm" %}
   </div>
</div>
