---
layout: base
---

{% comment %}
{% include aside.html %}
{% endcomment %}

<div class="flex-fill d-flex">

	<div class="aside">
		<div class="aside-body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda blanditiis consectetur culpa, cumque expedita illo in pariatur quibusdam voluptates? Eligendi est ex vero voluptate! In maxime optio perspiciatis repellat!
		</div>
		<div class="aside-footer">
			Aside footer
		</div>
	</div>

	<div class="flex-fill d-flex flex-column">
		{% include header.html %}

		<div class="my-3 my-md-5 flex-fill">
			{% if page.page-title %}
			<div class="container">
				<div class="page-header">
					<h1 class="page-title">{{ page.page-title }}</h1>
				</div>
			</div>
			{% endif %}

			{{ content }}
		</div>

		{% include footer-sub.html %}
		{% include footer.html %}
	</div>
</div>
