---
title: Dropzone
page-header: Dropzone
menu: base.dropzone
libs: dropzone
---


<div class="row row-cards">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Basic Usage</h3>
				{% include ui/dropzone.html id="default" %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Multiple File Upload</h3>
				{% include ui/dropzone.html id="multiple" multiple=true %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Custom Dropzone</h3>
				{% include ui/dropzone.html id="custom" custom=true text="Your text here" description="Your custom description here" %}
			</div>
		</div>
	</div>
</div>