---
title: Vector Maps
page-header: Vector Maps
menu: base.maps-vector
libs: jsvectormap, jsvectormap-world, jsvectormap-world-merc
---

<div class="row row-cards">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">World map</h3>
				{% include ui/map-vector.html map-id="world-merc" %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Map with markers</h3>
				{% include ui/map-vector.html map-id="world-markers" %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Map with markers and lines</h3>
				{% include ui/map-vector.html map-id="world-lines" %}
			</div>
		</div>
	</div>
</div>