---
title: Maps
page-header: Maps
menu: base.maps
libs: mapbox
---

<div class="row row-cards">
	{% for map in site.data.maps %}
	{% assign map-id = map[0] %}
		{% if map[1].card %}
			<div class="col-lg-12">
				<div class="card">
					{% include ui/map.html map-id=map-id ratio="21x9" %}
				</div>
			</div>
		{% else %}
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<div class="card-title">{{ map[1].title }}</div>
						{% include ui/map.html map-id=map-id %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>