---
layout: single
---

<div class="card card-md">
	<div class="card-body">
		<h2 class="mb-3">Your free trial period has expired!</h2>

		<p class="text-secondary mb-4">
			If you want to continue to benefit from Tabler, it's time to upgrade your plan.
		</p>

		<ul class="list-unstyled space-y">
			<li class="row g-2">
				<span class="col-auto">{% include ui/icon.html icon="check" class="me-1 text-success" %}</span>
				<span class="col">
					<strong class="d-block">Over 800+ productions</strong>
					<span class="d-block text-secondary">Unlimited movies, TV shows and more.</span>
				</span>
			</li>
			<li class="row g-2">
				<span class="col-auto">{% include ui/icon.html icon="check" class="me-1 text-success" %}</span>
				<span class="col">
					<strong class="d-block">Watch everywhere</strong>
					<span class="d-block text-secondary">Watch on smart TVs, PlayStation, Xbox, Apple TV, Blu-ray players and more.</span>
				</span>
			</li>
			<li class="row g-2">
				<span class="col-auto">{% include ui/icon.html icon="check" class="me-1 text-success" %}</span>
				<span class="col">
					<strong class="d-block">Personalize</strong>
					<span class="d-block text-secondary">Choose your own style, watch what you like.</span>
				</span>
			</li>
		</ul>

		<div class="my-4">
			<a href="#" class="btn btn-primary w-100">
				Upgrade to a paid plan
			</a>
		</div>

		<p class="text-secondary">
			If you need to get a trial extension please feel free to <a href="#">contact us</a>.
		</p>
	</div>
</div>