{% assign config = include.config %}
<div class="border rounded w-8 h-7 bg-light shadow-sm mx-auto d-flex flex-column">
	<div class="row row-0 flex-fill">
		{% if config.sidebar %}
		<div class="{% if config.sidebar-narrow %}col-auto w-2{% else %}col-3{% endif %} {% if config.sidebar-dark %}bg-dark{% else %}border-end bg-white{% endif %}"></div>
		{% endif %}
		<div class="col">
			{% unless config.hide-topnav %}
			<div class="h-2 {% if config.topnav-dark %}bg-dark{% else %}border-bottom bg-white{% endif %}"></div>
			{% endunless %}
			{% if config.topmenu %}
			<div class="h-2 {% if config.topmenu-dark %}bg-dark{% else %}border-bottom bg-white{% endif %}"></div>
			{% endif %}
		</div>
		{% if config.sidebar-right %}
		<div class="{% if config.sidebar-narrow %}col-auto w-2{% else %}col-3{% endif %} {% if config.sidebar-dark %}bg-dark{% else %}border-start bg-white{% endif %}"></div>
		{% endif %}
	</div>
</div>
