{% include ui/modal/close.html %}
<div class="modal-status bg-danger"></div>
<div class="modal-body text-center py-4">

	{% include ui/icon.html icon="alert-triangle" color="danger" size="lg" class="mb-2" %}

	<h3>Are you sure?</h3>
	<div class="text-muted">Do you really want to remove 84 files? What you've done cannot be undone.</div>
</div>

<div class="modal-footer">
	<div class="w-100">
		<div class="row">
			<div class="col">{% include ui/button.html dismiss=true text="Cancel" block=true %}</div>
			<div class="col">{% include ui/button.html color="danger" dismiss=true text="Delete 84 items" block=true %}</div>
		</div>
	</div>
</div>