<div class="modal-body">
	<div class="row">
		<div class="col-auto">{% include ui/avatar.html color="red" icon="alert-triangle" class="avatar-rounded" %}</div>
		<div class="col">
			<div class="h3">Are you sure you want to delete your account?
			</div>
			<div class="text-muted">Deleting your account is permanent and will remove all content including comments,
				avatars and profile settings. Are you sure you want to delete your account?
			</div>

			<div class="mt">
				<div class="btn-list justify-content-end">
					<div class="btn">Cancel</div>
					<div class="btn btn-danger">Deactivate</div>
				</div>
			</div>
		</div>
	</div>
</div>