{% include ui/modal/close.html %}
<div class="modal-body text-center py-5">

	{% include ui/icon.html icon="circle-check" color="green" class="icon-xl icon-thin mb-4" %}

	<h3>Payment succedeed</h3>
	<div class="text-muted">Your payment of $290 has been successfully submitted. Your invoice has been sent to support@tabler.io.</div>
</div>

<div class="modal-footer">
	{% include ui/button.html color="primary" dismiss=true text="View invoice" block=true %}
	{% include ui/button.html color="white" dismiss=true text="Go to dashboard" block=true %}
</div>