<div class="modal-body">
	<div class="text-center">
		<div class="mb">
			{% include ui/avatar.html color="green" icon="check" class="avatar-rounded" %}
		</div>
		<h3>Payment successful</h3>
		<div class="text-muted">Your payment was successful! If you paid via PayPal, you will receive a receipt from both IT Training and PayPal. If you paid via a departmental account, the account you indicated will be charged.</div>
	</div>

	<div class="mt-5">
		<div class="btn-list justify-content-end">
			<div class="btn">Cancel payment</div>
			<div class="btn btn-success">Go to Application</div>
		</div>
	</div>
</div>