{% include ui/modal/close.html %}
<div class="modal-status bg-success"></div>
<div class="modal-body text-center py-4">

	{% include ui/icon.html icon="circle-check" color="green" size="lg" class="mb-2" %}

	<h3>Payment succedeed</h3>
	<div class="text-muted">Your payment of $290 has been successfully submitted. Your invoice has been sent to support@tabler.io.</div>
</div>

<div class="modal-footer">
	<div class="w-100">
		<div class="row">
			<div class="col">{% include ui/button.html dismiss=true text="Go to dashboard" block=true %}</div>
			<div class="col">{% include ui/button.html color="success" dismiss=true text="View invoice" block=true %}</div>
		</div>
	</div>
</div>