<header class="navbar navbar-expand-lg navbar-transparent py-3">
	<div class="container">
		{% include layout/navbar-logo.html href="marketing" %}
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<nav class="navbar-nav ms-auto">
				<div class="nav-item">
					<a class="nav-link active" href="{{ site.base }}/marketing"><span class="nav-link-title">Home</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="{{ site.base }}/marketing/testimonials.html"><span class="nav-link-title">Testimonials</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="{{ site.base }}/marketing/pricing.html"><span class="nav-link-title">Pricing</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="{{ site.base }}/marketing/about.html"><span class="nav-link-title">About</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="{{ site.base }}/marketing/text.html"><span class="nav-link-title">Text</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="{{ site.base }}/marketing/hero.html"><span class="nav-link-title">App</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="{{ site.base }}/marketing/real-estate.html"><span class="nav-link-title">Real estate</span></a>
				</div>
				<div class="nav-item ms-4">
					<a href="#" class="btn btn-primary">Buy now</a>
				</div>
			</nav>
		</div>
	</div>
</header>