<header class="navbar navbar-expand-lg navbar-transparent py-3">
	<div class="container">
		{% include layout/navbar-logo.html href="marketing" %}
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<nav class="navbar-nav ms-auto">
				<div class="nav-item">
					<a class="nav-link active" href="{{ site.base }}/marketing"><span class="nav-link-title">Home</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="{{ site.base }}/marketing/pricing.html"><span class="nav-link-title">Pricing</span></a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="{{ site.base }}/marketing/hero.html"><span class="nav-link-title">Hero</span></a>
				</div>
				<div class="nav-item">
					<a
						href="{{ site.github-url }}"
						class="nav-link"
						target="_blank"
						rel="noreferrer"
					>
						<span class="nav-link-icon">{% include ui/icon.html icon="brand-github" class="me-2" %}</span>
						<span class="nav-link-title">Source code</span>
					</a>
				</div>
				<div class="nav-item">
					<a href="#" class="nav-link d-flex lh-1 text-reset" data-bs-toggle="dropdown" aria-label="Open user menu">
						<span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
						<div class="d-none d-xl-block ps-2">
							<div>Paweł Kuna</div>
							<div class="mt-1 small text-muted">UI Designer</div>
						</div>
					</a>
				</div>
			</nav>
		</div>
	</div>
</header>