@font-face {
    font-family: "feather";
    src: url("../fonts/feather/feather.woff2?2e82d8597220ce4a0fade57cb76f913e") format("woff2"),
url("../fonts/feather/feather.woff?2e82d8597220ce4a0fade57cb76f913e") format("woff"),
url("../fonts/feather/feather.ttf?2e82d8597220ce4a0fade57cb76f913e") format("truetype"),
url("../fonts/feather/feather.svg?2e82d8597220ce4a0fade57cb76f913e#feather") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fe {
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icon-fe-activity: "\f101";
.fe-activity:before {
    content: $icon-fe-activity;
}

$icon-fe-airplay: "\f102";
.fe-airplay:before {
    content: $icon-fe-airplay;
}

$icon-fe-alert-circle: "\f103";
.fe-alert-circle:before {
    content: $icon-fe-alert-circle;
}

$icon-fe-alert-octagon: "\f104";
.fe-alert-octagon:before {
    content: $icon-fe-alert-octagon;
}

$icon-fe-alert-triangle: "\f105";
.fe-alert-triangle:before {
    content: $icon-fe-alert-triangle;
}

$icon-fe-align-center: "\f106";
.fe-align-center:before {
    content: $icon-fe-align-center;
}

$icon-fe-align-justify: "\f107";
.fe-align-justify:before {
    content: $icon-fe-align-justify;
}

$icon-fe-align-left: "\f108";
.fe-align-left:before {
    content: $icon-fe-align-left;
}

$icon-fe-align-right: "\f109";
.fe-align-right:before {
    content: $icon-fe-align-right;
}

$icon-fe-anchor: "\f10a";
.fe-anchor:before {
    content: $icon-fe-anchor;
}

$icon-fe-aperture: "\f10b";
.fe-aperture:before {
    content: $icon-fe-aperture;
}

$icon-fe-archive: "\f10c";
.fe-archive:before {
    content: $icon-fe-archive;
}

$icon-fe-arrow-down-circle: "\f10d";
.fe-arrow-down-circle:before {
    content: $icon-fe-arrow-down-circle;
}

$icon-fe-arrow-down-left: "\f10e";
.fe-arrow-down-left:before {
    content: $icon-fe-arrow-down-left;
}

$icon-fe-arrow-down-right: "\f10f";
.fe-arrow-down-right:before {
    content: $icon-fe-arrow-down-right;
}

$icon-fe-arrow-down: "\f110";
.fe-arrow-down:before {
    content: $icon-fe-arrow-down;
}

$icon-fe-arrow-left-circle: "\f111";
.fe-arrow-left-circle:before {
    content: $icon-fe-arrow-left-circle;
}

$icon-fe-arrow-left: "\f112";
.fe-arrow-left:before {
    content: $icon-fe-arrow-left;
}

$icon-fe-arrow-right-circle: "\f113";
.fe-arrow-right-circle:before {
    content: $icon-fe-arrow-right-circle;
}

$icon-fe-arrow-right: "\f114";
.fe-arrow-right:before {
    content: $icon-fe-arrow-right;
}

$icon-fe-arrow-up-circle: "\f115";
.fe-arrow-up-circle:before {
    content: $icon-fe-arrow-up-circle;
}

$icon-fe-arrow-up-left: "\f116";
.fe-arrow-up-left:before {
    content: $icon-fe-arrow-up-left;
}

$icon-fe-arrow-up-right: "\f117";
.fe-arrow-up-right:before {
    content: $icon-fe-arrow-up-right;
}

$icon-fe-arrow-up: "\f118";
.fe-arrow-up:before {
    content: $icon-fe-arrow-up;
}

$icon-fe-at-sign: "\f119";
.fe-at-sign:before {
    content: $icon-fe-at-sign;
}

$icon-fe-award: "\f11a";
.fe-award:before {
    content: $icon-fe-award;
}

$icon-fe-bar-chart-2: "\f11b";
.fe-bar-chart-2:before {
    content: $icon-fe-bar-chart-2;
}

$icon-fe-bar-chart: "\f11c";
.fe-bar-chart:before {
    content: $icon-fe-bar-chart;
}

$icon-fe-battery-charging: "\f11d";
.fe-battery-charging:before {
    content: $icon-fe-battery-charging;
}

$icon-fe-battery: "\f11e";
.fe-battery:before {
    content: $icon-fe-battery;
}

$icon-fe-bell-off: "\f11f";
.fe-bell-off:before {
    content: $icon-fe-bell-off;
}

$icon-fe-bell: "\f120";
.fe-bell:before {
    content: $icon-fe-bell;
}

$icon-fe-bluetooth: "\f121";
.fe-bluetooth:before {
    content: $icon-fe-bluetooth;
}

$icon-fe-bold: "\f122";
.fe-bold:before {
    content: $icon-fe-bold;
}

$icon-fe-book-open: "\f123";
.fe-book-open:before {
    content: $icon-fe-book-open;
}

$icon-fe-book: "\f124";
.fe-book:before {
    content: $icon-fe-book;
}

$icon-fe-bookmark: "\f125";
.fe-bookmark:before {
    content: $icon-fe-bookmark;
}

$icon-fe-box: "\f126";
.fe-box:before {
    content: $icon-fe-box;
}

$icon-fe-briefcase: "\f127";
.fe-briefcase:before {
    content: $icon-fe-briefcase;
}

$icon-fe-calendar: "\f128";
.fe-calendar:before {
    content: $icon-fe-calendar;
}

$icon-fe-camera-off: "\f129";
.fe-camera-off:before {
    content: $icon-fe-camera-off;
}

$icon-fe-camera: "\f12a";
.fe-camera:before {
    content: $icon-fe-camera;
}

$icon-fe-cast: "\f12b";
.fe-cast:before {
    content: $icon-fe-cast;
}

$icon-fe-check-circle: "\f12c";
.fe-check-circle:before {
    content: $icon-fe-check-circle;
}

$icon-fe-check-square: "\f12d";
.fe-check-square:before {
    content: $icon-fe-check-square;
}

$icon-fe-check: "\f12e";
.fe-check:before {
    content: $icon-fe-check;
}

$icon-fe-chevron-down: "\f12f";
.fe-chevron-down:before {
    content: $icon-fe-chevron-down;
}

$icon-fe-chevron-left: "\f130";
.fe-chevron-left:before {
    content: $icon-fe-chevron-left;
}

$icon-fe-chevron-right: "\f131";
.fe-chevron-right:before {
    content: $icon-fe-chevron-right;
}

$icon-fe-chevron-up: "\f132";
.fe-chevron-up:before {
    content: $icon-fe-chevron-up;
}

$icon-fe-chevrons-down: "\f133";
.fe-chevrons-down:before {
    content: $icon-fe-chevrons-down;
}

$icon-fe-chevrons-left: "\f134";
.fe-chevrons-left:before {
    content: $icon-fe-chevrons-left;
}

$icon-fe-chevrons-right: "\f135";
.fe-chevrons-right:before {
    content: $icon-fe-chevrons-right;
}

$icon-fe-chevrons-up: "\f136";
.fe-chevrons-up:before {
    content: $icon-fe-chevrons-up;
}

$icon-fe-chrome: "\f137";
.fe-chrome:before {
    content: $icon-fe-chrome;
}

$icon-fe-circle: "\f138";
.fe-circle:before {
    content: $icon-fe-circle;
}

$icon-fe-clipboard: "\f139";
.fe-clipboard:before {
    content: $icon-fe-clipboard;
}

$icon-fe-clock: "\f13a";
.fe-clock:before {
    content: $icon-fe-clock;
}

$icon-fe-cloud-drizzle: "\f13b";
.fe-cloud-drizzle:before {
    content: $icon-fe-cloud-drizzle;
}

$icon-fe-cloud-lightning: "\f13c";
.fe-cloud-lightning:before {
    content: $icon-fe-cloud-lightning;
}

$icon-fe-cloud-off: "\f13d";
.fe-cloud-off:before {
    content: $icon-fe-cloud-off;
}

$icon-fe-cloud-rain: "\f13e";
.fe-cloud-rain:before {
    content: $icon-fe-cloud-rain;
}

$icon-fe-cloud-snow: "\f13f";
.fe-cloud-snow:before {
    content: $icon-fe-cloud-snow;
}

$icon-fe-cloud: "\f140";
.fe-cloud:before {
    content: $icon-fe-cloud;
}

$icon-fe-code: "\f141";
.fe-code:before {
    content: $icon-fe-code;
}

$icon-fe-codepen: "\f142";
.fe-codepen:before {
    content: $icon-fe-codepen;
}

$icon-fe-codesandbox: "\f143";
.fe-codesandbox:before {
    content: $icon-fe-codesandbox;
}

$icon-fe-coffee: "\f144";
.fe-coffee:before {
    content: $icon-fe-coffee;
}

$icon-fe-columns: "\f145";
.fe-columns:before {
    content: $icon-fe-columns;
}

$icon-fe-command: "\f146";
.fe-command:before {
    content: $icon-fe-command;
}

$icon-fe-compass: "\f147";
.fe-compass:before {
    content: $icon-fe-compass;
}

$icon-fe-copy: "\f148";
.fe-copy:before {
    content: $icon-fe-copy;
}

$icon-fe-corner-down-left: "\f149";
.fe-corner-down-left:before {
    content: $icon-fe-corner-down-left;
}

$icon-fe-corner-down-right: "\f14a";
.fe-corner-down-right:before {
    content: $icon-fe-corner-down-right;
}

$icon-fe-corner-left-down: "\f14b";
.fe-corner-left-down:before {
    content: $icon-fe-corner-left-down;
}

$icon-fe-corner-left-up: "\f14c";
.fe-corner-left-up:before {
    content: $icon-fe-corner-left-up;
}

$icon-fe-corner-right-down: "\f14d";
.fe-corner-right-down:before {
    content: $icon-fe-corner-right-down;
}

$icon-fe-corner-right-up: "\f14e";
.fe-corner-right-up:before {
    content: $icon-fe-corner-right-up;
}

$icon-fe-corner-up-left: "\f14f";
.fe-corner-up-left:before {
    content: $icon-fe-corner-up-left;
}

$icon-fe-corner-up-right: "\f150";
.fe-corner-up-right:before {
    content: $icon-fe-corner-up-right;
}

$icon-fe-cpu: "\f151";
.fe-cpu:before {
    content: $icon-fe-cpu;
}

$icon-fe-credit-card: "\f152";
.fe-credit-card:before {
    content: $icon-fe-credit-card;
}

$icon-fe-crop: "\f153";
.fe-crop:before {
    content: $icon-fe-crop;
}

$icon-fe-crosshair: "\f154";
.fe-crosshair:before {
    content: $icon-fe-crosshair;
}

$icon-fe-database: "\f155";
.fe-database:before {
    content: $icon-fe-database;
}

$icon-fe-delete: "\f156";
.fe-delete:before {
    content: $icon-fe-delete;
}

$icon-fe-disc: "\f157";
.fe-disc:before {
    content: $icon-fe-disc;
}

$icon-fe-dollar-sign: "\f158";
.fe-dollar-sign:before {
    content: $icon-fe-dollar-sign;
}

$icon-fe-download-cloud: "\f159";
.fe-download-cloud:before {
    content: $icon-fe-download-cloud;
}

$icon-fe-download: "\f15a";
.fe-download:before {
    content: $icon-fe-download;
}

$icon-fe-droplet: "\f15b";
.fe-droplet:before {
    content: $icon-fe-droplet;
}

$icon-fe-edit-2: "\f15c";
.fe-edit-2:before {
    content: $icon-fe-edit-2;
}

$icon-fe-edit-3: "\f15d";
.fe-edit-3:before {
    content: $icon-fe-edit-3;
}

$icon-fe-edit: "\f15e";
.fe-edit:before {
    content: $icon-fe-edit;
}

$icon-fe-external-link: "\f15f";
.fe-external-link:before {
    content: $icon-fe-external-link;
}

$icon-fe-eye-off: "\f160";
.fe-eye-off:before {
    content: $icon-fe-eye-off;
}

$icon-fe-eye: "\f161";
.fe-eye:before {
    content: $icon-fe-eye;
}

$icon-fe-facebook: "\f162";
.fe-facebook:before {
    content: $icon-fe-facebook;
}

$icon-fe-fast-forward: "\f163";
.fe-fast-forward:before {
    content: $icon-fe-fast-forward;
}

$icon-fe-feather: "\f164";
.fe-feather:before {
    content: $icon-fe-feather;
}

$icon-fe-figma: "\f165";
.fe-figma:before {
    content: $icon-fe-figma;
}

$icon-fe-file-minus: "\f166";
.fe-file-minus:before {
    content: $icon-fe-file-minus;
}

$icon-fe-file-plus: "\f167";
.fe-file-plus:before {
    content: $icon-fe-file-plus;
}

$icon-fe-file-text: "\f168";
.fe-file-text:before {
    content: $icon-fe-file-text;
}

$icon-fe-file: "\f169";
.fe-file:before {
    content: $icon-fe-file;
}

$icon-fe-film: "\f16a";
.fe-film:before {
    content: $icon-fe-film;
}

$icon-fe-filter: "\f16b";
.fe-filter:before {
    content: $icon-fe-filter;
}

$icon-fe-flag: "\f16c";
.fe-flag:before {
    content: $icon-fe-flag;
}

$icon-fe-folder-minus: "\f16d";
.fe-folder-minus:before {
    content: $icon-fe-folder-minus;
}

$icon-fe-folder-plus: "\f16e";
.fe-folder-plus:before {
    content: $icon-fe-folder-plus;
}

$icon-fe-folder: "\f16f";
.fe-folder:before {
    content: $icon-fe-folder;
}

$icon-fe-frown: "\f170";
.fe-frown:before {
    content: $icon-fe-frown;
}

$icon-fe-gift: "\f171";
.fe-gift:before {
    content: $icon-fe-gift;
}

$icon-fe-git-branch: "\f172";
.fe-git-branch:before {
    content: $icon-fe-git-branch;
}

$icon-fe-git-commit: "\f173";
.fe-git-commit:before {
    content: $icon-fe-git-commit;
}

$icon-fe-git-merge: "\f174";
.fe-git-merge:before {
    content: $icon-fe-git-merge;
}

$icon-fe-git-pull-request: "\f175";
.fe-git-pull-request:before {
    content: $icon-fe-git-pull-request;
}

$icon-fe-github: "\f176";
.fe-github:before {
    content: $icon-fe-github;
}

$icon-fe-gitlab: "\f177";
.fe-gitlab:before {
    content: $icon-fe-gitlab;
}

$icon-fe-globe: "\f178";
.fe-globe:before {
    content: $icon-fe-globe;
}

$icon-fe-grid: "\f179";
.fe-grid:before {
    content: $icon-fe-grid;
}

$icon-fe-hard-drive: "\f17a";
.fe-hard-drive:before {
    content: $icon-fe-hard-drive;
}

$icon-fe-hash: "\f17b";
.fe-hash:before {
    content: $icon-fe-hash;
}

$icon-fe-headphones: "\f17c";
.fe-headphones:before {
    content: $icon-fe-headphones;
}

$icon-fe-heart: "\f17d";
.fe-heart:before {
    content: $icon-fe-heart;
}

$icon-fe-help-circle: "\f17e";
.fe-help-circle:before {
    content: $icon-fe-help-circle;
}

$icon-fe-hexagon: "\f17f";
.fe-hexagon:before {
    content: $icon-fe-hexagon;
}

$icon-fe-home: "\f180";
.fe-home:before {
    content: $icon-fe-home;
}

$icon-fe-image: "\f181";
.fe-image:before {
    content: $icon-fe-image;
}

$icon-fe-inbox: "\f182";
.fe-inbox:before {
    content: $icon-fe-inbox;
}

$icon-fe-info: "\f183";
.fe-info:before {
    content: $icon-fe-info;
}

$icon-fe-instagram: "\f184";
.fe-instagram:before {
    content: $icon-fe-instagram;
}

$icon-fe-italic: "\f185";
.fe-italic:before {
    content: $icon-fe-italic;
}

$icon-fe-key: "\f186";
.fe-key:before {
    content: $icon-fe-key;
}

$icon-fe-layers: "\f187";
.fe-layers:before {
    content: $icon-fe-layers;
}

$icon-fe-layout: "\f188";
.fe-layout:before {
    content: $icon-fe-layout;
}

$icon-fe-life-buoy: "\f189";
.fe-life-buoy:before {
    content: $icon-fe-life-buoy;
}

$icon-fe-link-2: "\f18a";
.fe-link-2:before {
    content: $icon-fe-link-2;
}

$icon-fe-link: "\f18b";
.fe-link:before {
    content: $icon-fe-link;
}

$icon-fe-linkedin: "\f18c";
.fe-linkedin:before {
    content: $icon-fe-linkedin;
}

$icon-fe-list: "\f18d";
.fe-list:before {
    content: $icon-fe-list;
}

$icon-fe-loader: "\f18e";
.fe-loader:before {
    content: $icon-fe-loader;
}

$icon-fe-lock: "\f18f";
.fe-lock:before {
    content: $icon-fe-lock;
}

$icon-fe-log-in: "\f190";
.fe-log-in:before {
    content: $icon-fe-log-in;
}

$icon-fe-log-out: "\f191";
.fe-log-out:before {
    content: $icon-fe-log-out;
}

$icon-fe-mail: "\f192";
.fe-mail:before {
    content: $icon-fe-mail;
}

$icon-fe-map-pin: "\f193";
.fe-map-pin:before {
    content: $icon-fe-map-pin;
}

$icon-fe-map: "\f194";
.fe-map:before {
    content: $icon-fe-map;
}

$icon-fe-maximize-2: "\f195";
.fe-maximize-2:before {
    content: $icon-fe-maximize-2;
}

$icon-fe-maximize: "\f196";
.fe-maximize:before {
    content: $icon-fe-maximize;
}

$icon-fe-meh: "\f197";
.fe-meh:before {
    content: $icon-fe-meh;
}

$icon-fe-menu: "\f198";
.fe-menu:before {
    content: $icon-fe-menu;
}

$icon-fe-message-circle: "\f199";
.fe-message-circle:before {
    content: $icon-fe-message-circle;
}

$icon-fe-message-square: "\f19a";
.fe-message-square:before {
    content: $icon-fe-message-square;
}

$icon-fe-mic-off: "\f19b";
.fe-mic-off:before {
    content: $icon-fe-mic-off;
}

$icon-fe-mic: "\f19c";
.fe-mic:before {
    content: $icon-fe-mic;
}

$icon-fe-minimize-2: "\f19d";
.fe-minimize-2:before {
    content: $icon-fe-minimize-2;
}

$icon-fe-minimize: "\f19e";
.fe-minimize:before {
    content: $icon-fe-minimize;
}

$icon-fe-minus-circle: "\f19f";
.fe-minus-circle:before {
    content: $icon-fe-minus-circle;
}

$icon-fe-minus-square: "\f1a0";
.fe-minus-square:before {
    content: $icon-fe-minus-square;
}

$icon-fe-minus: "\f1a1";
.fe-minus:before {
    content: $icon-fe-minus;
}

$icon-fe-monitor: "\f1a2";
.fe-monitor:before {
    content: $icon-fe-monitor;
}

$icon-fe-moon: "\f1a3";
.fe-moon:before {
    content: $icon-fe-moon;
}

$icon-fe-more-horizontal: "\f1a4";
.fe-more-horizontal:before {
    content: $icon-fe-more-horizontal;
}

$icon-fe-more-vertical: "\f1a5";
.fe-more-vertical:before {
    content: $icon-fe-more-vertical;
}

$icon-fe-mouse-pointer: "\f1a6";
.fe-mouse-pointer:before {
    content: $icon-fe-mouse-pointer;
}

$icon-fe-move: "\f1a7";
.fe-move:before {
    content: $icon-fe-move;
}

$icon-fe-music: "\f1a8";
.fe-music:before {
    content: $icon-fe-music;
}

$icon-fe-navigation-2: "\f1a9";
.fe-navigation-2:before {
    content: $icon-fe-navigation-2;
}

$icon-fe-navigation: "\f1aa";
.fe-navigation:before {
    content: $icon-fe-navigation;
}

$icon-fe-octagon: "\f1ab";
.fe-octagon:before {
    content: $icon-fe-octagon;
}

$icon-fe-package: "\f1ac";
.fe-package:before {
    content: $icon-fe-package;
}

$icon-fe-paperclip: "\f1ad";
.fe-paperclip:before {
    content: $icon-fe-paperclip;
}

$icon-fe-pause-circle: "\f1ae";
.fe-pause-circle:before {
    content: $icon-fe-pause-circle;
}

$icon-fe-pause: "\f1af";
.fe-pause:before {
    content: $icon-fe-pause;
}

$icon-fe-pen-tool: "\f1b0";
.fe-pen-tool:before {
    content: $icon-fe-pen-tool;
}

$icon-fe-percent: "\f1b1";
.fe-percent:before {
    content: $icon-fe-percent;
}

$icon-fe-phone-call: "\f1b2";
.fe-phone-call:before {
    content: $icon-fe-phone-call;
}

$icon-fe-phone-forwarded: "\f1b3";
.fe-phone-forwarded:before {
    content: $icon-fe-phone-forwarded;
}

$icon-fe-phone-incoming: "\f1b4";
.fe-phone-incoming:before {
    content: $icon-fe-phone-incoming;
}

$icon-fe-phone-missed: "\f1b5";
.fe-phone-missed:before {
    content: $icon-fe-phone-missed;
}

$icon-fe-phone-off: "\f1b6";
.fe-phone-off:before {
    content: $icon-fe-phone-off;
}

$icon-fe-phone-outgoing: "\f1b7";
.fe-phone-outgoing:before {
    content: $icon-fe-phone-outgoing;
}

$icon-fe-phone: "\f1b8";
.fe-phone:before {
    content: $icon-fe-phone;
}

$icon-fe-pie-chart: "\f1b9";
.fe-pie-chart:before {
    content: $icon-fe-pie-chart;
}

$icon-fe-play-circle: "\f1ba";
.fe-play-circle:before {
    content: $icon-fe-play-circle;
}

$icon-fe-play: "\f1bb";
.fe-play:before {
    content: $icon-fe-play;
}

$icon-fe-plus-circle: "\f1bc";
.fe-plus-circle:before {
    content: $icon-fe-plus-circle;
}

$icon-fe-plus-square: "\f1bd";
.fe-plus-square:before {
    content: $icon-fe-plus-square;
}

$icon-fe-plus: "\f1be";
.fe-plus:before {
    content: $icon-fe-plus;
}

$icon-fe-pocket: "\f1bf";
.fe-pocket:before {
    content: $icon-fe-pocket;
}

$icon-fe-power: "\f1c0";
.fe-power:before {
    content: $icon-fe-power;
}

$icon-fe-printer: "\f1c1";
.fe-printer:before {
    content: $icon-fe-printer;
}

$icon-fe-radio: "\f1c2";
.fe-radio:before {
    content: $icon-fe-radio;
}

$icon-fe-refresh-ccw: "\f1c3";
.fe-refresh-ccw:before {
    content: $icon-fe-refresh-ccw;
}

$icon-fe-refresh-cw: "\f1c4";
.fe-refresh-cw:before {
    content: $icon-fe-refresh-cw;
}

$icon-fe-repeat: "\f1c5";
.fe-repeat:before {
    content: $icon-fe-repeat;
}

$icon-fe-rewind: "\f1c6";
.fe-rewind:before {
    content: $icon-fe-rewind;
}

$icon-fe-rotate-ccw: "\f1c7";
.fe-rotate-ccw:before {
    content: $icon-fe-rotate-ccw;
}

$icon-fe-rotate-cw: "\f1c8";
.fe-rotate-cw:before {
    content: $icon-fe-rotate-cw;
}

$icon-fe-rss: "\f1c9";
.fe-rss:before {
    content: $icon-fe-rss;
}

$icon-fe-save: "\f1ca";
.fe-save:before {
    content: $icon-fe-save;
}

$icon-fe-scissors: "\f1cb";
.fe-scissors:before {
    content: $icon-fe-scissors;
}

$icon-fe-search: "\f1cc";
.fe-search:before {
    content: $icon-fe-search;
}

$icon-fe-send: "\f1cd";
.fe-send:before {
    content: $icon-fe-send;
}

$icon-fe-server: "\f1ce";
.fe-server:before {
    content: $icon-fe-server;
}

$icon-fe-settings: "\f1cf";
.fe-settings:before {
    content: $icon-fe-settings;
}

$icon-fe-share-2: "\f1d0";
.fe-share-2:before {
    content: $icon-fe-share-2;
}

$icon-fe-share: "\f1d1";
.fe-share:before {
    content: $icon-fe-share;
}

$icon-fe-shield-off: "\f1d2";
.fe-shield-off:before {
    content: $icon-fe-shield-off;
}

$icon-fe-shield: "\f1d3";
.fe-shield:before {
    content: $icon-fe-shield;
}

$icon-fe-shopping-bag: "\f1d4";
.fe-shopping-bag:before {
    content: $icon-fe-shopping-bag;
}

$icon-fe-shopping-cart: "\f1d5";
.fe-shopping-cart:before {
    content: $icon-fe-shopping-cart;
}

$icon-fe-shuffle: "\f1d6";
.fe-shuffle:before {
    content: $icon-fe-shuffle;
}

$icon-fe-sidebar: "\f1d7";
.fe-sidebar:before {
    content: $icon-fe-sidebar;
}

$icon-fe-skip-back: "\f1d8";
.fe-skip-back:before {
    content: $icon-fe-skip-back;
}

$icon-fe-skip-forward: "\f1d9";
.fe-skip-forward:before {
    content: $icon-fe-skip-forward;
}

$icon-fe-slack: "\f1da";
.fe-slack:before {
    content: $icon-fe-slack;
}

$icon-fe-slash: "\f1db";
.fe-slash:before {
    content: $icon-fe-slash;
}

$icon-fe-sliders: "\f1dc";
.fe-sliders:before {
    content: $icon-fe-sliders;
}

$icon-fe-smartphone: "\f1dd";
.fe-smartphone:before {
    content: $icon-fe-smartphone;
}

$icon-fe-smile: "\f1de";
.fe-smile:before {
    content: $icon-fe-smile;
}

$icon-fe-speaker: "\f1df";
.fe-speaker:before {
    content: $icon-fe-speaker;
}

$icon-fe-square: "\f1e0";
.fe-square:before {
    content: $icon-fe-square;
}

$icon-fe-star: "\f1e1";
.fe-star:before {
    content: $icon-fe-star;
}

$icon-fe-stop-circle: "\f1e2";
.fe-stop-circle:before {
    content: $icon-fe-stop-circle;
}

$icon-fe-sun: "\f1e3";
.fe-sun:before {
    content: $icon-fe-sun;
}

$icon-fe-sunrise: "\f1e4";
.fe-sunrise:before {
    content: $icon-fe-sunrise;
}

$icon-fe-sunset: "\f1e5";
.fe-sunset:before {
    content: $icon-fe-sunset;
}

$icon-fe-tablet: "\f1e6";
.fe-tablet:before {
    content: $icon-fe-tablet;
}

$icon-fe-tag: "\f1e7";
.fe-tag:before {
    content: $icon-fe-tag;
}

$icon-fe-target: "\f1e8";
.fe-target:before {
    content: $icon-fe-target;
}

$icon-fe-terminal: "\f1e9";
.fe-terminal:before {
    content: $icon-fe-terminal;
}

$icon-fe-thermometer: "\f1ea";
.fe-thermometer:before {
    content: $icon-fe-thermometer;
}

$icon-fe-thumbs-down: "\f1eb";
.fe-thumbs-down:before {
    content: $icon-fe-thumbs-down;
}

$icon-fe-thumbs-up: "\f1ec";
.fe-thumbs-up:before {
    content: $icon-fe-thumbs-up;
}

$icon-fe-toggle-left: "\f1ed";
.fe-toggle-left:before {
    content: $icon-fe-toggle-left;
}

$icon-fe-toggle-right: "\f1ee";
.fe-toggle-right:before {
    content: $icon-fe-toggle-right;
}

$icon-fe-trash-2: "\f1ef";
.fe-trash-2:before {
    content: $icon-fe-trash-2;
}

$icon-fe-trash: "\f1f0";
.fe-trash:before {
    content: $icon-fe-trash;
}

$icon-fe-trello: "\f1f1";
.fe-trello:before {
    content: $icon-fe-trello;
}

$icon-fe-trending-down: "\f1f2";
.fe-trending-down:before {
    content: $icon-fe-trending-down;
}

$icon-fe-trending-up: "\f1f3";
.fe-trending-up:before {
    content: $icon-fe-trending-up;
}

$icon-fe-triangle: "\f1f4";
.fe-triangle:before {
    content: $icon-fe-triangle;
}

$icon-fe-truck: "\f1f5";
.fe-truck:before {
    content: $icon-fe-truck;
}

$icon-fe-tv: "\f1f6";
.fe-tv:before {
    content: $icon-fe-tv;
}

$icon-fe-twitter: "\f1f7";
.fe-twitter:before {
    content: $icon-fe-twitter;
}

$icon-fe-type: "\f1f8";
.fe-type:before {
    content: $icon-fe-type;
}

$icon-fe-umbrella: "\f1f9";
.fe-umbrella:before {
    content: $icon-fe-umbrella;
}

$icon-fe-underline: "\f1fa";
.fe-underline:before {
    content: $icon-fe-underline;
}

$icon-fe-unlock: "\f1fb";
.fe-unlock:before {
    content: $icon-fe-unlock;
}

$icon-fe-upload-cloud: "\f1fc";
.fe-upload-cloud:before {
    content: $icon-fe-upload-cloud;
}

$icon-fe-upload: "\f1fd";
.fe-upload:before {
    content: $icon-fe-upload;
}

$icon-fe-user-check: "\f1fe";
.fe-user-check:before {
    content: $icon-fe-user-check;
}

$icon-fe-user-minus: "\f1ff";
.fe-user-minus:before {
    content: $icon-fe-user-minus;
}

$icon-fe-user-plus: "\f200";
.fe-user-plus:before {
    content: $icon-fe-user-plus;
}

$icon-fe-user-x: "\f201";
.fe-user-x:before {
    content: $icon-fe-user-x;
}

$icon-fe-user: "\f202";
.fe-user:before {
    content: $icon-fe-user;
}

$icon-fe-users: "\f203";
.fe-users:before {
    content: $icon-fe-users;
}

$icon-fe-video-off: "\f204";
.fe-video-off:before {
    content: $icon-fe-video-off;
}

$icon-fe-video: "\f205";
.fe-video:before {
    content: $icon-fe-video;
}

$icon-fe-voicemail: "\f206";
.fe-voicemail:before {
    content: $icon-fe-voicemail;
}

$icon-fe-volume-1: "\f207";
.fe-volume-1:before {
    content: $icon-fe-volume-1;
}

$icon-fe-volume-2: "\f208";
.fe-volume-2:before {
    content: $icon-fe-volume-2;
}

$icon-fe-volume-x: "\f209";
.fe-volume-x:before {
    content: $icon-fe-volume-x;
}

$icon-fe-volume: "\f20a";
.fe-volume:before {
    content: $icon-fe-volume;
}

$icon-fe-watch: "\f20b";
.fe-watch:before {
    content: $icon-fe-watch;
}

$icon-fe-wifi-off: "\f20c";
.fe-wifi-off:before {
    content: $icon-fe-wifi-off;
}

$icon-fe-wifi: "\f20d";
.fe-wifi:before {
    content: $icon-fe-wifi;
}

$icon-fe-wind: "\f20e";
.fe-wind:before {
    content: $icon-fe-wind;
}

$icon-fe-x-circle: "\f20f";
.fe-x-circle:before {
    content: $icon-fe-x-circle;
}

$icon-fe-x-octagon: "\f210";
.fe-x-octagon:before {
    content: $icon-fe-x-octagon;
}

$icon-fe-x-square: "\f211";
.fe-x-square:before {
    content: $icon-fe-x-square;
}

$icon-fe-x: "\f212";
.fe-x:before {
    content: $icon-fe-x;
}

$icon-fe-youtube: "\f213";
.fe-youtube:before {
    content: $icon-fe-youtube;
}

$icon-fe-zap-off: "\f214";
.fe-zap-off:before {
    content: $icon-fe-zap-off;
}

$icon-fe-zap: "\f215";
.fe-zap:before {
    content: $icon-fe-zap;
}

$icon-fe-zoom-in: "\f216";
.fe-zoom-in:before {
    content: $icon-fe-zoom-in;
}

$icon-fe-zoom-out: "\f217";
.fe-zoom-out:before {
    content: $icon-fe-zoom-out;
}

