@font-face {
  font-family: 'Feather';
  src: url('../fonts/feather/feather.ttf?tabler') format('truetype'),
  url('../fonts/feather/feather.woff?tabler') format('woff'),
  url('../fonts/feather/feather.svg?tabler#Feather') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fe {
  font-family: 'Feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-fe-activity: "\e900";
.fe-activity:before {
  content: $icon-fe-activity;
}

$icon-fe-airplay: "\e901";
.fe-airplay:before {
  content: $icon-fe-airplay;
}

$icon-fe-alert-circle: "\e902";
.fe-alert-circle:before {
  content: $icon-fe-alert-circle;
}

$icon-fe-alert-octagon: "\e903";
.fe-alert-octagon:before {
  content: $icon-fe-alert-octagon;
}

$icon-fe-alert-triangle: "\e904";
.fe-alert-triangle:before {
  content: $icon-fe-alert-triangle;
}

$icon-fe-align-center: "\e905";
.fe-align-center:before {
  content: $icon-fe-align-center;
}

$icon-fe-align-justify: "\e906";
.fe-align-justify:before {
  content: $icon-fe-align-justify;
}

$icon-fe-align-left: "\e907";
.fe-align-left:before {
  content: $icon-fe-align-left;
}

$icon-fe-align-right: "\e908";
.fe-align-right:before {
  content: $icon-fe-align-right;
}

$icon-fe-anchor: "\e909";
.fe-anchor:before {
  content: $icon-fe-anchor;
}

$icon-fe-aperture: "\e90a";
.fe-aperture:before {
  content: $icon-fe-aperture;
}

$icon-fe-archive: "\e90b";
.fe-archive:before {
  content: $icon-fe-archive;
}

$icon-fe-arrow-down: "\e90c";
.fe-arrow-down:before {
  content: $icon-fe-arrow-down;
}

$icon-fe-arrow-down-circle: "\e90d";
.fe-arrow-down-circle:before {
  content: $icon-fe-arrow-down-circle;
}

$icon-fe-arrow-down-left: "\e90e";
.fe-arrow-down-left:before {
  content: $icon-fe-arrow-down-left;
}

$icon-fe-arrow-down-right: "\e90f";
.fe-arrow-down-right:before {
  content: $icon-fe-arrow-down-right;
}

$icon-fe-arrow-left: "\e910";
.fe-arrow-left:before {
  content: $icon-fe-arrow-left;
}

$icon-fe-arrow-left-circle: "\e911";
.fe-arrow-left-circle:before {
  content: $icon-fe-arrow-left-circle;
}

$icon-fe-arrow-right: "\e912";
.fe-arrow-right:before {
  content: $icon-fe-arrow-right;
}

$icon-fe-arrow-right-circle: "\e913";
.fe-arrow-right-circle:before {
  content: $icon-fe-arrow-right-circle;
}

$icon-fe-arrow-up: "\e914";
.fe-arrow-up:before {
  content: $icon-fe-arrow-up;
}

$icon-fe-arrow-up-circle: "\e915";
.fe-arrow-up-circle:before {
  content: $icon-fe-arrow-up-circle;
}

$icon-fe-arrow-up-left: "\e916";
.fe-arrow-up-left:before {
  content: $icon-fe-arrow-up-left;
}

$icon-fe-arrow-up-right: "\e917";
.fe-arrow-up-right:before {
  content: $icon-fe-arrow-up-right;
}

$icon-fe-at-sign: "\e918";
.fe-at-sign:before {
  content: $icon-fe-at-sign;
}

$icon-fe-award: "\e919";
.fe-award:before {
  content: $icon-fe-award;
}

$icon-fe-bar-chart: "\e91a";
.fe-bar-chart:before {
  content: $icon-fe-bar-chart;
}

$icon-fe-bar-chart-2: "\e91b";
.fe-bar-chart-2:before {
  content: $icon-fe-bar-chart-2;
}

$icon-fe-battery: "\e91c";
.fe-battery:before {
  content: $icon-fe-battery;
}

$icon-fe-battery-charging: "\e91d";
.fe-battery-charging:before {
  content: $icon-fe-battery-charging;
}

$icon-fe-bell: "\e91e";
.fe-bell:before {
  content: $icon-fe-bell;
}

$icon-fe-bell-off: "\e91f";
.fe-bell-off:before {
  content: $icon-fe-bell-off;
}

$icon-fe-bluetooth: "\e920";
.fe-bluetooth:before {
  content: $icon-fe-bluetooth;
}

$icon-fe-bold: "\e921";
.fe-bold:before {
  content: $icon-fe-bold;
}

$icon-fe-book: "\e922";
.fe-book:before {
  content: $icon-fe-book;
}

$icon-fe-book-open: "\e923";
.fe-book-open:before {
  content: $icon-fe-book-open;
}

$icon-fe-bookmark: "\e924";
.fe-bookmark:before {
  content: $icon-fe-bookmark;
}

$icon-fe-box: "\e925";
.fe-box:before {
  content: $icon-fe-box;
}

$icon-fe-briefcase: "\e926";
.fe-briefcase:before {
  content: $icon-fe-briefcase;
}

$icon-fe-calendar: "\e927";
.fe-calendar:before {
  content: $icon-fe-calendar;
}

$icon-fe-camera: "\e928";
.fe-camera:before {
  content: $icon-fe-camera;
}

$icon-fe-camera-off: "\e929";
.fe-camera-off:before {
  content: $icon-fe-camera-off;
}

$icon-fe-cast: "\e92a";
.fe-cast:before {
  content: $icon-fe-cast;
}

$icon-fe-check: "\e92b";
.fe-check:before {
  content: $icon-fe-check;
}

$icon-fe-check-circle: "\e92c";
.fe-check-circle:before {
  content: $icon-fe-check-circle;
}

$icon-fe-check-square: "\e92d";
.fe-check-square:before {
  content: $icon-fe-check-square;
}

$icon-fe-chevron-down: "\e92e";
.fe-chevron-down:before {
  content: $icon-fe-chevron-down;
}

$icon-fe-chevron-left: "\e92f";
.fe-chevron-left:before {
  content: $icon-fe-chevron-left;
}

$icon-fe-chevron-right: "\e930";
.fe-chevron-right:before {
  content: $icon-fe-chevron-right;
}

$icon-fe-chevron-up: "\e931";
.fe-chevron-up:before {
  content: $icon-fe-chevron-up;
}

$icon-fe-chevrons-down: "\e932";
.fe-chevrons-down:before {
  content: $icon-fe-chevrons-down;
}

$icon-fe-chevrons-left: "\e933";
.fe-chevrons-left:before {
  content: $icon-fe-chevrons-left;
}

$icon-fe-chevrons-right: "\e934";
.fe-chevrons-right:before {
  content: $icon-fe-chevrons-right;
}

$icon-fe-chevrons-up: "\e935";
.fe-chevrons-up:before {
  content: $icon-fe-chevrons-up;
}

$icon-fe-chrome: "\e936";
.fe-chrome:before {
  content: $icon-fe-chrome;
}

$icon-fe-circle: "\e937";
.fe-circle:before {
  content: $icon-fe-circle;
}

$icon-fe-clipboard: "\e938";
.fe-clipboard:before {
  content: $icon-fe-clipboard;
}

$icon-fe-clock: "\e939";
.fe-clock:before {
  content: $icon-fe-clock;
}

$icon-fe-cloud: "\e93a";
.fe-cloud:before {
  content: $icon-fe-cloud;
}

$icon-fe-cloud-drizzle: "\e93b";
.fe-cloud-drizzle:before {
  content: $icon-fe-cloud-drizzle;
}

$icon-fe-cloud-lightning: "\e93c";
.fe-cloud-lightning:before {
  content: $icon-fe-cloud-lightning;
}

$icon-fe-cloud-off: "\e93d";
.fe-cloud-off:before {
  content: $icon-fe-cloud-off;
}

$icon-fe-cloud-rain: "\e93e";
.fe-cloud-rain:before {
  content: $icon-fe-cloud-rain;
}

$icon-fe-cloud-snow: "\e93f";
.fe-cloud-snow:before {
  content: $icon-fe-cloud-snow;
}

$icon-fe-code: "\e940";
.fe-code:before {
  content: $icon-fe-code;
}

$icon-fe-codepen: "\e941";
.fe-codepen:before {
  content: $icon-fe-codepen;
}

$icon-fe-command: "\e942";
.fe-command:before {
  content: $icon-fe-command;
}

$icon-fe-compass: "\e943";
.fe-compass:before {
  content: $icon-fe-compass;
}

$icon-fe-copy: "\e944";
.fe-copy:before {
  content: $icon-fe-copy;
}

$icon-fe-corner-down-left: "\e945";
.fe-corner-down-left:before {
  content: $icon-fe-corner-down-left;
}

$icon-fe-corner-down-right: "\e946";
.fe-corner-down-right:before {
  content: $icon-fe-corner-down-right;
}

$icon-fe-corner-left-down: "\e947";
.fe-corner-left-down:before {
  content: $icon-fe-corner-left-down;
}

$icon-fe-corner-left-up: "\e948";
.fe-corner-left-up:before {
  content: $icon-fe-corner-left-up;
}

$icon-fe-corner-right-down: "\e949";
.fe-corner-right-down:before {
  content: $icon-fe-corner-right-down;
}

$icon-fe-corner-right-up: "\e94a";
.fe-corner-right-up:before {
  content: $icon-fe-corner-right-up;
}

$icon-fe-corner-up-left: "\e94b";
.fe-corner-up-left:before {
  content: $icon-fe-corner-up-left;
}

$icon-fe-corner-up-right: "\e94c";
.fe-corner-up-right:before {
  content: $icon-fe-corner-up-right;
}

$icon-fe-cpu: "\e94d";
.fe-cpu:before {
  content: $icon-fe-cpu;
}

$icon-fe-credit-card: "\e94e";
.fe-credit-card:before {
  content: $icon-fe-credit-card;
}

$icon-fe-crop: "\e94f";
.fe-crop:before {
  content: $icon-fe-crop;
}

$icon-fe-crosshair: "\e950";
.fe-crosshair:before {
  content: $icon-fe-crosshair;
}

$icon-fe-database: "\e951";
.fe-database:before {
  content: $icon-fe-database;
}

$icon-fe-delete: "\e952";
.fe-delete:before {
  content: $icon-fe-delete;
}

$icon-fe-disc: "\e953";
.fe-disc:before {
  content: $icon-fe-disc;
}

$icon-fe-dollar-sign: "\e954";
.fe-dollar-sign:before {
  content: $icon-fe-dollar-sign;
}

$icon-fe-download: "\e955";
.fe-download:before {
  content: $icon-fe-download;
}

$icon-fe-download-cloud: "\e956";
.fe-download-cloud:before {
  content: $icon-fe-download-cloud;
}

$icon-fe-droplet: "\e957";
.fe-droplet:before {
  content: $icon-fe-droplet;
}

$icon-fe-edit: "\e958";
.fe-edit:before {
  content: $icon-fe-edit;
}

$icon-fe-edit-2: "\e959";
.fe-edit-2:before {
  content: $icon-fe-edit-2;
}

$icon-fe-edit-3: "\e95a";
.fe-edit-3:before {
  content: $icon-fe-edit-3;
}

$icon-fe-external-link: "\e95b";
.fe-external-link:before {
  content: $icon-fe-external-link;
}

$icon-fe-eye: "\e95c";
.fe-eye:before {
  content: $icon-fe-eye;
}

$icon-fe-eye-off: "\e95d";
.fe-eye-off:before {
  content: $icon-fe-eye-off;
}

$icon-fe-facebook: "\e95e";
.fe-facebook:before {
  content: $icon-fe-facebook;
}

$icon-fe-fast-forward: "\e95f";
.fe-fast-forward:before {
  content: $icon-fe-fast-forward;
}

$icon-fe-feather: "\e960";
.fe-feather:before {
  content: $icon-fe-feather;
}

$icon-fe-file: "\e961";
.fe-file:before {
  content: $icon-fe-file;
}

$icon-fe-file-minus: "\e962";
.fe-file-minus:before {
  content: $icon-fe-file-minus;
}

$icon-fe-file-plus: "\e963";
.fe-file-plus:before {
  content: $icon-fe-file-plus;
}

$icon-fe-file-text: "\e964";
.fe-file-text:before {
  content: $icon-fe-file-text;
}

$icon-fe-film: "\e965";
.fe-film:before {
  content: $icon-fe-film;
}

$icon-fe-filter: "\e966";
.fe-filter:before {
  content: $icon-fe-filter;
}

$icon-fe-flag: "\e967";
.fe-flag:before {
  content: $icon-fe-flag;
}

$icon-fe-folder: "\e968";
.fe-folder:before {
  content: $icon-fe-folder;
}

$icon-fe-folder-minus: "\e969";
.fe-folder-minus:before {
  content: $icon-fe-folder-minus;
}

$icon-fe-folder-plus: "\e96a";
.fe-folder-plus:before {
  content: $icon-fe-folder-plus;
}

$icon-fe-gift: "\e96b";
.fe-gift:before {
  content: $icon-fe-gift;
}

$icon-fe-git-branch: "\e96c";
.fe-git-branch:before {
  content: $icon-fe-git-branch;
}

$icon-fe-git-commit: "\e96d";
.fe-git-commit:before {
  content: $icon-fe-git-commit;
}

$icon-fe-git-merge: "\e96e";
.fe-git-merge:before {
  content: $icon-fe-git-merge;
}

$icon-fe-git-pull-request: "\e96f";
.fe-git-pull-request:before {
  content: $icon-fe-git-pull-request;
}

$icon-fe-github: "\e970";
.fe-github:before {
  content: $icon-fe-github;
}

$icon-fe-gitlab: "\e971";
.fe-gitlab:before {
  content: $icon-fe-gitlab;
}

$icon-fe-globe: "\e972";
.fe-globe:before {
  content: $icon-fe-globe;
}

$icon-fe-grid: "\e973";
.fe-grid:before {
  content: $icon-fe-grid;
}

$icon-fe-hard-drive: "\e974";
.fe-hard-drive:before {
  content: $icon-fe-hard-drive;
}

$icon-fe-hash: "\e975";
.fe-hash:before {
  content: $icon-fe-hash;
}

$icon-fe-headphones: "\e976";
.fe-headphones:before {
  content: $icon-fe-headphones;
}

$icon-fe-heart: "\e977";
.fe-heart:before {
  content: $icon-fe-heart;
}

$icon-fe-help-circle: "\e978";
.fe-help-circle:before {
  content: $icon-fe-help-circle;
}

$icon-fe-home: "\e979";
.fe-home:before {
  content: $icon-fe-home;
}

$icon-fe-image: "\e97a";
.fe-image:before {
  content: $icon-fe-image;
}

$icon-fe-inbox: "\e97b";
.fe-inbox:before {
  content: $icon-fe-inbox;
}

$icon-fe-info: "\e97c";
.fe-info:before {
  content: $icon-fe-info;
}

$icon-fe-instagram: "\e97d";
.fe-instagram:before {
  content: $icon-fe-instagram;
}

$icon-fe-italic: "\e97e";
.fe-italic:before {
  content: $icon-fe-italic;
}

$icon-fe-layers: "\e97f";
.fe-layers:before {
  content: $icon-fe-layers;
}

$icon-fe-layout: "\e980";
.fe-layout:before {
  content: $icon-fe-layout;
}

$icon-fe-life-buoy: "\e981";
.fe-life-buoy:before {
  content: $icon-fe-life-buoy;
}

$icon-fe-link: "\e982";
.fe-link:before {
  content: $icon-fe-link;
}

$icon-fe-link-2: "\e983";
.fe-link-2:before {
  content: $icon-fe-link-2;
}

$icon-fe-linkedin: "\e984";
.fe-linkedin:before {
  content: $icon-fe-linkedin;
}

$icon-fe-list: "\e985";
.fe-list:before {
  content: $icon-fe-list;
}

$icon-fe-loader: "\e986";
.fe-loader:before {
  content: $icon-fe-loader;
}

$icon-fe-lock: "\e987";
.fe-lock:before {
  content: $icon-fe-lock;
}

$icon-fe-log-in: "\e988";
.fe-log-in:before {
  content: $icon-fe-log-in;
}

$icon-fe-log-out: "\e989";
.fe-log-out:before {
  content: $icon-fe-log-out;
}

$icon-fe-mail: "\e98a";
.fe-mail:before {
  content: $icon-fe-mail;
}

$icon-fe-map: "\e98b";
.fe-map:before {
  content: $icon-fe-map;
}

$icon-fe-map-pin: "\e98c";
.fe-map-pin:before {
  content: $icon-fe-map-pin;
}

$icon-fe-maximize: "\e98d";
.fe-maximize:before {
  content: $icon-fe-maximize;
}

$icon-fe-maximize-2: "\e98e";
.fe-maximize-2:before {
  content: $icon-fe-maximize-2;
}

$icon-fe-menu: "\e98f";
.fe-menu:before {
  content: $icon-fe-menu;
}

$icon-fe-message-circle: "\e990";
.fe-message-circle:before {
  content: $icon-fe-message-circle;
}

$icon-fe-message-square: "\e991";
.fe-message-square:before {
  content: $icon-fe-message-square;
}

$icon-fe-mic: "\e992";
.fe-mic:before {
  content: $icon-fe-mic;
}

$icon-fe-mic-off: "\e993";
.fe-mic-off:before {
  content: $icon-fe-mic-off;
}

$icon-fe-minimize: "\e994";
.fe-minimize:before {
  content: $icon-fe-minimize;
}

$icon-fe-minimize-2: "\e995";
.fe-minimize-2:before {
  content: $icon-fe-minimize-2;
}

$icon-fe-minus: "\e996";
.fe-minus:before {
  content: $icon-fe-minus;
}

$icon-fe-minus-circle: "\e997";
.fe-minus-circle:before {
  content: $icon-fe-minus-circle;
}

$icon-fe-minus-square: "\e998";
.fe-minus-square:before {
  content: $icon-fe-minus-square;
}

$icon-fe-monitor: "\e999";
.fe-monitor:before {
  content: $icon-fe-monitor;
}

$icon-fe-moon: "\e99a";
.fe-moon:before {
  content: $icon-fe-moon;
}

$icon-fe-more-horizontal: "\e99b";
.fe-more-horizontal:before {
  content: $icon-fe-more-horizontal;
}

$icon-fe-more-vertical: "\e99c";
.fe-more-vertical:before {
  content: $icon-fe-more-vertical;
}

$icon-fe-move: "\e99d";
.fe-move:before {
  content: $icon-fe-move;
}

$icon-fe-music: "\e99e";
.fe-music:before {
  content: $icon-fe-music;
}

$icon-fe-navigation: "\e99f";
.fe-navigation:before {
  content: $icon-fe-navigation;
}

$icon-fe-navigation-2: "\e9a0";
.fe-navigation-2:before {
  content: $icon-fe-navigation-2;
}

$icon-fe-octagon: "\e9a1";
.fe-octagon:before {
  content: $icon-fe-octagon;
}

$icon-fe-package: "\e9a2";
.fe-package:before {
  content: $icon-fe-package;
}

$icon-fe-paperclip: "\e9a3";
.fe-paperclip:before {
  content: $icon-fe-paperclip;
}

$icon-fe-pause: "\e9a4";
.fe-pause:before {
  content: $icon-fe-pause;
}

$icon-fe-pause-circle: "\e9a5";
.fe-pause-circle:before {
  content: $icon-fe-pause-circle;
}

$icon-fe-percent: "\e9a6";
.fe-percent:before {
  content: $icon-fe-percent;
}

$icon-fe-phone: "\e9a7";
.fe-phone:before {
  content: $icon-fe-phone;
}

$icon-fe-phone-call: "\e9a8";
.fe-phone-call:before {
  content: $icon-fe-phone-call;
}

$icon-fe-phone-forwarded: "\e9a9";
.fe-phone-forwarded:before {
  content: $icon-fe-phone-forwarded;
}

$icon-fe-phone-incoming: "\e9aa";
.fe-phone-incoming:before {
  content: $icon-fe-phone-incoming;
}

$icon-fe-phone-missed: "\e9ab";
.fe-phone-missed:before {
  content: $icon-fe-phone-missed;
}

$icon-fe-phone-off: "\e9ac";
.fe-phone-off:before {
  content: $icon-fe-phone-off;
}

$icon-fe-phone-outgoing: "\e9ad";
.fe-phone-outgoing:before {
  content: $icon-fe-phone-outgoing;
}

$icon-fe-pie-chart: "\e9ae";
.fe-pie-chart:before {
  content: $icon-fe-pie-chart;
}

$icon-fe-play: "\e9af";
.fe-play:before {
  content: $icon-fe-play;
}

$icon-fe-play-circle: "\e9b0";
.fe-play-circle:before {
  content: $icon-fe-play-circle;
}

$icon-fe-plus: "\e9b1";
.fe-plus:before {
  content: $icon-fe-plus;
}

$icon-fe-plus-circle: "\e9b2";
.fe-plus-circle:before {
  content: $icon-fe-plus-circle;
}

$icon-fe-plus-square: "\e9b3";
.fe-plus-square:before {
  content: $icon-fe-plus-square;
}

$icon-fe-pocket: "\e9b4";
.fe-pocket:before {
  content: $icon-fe-pocket;
}

$icon-fe-power: "\e9b5";
.fe-power:before {
  content: $icon-fe-power;
}

$icon-fe-printer: "\e9b6";
.fe-printer:before {
  content: $icon-fe-printer;
}

$icon-fe-radio: "\e9b7";
.fe-radio:before {
  content: $icon-fe-radio;
}

$icon-fe-refresh-ccw: "\e9b8";
.fe-refresh-ccw:before {
  content: $icon-fe-refresh-ccw;
}

$icon-fe-refresh-cw: "\e9b9";
.fe-refresh-cw:before {
  content: $icon-fe-refresh-cw;
}

$icon-fe-repeat: "\e9ba";
.fe-repeat:before {
  content: $icon-fe-repeat;
}

$icon-fe-rewind: "\e9bb";
.fe-rewind:before {
  content: $icon-fe-rewind;
}

$icon-fe-rotate-ccw: "\e9bc";
.fe-rotate-ccw:before {
  content: $icon-fe-rotate-ccw;
}

$icon-fe-rotate-cw: "\e9bd";
.fe-rotate-cw:before {
  content: $icon-fe-rotate-cw;
}

$icon-fe-rss: "\e9be";
.fe-rss:before {
  content: $icon-fe-rss;
}

$icon-fe-save: "\e9bf";
.fe-save:before {
  content: $icon-fe-save;
}

$icon-fe-scissors: "\e9c0";
.fe-scissors:before {
  content: $icon-fe-scissors;
}

$icon-fe-search: "\e9c1";
.fe-search:before {
  content: $icon-fe-search;
}

$icon-fe-send: "\e9c2";
.fe-send:before {
  content: $icon-fe-send;
}

$icon-fe-server: "\e9c3";
.fe-server:before {
  content: $icon-fe-server;
}

$icon-fe-settings: "\e9c4";
.fe-settings:before {
  content: $icon-fe-settings;
}

$icon-fe-share: "\e9c5";
.fe-share:before {
  content: $icon-fe-share;
}

$icon-fe-share-2: "\e9c6";
.fe-share-2:before {
  content: $icon-fe-share-2;
}

$icon-fe-shield: "\e9c7";
.fe-shield:before {
  content: $icon-fe-shield;
}

$icon-fe-shield-off: "\e9c8";
.fe-shield-off:before {
  content: $icon-fe-shield-off;
}

$icon-fe-shopping-bag: "\e9c9";
.fe-shopping-bag:before {
  content: $icon-fe-shopping-bag;
}

$icon-fe-shopping-cart: "\e9ca";
.fe-shopping-cart:before {
  content: $icon-fe-shopping-cart;
}

$icon-fe-shuffle: "\e9cb";
.fe-shuffle:before {
  content: $icon-fe-shuffle;
}

$icon-fe-sidebar: "\e9cc";
.fe-sidebar:before {
  content: $icon-fe-sidebar;
}

$icon-fe-skip-back: "\e9cd";
.fe-skip-back:before {
  content: $icon-fe-skip-back;
}

$icon-fe-skip-forward: "\e9ce";
.fe-skip-forward:before {
  content: $icon-fe-skip-forward;
}

$icon-fe-slack: "\e9cf";
.fe-slack:before {
  content: $icon-fe-slack;
}

$icon-fe-slash: "\e9d0";
.fe-slash:before {
  content: $icon-fe-slash;
}

$icon-fe-sliders: "\e9d1";
.fe-sliders:before {
  content: $icon-fe-sliders;
}

$icon-fe-smartphone: "\e9d2";
.fe-smartphone:before {
  content: $icon-fe-smartphone;
}

$icon-fe-speaker: "\e9d3";
.fe-speaker:before {
  content: $icon-fe-speaker;
}

$icon-fe-square: "\e9d4";
.fe-square:before {
  content: $icon-fe-square;
}

$icon-fe-star: "\e9d5";
.fe-star:before {
  content: $icon-fe-star;
}

$icon-fe-stop-circle: "\e9d6";
.fe-stop-circle:before {
  content: $icon-fe-stop-circle;
}

$icon-fe-sun: "\e9d7";
.fe-sun:before {
  content: $icon-fe-sun;
}

$icon-fe-sunrise: "\e9d8";
.fe-sunrise:before {
  content: $icon-fe-sunrise;
}

$icon-fe-sunset: "\e9d9";
.fe-sunset:before {
  content: $icon-fe-sunset;
}

$icon-fe-tablet: "\e9da";
.fe-tablet:before {
  content: $icon-fe-tablet;
}

$icon-fe-tag: "\e9db";
.fe-tag:before {
  content: $icon-fe-tag;
}

$icon-fe-target: "\e9dc";
.fe-target:before {
  content: $icon-fe-target;
}

$icon-fe-terminal: "\e9dd";
.fe-terminal:before {
  content: $icon-fe-terminal;
}

$icon-fe-thermometer: "\e9de";
.fe-thermometer:before {
  content: $icon-fe-thermometer;
}

$icon-fe-thumbs-down: "\e9df";
.fe-thumbs-down:before {
  content: $icon-fe-thumbs-down;
}

$icon-fe-thumbs-up: "\e9e0";
.fe-thumbs-up:before {
  content: $icon-fe-thumbs-up;
}

$icon-fe-toggle-left: "\e9e1";
.fe-toggle-left:before {
  content: $icon-fe-toggle-left;
}

$icon-fe-toggle-right: "\e9e2";
.fe-toggle-right:before {
  content: $icon-fe-toggle-right;
}

$icon-fe-trash: "\e9e3";
.fe-trash:before {
  content: $icon-fe-trash;
}

$icon-fe-trash-2: "\e9e4";
.fe-trash-2:before {
  content: $icon-fe-trash-2;
}

$icon-fe-trending-down: "\e9e5";
.fe-trending-down:before {
  content: $icon-fe-trending-down;
}

$icon-fe-trending-up: "\e9e6";
.fe-trending-up:before {
  content: $icon-fe-trending-up;
}

$icon-fe-triangle: "\e9e7";
.fe-triangle:before {
  content: $icon-fe-triangle;
}

$icon-fe-truck: "\e9e8";
.fe-truck:before {
  content: $icon-fe-truck;
}

$icon-fe-tv: "\e9e9";
.fe-tv:before {
  content: $icon-fe-tv;
}

$icon-fe-twitter: "\e9ea";
.fe-twitter:before {
  content: $icon-fe-twitter;
}

$icon-fe-type: "\e9eb";
.fe-type:before {
  content: $icon-fe-type;
}

$icon-fe-umbrella: "\e9ec";
.fe-umbrella:before {
  content: $icon-fe-umbrella;
}

$icon-fe-underline: "\e9ed";
.fe-underline:before {
  content: $icon-fe-underline;
}

$icon-fe-unlock: "\e9ee";
.fe-unlock:before {
  content: $icon-fe-unlock;
}

$icon-fe-upload: "\e9ef";
.fe-upload:before {
  content: $icon-fe-upload;
}

$icon-fe-upload-cloud: "\e9f0";
.fe-upload-cloud:before {
  content: $icon-fe-upload-cloud;
}

$icon-fe-user: "\e9f1";
.fe-user:before {
  content: $icon-fe-user;
}

$icon-fe-user-check: "\e9f2";
.fe-user-check:before {
  content: $icon-fe-user-check;
}

$icon-fe-user-minus: "\e9f3";
.fe-user-minus:before {
  content: $icon-fe-user-minus;
}

$icon-fe-user-plus: "\e9f4";
.fe-user-plus:before {
  content: $icon-fe-user-plus;
}

$icon-fe-user-x: "\e9f5";
.fe-user-x:before {
  content: $icon-fe-user-x;
}

$icon-fe-users: "\e9f6";
.fe-users:before {
  content: $icon-fe-users;
}

$icon-fe-video: "\e9f7";
.fe-video:before {
  content: $icon-fe-video;
}

$icon-fe-video-off: "\e9f8";
.fe-video-off:before {
  content: $icon-fe-video-off;
}

$icon-fe-voicemail: "\e9f9";
.fe-voicemail:before {
  content: $icon-fe-voicemail;
}

$icon-fe-volume: "\e9fa";
.fe-volume:before {
  content: $icon-fe-volume;
}

$icon-fe-volume-1: "\e9fb";
.fe-volume-1:before {
  content: $icon-fe-volume-1;
}

$icon-fe-volume-2: "\e9fc";
.fe-volume-2:before {
  content: $icon-fe-volume-2;
}

$icon-fe-volume-x: "\e9fd";
.fe-volume-x:before {
  content: $icon-fe-volume-x;
}

$icon-fe-watch: "\e9fe";
.fe-watch:before {
  content: $icon-fe-watch;
}

$icon-fe-wifi: "\e9ff";
.fe-wifi:before {
  content: $icon-fe-wifi;
}

$icon-fe-wifi-off: "\ea00";
.fe-wifi-off:before {
  content: $icon-fe-wifi-off;
}

$icon-fe-wind: "\ea01";
.fe-wind:before {
  content: $icon-fe-wind;
}

$icon-fe-x: "\ea02";
.fe-x:before {
  content: $icon-fe-x;
}

$icon-fe-x-circle: "\ea03";
.fe-x-circle:before {
  content: $icon-fe-x-circle;
}

$icon-fe-x-square: "\ea04";
.fe-x-square:before {
  content: $icon-fe-x-square;
}

$icon-fe-youtube: "\ea05";
.fe-youtube:before {
  content: $icon-fe-youtube;
}

$icon-fe-zap: "\ea06";
.fe-zap:before {
  content: $icon-fe-zap;
}

$icon-fe-zap-off: "\ea07";
.fe-zap-off:before {
  content: $icon-fe-zap-off;
}

$icon-fe-zoom-in: "\ea08";
.fe-zoom-in:before {
  content: $icon-fe-zoom-in;
}

$icon-fe-zoom-out: "\ea09";
.fe-zoom-out:before {
  content: $icon-fe-zoom-out;
}
