{% assign image = include.image | replace: '.svg', '' %}
{% assign height = include.height | default: 128 %}
{% assign src = "/free-illustrations/autodark/" | append: image %}

{% assign illustration = free-illustrations.autodark[image] %}

{% assign replace-to = '<svg class="img' %}
{% if include.class %}{% assign replace-to = replace-to | append: ' ' | append: include.class %}{% endif %}
{% assign replace-to = replace-to | append: '" ' %}
{% assign illustration = illustration | replace: '<svg ', replace-to %}

{% assign replace-to-height = 'height="' | append: height | append: '"' %}
{% assign illustration = illustration | replace: 'width="800" height="600"', replace-to-height %}

{{ illustration }}