.example {
  padding: 2rem;
  margin: 2rem 0;
  border: 1px solid $border-color;
  border-radius: 3px 3px 0 0;

  min-height: 12rem;
  display: flex;
  align-items: center;
}

.example-centered {
  justify-content: center;

  .example-content {
    flex: 0 auto;
  }
}

.example-content {
  font-size: $font-size-base;
  color: $body-color;
  flex: 1;
}

.example-bg {
  background: $body-bg;
}

.example-code {
  margin: 2rem 0;
  border-top: none;

  pre {
    margin: 0;
    border-radius: 0 0 3px 3px;
  }

  .example + & {
    margin-top: -2rem;
  }
}

.example-column {
  margin: 0 auto;

  > .card:last-of-type {
    margin-bottom: 0;
  }
}

.example-column-1 {
  max-width: 20rem;
}

.example-column-2 {
  max-width: 40rem;
}
