{% assign person = include.person | default: people[1] %}
<div class="card card-gradient card-gradient-{{ include.color | default: 'yellow' }}">
	<div class="card-body text-center py-6">
		<div class="position-absolute top-0 end-0 p-1">
			<div class="btn btn-action">{% include "ui/icon.html" icon="star" color="yellow" type="filled" %}</div>
		</div>
		<div>
			{% include "ui/avatar.html" size="2xl" person=person shape="rounded-circle" %}
		</div>
		<div class="h1 mt-4 mb-1">{{ person.full_name }}</div>
		<div class="text-secondary">{{ person.job_title }}</div>

		<div class="btn-list justify-content-center mt-3">
			<a href="#" class="btn btn-icon btn-pill" title="Message" data-bs-toggle="tooltip" data-bs-placement="top">{% include "ui/icon.html" icon="message" %}</a>
			<a href="#" class="btn btn-icon btn-pill" title="Phone" data-bs-toggle="tooltip" data-bs-placement="top">{% include "ui/icon.html" icon="phone" %}</a>
			<a href="#" class="btn btn-icon btn-pill" title="Email" data-bs-toggle="tooltip" data-bs-placement="top">{% include "ui/icon.html" icon="mail" %}</a>
		</div>
	</div>
</div>

