<div class="card" style="height: 28rem">
	{% assign activity = crm-dashboard.recent_activity %}
	<div class="card-header">
		<h3 class="card-title">{{ activity.title }}</h3>
		<div class="card-actions">
			<a href="#" class="small fw-medium text-primary">{{ activity.view_all_text }}</a>
		</div>
	</div>
	<div class="card-body card-body-scrollable card-body-scrollable-shadow">
		<div class="divide-y">
			{% for item in activity.items %}
				<div class="py-3">
					<div class="row align-items-center">
						<div class="col-auto">
							<span class="avatar bg-{{ item.icon_color }}-lt">
								{% include "ui/icon.html" icon=item.icon class="icon text-{{ item.icon_color }}" %}
							</span>
						</div>
						<div class="col">
							<div class="fw-medium">{{ item.text }}</div>
							<div class="small text-secondary">{{ item.time }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
