---
title: Accent color
page-header: Accent color
menu: base.accents
libs: nouislider, autosize
---

<div class="row row-cards">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Form elements</h4>
			</div>
			<div class="card-body">
				<div class="row g-5">
					<div class="col-xl-6">
						<div class="row">
							<div class="col-md-6 col-xl-12">{% include forms/form-elements-3.html %}</div>
							<div class="col-md-6 col-xl-12">{% include forms/form-elements-4.html %}</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="row">
							<div class="col-md-6 col-xl-12">{% include forms/form-elements-5.html %}</div>
							<div class="col-md-6 col-xl-12">{% include forms/form-elements-6.html %}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
