---
title: Carousel
page-header: Carousel
layout: default
menu: base.carousel
---

<div class="row">
   <div class="col-md-6">
      {% include cards/carousel.html id="carousel-default" %}
   </div>
   <div class="col-md-6">
      {% include cards/carousel.html id="carousel-indicators" title="Carousel with indicators" indicators=true offset=5 %}
   </div>
   <div class="col-md-6">
      {% include cards/carousel.html id="carousel-controls" title="Carousel with controls" controls=true offset=10 %}
   </div>
   <div class="col-md-6">
      {% include cards/carousel.html id="carousel-captions" title="Carousel with captions" captions=true controls=true offset=15 %}
   </div>
</div>
