---
title: Changelog
menu: changelog
layout: docs
---

{% for version in site.data.changelog reversed %}
<div class="mb-4">
	<h2 class="mb-2">
		<span>{{ version.version }}</span> –
		<small>{{ version.date | date: '%B %d, %Y' }}</small>
	</h2>

	{% if version.description %}
	<p class="strong">{{ version.description }}</p>
	{% endif %}

	{% if version.changes %}
	<ul>
		{% for change in version.changes %}
		<li>{{ change | markdownify | replace_regex: '</p>\s+$', '' | replace_regex: '^<p>', ''  | replace_regex: '#([0-9]+)', '<a href="https://github.com/tabler/tabler/issues/\1" target="_blank" rel="noopener">#\1</a>' }}</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endfor %}