---
title: Heatmap Charts
page-header: Heatmap Charts
done: true
---

<div class="row">
	<div class="col-xl-6">
		{% include cards/charts/heatmap.html id="heatmap-basic" title="Basic Heatmap - Single Series" %}
	</div>
	<div class="col-xl-6">
		{% include cards/charts/heatmap.html id="heatmap-multiple" title="Heatmap - Multiple series" colors=12 %}
	</div>
	<div class="col-xl-6">
		{% include cards/charts/heatmap.html id="heatmap-labels" title="Heatmap - Labels included" labels=true %}
	</div>
	<div class="col-xl-6">
		{% include cards/charts/heatmap.html id="heatmap-colors" title="Heatmap - Color range" scale=true %}
	</div>
</div>
