---
title: Data grid
page-header: Data grid
menu: base.datagrid
---

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Base info</h3>
	</div>
	<div class="card-body">
		<div class="datagrid">
			<div class="datagrid-item">
				<div class="datagrid-title">Registrar</div>
				<div class="datagrid-content">Third Party</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">Nameservers</div>
				<div class="datagrid-content">Third Party</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">Port number</div>
				<div class="datagrid-content">3306</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">Expiration date</div>
				<div class="datagrid-content">–</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">Creator</div>
				<div class="datagrid-content">
					{% assign creator = site.data.people[0] %}
					<div class="d-flex align-items-center">
						{% include ui/avatar.html person=creator rounded=true size="xs" class="me-2" %}
						{{ creator.full_name }}
					</div>
				</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">Age</div>
				<div class="datagrid-content">15 days</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">Edge network</div>
				<div class="datagrid-content">
					{% include ui/status.html text="Active" color="green" %}
				</div>
			</div>
		</div>
	</div>
</div>
