---
title: Gallery
page-header: Gallery
page-header-description: 1-12 of 241 photos
page-header-actions: photos
done: true
menu: extra.gallery
---
{% assign horizontal = 0 %}

<div class="row">
	{% for photo in site.data.photos %}
	{% if photo.horizontal %}
	{% assign person = site.data.people[forloop.index0] %}
	<div class="col-sm-6 col-lg-4">
		{% include cards/gallery-photo.html person=person %}
	</div>
	{% assign horizontal = horizontal | plus: 1 %}
	{% endif %}

	{% if horizontal == 12 %}
		{% break %}
	{% endif %}
	{% endfor %}
</div>

<div class="d-flex">
   {% include ui/pagination.html class="ml-auto" %}
</div>
