---
title: Gallery
page-header: Gallery
page-header-description: 1-12 of 241 photos
page-header-actions: photos
menu: extra.gallery
---
{% assign horizontal = 0 %}

<div class="row row-cards">
	{% assign photos = site.data.photos | where: "horizontal", true %}

	{% for photo in photos limit: 12 %}
	{% assign person = site.data.people[forloop.index0] %}
	<div class="col-sm-6 col-lg-4">
		{% include cards/gallery-photo.html person=person %}
	</div>
	{% endfor %}
</div>

<div class="d-flex">
   {% include ui/pagination.html class="ms-auto" %}
</div>
