---
title: Icons
page-header: Icons
menu: base.icons
---

{% assign icons-brand = '' | split: ',' %}
{% assign icons-core = '' | split: ',' %}

{% for icon in site.data.icons %}
	{% assign i = icon[0] %}
	{% if i contains 'brand-' %}
		{% assign icons-brand = icons-brand | push: i %}
	{% else %}
		{% assign icons-core = icons-core | push: i %}
	{% endif %}
{% endfor %}

<div class="alert alert-primary mb-3">
	All icons come from the Tabler Icons set and are MIT-licensed. Visit <a href="https://tabler-icons.io" target="_blank">tabler-icons.io</a>, download the icons you need in SVG, PNG or React and use them in your favourite design tools.
</div>

<div class="row row-cards">
	<div class="col-12">
		{% include cards/icons.html title="Tabler icons" icons=icons-core %}
	</div>
	<div class="col-12">
		{% include cards/icons.html title="Brand icons" icons=icons-brand %}
	</div>
</div>

