---
title: Vector Maps
page-header: Vector Maps
menu: base.maps-vector
libs: jsvectormap, jsvectormap-world, jsvectormap-usa, jsvectormap-canada, jsvectormap-russia
---

<div class="row row-cards">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">World map</h3>
				{% include ui/map-vector.html map-id="world" height=18 %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Map of Russia</h3>
				{% include ui/map-vector.html map-id="russia" height=18 %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Map od USA</h3>
				{% include ui/map-vector.html map-id="usa" height=18 %}
			</div>
		</div>
	</div>
</div>