---
layout: marketing
libs: mapbox
---

<header class="hero">
	<div class="container">
		<h1 class="hero-title display-5">Develop beautiful web apps with&nbsp;Tabler</h1>
		<p class="hero-description mt-4">
			Tabler is a free and open source web application UI kit based on Bootstrap&nbsp;5, with hundreds responsive
			components and multiple layouts.
		</p>
		<div class="my-5">
			<div class="row g-3 justify-content-center">
				<div class="col-auto">
					<a href="#" class="btn btn-lg">See features</a>
				</div>
				<div class="col-auto">
					<a href="#" class="btn btn-lg btn-primary" target="_blank" rel="noopener noreferrer">Preview template</a>
				</div>
			</div>
		</div>
		<div class="hero-img img-overlap-margin">
			{% include ui/marketing/browser.html %}
		</div>
	</div>

	<div class="container">
		<div class="section-header mb-4">
			<h2 class="section-title text-muted">Trusted by over 3,000 companies</h2>
		</div>
		<div class="row g-5 align-items-center justify-content-center">
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/baremetrics.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/cgi.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/docplanner.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/flow.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/fubotv.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/six-flags.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/vocus.svg %}</a></div>
		</div>
	</div>
</header>

<section class="section section-white">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title">Trusted by hundreds</h2>
			<p class="section-description">Our Users send us bunch of smilies with our services, and we love them 😍</p>
		</div>

		<div class="row">
			{% for i in (1..3) %}
			<div class="col-4">
				<div class="card">
					<div class="card-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi nihil perferendis praesentium sequi. Accusamus ea et eveniet expedita, explicabo hic maiores perspiciatis quam repellat reprehenderit tempora tenetur ut velit!</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<div class="section section-light">
	<div class="container">
		<div class="section-header mb-4">
			<h2 class="section-title text-muted">Trusted by over 3,000 companies</h2>
		</div>
		<div class="row align-items-center justify-content-center justify-content-lg-between">
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/baremetrics.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/cgi.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/docplanner.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/flow.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/fubotv.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/six-flags.svg %}</a></div>
			<div class="col-auto"><a href="#" class="link-muted">{% include marketing/brands/vocus.svg %}</a></div>
		</div>
	</div>
</div>

<section class="section section-white">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-md-6">
				<img src="{{ site.base }}/static/photos/{{ site.data.photos[10].file }}" class="rounded-3" alt="">
			</div>
			<div class="col-md-6">
				<div class="row g-4">
					<div class="col-md-8">
						<img src="{{ site.base }}/static/photos/{{ site.data.photos[11].file }}" class="rounded-3" alt="">
					</div>
					<div class="col-12">
						<img src="{{ site.base }}/static/photos/{{ site.data.photos[13].file }}" class="rounded-3" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-light">
	<div class="container">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni maiores possimus reprehenderit tempora. Ab
		consequatur cum illo ipsum itaque labore laboriosam laborum, libero nemo non obcaecati pariatur quaerat quo!
	</div>
</section>
