---
layout: marketing
---


<header class="hero pt-10 pb-0">
	<div class="container">
		<h1 class="hero-title display-5">Develop beautiful web apps with&nbsp;Tabler</h1>
		<p class="hero-description mt-4">
			Tabler is a free and open source web application UI kit based on Bootstrap&nbsp;5, with hundreds responsive
			components and multiple layouts.
		</p>
		<div class="mt-5">
			<div class="row g-3 justify-content-center">
				<div class="col-auto">
					<a href="#" class="btn btn-lg">See features</a>
				</div>
				<div class="col-auto">
					<a href="#" class="btn btn-lg btn-primary" target="_blank" rel="noopener noreferrer">Preview template</a>
				</div>
			</div>
		</div>
		<div class="hero-img img-overlap-margin">
			<div class="browser">
				<div class="browser-header">
					<div class="row align-items-center">
						<div class="col-auto md:col-2">
							<div class="browser-dots">
								<div class="browser-dot"></div>
								<div class="browser-dot"></div>
								<div class="browser-dot"></div>
							</div>
						</div>
						<div class="col-8">
							<a href="{{ site.preview-url }}" class="browser-input" target="_blank" rel="noopener noreferrer" data-bs-toggle="tooltip" data-bs-placement="top" title="Open preview of Tabler dashboard!">
								{% include ui/icon.html icon="lock" color="green" size="sm" %}
								{{ site.preview-url }}
							</a>
						</div>
					</div>
				</div>
				{% include ui/responsive-image.html src="static/marketing/preview.png" width=1040 height=760 %}
			</div>
		</div>
	</div>
</header>

<section class="section section-white">
	<div class="container">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni maiores possimus reprehenderit tempora. Ab
		consequatur cum illo ipsum itaque labore laboriosam laborum, libero nemo non obcaecati pariatur quaerat quo!
	</div>
</section>

<section class="section section-light">
	<div class="container">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni maiores possimus reprehenderit tempora. Ab
		consequatur cum illo ipsum itaque labore laboriosam laborum, libero nemo non obcaecati pariatur quaerat quo!
	</div>
</section>

<section class="section section-dark">
	<div class="container">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni maiores possimus reprehenderit tempora. Ab
		consequatur cum illo ipsum itaque labore laboriosam laborum, libero nemo non obcaecati pariatur quaerat quo!
	</div>
</section>

<section class="section section-light">
	<div class="container">
		<div class="row g-5">
			<div class="col-md-4">
				<div class="sticky-top">
					<div class="h2">Frequently asked questions</div>
					<p class="font-h4 text-muted mb-7">
						Can’t find the answer you’re looking for? Reach out to our customer
						support team.
					</p>
				</div>
			</div>
			<div class="col">
				<div class="space-y-4">
					{% for item in site.data.faq[1].questions %}
					<div>
						<div class="h3 mb-1">{{ item.question }}</div>
						<div class="text-muted">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dolores labore necessitatibus tenetur ut? Autem excepturi fugit illum impedit molestiae porro quisquam repellendus sequi totam voluptatum.
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>