---
menu: base.navigation
title: Navigation
page-header: Navigation
---


<div class="box">
	<div class="row g-4">
		<div class="col-lg-auto">
			{% include layout/sidebar.html id="first" sample=true dark=true person-id=10 class="demo-navbar" %}
		</div>
		<div class="col-lg-auto">
			{% include layout/sidebar.html id="second" sample=true person-id=11 class="demo-navbar" %}
		</div>
		<div class="col-lg-auto">
			{% include layout/sidebar.html id="third" sample=true transparent=true person-id=12 class="demo-navbar" %}
		</div>
		<div class="col-lg-auto">
			{% include layout/sidebar.html id="fourth" sample=true condensed=true dark=true person-id=13 class="demo-navbar" %}
		</div>
		<div class="col-lg-auto">
			{% include layout/sidebar.html id="fifth" sample=true condensed=true person-id=14 class="demo-navbar" %}
		</div>
		<div class="col-lg-auto">
			{% include layout/sidebar.html id="sixth" sample=true condensed=true transparent=true person-id=15 class="demo-navbar" %}
		</div>
	</div>

	<div class="my-4">
		{% include layout/navbar.html id="seventh" sample=true condensed=true transparent=true person-id=3 %}
	</div>

	<div class="my-4">
		{% include layout/navbar.html id="eighth" sample=true condensed=true person-id=4 %}
	</div>

	<div class="my-4">
		{% include layout/navbar.html id="ninth" sample=true condensed=true dark=true hide-logo=true show-title=true hide-icons=true hide-username=true person-id=5 %}
	</div>

	<div class="my-4">
		{% include layout/navbar.html id="tenth" sample=true condensed=true dark=true small-logo=true background-color="#181717" hide-search=true person-id=6 %}
	</div>

	<div class="my-4">
		{% include layout/navbar.html id="eleventh" sample=true condensed=true dark=true background="primary" hide-brand=true hide-icons=true fluid-search=true hide-username=true person-id=7 %}
	</div>

	<div class="my-4">
		{% include layout/navbar.html id="twelfth" sample=true small-logo=true show-title=true person-id=8 %}
	</div>

	<div class="my-4">
		{% include layout/navbar.html id="thirteenth" sample=true dark=true person-id=9 %}
	</div>
</div>