---
title: Page headers
page-header: Page headers
menu: base.headers
---

{% assign person = site.data.people[0] %}

<div class="my-5">
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col-auto">
				{% include ui/avatar.html person=person size="md" %}
			</div>
			<div class="col">
				<h2 class="page-title">{{ person.full_name }}</h2>
				<div class="page-subtitle">
					<div class="row">
						<div class="col-auto">
							{% include ui/icon.html icon="building-skyscraper" %}
							<a href="#" class="text-reset">{{ person.job_title }} at {{ person.company }}</a>
						</div>
						<div class="col-auto">
							{% include ui/icon.html icon="users" %}
							<a href="#" class="text-reset">194 friends</a>
						</div>
						<div class="col-auto text-success">
							{% include ui/icon.html icon="check" color="green" %} Verified
						</div>
					</div>
				</div>
			</div>
			<div class="col-auto d-none d-md-flex">
				<div class="btn-list">
					{% include ui/button.html icon="plus" icon="plus" text="Add to friends" %}
					{% include ui/button.html icon="plus" color="primary" icon="message" text="Send message" %}
				</div>
			</div>
		</div>
	</div>
</div>


<div class="my-5">
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<h2 class="page-title">Gallery</h2>
				<div class="text-muted mt-1">1-12 of 241 photos</div>
			</div>
			<div class="col-auto ms-auto d-print-none">
				<div class="d-flex">
					<div class="me-3 d-none d-md-block">
						<div class="input-icon">
							<input type="text" class="form-control" placeholder="Search…">
							<span class="input-icon-addon">
								{% include ui/icon.html icon="plus" %}
							</span>
						</div>
					</div>
					<a href="#" class="btn btn-primary">
						{% include ui/icon.html icon="plus" %}
						Add photo
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="my-5">
	<div class="page-header page-header-border">
		<div class="row align-items-center">
			<div class="col">
				<h2 class="page-title">Improve cards with no border</h2>
				<div class="text-muted mt-1">
					<a href="#" class="text-reset">#693</a>
					opened by <a href="#" class="text-body">{{ person.full_name }}</a>
					in <a href="#" class="text-body">Calendar Page</a>
				</div>
			</div>
			<div class="col-auto">
				<div class="btn-list">
					{% include ui/button.html icon="plus" icon="edit" text="Edit" %}
					{% include ui/button.html icon="plus" icon="bell" text="Subscribe" class="d-none d-md-inline-flex" %}
				</div>
			</div>
		</div>
	</div>
</div>


<div class="my-5">
	<div class="page-header">
		<div class="row align-items-center mw-100">
			<div class="col">
				<div class="mb-1">
					{% include ui/breadcrumb.html pages="Home,Library,Articles" class="breadcrumb-alternate" %}
				</div>
				<h2 class="page-title">
					<span class="text-truncate">Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods.</span>
				</h2>
			</div>
			<div class="col-auto">
				<div class="btn-list">
					{% include ui/button.html icon="plus" icon="edit" text="Edit" class="d-none d-md-inline-flex" %}
					{% include ui/button.html color="primary" text="Publish" %}
				</div>
			</div>
		</div>
	</div>
</div>


<div class="my-5">
	<div class="page-header">
		<div class="row align-items-center">
			<div class="col">
				<div class="page-pretitle">
					Overview
				</div>
				<h2 class="page-title">
					Dashboard
				</h2>
			</div>
			<div class="col-auto ms-auto">
				{% include layout/header-actions/buttons.html %}
			</div>
		</div>
	</div>
</div>