---
title: Photogrid
page-header: Photogrid
menu: extra.photogrid
---

{% capture svg %}
{% include ui/svg.html width=640 height=480 border=true %}
{% endcapture %}

<div class="row g-2 g-md-3">
	<div class="col-lg-6">
		<div class="row g-2 g-md-3">
			<div class="col-12">
				{% include ui/photo.html id=5 class="rounded-3" ratio="2x1" %}
			</div>
			<div class="col-6">
				{% include ui/photo.html id=6 class="rounded-3" ratio="1x1" %}
			</div>
			<div class="col-6">
				<div class="row g-2 g-md-3">
					<div class="col-6">{% include ui/photo.html id=7 class="rounded-3" ratio="1x1" %}</div>
					<div class="col-6">{% include ui/photo.html id=8 class="rounded-3" ratio="1x1" %}</div>
					<div class="col-6">{% include ui/photo.html id=9 class="rounded-3" ratio="1x1" %}</div>
					<div class="col-6">{% include ui/photo.html id=10 class="rounded-3" ratio="1x1" %}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row g-2 g-md-3">
			<div class="col-6">
				<div class="row g-2 g-md-3">
					<div class="col-12">{% include ui/photo.html id=11 class="rounded-3" ratio="2x1" %}</div>
					<div class="col-6">{% include ui/photo.html id=12 class="rounded-3" ratio="1x1" %}</div>
					<div class="col-6">{% include ui/photo.html id=13 class="rounded-3" ratio="1x1" %}</div>
				</div>
			</div>
			<div class="col-6">
				{% include ui/photo.html id=1 class="rounded-3" ratio="1x1" %}
			</div>
			<div class="col-12">
				{% include ui/photo.html id=4 class="rounded-3" ratio="2x1" %}
			</div>
		</div>
	</div>
</div>