---
title: Dark mode playground
page-header: Dark mode playground
---

{% capture html %}
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias magni minus omnis provident qui repudiandae saepe sunt vel, veniam voluptatibus? Cum eius est harum molestias necessitatibus quasi repellat velit voluptatum.</p>

	<div>
		<div class="btn-list">
			{% include ui/button.html text="Default button" %}
			{% for button in site.theme-colors %}
			{% assign btn-color = button[1].class %}
			{% assign btn-title = button[1].title %}
			{% include ui/button.html color=btn-color text=btn-title %}
			{% endfor %}
		</div>
	</div>
{% endcapture %}

<div class="row g-0">
	<div class="col">
		<div class="p-3">{{ html }}</div>
	</div>
	<div class="col theme-dark">
		<div class="p-3">{{ html }}</div>
	</div>
</div>