---
title: Pricing cards
page-header: Pricing cards
done: true
menu: extra.pricing
---

<div class="row">
    <div class="col-sm-6 col-lg-3">
        {% include cards/pricing-card.html price="0" users=3 category="Free" %}
    </div>
    <div class="col-sm-6 col-lg-3">
        {% include cards/pricing-card.html price="49" users=10 category="Premium" features="1100" featured-color="green" %}
    </div>
    <div class="col-sm-6 col-lg-3">
        {% include cards/pricing-card.html price="99" category="Enterprise" users=100 features="1110" %}
    </div>
    <div class="col-sm-6 col-lg-3">
        {% include cards/pricing-card.html price="139" category="Unlimited" users="Unlimited" features="1111" %}
    </div>
</div>
