---
layout: settings
title: Settings
---

<div class="card-body">
	<h2 class="mb-4">Plans</h2>

	<p class="text-muted mb-4">This workspace’s Basic Plan is set to $34 per month and will renew on June 19, 2022.</p>

	<div class="row row-cards">
		<div class="col-lg-4">
			{% include cards/pricing-card.html price="0" users=3 category="Free" %}
		</div>
		<div class="col-lg-4">
			{% include cards/pricing-card.html price="49" users=10 category="Premium" features="1100" featured-color="green" %}
		</div>
		<div class="col-lg-4">
			{% include cards/pricing-card.html price="99" category="Enterprise" users=100 features="1110" %}
		</div>
		<div class="col-12">
			{% include cards/pricing-card-enterprise.html %}
		</div>
	</div>
</div>