---
layout: single
title: Sign in with illustration
container-size: normal
hide-logo: true
---

<div class="row align-items-center g-4">
	<div class="col-lg">
		<div class="container-tight">
			<div class="text-center mb-4">
				<a href="{{ site.base }}" class="navbar-brand navbar-brand-autodark"><img src="{{ site.base }}/static/logo.svg" height="36" alt=""></a>
			</div>

			{% include cards/sign-in.html show-header="1" %}
		</div>
	</div>
	<div class="col-lg d-none d-lg-block">
		{% include ui/illustration.html image="undraw_secure_login_pdn4.svg" class="d-block mx-auto" height=300 %}
	</div>
</div>


