---
layout: base
title: Sign in with cover
body-class: d-flex flex-column bg-white
---

<div class="row g-0 flex-fill">
	<div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
		<div class="container container-tight my-5 px-lg-5">
			<div class="text-center mb-4">
				<a href="{{ site.base }}" class="navbar-brand navbar-brand-autodark"><img src="{{ site.base }}/static/logo.svg" height="36" alt=""></a>
			</div>

			<h2 class="h3 text-center mb-3">
				Login to your account
			</h2>

			{% include forms/sign-in.html %}

			<div class="text-center text-secondary mt-3">
				Don't have account yet? <a href="{{ site.base }}/sign-up.html" tabindex="-1">Sign up</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
		{% include ui/photo.html id=11 class="bg-cover h-100 min-vh-100" background=true %}
	</div>
</div>