---
page-header: Skeleton
menu: base.skeleton
---

<div class="row row-cards">
	{% for i in (1..4) %}
		<div class="col-3">
			{% include cards/skeleton/card-1.html %}
		</div>
	{% endfor %}
	<div class="col-4">
		<div class="row row-cards">
			<div class="col-12">
				{% include cards/skeleton/card-3.html %}
			</div>
			<div class="col-12">
				{% include cards/skeleton/card-4.html %}
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="row row-cards">
			<div class="col-12">
				{% include cards/skeleton/card-1.html %}
			</div>
			<div class="col-12">
				{% include cards/skeleton/card-2.html %}
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="row row-cards">
			<div class="col-12">
				{% include cards/skeleton/card-5.html %}
			</div>
			<div class="col-12">
				{% include cards/skeleton/card-6.html %}
			</div>
		</div>
	</div>
</div>