---
title: Snippets
page-header: Snippets
page-header-actions: date
menu: extra.snippets
libs: jquery, apexcharts, peity
---

<div class="row">
	<div class="col-md-6 col-xl-3">{% include cards/user-card.html person-id=5 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card.html person-id=6 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card.html person-id=7 right=true %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card.html person-id=8 right=true %}</div>

	<div class="col-md-6 col-xl-3">{% include cards/user-card-big.html person-id=15 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-big.html person-id=16 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-big.html person-id=17 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-big.html person-id=18 %}</div>

	<div class="col-md-6 col-xl-3">{% include cards/user-card-bg.html person-id=25 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-bg.html person-id=26 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-bg.html person-id=27 blurred=true %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-bg.html person-id=28 blurred=true %}</div>


	<div class="col-xl-6">
		{% include cards/subscribe.html person-id=0 %}
	</div>
	<div class="col-xl-6">
		{% include cards/subscribe.html person-id=2 %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html icon="currency-dollar" color="blue" count=132 subtitle="Sales" description="12 waiting payments" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html icon="shopping-cart" color="green" count=78 subtitle="Orders" description="32 shipped" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html icon="user" color="red" count=1352 subtitle="Members" description="163 registered today" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html icon="message" color="yellow" count=132 subtitle="Comments" description="16 waitings" %}
	</div>

	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html chart-position="left" chart-type="pie" chart-data="56/100" color="blue" count=132 subtitle="Sales" description="12 waiting payments" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html chart-position="left" chart-type="pie" chart-data="56/100" color="green" count=78 subtitle="Orders" description="32 shipped" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html chart-position="left" chart-type="pie" chart-data="56/100" color="red" count=1352 subtitle="Members" description="163 registered today" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html chart-position="left" chart-type="pie" chart-data="56/100" color="yellow" count=132 subtitle="Comments" description="16 waitings" %}
	</div>

	<div class="col-md-6 col-lg-4">
		{% include cards/small-stats.html chart-type="line" chart-data="20,0,40,30,40,30,80,60" %}
		{% include cards/small-stats.html chart-type="bar" chart-data="20,40,30,10,40,60,80,70" color="red" icon="heart" %}
		{% include cards/small-stats.html chart-type="bar" chart-data="20,40,20,-10,-30,10,40,60,80,70" color="green" icon="brand/github" %}
		{% include cards/small-stats.html chart-type="pie" chart-data="12/100" person-id=10 %}
		{% include cards/small-stats.html chart-type="pie" chart-data="12/100" person-id=11 %}
		{% include cards/small-stats.html chart-type="pie" chart-data="56/100" person-id=1 %}
		{% include cards/small-stats.html color="green" person-id=4 %}
		{% include cards/small-stats.html small-icon="trending-down" color="red" person-id=3 %}
		{% include cards/code.html %}
	</div>
	<div class="col-md-6 col-lg-4">
		{% include cards/small-stats-2.html title="Customers" count="1,950" growth=5.2 color="yellow" %}
		{% include cards/small-stats-2.html title="Orders" count="8256" growth=0 color="green" %}
		{% include cards/small-stats-2.html title="Revenue" count="$58,924" growth=-3.1 color="red" light=true %}
	</div>
	<div class="col-md-6 col-lg-4">
		{% include cards/project-kanban.html title="Tabler UI" badge="v1.0" value=30 percentage-color="red" limit=4 offset=0 due="72 days" %}
		{% include cards/project-kanban.html title="Tabler React" value=80 offset=20 %}
		{% include cards/user-info.html %}
		{% include cards/configuration.html %}
	</div>
</div>
