---
page-header: Tables
menu: base.tables
---

<div class="row row-cards">
	<div class="col-12">
		<div class="card">
			{% include ui/table.html card=true %}
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			{% include ui/table.html card=true stripped=true offset=5 %}
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			{% include ui/table.html card=true avatars=true offset=10 %}
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			{% include ui/table.html card=true mobile=true avatars=true offset=15 buttons=true %}
		</div>
	</div>

	<div class="col-12">
		{% include cards/invoices.html %}
	</div>
</div>