---
page-header: Tables
menu: base.tables
---

<div class="box">
	<div class="card">
		{% include ui/table.html card=true %}
	</div>
</div>

<div class="box">
	<div class="card">
		{% include ui/table.html card=true stripped=true offset=5 %}
	</div>
</div>

<div class="box">
	<div class="card">
		{% include ui/table.html card=true avatars=true offset=10 %}
	</div>
</div>

<div class="box">
	<div class="card">
		{% include ui/table.html card=true mobile=true avatars=true offset=15 buttons=true %}
	</div>
</div>

{% include cards/invoices.html %}