
---
title: Tabs
page-header: Tabs
menu: base.tabs
---

<div class="row row-cards">
	<div class="col-md-4">{% include cards/tabs.html settings=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html reverse=true settings=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html icons=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html dropdown=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html justified=true activity=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html justified=true disabled=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html justified=true icons=true activity=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html animation=true activity=true %}</div>
</div>
<body>
</head>


    <div class="container mt-5">
        <div class="row">
            <div class="col-xs-3">
                <ul class="nav flex-column vertical-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">Activity</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active" role="tabpanel">
                        <h3>Home Tab</h3>
                        <p>Cursus turpis vestibulum, dui in pharetra vulputate id sed non turpis ultricies fringilla at
                            sed
                            facilisis lacus pellentesque purus nibh</p>
                    </div>
                    <div id="tab2" class="tab-pane" role="tabpanel">
                        <h3>Profile Tab</h3>
                        <p>Fringilla egestas nunc quis tellus diam rhoncus ultricies tristique enim at diam, sem nunc
                            amet,
                            pellentesque id egestas velit sed</p>
                    </div>
                    <div id="tab3" class="tab-pane" role="tabpanel">
                        <h3>Activity Tab</h3>
                        <p>Donec ac vitae diam amet vel leo egestas consequat rhoncus in luctus amet, facilisi sit
                            mauris accumsan
                            nibh habitant senectus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

