---
title: Tags
page-header: Tags
---
    
<div class="tags-list">        
	<div class="tag">Label </div> 
	<div class="tag">Label <span class="tag-close">{% include ui/modal/close.html %}</span></div>
	<div class="tag">Label <span class="tag-number">100</span></div>
	<div class="tag"><span class="badge bg-green ms-auto tag-status"></span> Label</div>
	<div class="tag"><input class="tag-checkbox" type="checkbox" id="grid-axis-y" ng-model="ctrl.overlayGrid.vertical" ng-change="ctrl.toggleAxis('vertical', ctrl.overlayGrid.vertical)" /> Label</div>
	<div class="tag"><span class="tag-avatar">{% include ui/avatar.html size="xs" person-id="1" %}</span>label</div>
	<div class="tag">Label<span>{% include ui/flag.html flag="pl" %}</span>flag</div>      
</div>
 