---
title: Toasts
page-header: Toasts
page-menu: base.toasts
layout: default
permalink: toasts.html
---

<div class="card">
	<div class="card-body">
		<div class="btn-list">
			{% include "ui/button.html" text="Simple toast" toast-id="simple" %}
			{% include "ui/button.html" text="Cookies toast" toast-id="cookies" %}
		</div>

	</div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
	{% include "ui/toast.html" toast-id="simple" show=false %}
	{% include "ui/toast.html" toast-id="cookies" show=false cookies=true %}
</div>