---
layout: default
page-header: Settings
page-header-description: Etiam ullamcorper massa viverra consequat, consectetur id nulla tempus. Fringilla egestas justo massa purus sagittis malesuada.
page-header-actions: buttons
---

<div class="card">
	<div class="card-body">

		<div class="mb">
			<div class="row">
				<div class="col-4">
					<div class="row">
						<div class="col-auto">
							{% include ui/avatar.html person-id=3 size="sm" %}
						</div>
						<div class="col">
							Lorem ipsum dolor sit amet.
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="row">
						<div class="col-auto">
							{% include ui/avatar.html person-id=3 %}
						</div>
						<div class="col">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="row">
						<div class="col-auto">
							{% include ui/avatar.html person-id=3 size="md" %}
						</div>
						<div class="col">
							Lorem ipsum dolor sit amet.<br>
							Aliquid amet atque blanditiis,<br>
							mollitia perferendis quas.
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="row">
						<div class="col-auto">
							{% include ui/avatar.html person-id=3 size="lg" %}
						</div>
						<div class="col">
							Lorem ipsum dolor sit amet.<br>
							Aliquid amet atque blanditiis,<br>
							mollitia perferendis quas.<br>
							 Aspernatur, corporis culpa, deleniti
						</div>
					</div>
				</div>
				<div class="col-4">
					{% include ui/avatar.html person-id=3 size="xl" rounded=true %}
				</div>
			</div>
		</div>




		<h1>header h1 - <small>small</small> <code>28px</code></h1>
		<h2>header h2 - <small>small</small> <code>20px</code></h2>
		<h3>header h3 - <small>small</small> <code>16px</code></h3>
		<h4>header h4 - <small>small</small> <code>14px</code></h4>
		<h5>header h5 - <small>small</small> <code>12px</code></h5>
		<h6>header h6 - <small>small</small> <code>10px</code></h6>

		<div class="mb">
			<input type="text" class="form-control">
		</div>

		<div class="mb">
			{% include ui/button.html text="Show modal" modal-id="deactivate" %}
			{% include ui/button.html text="Show modal" modal-id="success" %}
			{% include ui/modal.html modal-id="deactivate" %}
			{% include ui/modal.html modal-id="success" %}
		</div>


		<div class="mb">
			<table class="table">
				<tr>
					<td>white</td>
					<td><a href="#" class="btn">white</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn">white</a></td>
					<td></td>
				</tr>
				<tr>
					<td>link</td>
					<td><a href="#" class="btn btn-link">link</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-link">link</a></td>
					<td></td>
				</tr>
				{% for color in site.button-variants %}
				<tr>
					<td>{{ color[0] }}</td>
					<td><a href="#" class="btn btn-{{ color[0] }}">{{ color[0] }}</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-{{ color[0] }}">{{ color[0] }}</a></td>
					<td><a href="#" class="btn btn-outline-{{ color[0] }}">{{ color[0] }}</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-outline-{{ color[0] }}">{{ color[0] }}</a></td>
					<td><a href="#" class="btn btn-ghost-{{ color[0] }}">{{ color[0] }}</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-ghost-{{ color[0] }}">{{ color[0] }}</a></td>
				</tr>
				{% endfor %}
				{% for color in site.colors %}
				<tr>
					<td>{{ color[0] }}</td>
					<td><a href="#" class="btn btn-{{ color[0] }}">{{ color[0] }}</td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-{{ color[0] }}">{{ color[0] }}</td>
					<td><a href="#" class="btn btn-outline-{{ color[0] }}">{{ color[0] }}</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-outline-{{ color[0] }}">{{ color[0] }}</a></td>
					<td><a href="#" class="btn btn-ghost-{{ color[0] }}">{{ color[0] }}</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-ghost-{{ color[0] }}">{{ color[0] }}</a></td>
				</tr>
				{% endfor %}
				{% for color in site.socials %}
				{% assign icon = color[1].icon %}
				<tr>
					<td>{{ color[0] }}</td>
					<td><a href="#" class="btn btn-{{ color[0] }}">{% include ui/icon.html icon=icon %} {{ color[0] }}</td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-{{ color[0] }}">{% include ui/icon.html icon=icon %} {{ color[0] }}</td>
					<td><a href="#" class="btn btn-outline-{{ color[0] }}">{% include ui/icon.html icon=icon %} {{ color[0] }}</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-outline-{{ color[0] }}">{% include ui/icon.html icon=icon %} {{ color[0] }}</a></td>
					<td><a href="#" class="btn btn-ghost-{{ color[0] }}">{% include ui/icon.html icon=icon %} {{ color[0] }}</a></td>
					<td class="bg-dark text-light"><a href="#" class="btn btn-ghost-{{ color[0] }}">{% include ui/icon.html icon=icon %} {{ color[0] }}</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>

		<p>Offer local delivery at checkout <span class="text-muted">for customers</span> near you. Manage local orders
			in your Shopify admin or on <code>Shopify POS</code>, and get optimized delivery routes with the Shopify Local Delivery
			app when it’s time to deliver.</p>

		<p>What a strange person. I dunno. Must be a king. Burn her anyway! And this isn't my nose. <strong> This is a
			false one.</strong> <em> I have to push the pram a lot.</em> Now, look here, my good man.</p>
		<h2>Well, I got better.</h2>
		<p>No, no, no! Yes, yes. A bit. But she's got a wart. Well, how'd you become king, then? How do you know she is
			a witch? We want a shrubbery!! Be quiet!</p>
		<ol>
			<li>Well, I didn't vote for you.</li>
			<li>Burn her anyway!</li>
			<li>And the hat. She's a witch!</li>
		</ol>

		<h3>A newt?</h3>
		<p>I dunno. Must be a king. Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! …Are you
			suggesting that coconuts migrate? On second thoughts, let's not go there. It is a silly place.</p>
		<ul>
			<li>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme
				executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.
			</li>
			<li>Why?</li>
			<li>Well, we did do the nose.</li>
		</ul>

		<p>Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! Be quiet! Why? How do you know she
			is a witch?</p>
		<p>Well, I got better. Well, she turned me into a newt. Well, how'd you become king, then? Burn her anyway!
			Well, I didn't vote for you.</p>
		<p>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme
			executive power derives from a mandate from the masses, not from some farcical aquatic ceremony. But you are
			dressed as one…</p>
		<p>Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme
			executive power derives from a mandate from the masses, not from some farcical aquatic ceremony. Found them?
			In Mercia?! The coconut's tropical!</p>
		<p>Who's that then? How do you know she is a witch? Did you dress her up like this? Oh! Come and see the
			violence inherent in the system! Help, help, I'm being repressed! Shut up! Be quiet!</p>
		<p>Oh, ow! The swallow may fly south with the sun, and the house martin or the plover may seek warmer climes in
			winter, yet these are not strangers to our land. How do you know she is a witch? Where'd you get the
			coconuts?</p>
		<p>Found them? In Mercia?! The coconut's tropical! Why do you think that she is a witch? Why? Look, my
			liege!</p>
		<p>Why? What do you mean? Well, how'd you become king, then? I don't want to talk to you no more, you
			empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your
			father smelt of elderberries! Now leave before I am forced to taunt you a second time!</p>
		<p>Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! He hasn't got shit
			all over him. Now, look here, my good man. Ah, now we see the violence inherent in the system! I'm not a
			witch.</p>
		<p>I have to push the pram a lot. Where'd you get the coconuts? Listen. Strange women lying in ponds
			distributing swords is no basis for a system of government. Supreme executive power derives from a mandate
			from the masses, not from some farcical aquatic ceremony.</p>
		<p>No, no, no! Yes, yes. A bit. But she's got a wart. Why? Shh! Knights, I bid you welcome to your new home.
			Let us ride to Camelot! Now, look here, my good man.</p>
	</div>
</div>