---
title: Widgets
page-header: Widgets
menu: extra.widgets
libs: apexcharts
---

<div class="row row-cards">
	<div class="col-lg-6">
		{% include cards/project-progress.html %}
	</div>
	<div class="col-lg-6">
		{% include cards/project-progress.html project-id=2 progress=76 days-ago=7 %}
	</div>

	<div class="col-md-6 col-xl-3">{% include cards/user-card.html person-id=5 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card.html person-id=6 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card.html person-id=7 right=true %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card.html person-id=8 right=true %}</div>

	<div class="col-md-6 col-xl-3">{% include cards/user-card-big.html person-id=15 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-big.html person-id=16 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-big.html person-id=17 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-big.html person-id=18 %}</div>

	<div class="col-md-6 col-xl-3">{% include cards/user-card-bg.html person-id=25 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-bg.html person-id=26 %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-bg.html person-id=27 blurred=true %}</div>
	<div class="col-md-6 col-xl-3">{% include cards/user-card-bg.html person-id=28 blurred=true %}</div>


	<div class="col-md-6">
		{% include cards/subscribe.html person-id=0 %}
	</div>
	<div class="col-md-6">
		{% include cards/subscribe.html person-id=2 %}
	</div>

	<div class="col-md-6 col-xl-3">
		{% include cards/small-stats.html id="currency" icon="currency-dollar" color="blue" title="132 Sales" description="12 waiting payments" %}
	</div>
	<div class="col-md-6 col-xl-3">
		{% include cards/small-stats.html id="shopping-cart" icon="shopping-cart" color="green" title="78 Orders" description="32 shipped" %}
	</div>
	<div class="col-md-6 col-xl-3">
		{% include cards/small-stats.html id="user" icon="user" color="red" title="1352 Members" description="163 registered today" %}
	</div>
	<div class="col-md-6 col-xl-3">
		{% include cards/small-stats.html id="message" icon="message" color="yellow" title="132 Comments" description="16 waitings" %}
	</div>

	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html id="sales" chart-position="left" chart-type="donut" chart-data="56" color="blue" title="132 Sales" description="12 waiting payments" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html id="orders" chart-position="left" chart-type="donut" chart-data="56" color="green" title="78 Orders" description="32 shipped" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html id="members" chart-position="left" chart-type="donut" chart-data="56" color="red" title="1352 Members" description="163 registered today" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html id="comments" chart-position="left" chart-type="donut" chart-data="56" color="yellow" title="132 Comments" description="16 waitings" %}
	</div>

	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html id="sales" icon="arrow-up" color="green" lt=true title="$5,256.99" description="Revenue last 30 days" description-value="+4%" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html id="orders" icon="arrow-down" color="red" lt=true title="342" description="Sales last 30 days" description-value="-4.3%" description-value-color="red" %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html id="members" icon="arrow-up" color="green" lt=true title="132" description="Customers last 30 days" description-value="+6.8%"  %}
	</div>
	<div class="col-md-6 col-xl-3">{% include cards/small-stats.html id="comments" icon="arrow-down" color="red" lt=true title="78" description="Members registered today" description-value="-2%" description-value-color="red" %}
	</div>

	<div class="col-md-6 col-lg-4">
		<div class="row row-cards">
			<div class="col-12">{% include cards/small-stats.html chart-type="line" chart-data="20,0,40,30,40,30,80,60" %}</div>
			<div class="col-12">{% include cards/small-stats.html chart-type="bar" chart-data="20,40,30,10,40,60,80,70" color="red" icon="heart" %}</div>
			<div class="col-12">{% include cards/small-stats.html chart-type="bar" chart-data="20,40,20,-10,-30,10,40,60,80,70" color="green" icon="brand-github" %}</div>
			<div class="col-12">{% include cards/small-stats.html chart-type="donut" chart-data="12" person-id=10 %}</div>
			<div class="col-12">{% include cards/small-stats.html chart-type="donut" chart-data="12" person-id=11 %}</div>
			<div class="col-12">{% include cards/small-stats.html chart-type="donut" chart-data="56" person-id=1 %}</div>
			<div class="col-12">{% include cards/small-stats.html color="green" person-id=4 %}</div>
			<div class="col-12">{% include cards/small-stats.html small-icon="trending-down" color="red" person-id=3 %}</div>
			<div class="col-12">{% include cards/code.html %}</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="row row-cards">
			<div class="col-12">{% include cards/project-summary.html stage-color="red" %}</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="row row-cards">
			<div class="col-12">{% include cards/project-kanban.html title="Tabler UI" badge="v1.0" value=30 percentage-color="red" limit=4 offset=0 due="72 days" %}</div>
			<div class="col-12">{% include cards/project-kanban.html title="Tabler React" value=80 offset=20 %}</div>
			<div class="col-12">{% include cards/user-info.html %}</div>
			<div class="col-12">{% include cards/configuration.html %}</div>
		</div>
	</div>
</div>
