{% include "parts/form/input-image.html" %}
{% include "parts/form/input-image-radio.html" offset=10 %}
{% include "parts/form/input-color.html" type="checkbox" label="Color Input Check" %}
{% include "parts/form/input-color.html" name="color-rounded" rounded=true label="Color Input Radio" %}
{% include "parts/form/input-colorpicker.html" %}

{% include "parts/form/validation-states.html" %}
{% include "parts/form/validation-states.html" lite=true %}

<label class="form-label">Form fieldset</label>
{% include "parts/form/fieldset.html" %}