@mixin navbar-dark {
  --#{$variable-prefix}navbar-bg: #{$navbar-dark-bg};
  --#{$variable-prefix}navbar-color: #{$navbar-dark-color};
  @include scrollbar(true);
}

@mixin navbar-transparent {
  --#{$variable-prefix}navbar-border-color: transparent;
  --#{$variable-prefix}navbar-bg: transparent;
}

@mixin navbar-vertical {
  --#{$variable-prefix}navbar-padding-x: 1rem;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: $zindex-fixed;
  align-items: flex-start;
  transition: .3s transform;
  overflow-x: auto;
  box-shadow: inset -1px 0 0 0 var(--#{$variable-prefix}navbar-border-color);

  [class^="container"] {
    padding-left: var(--#{$variable-prefix}navbar-padding-x);
    padding-right: var(--#{$variable-prefix}navbar-padding-x);
    flex-direction: column;
    align-items: stretch;
  }

  &.navbar-condensed {
    @include navbar-vertical-condensed;
  }

  &.navbar-right {
    left: auto;
    right: 0;
    box-shadow: inset 1px 0 0 0 var(--#{$variable-prefix}navbar-border-color);
  }

  .navbar-brand {
    padding: (($navbar-height - $navbar-brand-image-height) / 2) 0;
    justify-content: center;
  }

  .navbar-collapse {
    align-items: stretch;
  }

  .navbar-nav {
    flex-direction: column;
    flex-grow: 1;
    min-height: auto;
    margin-left: calc(-1 * var(--#{$variable-prefix}navbar-padding-x));
    margin-right: calc(-1 * var(--#{$variable-prefix}navbar-padding-x));

    .nav-link {
      padding: .5rem var(--#{$variable-prefix}navbar-padding-x);
      justify-content: flex-start;
    }

    .dropdown-toggle:after {
      margin-left: auto;
    }
  }

  ~ .content {
    padding-left: $sidebar-width;

    [class^="container"] {
      padding-left: var(--#{$variable-prefix}gutter-x, #{$container-padding-x});
      padding-right: var(--#{$variable-prefix}gutter-x, #{$container-padding-x});
    }
  }

  &.navbar-right ~ .content {
    padding-left: 0;
    padding-right: $sidebar-width;
  }

  .badge {
    margin-left: auto;
    position: static;
  }

  &:not(.navbar-condensed) {
    .dropdown-menu {
      position: static;
      box-shadow: none;
      border: 0;
      background: transparent;
      color: inherit;
      border-radius: 0;

      .dropdown-menu-columns {
        flex-direction: column;
      }

      .dropdown-item {
        padding-left: calc(var(--#{$variable-prefix}navbar-padding-x) + 1.75rem);
        padding-right: var(--#{$variable-prefix}navbar-padding-x);
      }

      .dropdown-menu .dropdown-item {
        padding-left: calc(var(--#{$variable-prefix}navbar-padding-x) + 3.5rem);
      }

      .dropdown-menu .dropdown-item .dropdown-item {
        padding-left: calc(var(--#{$variable-prefix}navbar-padding-x) + 5.25rem);
      }
    }
  }
}

@mixin navbar-vertical-condensed {
  width: $sidebar-condensed-width;

  .nav-link {
    min-height: 3rem;
  }

  .nav-link-title {
    display: none;
  }

  .nav-link-icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
  }

  .dropdown-toggle:after {
    display: none;
  }

  ~ .content {
    padding-left: $sidebar-condensed-width;
  }

  &.navbar-right ~ .content {
    padding-left: 0;
    padding-right: $sidebar-condensed-width;
  }

  ~ .navbar-vertical.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      &#{$infix} {
        @include media-breakpoint-up($breakpoint) {
          left: $sidebar-condensed-width;
          width: $sidebar-double-width;
          display: flex;

          ~ .content {
            padding-left: $sidebar-condensed-width + $sidebar-double-width;
          }
        }
      }
    }
  }
}

/**
Navbar
 */
.navbar {
  --#{$variable-prefix}navbar-bg: #{$white};
  --#{$variable-prefix}navbar-color: #{$navbar-light-color};
  --#{$variable-prefix}navbar-border-color: #{$border-color-transparent};
  --#{$variable-prefix}navbar-padding-x: var(--#{$variable-prefix}-gutter-x, var(--#{$variable-prefix}-gutter-x, 1.5rem));
  box-shadow: inset 0 -1px 0 0 var(--#{$variable-prefix}navbar-border-color);
  background: var(--#{$variable-prefix}navbar-bg);
  color: var(--#{$variable-prefix}navbar-color);
  align-items: stretch;
  min-height: $navbar-height;

  @include scrollbar;

  @include dark-mode {
    @include navbar-dark;
  }

  &.collapsing {
    min-height: 0;
  }

  .nav-item {
    position: relative;
  }

  .nav-link {
    min-width: 2.25rem;
    justify-content: center;
  }

  .input-icon-addon {
    color: var(--#{$variable-prefix}navbar-color);
  }

  .badge {
    min-width: 1rem;
    height: 1rem;
    padding: 0;
    font-size: $h6-font-size;
    line-height: 1;
  }
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .dropdown-toggle:after {
          margin-left: auto;
        }

        &.navbar-collapse,
        .navbar-collapse {
          [class^="container"] {
            flex-direction: column;
            align-items: stretch;
          }
        }
      }

      @include media-breakpoint-up($breakpoint) {
        .navbar-nav {
          min-width: 0;
        }

        .badge {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

/**
Navbar vertical
 */
@if $enable-navbar-vertical {
  .navbar-vertical {
    &.navbar-expand {
      @each $breakpoint in map-keys($grid-breakpoints) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        &#{$infix} {
          @include media-breakpoint-up($breakpoint) {
            @include navbar-vertical;
          }
        }
      }
    }
  }
}

/**
Navbar light
 */
.navbar-light {
  background-color: $white;
}

/**
Navbar dark
 */
.navbar-dark {
  @include navbar-dark;
}

/**
Navbar transparent
 */
.navbar-transparent {
  @include navbar-transparent;
}

/**
Navbar brand
 */
.navbar-brand {
  display: inline-flex;
  align-items: center;
  font-weight: $navbar-brand-font-weight;
  margin: 0;
}

.navbar-brand-image {
  display: block;
  height: $navbar-brand-image-height;
}

/**
Navbar toggler
 */
.navbar-toggler {
  border: 0;
  width: $navbar-brand-image-height;
  height: $navbar-brand-image-height;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: (($navbar-height - $navbar-brand-image-height - 2 * $navbar-padding-y) / 2) calc(-1 * var(--#{$variable-prefix}navbar-padding-x) + #{add($navbar-brand-image-height / 2, $navbar-padding-y)});
}

.navbar-toggler-icon {
  height: 2px;
  width: 1.25em;
  background: currentColor;
  border-radius: 10px;
  transition: $navbar-toggler-animation-time $navbar-toggler-animation-time top, $navbar-toggler-animation-time $navbar-toggler-animation-time bottom, $navbar-toggler-animation-time transform, 0s $navbar-toggler-animation-time opacity;
  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background: inherit;
    position: absolute;
    left: 0;
    transition: inherit;
  }

  &:before {
    top: -.45em;
  }

  &:after {
    bottom: -.45em;
  }

  .navbar-toggler[aria-expanded="true"] & {
    transform: rotate(45deg);
    transition: .3s top, .3s bottom, .3s .3s transform, 0s .3s opacity;

    &:before {
      top: 0;
      transform: rotate(-90deg);
    }

    &:after {
      bottom: 0;
      opacity: 0;
    }
  }
}

.navbar-overlap {
  &:after {
    content: '';
    height: $navbar-overlap-height;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: inherit;
    z-index: -1;
    box-shadow: inherit;
  }
}