@mixin navbar-vertical {
  .navbar-collapse {
    flex-direction: column;

    [class^="container"] {
      flex-direction: column;
      align-items: stretch;
    }

    .navbar-nav {
      margin-left: calc(-1 * var(--#{$prefix}navbar-padding-x));
      margin-right: calc(-1 * var(--#{$prefix}navbar-padding-x));

      .nav-link {
        padding: var(--#{$prefix}navbar-link-padding-y) var(--#{$prefix}navbar-padding-x);
        justify-content: flex-start;
        margin: 0 var(--#{$prefix}navbar-padding-x);
      }
    }

    .dropdown-menu-columns {
      flex-direction: column;
    }

    .dropdown-menu {
      position: relative;
      top: 0;
      left: 0;
      background: transparent;
      color: inherit;
      box-shadow: none;
      border: none;
      min-width: 0;
      margin: 0 var(--#{$prefix}navbar-padding-x);
      padding: 0 0 0 calc(var(--#{$prefix}navbar-padding-x) + var(--#{$prefix}navbar-icon-width));

      .dropdown-menu {
        padding: 0 0 0 var(--#{$prefix}navbar-padding-x);

        &:after {
          left: calc(var(--#{$prefix}navbar-padding-x) / 2);
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: var(--#{$prefix}navbar-link-padding-y);
        bottom: var(--#{$prefix}navbar-link-padding-y);
        left: calc(var(--#{$prefix}navbar-padding-x) + (var(--#{$prefix}navbar-icon-width) / 2));
        width: 1px;
        background-color: var(--#{$prefix}navbar-color);
        opacity: .1;
      }

      .dropdown-item {
        min-width: 0;
        display: flex;
        width: auto;
        border-radius: $border-radius;
        color: inherit;

        &.active {
          color: var(--#{$prefix}navbar-active-color);
          background: var(--#{$prefix}navbar-active-background);
        }
      }



      //.dropdown-menu .dropdown-item {
      //  padding-left: calc(var(--#{$prefix}navbar-padding-x) + 2 * var(--#{$prefix}navbar-icon-width) + var(--#{$prefix}navbar-padding-x));
      //}
      //
      //.dropdown-menu .dropdown-menu .dropdown-item {
      //  padding-left: calc(var(--#{$prefix}navbar-padding-x) + 3 * var(--#{$prefix}navbar-icon-width) + var(--#{$prefix}navbar-padding-x));
      //}
    }

    .dropdown-toggle:after {
      margin-left: auto;
    }

    .nav-item.active:after {
      border-bottom-width: 0;
      border-left-width: 3px;
      right: auto;
      top: 0;
      bottom: 0;
    }
  }
}

@mixin navbar-vertical-collapsed {
  --#{$prefix}navbar-link-padding-y: .75rem;
  width: var(--#{$prefix}navbar-vertical-collapsed-width);

  ~ .navbar,
  ~ [class*="navbar-expand"],
  ~ .page-wrapper {
    margin-left: var(--#{$prefix}navbar-vertical-collapsed-width);
  }

  &.navbar-right {
    ~ .navbar,
    ~ [class*="navbar-expand"],
    ~ .page-wrapper {
      margin-left: 0;
      margin-right: var(--#{$prefix}navbar-vertical-collapsed-width);
    }
  }

  .nav-link-title {
    display: none;
  }

  .nav-link-icon {
    color: inherit;
  }

  .navbar-collapse {
    .dropdown-menu {
      position: absolute;
      left: 100%;
      top: 0;
      padding: $dropdown-padding-y 0;
      background: var(--#{$variable-prefix}white);
      color: $body-color;
      border: 1px solid var(--#{$variable-prefix}border-color);
      margin-left: -.25rem;
      min-width: $dropdown-min-width;
      box-shadow: $dropdown-box-shadow;

      .dropdown-item {
        padding: .5rem var(--#{$prefix}navbar-padding-x);
        color: inherit;

        &.active {
          color: var(--#{$variable-prefix}primary);
        }
      }
    }

    .dropdown-menu-columns {
      flex-direction: row;
    }

    .dropdown-header {
      display: block;
    }
  }

  .navbar-nav {
    .nav-link {
      align-self: stretch;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      aspect-ratio: 1;
    }

    .nav-link-icon {
      margin: 0;
      opacity: 1;
    }

    .dropdown-toggle {
      &:after {
        display: none;
      }
    }
  }

  .hide-sidebar-collapsed,
  .navbar-brand-image-lg {
    display: none;
  }

  .navbar-brand-image-sm {
    display: block;
  }
}

//
// Navbar
//
.navbar {
  --#{$prefix}navbar-height: #{$navbar-height};
  --#{$prefix}navbar-padding-x: .75rem;
  --#{$prefix}navbar-background: transparent;
  --#{$prefix}navbar-color: #{$navbar-light-color};
  --#{$prefix}navbar-color-rgb: #{to-rgb($navbar-light-color)};
  --#{$prefix}navbar-icon-color: #{$navbar-light-icon-color};
  --#{$prefix}navbar-icon-width: #{$navbar-icon-width};
  --#{$prefix}navbar-active-color: #{$navbar-light-active-color};
  --#{$prefix}navbar-active-icon-color: #{$primary};
  --#{$prefix}navbar-active-background: #{rgba(var(--#{$prefix}navbar-color-rgb), .06)};
  --#{$prefix}navbar-disabled-color: #{$navbar-light-disabled-color};
  --#{$prefix}navbar-muted-color: #{$text-muted};
  --#{$prefix}navbar-border-color: transparent;
  --#{$prefix}navbar-link-padding-y: .5rem;
  background: var(--#{$prefix}navbar-background);
  color: var(--#{$prefix}navbar-color);
  align-items: stretch;
  min-height: var(--#{$prefix}navbar-height);
  box-shadow: inset 0 -1px 0 0 var(--#{$prefix}navbar-border-color);

  @include scrollbar;

  .text-muted {
    color: var(--#{$prefix}navbar-muted-color) !important;
  }

  //.navbar-brand {
  //  color: $brand-color;
  //
  //  &:hover,
  //  &:focus {
  //    color: $brand-color;
  //    opacity: .8;
  //  }
  //}

  .navbar-nav {
    .nav-link {
      color: var(--#{$prefix}navbar-color);

      &:hover,
      &:focus,
      &.show {
        color: var(--#{$prefix}navbar-active-color);
      }

      &.disabled {
        color: var(--#{$prefix}navbar-disabled-color);
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: var(--#{$prefix}navbar-active-color);
    }
  }

  .navbar-toggler {
    color: inherit;
    border-color: transparent;
  }

  .navbar-text {
    color: var(--#{$prefix}navbar-color);

    a,
    a:hover,
    a:focus {
      color: var(--#{$prefix}navbar-color);
    }
  }

  .navbar-collapse & {
    flex-grow: 1;
  }

  &.collapsing {
    min-height: 0;
  }

  .dropdown-menu {
    position: absolute;
    z-index: $zindex-fixed;
  }

  .dropdown-header {
    display: none;
  }

  .dropdown-item {
    padding-top: var(--#{$prefix}navbar-link-padding-y);
    padding-bottom: var(--#{$prefix}navbar-link-padding-y);
  }

  .navbar-nav {
    min-height: subtract($navbar-height, 2 * $navbar-padding-y);

    .nav-link {
      position: relative;
      min-width: 2rem;
      min-height: 2rem;
      justify-content: center;
      border-radius: $border-radius;

      .badge {
        position: absolute;
        top: .375rem;
        right: .375rem;
        transform: translate(50%, -50%);
      }
    }

    .nav-link-icon {
      color: inherit;
      width: var(--#{$prefix}navbar-icon-width);
      height: var(--#{$prefix}navbar-icon-width);
      margin-right: var(--#{$prefix}navbar-padding-x);

      .icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}

//
// Navbar light
//
.navbar-light {
  --#{$prefix}navbar-background: #{$white};
  --#{$prefix}navbar-border-color: #{$navbar-light-border-color};
}

//
//Navbar dark
//
.navbar-dark {
  --#{$prefix}navbar-background: #{$dark};
  --#{$prefix}navbar-color: #{$navbar-dark-color};
  --#{$prefix}navbar-color-rgb: #{to-rgb($navbar-dark-color)};
  --#{$prefix}navbar-active-color: #{$navbar-dark-active-color};
  --#{$prefix}navbar-border-color: rgba(var(--#{$prefix}navbar-color-rgb), .02);

  .navbar-brand-autodark {
    filter: grayscale(1) brightness(0) invert(1);
  }
}

//
// Navbar nav
//
.navbar-nav {
  margin: 0;
  padding: 0;
}

//
// Navbar expand
//
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down(breakpoint-next($breakpoint)) {
        @include navbar-vertical;
      }

      @include media-breakpoint-up($next) {
        .navbar-collapse {
          width: auto;
          flex: 1 1 auto;
        }
      }
    }
  }
}

/**
Navbar brand
 */
.navbar-brand {
  display: inline-flex;
  align-items: center;
  font-weight: $navbar-brand-font-weight;
  margin: 0;
  line-height: 1;
}

.navbar-brand-image {
  height: $navbar-brand-image-height;
  width: auto;
}

.navbar-brand-image-sm {
  display: none;
}

/**
Navbar toggler
 */
.navbar-toggler {
  border: 0;
  width: $navbar-brand-image-height;
  height: $navbar-brand-image-height;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler-icon {
  height: 2px;
  width: 1.25em;
  background: currentColor;
  border-radius: 10px;
  @include transition(top $navbar-toggler-animation-time $navbar-toggler-animation-time, bottom $navbar-toggler-animation-time $navbar-toggler-animation-time, transform $navbar-toggler-animation-time, opacity 0s $navbar-toggler-animation-time);
  position: relative;

  &:before,
  &:after {
    content: '';
    display: block;
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background: inherit;
    position: absolute;
    left: 0;
    @include transition(inherit);
  }

  &:before {
    top: -.45em;
  }

  &:after {
    bottom: -.45em;
  }

  .navbar-toggler[aria-expanded="true"] & {
    transform: rotate(45deg);
    @include transition(top $transition-time, bottom $transition-time, transform $transition-time $transition-time, opacity 0s $transition-time);

    &:before {
      top: 0;
      transform: rotate(-90deg);
    }

    &:after {
      bottom: 0;
      opacity: 0;
    }
  }
}

/**
Navbar nav
 */
.navbar-nav {
  align-items: stretch;

  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/**
Navbar side
 */
.navbar-side {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/**
Navbar vertical
 */
@if $enable-navbar-vertical {
  .navbar-vertical {
    &.navbar-expand {
      @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
          @include media-breakpoint-up($next) {
            width: var(--#{$prefix}navbar-vertical-width);
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: $zindex-fixed;
            padding: 0 var(--#{$prefix}navbar-padding-x);
            align-items: flex-start;
            flex-direction: column;
            @include transition(transform $transition-time);
            box-shadow: inset -1px 0 0 0 var(--#{$prefix}navbar-border-color);

            &.navbar-right {
              left: auto;
              right: 0;
            }

            .navbar-brand {
              padding: (($navbar-height - $navbar-brand-image-height) * .5) 0;
              justify-content: center;
              margin-bottom: .5rem;
            }

            .navbar-collapse {
              align-items: stretch;
            }

            .navbar-nav {
              flex-direction: column;
              flex-grow: 1;
              min-height: auto;
            }

            .nav-link {
              border-radius: $border-radius;
            }

            .show > .nav-link,
            .active > .nav-link,
            .nav-link.show,
            .nav-link.active,
            .nav-link:hover,
            .nav-link:focus {
              background: var(--#{$prefix}navbar-active-background);
              color: var(--#{$prefix}navbar-active-color);
            }

            // Container
            > [class*="container"] {
              flex-direction: column;
              align-items: stretch;
              min-height: 100%;
              padding-left: 0;
              padding-right: 0;
            }

            // Aside
            .navbar-aside {
              display: block;
            }

            // Page
            ~ .page {
              padding-left: var(--#{$prefix}navbar-vertical-width);

              [class^="container"] {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
              }
            }

            // Page wrapper margins
            ~ .navbar,
            ~ [class*="navbar-expand"],
            ~ .page-wrapper {
              margin-left: var(--#{$prefix}navbar-vertical-width);
            }

            &.navbar-right {
              ~ .navbar,
              ~ [class*="navbar-expand"],
              ~ .page-wrapper {
                margin-left: 0;
                margin-right: var(--#{$prefix}navbar-vertical-width);
              }
            }

            @include navbar-vertical;

            // Utils
            .navbar-brand-image-sm {
              display: none;
            }

            .navbar-brand-image-lg {
              display: block;
            }

            // Collapsed navbar
            &.navbar-vertical-collapsed {
              @include navbar-vertical-collapsed;
            }
          }
        }
      }
    }
  }
}

//
// Navbar aside
//
.navbar-aside {
  display: none;
  margin-top: auto;
  padding: var(--#{$prefix}navbar-padding-x);
  margin-left: calc(-1 * var(--#{$prefix}navbar-padding-x));
  margin-right: calc(-1 * var(--#{$prefix}navbar-padding-x));
  border-top: 1px solid var(--#{$prefix}navbar-border-color);

  @at-root a#{&} {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
      opacity: .8;
    }
  }
}

.navbar-aside-highlighted {
  background: rgba(var(--#{$prefix}navbar-color-rgb), .02);
  border-color: transparent;
}

//
// Navbar overlap
//
.navbar-overlap {
  &:after {
    content: '';
    height: $navbar-overlap-height;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: inherit;
    z-index: -1;
    box-shadow: inherit;
  }
}