:root,
:host {
  font-size: 16px;
  height: 100%;

  @each $name, $color in map-merge($theme-colors, $gray-colors) {
    --#{$prefix}#{$name}: #{$color};
    --#{$prefix}#{$name}-fg: #{if(contrast-ratio($color) > $min-contrast-ratio, var(--#{$prefix}light), var(--#{$prefix}dark))};
    --#{$prefix}#{$name}-darken: #{theme-color-darker($color)};
    --#{$prefix}#{$name}-rgb: #{to-rgb($color)};
  }

  --#{$prefix}bg-surface: #{$bg-surface};
  --#{$prefix}bg-surface-secondary: #{$bg-surface-secondary};
  --#{$prefix}bg-surface-dark: #{$bg-surface-dark};
  --#{$prefix}bg-forms: var(--#{$prefix}bg-surface);

  --#{$prefix}border-color: #{$border-color};
  --#{$prefix}border-color-light: #{$border-color-light};
  --#{$prefix}border-color-active: #{$border-color-active};

  --#{$prefix}icon-color: #{$icon-color};

  --#{$prefix}active-bg: #{$active-bg};

  --#{$prefix}disabled-bg: #{$disabled-bg};
  --#{$prefix}disabled-color: #{$disabled-color};

  --#{$prefix}code-color: #{$code-color};
  --#{$prefix}code-bg: #{$code-bg};

  --#{$prefix}dark-mode-border-color: #{$dark-mode-border-color};
  --#{$prefix}dark-mode-border-color-light: #{$dark-mode-border-color-light};
  --#{$prefix}dark-mode-border-color-active: #{$dark-mode-border-color-active};


  @each $name, $value in $font-weights {
    --#{$prefix}font-weight-#{$name}: #{$value};
  }

  @each $name, $value in $font-sizes {
    --#{$prefix}font-size-#{$name}: #{$value};
  }

  @each $name, $value in $line-heights {
    --#{$prefix}line-height-#{$name}: #{$value};
  }

  @each $name, $value in $shadows {
    --#{$prefix}#{$name}: #{$value};
  }
}