//
// Browser
//
@use '../config' as *;

.browser {
  @include border-radius(var(--border-radius-lg));
  overflow: hidden;
  background: var(--bg-surface-secondary);
  box-shadow: 0 0 0 1px var(--border-color);
}

.browser-header {
  padding: 0.25rem 1rem;
  background: var(--bg-surface-tertiary) linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03));
  border-bottom: 1px solid var(--border-color);
  @include border-radius(calc(var(--border-radius-lg) - 1px) calc(var(--border-radius-lg) - 1px) 0 0);
}

.browser-dots {
  display: flex;
  margin-inline-end: 3rem;
}

.browser-dots-colored {
  .browser-dot {
    &:nth-child(1) {
      background: #fb6058;
    }

    &:nth-child(2) {
      background: #fcbe3b;
    }

    &:nth-child(3) {
      background: #2ccb4c;
    }
  }
}

.browser-dot {
  width: 0.75rem;
  min-width: 0.75rem;
  height: 0.75rem;
  margin-inline-end: 0.5rem;
  background: var(--border-color);
  border: 1px solid var(--border-active-color);
  @include border-radius(var(--border-radius-pill));
}

.browser-input {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  font-size: var(--font-size-h5);
  line-height: 1;
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(to bottom, var(--bg-surface), var(--bg-surface-secondary));
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 1px 2px 0 rgba(0, 0, 0, 0.05);
  @include border-radius(var(--border-radius));

  &:hover {
    text-decoration: none;
  }
}
