@use '../config' as *;

.body-marketing {
  --body-font-size: 1rem;
  --body-line-height: 1.75;
}

.body-gradient {
  background: var(--bg-surface) linear-gradient(to bottom, var(--bg-surface-secondary) 12%, var(--bg-surface) 99%) repeat-x top center/100% 100vh;
}
