{% assign limit = include.limit | default: 5 %}
{% assign offset = include.offset | default: 0 %}
{% assign size = include['size'] | default: 'sm' %}
<div class="avatar-list{% if include.stacked %} avatar-list-stacked{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
    {% for person in site.data.people limit: limit offset: offset %}
        {% include ui/avatar.html person=person size=size rounded=true %}
    {% endfor %}
    {% if include.text %}
      {% include ui/avatar.html placeholder=include.text size=size rounded=true %}
    {% endif %}
</div>
