{% assign icon = include.icon | default: 'dots-vertical' %}
<div class="dropdown{% if include.class %} {{ include.class }}{% endif %}">
   <a href="#" class="btn-action" data-bs-toggle="dropdown" aria-expanded="false">
      {% include ui/icon.html icon=icon %}
   </a>
   <div class="dropdown-menu dropdown-menu-end">
      <a href="#" class="dropdown-item">Import</a>
      <a href="#" class="dropdown-item">Export</a>
      <a href="#" class="dropdown-item">Download</a>
      <a href="#" class="dropdown-item text-danger">Delete</a>
   </div>
</div>
