//
// Base styles
//

.datagrid {
  --#{$variable-prefix}datagrid-padding: #{$datagrid-padding};
  --#{$variable-prefix}datagrid-item-width: #{$datagrid-item-width};

  display: grid;
  grid-gap: var(--#{$variable-prefix}datagrid-padding);
  grid-template-columns: repeat(auto-fit, minmax(var(--#{$variable-prefix}datagrid-item-width), 1fr));
}

.datagrid-title {
  @include subheader;
  margin-bottom: .25rem;
}