.col-separator {
  border-left: 1px solid $border-color;
}

%container-common {
  @include media-breakpoint-down($cards-grid-breakpoint) {
    --bs-gutter-x: #{$grid-gutter-width};
  }
}

.container,
.container-fluid {
  @extend %container-common;
}

.container {
  @each $variation, $size in $container-variations {
    &-#{$variation} {
      max-width: $size;
    }
  }
}

@each $name, $value in (0: 0, sm: .375rem, md: 1.5rem, lg: 3rem) {
  .row-#{$name} {
    margin-right: (-$value);
    margin-left: -($value);

    > .col,
    > [class*="col-"] {
      padding-right: $value;
      padding-left: $value;
    }

    .card {
      margin-bottom: 2 * $value;
    }
  }
}

.row-deck {
  > .col,
  > [class*="col-"] {
    display: flex;
    align-items: stretch;

    .card {
      flex: 1 1 auto;
    }
  }
}

.row-cards {
  --#{$variable-prefix}gutter-x: #{$cards-grid-gap};
  --#{$variable-prefix}gutter-y: #{$cards-grid-gap};

  .row-cards {
    flex: 1;
  }

  @include media-breakpoint-down($cards-grid-breakpoint) {
    --#{$variable-prefix}gutter-x: #{$cards-grid-gap / 2};
    --#{$variable-prefix}gutter-y: #{$cards-grid-gap / 2};
  }
}