.icon {
  width: $font-size-base * $line-height-base;
  height: $font-size-base * $line-height-base;
  vertical-align: sub;

  @if $icon-stroke-width {
    stroke-width: $icon-stroke-width;
  }

  &:hover {
    text-decoration: none;
  }
}

.icon-filled {
  fill: currentColor;
}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -2px -1px 0;
  list-style: none;

  > li {
    flex: 1 0 4rem;
  }
}

.icons-list-wrap {
  overflow: hidden;
}

.icons-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  text-align: center;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  i {
    font-size: 1.25rem;
  }
}
