/**
Legend
 */
.legend {
  --#{$prefix}legend-size: #{$legend-size};
  display: inline-block;
  background: var(--#{$prefix}gray-200);
  width: var(--#{$prefix}legend-size);
  height: var(--#{$prefix}legend-size);
  border-radius: $legend-border-radius;
}
