.segmented {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1px;
  padding: 0;
  list-style: none;
  background: var(--#{$prefix}surface-secondary);
}

.segmented-item {
  display: inline-block;
  margin: 0;
  padding: 0 .5rem;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: var(--#{$prefix}secondary);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color $transition-time;

  &.active {
    color: var(--#{$prefix}body-color);
  }
}