.tags-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .tag {
        border: $border-width solid $gray-300;
        display: flex;
        align-items: center;
        height: 1.5rem;
        border-radius: $border-radius;
        font-size: 1rem;
        padding-left: .25rem;
        padding-right: .25rem;
        background: $white;
        box-shadow: .06rem .06rem $gray-300;

        .tag-close {
            margin-left: .5rem;
            display: flex;
            align-items: center;
            height: 1rem;
            border-radius: $border-radius;


            &:hover {
                background-color: $gray-200;
            }

            > :nth-child(1) {
                height: auto;
                max-height: .5rem;
            }
        }

        .tag-number {
            margin-left: .5rem;
        }


        .tag-checkbox,
        .tag-status,
        .tag-avatar {
            margin-right: .5rem;
        }

        .tag-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            max-height: .5rem;

            img {
                height: auto;
                max-height: 100%;
                max-width: 100%;

            }
        }
    }
}