<div class="card">
   <div class="card-header">
      <h3 class="card-title">{{ include.title | default: 'Carousel' }}</h3>
   </div>
   <div class="card-body">
      {% include "ui/carousel.html" id=include.id indicators=include.indicators indicators-thumb=include.indicators-thumb indicators-thumb-ratio=include.indicators-thumb-ratio indicators-dot=include.indicators-dot controls=include.controls offset=include.offset fade=include.fade limit=include.limit indicators-vertical=include.indicators-vertical %}
   </div>
</div>
