<div class="card">
   <div class="card-body">
      <div class="row align-items-center mb-4">
         <div class="col-auto">
            <div class="avatar avatar-lg rounded d-block"
                 style="background-image: url(https://logo.clearbit.com/amazon.com?size=100)"></div>
         </div>
         <div class="col">
            <div class="h3 m-0 fw-normal">amazon.com</div>
         </div>
      </div>

      <div class="row">
         <div class="col">
            <h5 class="mb-1">Name</h5>
            <div class="text-muted-dark">Amazon.com</div>
         </div>
         <div class="col">
            <h5 class="mb-1">Legal Name</h5>
            <div class="text-muted-dark">Amazon.com, Inc.</div>
         </div>
         <div class="col">
            <h5 class="mb-1">Ticker</h5>
            <div class="text-muted-dark">AMZN</div>
         </div>
         <div class="col">
            <h5 class="mb-1">Founded Year</h5>
            <div class="text-muted-dark">1995</div>
         </div>
         <div class="col">
            <h5 class="mb-1">Type</h5>
            <div class="text-muted-dark">Public</div>
         </div>
         <div class="col">
            <h5 class="mb-1">Employees</h5>
            <div class="text-muted-dark">341,400</div>
         </div>
         <div class="col">
            <h5 class="mb-1">Annual Revenue</h5>
            <div class="text-muted-dark">$135B</div>
         </div>
      </div>
   </div>
   <div class="card-body">
      <div class="row gutters-lg">
         <div class="col-7">
            <div class="row mb-5">
               <div class="col">
                  <h5 class="mb-1">Location</h5>
                  <div class="text-muted-dark">207 Boren Ave, Seattle, WA 98109, USA</div>
               </div>
               <div class="col">
                  <h5 class="mb-1">Timezone</h5>
                  <div class="text-muted-dark">America/Los_Angeles</div>
               </div>
            </div>

            <div class="map-static"
                 style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=47.620057,-122.3362675&size=640x120&scale=2&zoom=13&markers=color:blue|47.620057,-122.3362675&key={{ site.google-maps-key }});"></div>

            <hr>

            <h5 class="mb-4">Recent News</h5>

            <ul class="list-unstyled">
               <li class="mb-5">
                  <a href="#">Amazons Super Bowl commercial might contain a clue about where HQ2 will be</a>
                  <p class="mb-1">Eagleeyed viewers of the Super Bowl spotted something most people missed in Amazons
                     commercial for its Alexa voice assistant Before Alexa lo…</p>
                  <div class="row">
                     <div class="col text-muted">businessinsider.com</div>
                     <div class="col text-muted text-end">2 days ago</div>
                  </div>
               </li>
               <li class="mb-5">
                  <a href="#">Holiday performance propels Amazon to stellar quarter results</a>
                  <p>This story was delivered to BI Intelligence ECommerce Briefing subscribers hours before appearing
                     on Business Insider To be the first to kno…</p>
                  <div class="row">
                     <div class="col text-muted">businessinsider.com</div>
                     <div class="col text-muted text-end">2 days ago</div>
                  </div>
               </li>
               <li class="mb-5">
                  <a href="#">12 highpaying jobs Amazons HQ2 will likely bring to its future city</a>
                  <p class="mb-1">These Amazon jobs all earn over 90000tanleimagesShutterstock</p>
                  <div class="row">
                     <div class="col text-muted">businessinsider.com</div>
                     <div class="col text-muted text-end" title="2018-02-02T12:32:00.000Z">4 days ago</div>
                  </div>
               </li>
               <li class="mb-5">
                  <a href="http://businessinsider.com/amazon-dominates-online-shopping-2018-2">Amazon is tightening its
                     iron grip online</a>
                  <p class="mb-1">ReutersLindsey Wasson To say Amazon is doing well would be an understatement In its
                     latest earnings report the company reported 6045 billion…</p>
                  <div class="row">
                     <div class="col text-muted">businessinsider.com</div>
                     <div class="col text-muted text-end" title="2018-02-02T10:45:00.000Z">5 days ago</div>
                  </div>
               </li>
               <li class="mb-4">
                  <a href="http://businessinsider.com/tough-amazon-interview-questions-you-should-be-prepared-to-answer-2018-1">21
                     tough interview questions you may have to answer if you want to work at Amazon</a>
                  <p class="mb-1">How would you answer Amazon is a peculiar company whats peculiar about youAlex
                     WongGetty Images</p>
                  <div class="row">
                     <div class="col text-muted">businessinsider.com</div>
                     <div class="col text-muted text-end" title="2018-02-01T11:25:00.000Z">6 days ago</div>
                  </div>
               </li>
            </ul>
         </div>
         <div class="col-5">
            <ul class="list-unstyled list-separated">
               <li class="list-separated-item">
                  <h5>Description</h5>
                  <div class="text-muted-dark">
                     Online shopping from the earth's biggest selection of books, magazines, music, DVDs, videos,
                     electronics, computers, software, apparel & acc…
                  </div>
               </li>
               <li class="list-separated-item">
                  <h5>Tags</h5>
                  <div>
                     <span class="tag">E-Commerce &amp; Marketplaces</span>
                     <span class="tag">E-commerce</span>
                     <span class="tag">B2C</span>
                     <span class="tag">Internet</span>
                     <span class="tag">Consumer Discretionary</span>
                     <span class="tag">Technology</span>
                  </div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Industry</h5>
                  <div>Internet Software &amp; Services</div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Sector</h5>
                  <div>Information Technology</div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">SIC Code</h5>
                  <div>59</div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">NAICS Code</h5>
                  <div>45</div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">EIN</h5>
                  <div>911646860</div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Technologies</h5>
                  <div>
                     <span class="tag text-uppercase">amazon associates</span>
                     <span class="tag text-uppercase">amazon ses</span>
                     <span class="tag text-uppercase">dyn dns</span>
                     <span class="tag text-uppercase">omniture adobe analytics</span>
                     <span class="tag text-uppercase">typekit by adobe</span>
                  </div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Alexa US Rank</h5>
                  <div>5</div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Alexa Global Rank</h5>
                  <div>10</div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Fiscal Year End</h5>
                  <div>End of December</div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Phone</h5>
                  <div>
                     <a href="tel:+1 206-266-1000">+1 206-266-1000</a>
                  </div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Crunchbase</h5>
                  <div>
                     <a href="#">crunchbase.com/organization/amazon</a>
                  </div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Twitter</h5>
                  <div>
                     <a href="#">twitter.com/amazon</a>
                  </div>
               </li>
               <li class="list-separated-item">
                  <h5 class="mb-1">Facebook</h5>
                  <div>
                     <a href="#">facebook.com/amazon</a>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
