<form class="card card-md" action="{{ site.base }}" method="get">
	<div class="card-body">
		<h2 class="card-title text-center mb-4">Forgot password</h2>

		<p class="text-muted mb-4">Enter your email address and your password will be reset and emailed to you.</p>

		<div class="mb-3">
			<label class="form-label">Email address</label>
			<input type="email" class="form-control" placeholder="Enter email">
		</div>
		<div class="form-footer">
			{% include ui/button.html text="Send me new password" block=true color="primary" icon="mail" %}
		</div>
	</div>
</form>
<div class="text-center text-muted mt-3">
	Forget it, <a href="{{ site.base }}/sign-in.html">send me back</a> to the sign in screen.
</div>
