{% assign icons-count = site.data.icons | size %}

<div class="card card-md{% if include.class %} {{ include.class }}{% endif %}">
	<div class="card-stamp card-stamp-lg">
		<div class="card-stamp-icon bg-primary">
			{% include ui/icon.html icon="ghost" %}
		</div>
	</div>
	<div class="card-body">
		<div class="row align-items-center">
			<div class="col-10">
				<h3 class="h1">Tabler Icons</h3>
				<div class="markdown text-muted">
					All icons come from the Tabler Icons set and are MIT-licensed. Visit
					<a href="https://tabler-icons.io" target="_blank" rel="noopener">tabler-icons.io</a>,
					download any of the {{ icons-count }} icons in SVG, PNG or&nbsp;React and use them in your favourite design tools.
				</div>
				<div class="mt-3">
					<a href="https://tabler-icons.io" class="btn btn-primary" target="_blank" rel="noopener">Download icons</a>
				</div>
			</div>
		</div>
	</div>
</div>