<div class="card card-md">
	<div class="card-body">
		<h2 class="h2 text-center mb-4">Login to your account</h2>

		{% include forms/sign-in.html %}
	</div>

	{% include ui/hr.html text="or" %}

	<div class="card-body">
		<div class="row">
			<div class="col">{% include ui/button.html  block=true icon="brand-github" icon-color="github" text="Login with Github" %}</div>
			<div class="col">{% include ui/button.html  block=true icon="brand-twitter" icon-color="twitter" text="Login with Twitter" %}</div>
		</div>
	</div>
</div>

<div class="text-center text-secondary mt-3">
	Don't have account yet? <a href="{{ site.base }}/sign-up.html" tabindex="-1">Sign up</a>
</div>
