<form class="card card-md" action="{{ site.base }}" method="get" autocomplete="off">
	<div class="card-body">
		<h2 class="card-title text-center mb-4">Login to your account</h2>

		<div class="mb-3">
			<label class="form-label">Email address</label>
			<input type="email" class="form-control" placeholder="Enter email">
		</div>
		<div class="mb-2">
			<label class="form-label">
				Password
				<span class="form-label-description">
					<a href="{{ site.base }}/forgot-password.html">I forgot password</a>
				</span>
			</label>
			{% include ui/form/input-group.html type="password" append-button="eye:Show password" flat=true placeholder="Password" %}
		</div>
		<div class="mb-2">
			<label class="form-check">
				<input type="checkbox" class="form-check-input"/>
				<span class="form-check-label">Remember me on this device</span>
			</label>
		</div>

		<div class="form-footer">
			<button type="submit" class="btn btn-primary w-100">Sign in</button>
		</div>
	</div>

	{% include ui/hr.html text="or" %}

	<div class="card-body">
		<div class="row">
			<div class="col">{% include ui/button.html color="white" block=true icon="brand-github" icon-color="github" text="Login with Github" %}</div>
			<div class="col">{% include ui/button.html color="white" block=true icon="brand-twitter" icon-color="twitter" text="Login with Twitter" %}</div>
		</div>
	</div>
</form>

<div class="text-center text-muted mt-3">
	Don't have account yet? <a href="{{ site.base }}/sign-up.html" tabindex="-1">Sign up</a>
</div>
