// stylelint-disable property-no-vendor-prefix
html {
  height: 100%;
  font-size: 16px;
}

body {
  min-height: 100%;
  overflow-y: scroll;
  letter-spacing: $body-letter-spacing;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 0;

  * {
    @include scrollbar;
  }
}

/**
Remove the cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
