// stylelint-disable property-no-vendor-prefix
html {
  height: 100%;
  font-size: 16px;
}

body {
  min-height: 100%;
  overflow-y: scroll;
  letter-spacing: $body-letter-spacing;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 0;

  @media print {
    background: transparent;
  }
}

