@mixin navbar-color($bg-color: transparent, $text-color: $body-color, $link-color: $text-muted, $link-hover-color: $body-color, $link-disabled-color: rgba($link-color, .4)) {
  background: $bg-color;
  color: $text-color;

  .navbar-brand {
    color: $text-color;

    &:hover,
    &:focus {
      color: $text-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $link-color;

      &:hover,
      &:focus {
        color: $link-hover-color;
      }

      &.disabled {
        color: $link-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $link-hover-color;
    }
  }

  .navbar-toggler {
    color: $link-color;
    border-color: transparent;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-light-toggler-icon-bg);
  }

  .navbar-text {
    color: $text-color;

    a,
    a:hover,
    a:focus  {
      color: $link-color;
    }
  }
}

@mixin navbar-dark() {
  box-shadow: none;
  @include navbar-color($dark, $white, rgba($white, .7), $white);

  .input-icon-addon {
    color: rgba($white, .7);
  }

  .form-control {
    border-color: transparent;
    background-color: rgba(0, 0, 0, .1);

    &::placeholder {
      color: rgba($white, .7);
    }
  }
}

/**
Navbar
 */
.navbar {
  min-height: $navbar-height;
  align-items: stretch;

  @include navbar-color();

  @include dark-mode {
    @include navbar-dark();
  }

  .navbar-nav {
    min-height: subtract($navbar-height, 2 * $navbar-padding-y);

    .nav-link {
      position: relative;

      .badge {
        position: absolute;
        top: .375rem;
        right: .375rem;
        transform: translate(50%, -50%);
      }
    }
  }
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        .dropdown-menu {
          position: absolute;
        }

        .nav-link {
          .badge {
            position: static;
            margin-left: .5rem;
            transform: none;
          }
        }

        .navbar-collapse {
          .navbar-nav {
            width: 100%;

            .nav-link {
              padding-top: .5rem;
              padding-bottom: .5rem;
            }
          }

          .dropdown-menu {
            position: static;
            border: 0;
            box-shadow: none;
            margin-bottom: .5rem;
            background: transparent;
            color: inherit;
            columns: 1;
            padding: 0;

            .dropdown-item {
              padding-left: 1.5rem;
              padding-right: 1.5rem;
            }
          }
        }
      }

      @include media-breakpoint-up($next) {
        .navbar-collapse {
          width: auto;
          flex: 1 1 auto;
        }

        &.navbar-dark,
        .navbar-dark {
          .nav-item.active {
            .nav-link {
              background-color: rgba(#000, .1);
            }
          }
        }

        &.navbar-light,
        .navbar-light {
          .nav-item.active {
            position: relative;

            &:after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: subtract(-.25rem, 1px);
              border-bottom: 2px solid $primary;
            }
          }
        }
      }
    }
  }
}

/**
Navbar brand
 */
.navbar-brand {
  display: inline-flex;
  align-items: center;
  font-weight: $navbar-brand-font-weight;
}

.navbar-brand-image {
  display: block;
  height: $navbar-brand-image-height;
}

/**
Navbar toggler
 */
.navbar-toggler {
  border: 0;
  width: $navbar-brand-image-height;
  height: $navbar-brand-image-height;
}

/**
Navbar light
 */
.navbar-light {
  box-shadow: 0 0 0 1px $border-color;
  background-color: $white;
}

/**
Navbar dark
 */
.navbar-dark {
  @include navbar-dark();
}

/**
Navbar nav
 */
.navbar-nav {
  align-items: stretch;

  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


/**
Navbar vertical
 */
@if $enable-navbar-vertical {
  .navbar-vertical {
    &.navbar-expand {
      @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
          @include media-breakpoint-up($next) {
            width: $sidebar-width;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: $zindex-fixed;
            align-items: flex-start;
            transition: .3s transform;

            &.navbar-right {
              left: auto;
              right: 0;
            }

            .navbar-brand {
              padding: (($navbar-height - $navbar-brand-image-height) / 2) 0;
              justify-content: center;
            }

            .navbar-collapse {
              align-items: flex-start;
            }

            .navbar-nav {
              flex-direction: column;
              flex-grow: 1;

              .nav-link {
                padding-top: .5rem;
                padding-bottom: .5rem;
              }
            }

            > [class*="container"] {
              flex-direction: column;
              align-items: stretch;
              min-height: 100%;
              justify-content: flex-start;
            }

            ~ .page {
              padding-left: $sidebar-width;

              [class*="container"] {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
              }
            }

            &.navbar-right ~ .page {
              padding-left: 0;
              padding-right: $sidebar-width;
            }
          }
        }
      }
    }
  }
}