.page-title-box {
  min-height: 2.5rem;
  margin: .75rem 0 2rem;
}

.page-pretitle {
  @extend .subheader;
}

.page-title {
  margin: 0;
  font-size: $h2-font-size;
  font-weight: 400;
  color: $body-color;
  line-height: 1;
}
