.page {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  @include media-breakpoint-up(xl) {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  @media print {
    margin: 0 !important;
  }
}

.page-header {
  display: flex;
  align-items: center;
  min-height: 2.25rem;
  margin: 0 0 $card-spacer-y;

  >* {
    flex: 1;
  }
}

.page-pretitle {
  @include subheader;
}

.page-title {
  margin: 0;
  font-size: $h2-font-size;
  font-weight: 400;
  line-height: 1;
  color: inherit;
}
