.page-title-box {
  display: flex;
  align-items: center;
  min-height: 2.25rem;
  margin: .25rem 0 1.5rem;

  >* {
    flex: 1;
  }
}

.page-pretitle {
  @include subheader;
}

.page-title {
  margin: 0;
  font-size: $h2-font-size;
  font-weight: 400;
  line-height: 1;
  color: inherit;
}
