.page-title-box {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  margin: .25rem 0 1.5rem;
}

.page-pretitle {
  @extend .subheader;
}

.page-title {
  margin: 0;
  font-size: $h2-font-size;
  font-weight: 400;
  line-height: 1;
  color: $body-color;
}
