.navbar-vertical {
  &.navbar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);

      &#{$infix} {
        @include media-breakpoint-up($next) {
          width: $sidebar-width;
          position: fixed;
          top: 0;
          left: 0;
          bottom: 0;
          padding: 0;
          z-index: $zindex-fixed;
          align-items: flex-start;
          transition: .3s transform;

          &.navbar-right {
            left: auto;
            right: 0;
          }

          .navbar-brand {
            padding: (($navbar-height - $navbar-brand-image-height) / 2) 0;
            justify-content: center;
          }

          .navbar-collapse {
            align-items: flex-start;
          }

          .navbar-nav {
            flex-direction: column;
            flex-grow: 1;

            .nav-link {
              padding-top: .5rem;
              padding-bottom: .5rem;
            }
          }

          >[class*="container"] {
            flex-direction: column;
            align-items: stretch;
            min-height: 100%;
            justify-content: flex-start;
          }

          ~.page {
            padding-left: $sidebar-width;

            [class*="container"] {
              padding-left: 1.5rem;
              padding-right: 1.5rem;
            }
          }

          &.navbar-right ~ .page {
            padding-left: 0;
            padding-right: $sidebar-width;
          }
        }
      }
    }
  }

}


.sidebar-body {
  padding: 1rem;
}