/*
Sidebar
 */
.sidenav {
  width: 16rem;
  min-width: 16rem;
  padding: .75rem 1rem;
  background: $sidenav-bg;
  border-right: 1px solid $sidenav-border-color;

  .nav-link {
    display: flex;
    align-items: center;
    color: $text-muted;
    border-radius: $border-radius;

    &.active,
    &:hover {
      color: $link-color;
      background: rgba($link-color, .04);
    }

    > .icon {
      min-width: 2rem;
    }

    &[data-toggle="collapse"] {
      &:after {
        display: block;
        font-family: 'Feather' !important;
        content: $icon-fe-chevron-down;
        margin-left: auto;
        transition: transform .3s;
      }

      &[aria-expanded="true"]:after {
        transform: rotate(-180deg);
      }
    }
  }

  .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  //.navbar-divider {
  //
  //}

  .navbar-heading {
    padding: .5rem 0;
    margin: 0;
    @extend .text-subheader;
  }

  .nav {
    .nav-item {
      padding-left: 2rem;
    }
  }
}

/**
Narrow sidebar
 */
.sidenav-narrow {
  width: 4rem;
  min-width: 4rem;
  padding: .5rem;

  .navbar-brand {
    min-height: 2.5rem;
    padding: 0;
  }
}

/*
Right sidebar
 */
.sidenav-right {
  order: 9;
  border-right: none;
  border-left: 1px solid $sidenav-border-color;
}

/*
Dark sidebar
 */
.sidenav-dark {
  color: #fff;
  background-color: $sidenav-dark-bg;
  border: none;

  .navbar-brand {
    filter: brightness(0) invert(1);
  }

  .navbar-divider {
    border-color: rgba(#fff, .2);
  }

  .nav-link {
    color: $text-muted-light;

    &.active,
    &:hover {
      color: $white;
      background: rgba($white, .04);
    }
  }
}

@each $breakpoint, $dimension in $grid-breakpoints {

  .sidenav-expand-#{$breakpoint} {
    display: none;

    @include media-breakpoint-up(#{$breakpoint}) {
      display: block;
      padding-right: 0;
      padding-left: 0;

      .navbar-nav {
        margin-right: 0;
        margin-left: 0;
      }

      .navbar-nav .nav-link {
        padding: .5rem $sidenav-link-padding-x;

        &.active {
          position: relative;

          &::before {
            top: auto;
            right: $sidenav-link-padding-x;
            bottom: calc(-#{$navbar-padding-y} - #{$border-width});
            left: $sidenav-link-padding-x;
            border-bottom: 1px solid $primary;
            border-left: 0;
          }
        }
      }

      .sidenav > [class*="container"] {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
