<div class="settings">
	<a href="#" class="btn btn-floating btn-icon btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings"> {% include ui/icon.html icon="settings" %} </a>

	<form class="offcanvas offcanvas-start offcanvas-narrow" tabindex="-1" id="offcanvasSettings">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title">Theme Builder</h2>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="mb-4">
				<label class="form-label">Color mode</label>
				<p class="form-hint">Choose the color mode for your app.</p>
				{% assign modes = 'light,dark' | split: ',' %} {% for mode in modes %}
				<label class="form-check">
					<div class="form-selectgroup-item">
						<input type="radio" name="theme-mode" value="{{ mode }}" class="form-check-input" />
						<div class="form-check-label">{{ mode | capitalize }}</div>
					</div>
				</label>
				{% endfor %}
			</div>

			<div class="mb-4">
				<label class="form-label">Color scheme</label>
				<p class="form-hint">The perfect color mode for your app.</p>

				<div class="row g-2">
					<div class="col-auto">
						<label class="form-colorinput">
							<input name="color" type="radio" value="inverted" class="form-colorinput-input" />
							<span class="form-colorinput-color bg-dark"></span>
						</label>
					</div>
					{% for color in site.colors %}
					<div class="col-auto">
						<label class="form-colorinput">
							<input name="color" type="radio" value="{{ color[0] }}" class="form-colorinput-input" />
							<span class="form-colorinput-color bg-{{ color[0] }}"></span>
						</label>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="mb-4">
				<label class="form-label">Font family</label>
				<p class="form-hint">Choose the font family that fits your app.</p>

				<div>
					{% assign fonts = 'sans-serif,serif,monospace' | split: ',' %} {% for font in fonts %}
					<label class="form-check">
						<div class="form-selectgroup-item">
							<input type="radio" name="theme-font-family" value="{{ scheme }}" class="form-check-input" />
							<div class="form-check-label">{{ font | capitalize }}</div>
						</div>
					</label>
					{% endfor %}
				</div>
			</div>

			<div class="mb-4">
				<label class="form-label">Gray shade</label>
				<p class="form-hint">Choose the gray shade for your app.</p>

				<div>
					{% assign grays = 'slate,gray,zinc,neutral,stone' | split: ',' %} {% for gray in grays %}
					<label class="form-check">
						<div class="form-selectgroup-item">
							<input type="radio" name="theme-shade" value="{{ gray }}" class="form-check-input" />
							<div class="form-check-label">{{ gray | capitalize }}</div>
						</div>
					</label>
					{% endfor %}
				</div>
			</div>

			<!--<div class="mb-4">
				<label class="form-label">Color scheme</label>
				<p class="form-hint">The perfect color mode for your app.</p>

				<div class="row g-2">
					{% assign schemes = 'light,mixed,colored,dark,transparent' | split: ',' %}
					{% for scheme in schemes %}
					<div class="col-6">
						<label class="form-selectgroup-item">
							<input type="radio" name="settings-theme" value="{{ scheme }}" class="form-selectgroup-input" />
							<div class="form-selectgroup-label text-center">
								<span class="form-selectgroup-check form-selectgroup-check-floated"></span>
								<div class="settings-scheme settings-scheme-{{ scheme }}"></div>
								<div>{{ scheme | capitalize }}</div>
							</div>
						</label>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="mb-4">
				<div class="form-label">Menu position</div>
				<p class="form-hint">Toggle the position of the menu.</p>

				<div>
					{% assign positions = 'top,top-condensed,top-overlap,combo,left,right' | split: ',' %}
					{% for position in positions %}
					<label class="form-check">
						<input class="form-check-input" name="settings-menu-position" value="{{ position }}" type="radio" />
						<span class="form-check-label">{{ position | capitalize }}</span>
					</label>
					{% endfor %}
				</div>
			</div>

			<div class="mb-4">
				<div class="form-label">Menu behavior</div>
				<p class="form-hint">Change the behavior of the menu.</p>

				<div>
					{% assign behaviors = 'sticky,fixed,compact' | split: ',' %}
					{% for behavior in behaviors %}
					<label class="form-check">
						<input class="form-check-input" name="settings-menu-behavior" value="{{ behavior }}" type="radio" />
						<span class="form-check-label">{{ behavior | capitalize }}</span>
					</label>
					{% endfor %}
				</div>
			</div>

			<div class="mb-4">
				<div class="form-label">Layout</div>
				<p class="form-hint">Toggle container layout system.</p>

				<div>
					{% assign systems = 'boxed,fluid' | split: ',' %}
					{% for system in systems %}
					<label class="form-check">
						<input class="form-check-input" name="settings-container-layout" value="{{ system }}" type="radio" />
						<span class="form-check-label">{{ system | capitalize }}</span>
					</label>
					{% endfor %}
				</div>
			</div>-->
		</div>
	</form>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var offcanvas = new bootstrap.Offcanvas(document.getElementById("offcanvasSettings"))
		offcanvas.show()

		// handle form values
		var form = document.getElementById("offcanvasSettings")
		form.addEventListener("change", function (event) {
			var target = event.target
			var name = target.name
			var value = target.value

			console.log((new FormData(form)).entries())

			if (name === "theme-mode") {
				document.documentElement.classList.remove("theme-light", "theme-dark")
				document.documentElement.classList.add("theme-" + value)
			}

			if (name === "theme-font-family") {
				document.documentElement.classList.remove("theme-sans-serif", "theme-serif", "theme-monospace")
				document.documentElement.classList.add("theme-" + value)
			}

			if (name === "theme-shade") {
				document.documentElement.classList.remove("theme-slate", "theme-gray", "theme-zinc", "theme-neutral", "theme-stone")
				document.documentElement.classList.add("theme-" + value)
			}
		})
	})
</script>
