.carbon {
  position: relative;
  background: #{$color-gray};
  padding: 15px;
  font-size: 0.8125rem;
  line-height: 1.4;
  border-radius: $border-radius;
}

.carbon-img {
  display: block;
}

.carbon-text {
  display: block;
  margin-top: 0.75rem;
  color: $color-text;
  font-weight: 500;
}

.carbon-poweredby {
  display: block;
  margin-top: 0.75rem;
  color: $color-muted;
}

.carbon-horizontal {
  min-height: 130px;
  padding-left: 160px;

  .carbon-img {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .carbon-text {
    margin: 0;
  }
}
