.aside-menu {
  display: flex;
  flex-direction: column;
  gap: $gap-2;
}

.aside-menu-link,
.aside-menu-title {
  color: inherit;
  display: block;
  padding: $gap-1 $gap-2;
  margin: 0 (-$gap-2);

  &.active {
    font-weight: $font-weight-medium;
    color: $color-headers;
  }
}

.aside-menu-link {
  &:hover {
    background: rgba($color-primary, .04);
    color: $color-primary;
  }
}

.aside-menu-children {
  padding-left: $gap-4;
  display: flex;
  flex-direction: column;
  gap: $gap-2;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: $gap-2;
    bottom: $gap-2;
    border-left: 1px solid $color-border-light;
    left: $gap-2;
  }
}
