.banner {
  background: $color-dark;
  color: $color-white;
  padding: $gap-2 0;
  text-align: center;
  position: relative;

  @include media-breakpoint-down(lg) {
    padding-right: 2.5rem;
  }

  >.container {
    display: flex;
    justify-content: center;
  }
}

.banner-link {
  font-weight: $font-weight-medium;
  color: inherit;
  text-decoration: underline;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.banner-close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  opacity: .75;
  color: inherit;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin: auto;

  &:hover {
    color: inherit;
    opacity: 1;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
