.breadcrumb {

}

.breadcrumb-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: $font-size-h6;
}

.breadcrumb-item {
  color: $color-muted-light;

  &:not(:first-child)::before {
    content: '›';
    margin: 0 .5rem;
  }
}

.breadcrumb-link {
  color: $color-muted-light;
}
