.changelog {
  display: flex;
  flex-direction: column;
  position: relative;
}

.changelog-item {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.changelog-circle {
  align-items: center;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 50%;
  display: flex;
  height: $gap-2;
  width: $gap-2;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 4rem;
  z-index: 1;

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.changelog-divider {
  position: absolute;
  border-right: 1px solid $color-border-light;
  height: calc(100% + 2rem);
  top: 0;
  transform: translateX(-79px);

  .changelog-item:last-child & {
    height: 100%;
  }
}

.changelog-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 280px;
  padding-bottom: $gap-4;
}

.changelog-right {
  padding-bottom: $gap-6;
  margin-bottom: $gap-6;
  border-bottom: 1px solid $color-border-light;
  width: 100%;

  .changelog-item:last-child & {
    margin: 0;
    padding: 0;
    border: 0;
  }
}
