.example {
  background: $color-gray-dark;
  border-radius: $border-radius;
}

.example-frame {
  display: block;
  width: 100%;
  background: $color-gray;
  min-height: 12rem;
  border: 1px solid $color-border;
  margin: 2rem 0;
  border-radius: $border-radius;
}

.example-frame-resizable {
  resize: horizontal;
  max-width: 100%;
  min-width: 20rem;
}

.example-code {
  margin: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}




.component {
  border: 1px solid $color-border;
  background: $color-white;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;

  //.example-frame {
  //  flex: 1;
  //}
}

.component-fullheight {
  height: 100vh;
  border: 0;
  border-radius: 0;
}

.component-fullscreen {
  border: 0;
  border-radius: 0;
}

.component-title {
  margin: 0;
}

.component-header {
  border-bottom: 1px solid $color-border;
  padding: 1rem;
}
