.go-to-top {
  background: var(--color-primary);
  color: var(--color-white);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-lg;
  cursor: pointer;
  transition: $transition-duration opacity;
  z-index: $zindex-gototop;
  opacity: 0;
  pointer-events: none;

  &:hover {
    opacity: 1;
    color: var(--color-white);
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.go-to-top-visible {
  opacity: 1;
  pointer-events: auto;
}
