.hljs-tag {
  color: #64748b;
}

.hljs-name,
.hljs-attr {
  color: #cbd5e1;
}

.hljs-name,
.hljs-keyword,
.hljs-selector-class,
.hljs-selector-tag,
.hljs-selector-id {
  color: #f472b6;
}

.hljs-string,
.hljs-attribute {
  color: #7dd3fc;
}

.hljs-comment {
  color: $color-muted-light;
}

.hljs-title {
  color: #fce77d;
}

.hljs-literal {
  color: #f5871f;
}

.hljs-regexp {
  color: #f47272;
}

.hljs-number {
  color: #99f6e4;
}

//.highlight {
//  display: block;
//  white-space: pre-wrap;
//  overflow: auto;
//  border-radius: $border-radius-xl;
//  position: relative;
//  color: #f8f8f2;
//  font-size: $font-size-h6;
//  line-height: 1.5;
//  tab-size: 4;
//  background: $color-dark;
//
//  pre {
//    margin: 0;
//  }
//
//  @include media-breakpoint-up(lg) {
//    font-size: $font-size-h5;
//  }
//
//  .token.cdata,.token.comment,.token.doctype,.token.prolog {
//    color: #636f88
//  }
//
//  .token.punctuation {
//    color: #81a1c1
//  }
//
//  .namespace {
//    opacity: .7
//  }
//
//  .token.constant,.token.deleted,.token.property,.token.symbol,.token.tag {
//    color: #81a1c1
//  }
//
//  .token.number {
//    color: #b48ead
//  }
//
//  .token.boolean {
//    color: #81a1c1
//  }
//
//  .token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string {
//    color: #a3be8c
//  }
//
//  .language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable {
//    color: #81a1c1
//  }
//
//  .token.atrule,.token.attr-value,.token.class-name,.token.function {
//    color: #88c0d0
//  }
//
//  .token.keyword {
//    color: #81a1c1
//  }
//
//  .token.important,.token.regex {
//    color: #ebcb8b
//  }
//
//  .token.bold,.token.important {
//    font-weight: 700
//  }
//
//  .token.italic {
//    font-style: italic
//  }
//
//  .token.entity {
//    cursor: help
//  }
//
//  &[data-language]::after {
//    content: attr(data-language);
//    position: absolute;
//    top: 1rem;
//    right: 1rem;
//    line-height: 1;
//    color: $color-muted;
//    text-transform: uppercase;
//    font-size: $font-size-h6;
//    border-radius: 0 0 $border-radius $border-radius;
//    display: block;
//  }
//
//  pre[class*=language-] {
//    margin: 0;
//    overflow: auto;
//    border-radius: var(--large-border-radius);
//    padding: 2rem;
//    tab-size: inherit;
//    font-size: inherit;
//  }
//
//  code {
//    font-size: inherit;
//  }
//}
//
//.highlight-readonly {
//  user-select: none;
//  pointer-events: none;
//
//  pre {
//    overflow: hidden;
//  }
//}
//*/
