.text-centered {
  text-align: center;
}

.icon-name {
  margin-top: 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-card {
  display: block;
  color: inherit;
  background: $color-white;
  border-radius: $border-radius;
  box-shadow: $shadow-card;
  padding: 24px 8px;
  user-select: none;
  height: 100%;
}
