@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: $color-primary;
  animation: .75s loader infinite linear;
}
