.logo {
  display: flex;
  align-items: center;
  background: url(../public/img/logo-tabler.svg) no-repeat left center/auto 2rem;
  min-width: 7.5rem;
  height: 2rem;
  margin: 0;
  transition: 0.3s opacity;
  text-decoration: none;
  position: relative;

  @at-root a#{&} {
    &:hover {
      opacity: 0.8;
    }
  }

  &:after {
    content: attr(data-suffix);
    position: absolute;
    text-transform: uppercase;
    color: $color-muted-light;
    font-weight: $font-weight-medium;
    font-size: 11px;
    bottom: 0;
    line-height: 1;
    left: 6rem;
  }
}

.logo-square {
  width: 2rem;
  min-width: 0;
}

.logo-gray {
  background-image: url(../public/img/logo-tabler-gray.svg);
}

.logo-white {
  background-image: url(../public/img/logo-tabler-white.svg);
}

.logo-tabler-emails {
  background-image: url(../public/img/logo-tabler-emails.svg);

  &.logo-gray {
    background-image: url(../public/img/logo-tabler-emails-gray.svg);
  }

  &.logo-white {
    background-image: url(../public/img/logo-tabler-emails-white.svg);
  }
}

.logo-tabler-icons {
  background-image: url(../public/img/logo-tabler-icons.svg);

  &.logo-gray {
    background-image: url(../public/img/logo-tabler-icons-gray.svg);
  }

  &.logo-white {
    background-image: url(../public/img/logo-tabler-icons-white.svg);
  }
}

.logo-tabler-components {
  background-image: url(../public/img/logo-tabler-components.svg);

  &.logo-gray {
    background-image: url(../public/img/logo-tabler-components-gray.svg);
  }

  &.logo-white {
    background-image: url(../public/img/logo-tabler-components-white.svg);
  }
}
