.markdown {
  line-height: 1.75;

  h1, h2, h3, h4 {
    margin: $gap-5 0 $gap-2;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    margin-bottom: $gap-5;
    font-weight: $font-weight-black;

    +.lead {
      margin-top: -$gap-3;
    }
  }

  h2 {
    margin-top: $gap-6;
  }

  .h-subheader {
    +h1 {
      margin-top: 0;
    }
  }

  ul,
  ol {
    li {
      margin-bottom: $gap-2;
    }
  }

  a {

    &:hover {
      text-decoration: none;
    }
  }

  .lead {
    color: $color-muted;
    font-size: $font-size-h4;
  }

  >:first-child {
    margin-top: 0;
  }

  >:last-child {
    margin-bottom: 0;
  }

  .contains-task-list {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }

  table {
    margin-bottom: $gap-4;
    border-collapse: collapse;
    border: 1px solid $color-border;
  }

  th, td {
    border: 1px solid $color-border;
    padding: $gap-1 $gap-3;
  }

  .guide-image {
    float: right;
    margin: 0 -10rem 1.5rem 4rem;
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
    }
  }
}
