.more {
  position: relative;
}

.more-hover {
  &:hover {
    .more-data {
      opacity: .2;
      filter: blur(2px);
    }

    .more-layer {
      opacity: 1;
    }
  }
}

.more-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 85%);
  transition: $transition-duration opacity ease;
  padding: $gap-4;
  z-index: 1;
}

.more-data {
  transition: $transition-duration opacity ease;
}
