.placeholder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff url(../public/img/tabler/bg.svg) repeat center/2496px auto;

  @include media-breakpoint-down(md) {
    background-size: 1248px auto;
  }
}

.placeholder-logo {
  max-width: 12.5rem;
  margin: 0 auto;
}

.placeholder-description {
  width: 19.5rem;
  background: #ffffff;
  box-shadow: 0 0 0 70px rgba(#fff, 0.88);

  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: calc(20rem);
    padding: 0 2rem;
    box-shadow: 0 0 0 35px rgba(#fff, 0.88);
  }
}
