.sponsors {
  display: block;
  background: $color-gray-light;
  border: 1px solid $color-border;
  padding: $gap-4;
  border-radius: $border-radius-lg;
  margin: 3rem 0;
  position: relative;
  transition: $transition-duration border-color;

  &:hover {
    border-color: $color-border-hover;
  }
}

.sponsors-octocat {
  position: absolute;
  right: 0;
  bottom: -2rem;
  height: calc(100% + 2rem);
  aspect-ratio: 1;
  display: block;
  width: auto;
  max-height: 10rem;

  @include media-breakpoint-up(md) {
    max-height: 14rem;
  }

  @include media-breakpoint-up(xl) {
    max-height: 18rem;
  }
}
