.side-tabs {
}

.side-tabs-item {
  display: block;
  color: inherit;
  border: 1px solid transparent;
  border-right: 0;
  border-radius: $border-radius-lg 0 0 $border-radius-lg;
  padding: $gap-4 $gap-6 $gap-4 $gap-4;
  cursor: pointer;

  &.active {
    background: $color-background;
    border-color: $color-border-light;
  }
}

.side-tabs-browser {
  width: 65rem;
}
