.tags-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: $gap-3;
}

.tag {
  display: inline-flex;
  align-items: center;
  font-size: $font-size-h6;
  text-decoration: none;
  color: $color-muted-light;
  line-height: 1;
  background: $color-gray-light;
  border-radius: $border-radius;
  padding: .5rem 1rem;
  transition: $transition-duration color, $transition-duration background-color;
}
