.testimonial {
  display: block;
  background: $color-gray;
  border-radius: $border-radius-lg;
  padding: $gap-4;
  margin-bottom: $gap-4;
  color: inherit;
  box-shadow: $shadow-card-sm;
  transition: $transition-duration box-shadow;

  &:hover {
    color: inherit;
    box-shadow: $shadow-card-lg;
  }
}
