{% assign values = include.values | default: "One,Two,Three" | split: ',' %}
{% assign default = include.default | default: values[0] %}
{% assign type = include.type | default: "checkbox" %}
{% assign name = include.name | default: "name" %}
<div class="form-selectgroup{% if include.class %} {{ include.class }}{% endif %}">
	{% for value in values %}
	<label class="form-selectgroup-item">
		{% assign s = value | split: "i:" %}
		{% if include.with-text %}
		{% assign icon-class = "me-1" %}
		{% endif %}
		<input type="{{ type }}" name="{{ name }}" value="{% if s.size == 2 %}{{ s[1] }}{% else %}{{ value }}{% endif %}" class="form-selectgroup-input"{% if value == default %}{% if type == "radio" %} checked{% else %} checked{% endif %}{% endif %}>
		<span class="form-selectgroup-label">{% if s.size == 2 %}{% assign icon = s[1] %}{% include ui/icon.html icon=icon class=icon-class use-svg=true %}{% if include.with-text %} {{ icon | capitalize }}{% endif %}{% else %}{{ value }}{% endif %}</span>
	</label>
	{% endfor %}
</div>
