<div class="modal-header">
   <h4 class="modal-title">New Message</h4>
   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
   <form>
      <div class="mb-3">
         <label class="form-label">To</label>
         <input type="text" class="form-control" placeholder="Example@email.com">
      </div>
      <div class="mb-3">
         <label class="form-label">Subject</label>
         <input type="text" class="form-control" placeholder="Your subject">
      </div>
      <div>
         <label class="form-label">Message</label>
         {% include "ui/wysiwyg.html" id="email-message" %}
      </div>
   </form>
</div>
<div class="modal-footer">
   <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
   <button type="button" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
      {% include "ui/icon.html" icon="send" %} Send Message
   </button>
</div>