{% include "ui/modal/close.html" %}
<div class="modal-body">
	<h3 class="card-title">Confirm transfer</h3>
	<p class="card-subtitle">Please confirm the transfer of funds by signing below.</p>
	<form action="">
		<div class="mb-3">
			<label class="form-label required">Signature</label>
			<div class="position-relative select-none">
				{% include "ui/signature.html" sample clear width=684 height=400 %}
			</div>
		</div>
	</form>
	<div class="text-secondary fs-5">
		I agree that the signature and initials will be the electronic representation of my signature and initials for
		all purposes when I (or my agent) use
		them on documents, including legally binding contracts - just the same as a pen-and-paper signature or initial.
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn">Cancel</button>
	<button type="button" class="btn btn-primary ms-auto">Confirm transfer</button>
</div>