<div class="card">
  <div class="card-body">
    <h3 class="card-title">Card with footer buttons</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima
      neque pariatur perferendis sed suscipit velit vitae voluptatem.</p>
  </div>
  <!-- Card footer -->
  <div class="card-footer">
    <div class="d-flex">
      <a href="#" class="btn btn-link">Cancel</a>
      <a href="#" class="btn btn-primary ml-auto">Go somewhere</a>
    </div>
  </div>
</div>