<div class="mb-3">
  <label class="form-label">Image Check</label>
  <div class="row row-sm">
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="1" class="form-imagecheck-input" />
        <span class="form-imagecheck-figure">
          <img src="../static/photos/1b73704b282a8ec6.jpg" alt="Breakfast served with tea, bread and eggs" class="form-imagecheck-image">
        </span>
      </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="2" class="form-imagecheck-input"  checked/>
        <span class="form-imagecheck-figure">
          <img src="../static/photos/3d2998219313cd37.jpg" alt="Book, fairy lights" class="form-imagecheck-image">
        </span>
      </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="3" class="form-imagecheck-input" />
        <span class="form-imagecheck-figure">
          <img src="../static/photos/6ab3200b14549f8a.jpg" alt="Healthy Dinner" class="form-imagecheck-image">
        </span>
      </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="4" class="form-imagecheck-input"  checked/>
        <span class="form-imagecheck-figure">
          <img src="../static/photos/6d35d9a2bd6c63c2.jpg" alt="Aperol Spritz is a cocktail consisting of prosecco, aperitif and soda water" class="form-imagecheck-image">
        </span>
      </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="5" class="form-imagecheck-input" />
        <span class="form-imagecheck-figure">
          <img src="../static/photos/8a26974ee6444acd.jpg" alt="Beautiful blonde woman on a wooden pier by the lake" class="form-imagecheck-image">
        </span>
      </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="6" class="form-imagecheck-input" />
        <span class="form-imagecheck-figure">
          <img src="../static/photos/8c13ad59f739558c.jpg" alt="Still life of mandarin oranges with leaves" class="form-imagecheck-image">
        </span>
      </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="7" class="form-imagecheck-input"  checked/>
        <span class="form-imagecheck-figure">
          <img src="../static/photos/8fdeb4785d2b82ef.jpg" alt="Blonde woman having a healthy snack at the wooden pier" class="form-imagecheck-image">
        </span>
      </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="8" class="form-imagecheck-input" />
        <span class="form-imagecheck-figure">
          <img src="../static/photos/9f36332564ca271d.jpg" alt="Woman working on a laptop while enjoying a breakfast coffee and chocolate in bed" class="form-imagecheck-image">
        </span>
      </label>
    </div>
    <div class="col-6 col-sm-4">
      <label class="form-imagecheck mb-2">
        <input name="form-imagecheck" type="checkbox" value="9" class="form-imagecheck-input" />
        <span class="form-imagecheck-figure">
          <img src="../static/photos/35b88fc04a518c1b.jpg" alt="Overhead view of macarons on a marble slab" class="form-imagecheck-image">
        </span>
      </label>
    </div>
  </div>
</div>