<div class="card">
	<ul class="list-group list-group-flush">
		{% for i in (1..4) %}
		<li class="list-group-item">
			<div class="row align-items-center">
				<div class="col-auto">
					<div class="skeleton-avatar"></div>
				</div>
				<div class="col-7">
					<div class="skeleton-line"></div>
					<div class="skeleton-line"></div>
				</div>
				<div class="col-2 ms-auto text-end">
					<div class="skeleton-line"></div>
					<div class="skeleton-line"></div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>