{% assign percentage = include.value | replace: '%', '' | default: 0 %}
{% assign color = include.color | default: 'primary-lt' %}
<div class="progressbg{% if include.class %} {{ include.class }}{% endif %}">
	{% include "ui/progress.html" value=percentage class="progressbg-progress" color=color %}
	{% if include.text %}<div class="progressbg-text">{% if include.flag %}{% include "ui/flag.html" flag=include.flag class="me-2" size="xs" %}{% endif %}{{ include.text }}</div>{% endif %}
	{% if include.show-value %}<div class="progressbg-value">{{ percentage }}%</div>{% endif %}
</div>
