---
title: Blank page
container-size: sm
---

<div class="text-center">

	{% include ui/illustration.html image="undraw_printing_invoices_5r4r.svg" class="mb-4 h-48" %}

	<p class="text-muted mb-4">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem blanditiis cupiditate delectus, eaque eligendi est fuga illum impedit in iure maiores, omnis quas quod quos recusandae similique unde vitae?
	</p>

	<div>
		{% include ui/button.html text="+ Add your first client" color="primary" %}
		<!-- todo: add + icon to button -->
	</div>

</div>