---
page-title: Cards
---

<div class="row">
   <div class="col-md-6 col-xl-4">
      {% include_cached cards/card.html body="This is some text within a card body."%}
      {% include_cached cards/card.html active=true body="This is a card with active state."%}
      {% include_cached cards/card.html img-bottom=true title="Card with bottom image" %}
   </div>
   <div class="col-md-6 col-xl-4">
      {% include_cached cards/card.html img-top=true title="Card with top image" %}
      {% include_cached cards/card.html link=true title="Card with button link" %}
   </div>
   <div class="col-md-6 col-xl-4">
      {% include_cached cards/card.html title="Card title" subtitle="Card subtitle" %}
      {% include_cached cards/card.html title="Card with footer" footer=true %}
      {% include_cached cards/card.html title="Card with footer button" footer-button=true %}
      {% include_cached cards/card.html title="Card with footer buttons" footer-buttons=true %}
   </div>
</div>
