---
title: Cards stats
layout: default
---

<div class="row">
   <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
         <div class="card-body">
            <div class="d-flex">
               <div class="text-muted">Sales</div>
               <div class="ml-auto">
                  {% include parts/dropdown/days.html %}
               </div>
            </div>
            <div class="h1 mb-3">75%</div>
            <div class="d-flex mb-2">
               <div>Conversion rate</div>
               <div class="ml-auto text-green">
                  24% {% include ui/icon.html icon="trending-up" class="ml-1 icon-thin" %}
               </div>
            </div>
            {% include ui/progress.html percentage=75 color="blue" size="sm" %}
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
         <div class="card-body">
            <div class="d-flex">
               <div class="text-muted">Revenue</div>
               <div class="ml-auto">
                  {% include parts/dropdown/days.html %}
               </div>
            </div>
            <div class="h1 mb-3">$452,300</div>
            {% include ui/sparkline.html data="4,3,6,5,4,5,4,6,7,6,5,7,8,7,8,9,8,9,10" type="line" %}
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
         <div class="card-body">
            <div class="d-flex">
               <div class="text-muted">New clients</div>
               <div class="ml-auto">
                  {% include parts/dropdown/days.html %}
               </div>
            </div>
            <div class="h1 mb-3">6,782</div>
            {% include ui/sparkline.html data="4,3,6,5,4,5,4,6,7,6,5,7,8,7,8,9,8,9,10" type="line" color="purple" %}
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
         <div class="card-body">
            <div class="d-flex">
               <div class="text-muted">New clients</div>
               <div class="ml-auto">
                  {% include parts/dropdown/days.html %}
               </div>
            </div>
            <div class="h1 mb-3">184,730</div>
            {% include ui/sparkline.html data="4,3,6,5,4,5,4,6,7,6,5,7,8,7,8,9,8,9,10" type="bar" %}
         </div>
      </div>
   </div>
   <div class="col-sm-6 col-md-4 col-lg-3">5</div>
   <div class="col-sm-6 col-md-4 col-lg-3">6</div>
   <div class="col-sm-6 col-md-4 col-lg-3">7</div>
   <div class="col-sm-6 col-md-4 col-lg-3">8</div>
</div>
