---
title: Carousel
page-header: Carousel
layout: default
done: true
menu: base.carousel
---

<div class="row">
   <div class="col-md-6">
      {% include cards/carousel.html id="carousel-default" %}
   </div>
   <div class="col-md-6">
      {% include cards/carousel.html id="carousel-indicators" title="Carousel with indicators" show-indicators=true offset=5 %}
   </div>
   <div class="col-md-6">
      {% include cards/carousel.html id="carousel-controls" title="Carousel with controls" show-controls=true offset=10 %}
   </div>
   <div class="col-md-6">
      {% include cards/carousel.html id="carousel-captions" title="Carousel with captions" show-captions=true show-controls=true offset=15 %}
   </div>
</div>
