---
title: Dropdowns
page-title: Dropdowns
---

{% include ui/dropdown-menu.html show=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true separated=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true active=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true disabled=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true header=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true icons=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true icons=true header=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true arrow=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true dark=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true dark=true separated=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true arrow=true right=true dark=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true arrow=true right=true dark=true icons=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true badge=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true check=true class="mr-3 mb-3 align-top" %}
{% include ui/dropdown-menu.html show=true radio=true class="mr-3 mb-3 align-top" %}
