---
title: Empty page
done: true
menu: base.empty
page-header: Empty page
---

<div class="row">
	<div class="col-lg">
		<div class="card">
			<div class="card-body">
				{% for i in (1..6) %}
				<h{{ i }}>Heading {{ i }}</h{{ i }}>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam autem cum sed voluptatem. Amet asperiores dolores eaque, est eveniet, impedit iusto magni modi molestiae nesciunt non perspiciatis, possimus similique tempora!</p>
				{% endfor %}

				<div>
					{% include ui/button.html text="Button" color="primary" icon="star" %}
					{% include ui/button.html text="Button" color="secondary" icon="check" %}
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg">
		<div class="card">
			<div class="card-body">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</div>
		</div>
	</div>
</div>