---
title: Gallery
page-title: Gallery
done: true
---
{% assign horizontal = 0 %}

<div class="row">
	{% for photo in site.data.photos %}
	{% if photo.horizontal %}
	{% assign person = site.data.people[forloop.index0] %}
	<div class="col-sm-6 col-lg-4">
		<div class="card p-3">
			<a href="#" class="mb-4"><img src="{{ site.base }}/img/photos/{{photo.file}}" class="rounded"></a>
			<div class="d-flex align-items-center">
				{% include ui/avatar.html person=person class="mr-3" %}
				<div>
					<h5 class="m-0">{{ person.full_name }}</h5>
					<small class="text-muted">{{ forloop.index | random_date_ago: 10 | timeago }}</small>
				</div>
				<div class="ml-auto">
					<a href="javascript:void(0)" class="text-muted">
						{% include ui/icon.html icon="eye" %}
						{{ forloop.index | random_number: 300, 600 }}
					</a>
					<a href="javascript:void(0)" class="ml-3 text-muted">
						{% include ui/icon.html icon="heart" %}
						{{ forloop.index | random_number: 20, 100 }}
					</a>
				</div>
			</div>
		</div>
	</div>
	{% assign horizontal = horizontal | plus: 1 %}
	{% endif %}

	{% if horizontal == 12 %}
		{% break %}
	{% endif %}
	{% endfor %}
</div>
