---
---

<div class="card">
	{% include parts/navbar.html stamp=true big-menu=true user-menu=2 %}
</div>

<div class="card">
	{% include parts/navbar.html logo=true big-menu=true user-menu=3 person=5 %}
</div>

<div class="card">
	{% include parts/navbar.html logo=true user-menu=4 person=7 progress=true %}
</div>

<div class="card">
	{% include parts/navbar.html sync=true title="Settings" %}
</div>

<div class="card">
	{% include parts/navbar.html register=true %}
</div>

<div class="card">
	{% include parts/navbar.html premium=true %}
</div>

<div class="card">
	{% include parts/navbar.html plus=true %}
</div>

<div class="card">
	{% include parts/navbar.html title="Dashboard" language=true %}
</div>

<div class="card">
	{% include parts/navbar.html title="Business Analytics Overview" manage=true %}
</div>
