---
menu: home
page-header: Navigation
---


<div class="box">
	<div class="mb-3">
		{% include layout/navbar.html sample=true person-id=2 %}
	</div>

	<div class="mb-3">
		{% include layout/navbar.html sample=true dark=true hide-logo=true show-title=true hide-icons=true hide-username=true person-id=3 %}
	</div>

	<div class="mb-3">
		{% include layout/navbar.html sample=true dark=true small-logo=true background="#7952b3" hide-search=true person-id=4 %}
	</div>

	<div class="mb-3">
		{% include layout/navbar.html sample=true secondary=true small-logo=true show-title=true person-id=5 %}
	</div>

	<div class="mb-3">
		{% include layout/navbar.html sample=true secondary=true dark-secondary=true person-id=6 %}
	</div>
</div>