---
title: Repository
done: true
---
{% assign person = site.data.people[0] %}
<div class="card">
	<div class="card-header">
		<div class="d-flex w-100">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
					{% include ui/icon.html icon="git-branch" %}
					master
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">dev</a>
					<a class="dropdown-item" href="#">stage</a>
					<a class="dropdown-item" href="#">fix/ui-1</a>
				</div>
			</div>

			<div class="ml-auto">
				<div class="btn-list">
					<a href="#" class="btn btn-secondary btn-icon">{% include ui/icon.html icon="refresh-ccw" %}</a>
					<a href="#" class="btn btn-secondary">{% include ui/icon.html icon="eye" class="mr-1" %}Watch</a>
					<a href="#" class="btn btn-success">{% include ui/icon.html icon="download" class="mr-1" %}Clone or download</a>
					<a href="#" class="btn btn-secondary btn-icon">{% include ui/icon.html icon="settings" %}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-header text-muted">
		<div class="d-flex align-items-center w-100">
			{% include ui/avatar.html person=person size="xs" class="mr-2" %}
			<div>
				<a href="#" class="text-default">{{ person.full_name }}</a>
				merge pull request
				<a href="#" class="text-default">#176</a>
				from codecalm/dev
			</div>
			<div class="ml-auto">Latest commit <a href="#" class="text-inherit font-semibold">54e9403</a> 4 days ago</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table card-table">
			{% for file in site.data.files %}
				<tr>
					<td class="text-nowrap">
						{% if file.type == "directory" %}
							{% include ui/icon.html icon="folder" class="mr-1" %}
						{% else %}
							{% include ui/icon.html icon="file" class="mr-1" %}
						{% endif %}
						<a href="#" class="text-default">{{ file.name }}</a>
					</td>
					<td class="text-muted text-nowrap">
						<a href="#" class="text-inherit">{{ file.comment }}</a>
					</td>
					<td class="text-right text-muted text-nowrap">
						<a href="#" class="text-inherit">{{ file.date }}</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>