---
rtl: true
title: RTL mode
page-header: RTL mode
menu: pages.rtl
---


<div class="row">
	<div class="col-6">
		{% capture body %}
		لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب
		الشعور بالسعادة، ولكن بفضل هؤلاء الأشخاص الذين لا يدركون بأن السعادة لا بد أن نستشعرها بصورة أكثر عقلانية ومنطقية فيعرضهم هذا لمواجهة الظروف الأليمة، وأكرر بأنه لا يوجد من يرغب في
		الحب ونيل المنال ويتلذذ بالآلام، الألم هو الألم ولكن نتيجة لظروف ما قد تكمن السعاده فيما نتحمله من كد وأسي.

		و سأعرض مثال حي لهذا، من منا لم يتحمل جهد بدني شاق إلا من أجل الحصول على ميزة أو فائدة؟ ولكن من لديه الحق أن ينتقد شخص ما أراد أن يشعر بالسعادة التي لا تشوبها عواقب أليمة أو آخر أراد
		أن يتجنب الألم الذي ربما تنجم عنه بعض المتعة ؟
		علي الجانب الآخر نشجب ونستنكر هؤلاء الرجال المفتونون بنشوة اللحظة الهائمون في رغباتهم فلا يدركون ما يعقبها من الألم والأسي المحتم، واللوم كذلك يشمل هؤلاء الذين أخفقوا في واجباتهم
		نتيجة لضعف إرادتهم فيتساوي مع هؤلاء الذين يتجنبون وينأون عن تحمل الكدح والألم .
		{% endcapture %}

		{% include cards/card.html body=body title="عنوان البطاقة" %}
	</div>
	<div class="col-6">
		<div class="row">
			<div class="col-4">
				{% include cards/small-stats.html count=43 description="تذاكر جديدة" chart-type="pie" chart-data="45/100" %}
			</div>
			<div class="col-4">
				{% include cards/small-stats.html count=17 description="مغلق اليوم" chart-type="pie" chart-data="22/100" %}
			</div>
			<div class="col-4">
				{% include cards/small-stats.html count="27.3K" description="متابعون" chart-type="pie" chart-data="75/100" %}
			</div>
		</div>
	</div>
</div>
