---
title: Social elements
done: true
container-size: narrow
---

<div class="row">
	<div class="col">

		<div class="card">
			<div class="card-body">
				<form class="mb-3">
					{% include ui/form/textarea-autosize.html class="form-control-flush" placeholder="White a post..." %}
				</form>
				<div class="row align-items-center">
					<div class="col text-muted small">
						0/500
					</div>
					<div class="col-auto text-muted">
						<div class="btn-list">
							<a href="#" class="btn btn-link btn-icon link-secondary btn-sm" data-toggle="tooltip" title="Add photo">
								{% include ui/icon.html icon="photo" %}
							</a>
							<a href="#" class="btn btn-link btn-icon link-secondary btn-sm" data-toggle="tooltip" title="Attach file">
								{% include ui/icon.html icon="file-plus" %}
							</a>
							<a href="#" class="btn btn-link btn-icon link-secondary btn-sm" data-toggle="tooltip" title="Share your position">
								{% include ui/icon.html icon="map-pin" %}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
