---
title: Tabs
page-header: Tabs
done: true
---

<div class="row">
	<div class="col-md-4">{% include cards/tabs.html settings=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html reverse=true settings=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html icons=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html alternative=true settings=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html alternative=true reverse=true settings=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html alternative=true icons=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html dropdown=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html justified=true activity=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html justified=true disabled=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html justified=true icons=true activity=true %}</div>
	<div class="col-md-4">{% include cards/tabs.html animation=true activity=true %}</div>
</div>
