---
---


<div class="card">
   <div class="card-body">
      <div class="mb-3">
         <h1>Lorem ipsum dolor sit amet</h1>
         <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor incidunt nisi optio provident quod recusandae repellendus repudiandae tenetur. Cupiditate dignissimos esse expedita fugiat impedit modi nostrum omnis quaerat quo.
            {% include ui/button.html color="blue" size="sm" %}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor incidunt nisi optio provident quod recusandae repellendus repudiandae tenetur. Cupiditate dignissimos esse expedita fugiat impedit modi nostrum omnis quaerat quo.
         </p>

         <h2>Lorem ipsum dolor sit amet</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor incidunt nisi optio provident quod recusandae repellendus repudiandae tenetur. Cupiditate dignissimos esse expedita fugiat impedit modi nostrum omnis quaerat quo.</p>

         <h3>Lorem ipsum dolor sit amet</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor incidunt nisi optio provident quod recusandae repellendus repudiandae tenetur. Cupiditate dignissimos esse expedita fugiat impedit modi nostrum omnis quaerat quo.</p>

         <h4>Lorem ipsum dolor sit amet</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor incidunt nisi optio provident quod recusandae repellendus repudiandae tenetur. Cupiditate dignissimos esse expedita fugiat impedit modi nostrum omnis quaerat quo.</p>

         <h5>Lorem ipsum dolor sit amet</h5>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor incidunt nisi optio provident quod recusandae repellendus repudiandae tenetur. Cupiditate dignissimos esse expedita fugiat impedit modi nostrum omnis quaerat quo.</p>
      </div>
      <div class="mb-3">
         {% include ui/button.html color="blue" %}
         {% include ui/button.html color="danger" %}
         {% include ui/button.html color="green" %}
      </div>
      <div class="mb-3">
         <input type="text" class="form-control d-inline-block w-auto" size="10">
         {% include ui/button.html color="blue"  %}

         <input type="text" class="form-control form-control-sm d-inline-block w-auto" size="10">
         {% include ui/button.html color="blue" size="sm" %}

         <input type="text" class="form-control form-control-lg d-inline-block w-auto" size="10">
         {% include ui/button.html color="blue" size="lg" %}
      </div>

   </div>
</div>
