---
tmp: true
menu: a.b.c
---

<div class="row">
  <div class="col-md-6 col-xl-4">
    {% include cards/small-stats.html chart-type="bar" chart-data="20,40,30,40,60,80,70" color="red" icon="heart" %}
  </div>
  <div class="col-md-6 col-xl-4">
    {% include cards/small-stats.html chart-type="bar" chart-data="5,8,2,5,-1,3,5,3" color="blue" icon="heart" %}
  </div>

  {% for chart in site.data.charts %}
  {% if chart[1].demo %}
  <div class="col-md-6 col-xl-4">
    <div class="card">
      <div class="card-body">
        {% assign chart-id = chart[0] %}
        <p>{{ chart-id }}</p>
        {% include ui/chart.html chart-id=chart-id height=15 %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}


   <div class="col-12">
      <div class="card">
         <div class="card-body">
            {% include ui/chart.html chart-id="tasks-overview" height=20 %}
         </div>
      </div>
   </div>
   <div class="col-4">
      {% include cards/charts/total-sales.html %}
   </div>
   <div class="col-8"></div>
</div>
<div class="row">
   <div class="col-md-6">
      {% include cards/user-info.html %}
      {% include cards/users-list-2.html %}

      <div class="card">
         <div class="card-body">
            <div>{% include ui/stars.html %}</div>
            <div>{% include ui/stars.html count=3 %}</div>
            <div>{% include ui/stars.html color="red" %}</div>
            <div>{% include ui/stars.html filled=true %}</div>
            <div>{% include ui/stars.html icon="heart" color="red" rate=2 %}</div>
            <div>{% include ui/stars.html icon="circle" color="blue" %}</div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      {% include cards/users-list.html hoverable=true checked-ids="2,5,8" %}
      {% include cards/users-list.html offset=8 checkbox=true title="Contacts" %}
   </div>
</div>

