---
---

<div class="row">
   <div class="col-4">
      {% include cards/charts/total-sales.html %}
   </div>
   <div class="col-8">

   </div>
</div>
<div class="row">
   <div class="col-md-6">
      {% include cards/user-info.html %}
      {% include cards/users-list-2.html %}

      <div class="card">
         <div class="card-body">
            <div>{% include ui/stars.html %}</div>
            <div>{% include ui/stars.html count=3 %}</div>
            <div>{% include ui/stars.html color="red" %}</div>
            <div>{% include ui/stars.html filled=true %}</div>
            <div>{% include ui/stars.html icon="heart" color="red" rate=2 %}</div>
            <div>{% include ui/stars.html icon="circle" color="blue" %}</div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      {% include cards/users-list.html hoverable=true checked-ids="2,5,8" %}
      {% include cards/users-list.html offset=8 checkbox=true title="Contacts" %}
   </div>
</div>
<div class="row">
   <div class="col-md-6">
      <div class="card">
         <div class="card-body">
            <div data-slider='{"start": [20, 80],"connect": true,"range": {"min": 0,"max": 100}}'></div>
         </div>
      </div>
   </div>
</div>

