---
tmp: true
---

<div class="mb-3">
	<label class="form-label">Tags</label>
	{% include ui/form/selectize.html key="tags" %}

</div>

<div class="mb-3">
	<label class="form-label">Top person</label>
	{% include ui/form/selectize.html key="users" %}
</div>

<div class="mb-3">
	<label class="form-label">Users list</label>
	{% include ui/form/selectize.html key="people" %}
</div>

<div class="mb-3">
	<label class="form-label">Countries</label>
	{% include ui/form/selectize.html key="countries" %}
</div>
