<div class="modal-body">
	<div class="modal-title">Are you sure?</div>
	<div>If you proceed, you will lose all your personal data.</div>
	<div class="sticky-top">
		{% include ui/button.html href=site.github_url text="Browse source code" icon="brand/github" color="github" external=true block=true class="mb-6" %}
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-link link-secondary mr-auto" data-dismiss="modal">Cancel</button>
	<button type="button" class="btn btn-danger" data-dismiss="modal">Yes, delete all my data</button>
</div>