<section class="section{% if include.background %} section-{{ include.background }}{% endif %}{% if include.class %} {{ include.class }}{% endif %}">
	<div class="container-narrow text-center">
		<h3 class="h1">Enhance your efficiency with our application,<br />available for use immediately.</h3>
		<p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ipsa? Voluptates sunt, ipsum esse quis obcaecati atque placeat consectetur beatae, tenetur ducimus iure minima expedita recusandae doloribus nam. Pariatur, facilis?</p>
		<div class="btn-list justify-content-center mt-6">
			{% include "ui/button.html" text="Get started" color="primary" %}
			{% include "ui/button.html" text="Learn more" ghost=true icon-right="chevron-right" %}
		</div>
	</div>
</section>
