<section class="section{% if include.background %} section-{{ include.background }}{% endif %}">
	<div class="container">
		<div class="bg-body-tertiary p-6 rounded-4">
			<div class="row g-4 align-items-center">
				<div class="col-lg">
					<h3 class="h2">Team License</h3>
					<p class="m-0 text-secondary">Get Marketing + Application UI for you and your team</p>
				</div>
				<div class="col-lg">
					<ul class="list-unstyled m-0">
						<li>
							{% include "ui/icon.html" icon="check" color="green" class="icon-inline me-1" %}Up to 5 developers
						</li>
						<li>
							{% include "ui/icon.html" icon="check" color="green" class="icon-inline me-1" %}All marketing + app components
						</li>
						<li>
							{% include "ui/icon.html" icon="check" color="green" class="icon-inline me-1" %}Figma UI Kit
						</li>
						<li>
							{% include "ui/icon.html" icon="check" color="green" class="icon-inline me-1" %}Lifetime free updates
						</li>
					</ul>
				</div>
				<div class="col-6-sm col-lg">
					<div class="pricing-price m-0">
						<span class="pricing-price-currency">$</span>599
						<div class="pricing-price-description">
							<div>per team</div>
							<div>per year</div>
						</div>
					</div>
				</div>
				<div class="col-6-sm col-lg-auto"><a href="#" class="btn btn-primary w-100">Get started</a></div>
			</div>
		</div>
	</div>
</section>