{% assign product-id = include.product-id | default: 0 %}
{% assign product = site.data.products[product-id] %}

<div class="card">
	<div class="card-body"{% unless include.lorem %} style="height: 5rem"{% endunless %}>
		{% if include.lorem %}
			<h3 class="card-title">Card with ribbon</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur consequuntur culpa cum dolorum eveniet.</p>
		{% endif %}
	</div>

	{% include ui/ribbon.html color=include.color top=include.top left=include.left bottom=include.bottom bookmark=include.bookmark %}
</div>
