---
layout: base
---

<div class="layout d-flex flex-row h-100p">
   {% if page.sidenav %}
   {% include layout/sidenav.html dark=page.sidenav-dark folded=page.sidenav-folded right=page.sidenav-right class=page.sidenav-class %}
   {% endif %}

   <div class="sidenav-overlay" data-toggle="sidenav"></div>

   <div class="layout-main d-flex flex-column flex-fill max-w-full">
      {% unless page.sidenav %}
      {% include layout/topnav.html dark=page.header-dark sticky=page.header-sticky %}
      {% include layout/topmenu.html %}
      {% endunless %}

      <main class="container{% if page.container-size %} container-{{ page.container-size }}{% endif %}{% if page.fluid %}-fluid{% endif %} my-4 flex-fill">
         {% include layout/page-title.html %}

         {{ content }}
      </main>
   </div>
</div>

{% include layout/modals.html %}
