---
layout: default
menu: docs
title: Documentation
page-title: Documentation
---


<div class="row justify-content-center">
   <div class="col-lg-3 order-lg-1 mb-4">
      <a href="{{ site.github_url }}" class="btn btn-block btn-primary mb-4" target="_blank">
         {% include_cached ui/icon.html icon="github" class="mr-2" %}Browse source code
      </a>

      <div class="list-group list-group-transparent mb-0">
         {% for p in site.data.docs %}
         {% assign doc = site.docs | where: "slug", p.page | first %}
         <a href="{{ site.base }}{{ doc.url | relative_url }}" class="list-group-item list-group-item-action{% if page.url == doc.url %} active{% endif %}">
            {{ doc.title }}{% if doc.done %} {% include_cached ui/icon.html icon="check" color="green" %}{% endif %}
         </a>
         {% endfor %}
      </div>
   </div>
	<div class="col-lg-9">
		<div class="card">
			<div class="card-body p-md-6 p-xl-7">

				<div class="markdown">
					<h2 class="h1 mt-0 mb-2">{{ page.title }}{% if page.done %} {% include_cached ui/icon.html icon="check" color="green" %}{% endif %}</h2>

               {% if page.plugin %}
                  <div class="alert alert-info">This module is available in <code>tabler-{{ page.plugin }}</code> plugin.</div>
               {% endif %}

					{% if page.description %}
					   <p>{{ page.description }}</p>
					{% endif %}

					{% if page.title != "Introduction" %}
					<a class="text-decoration-none mb-4" href="https://getbootstrap.com/docs/4.0/components/{{ page.title | downcase }}" target="_blank">
						<i class="pr-1">{% include_cached ui/icon.html icon="external-link" color="blue" %}</i>
						Bootstrap documentation
					</a>
					{% endif %}

					{% if page.in_progress %}
					<div class="alert alert-primary mt-5 mb-6">
						<div><strong>Work in progress!</strong> More detailed documentation is coming soon.</div>
					</div>
					{% endif %}

					{% if page.toc %}
					{{ content | toc_only }}
					{% endif %}

					{{ content | toc_generate }}
				</div>
			</div>
		</div>
	</div>
</div>
