---
layout: base
---

{% assign error = site.data.errors[page.error] %}
<div class="d-flex min-h-full align-items-center justify-content-center">
	<div class="text-center p-4">

		{% if page.error == 'maintenance' %}
			<div class="display-3 text-muted mb-3">{% include ui/icon.html icon="settings" class="icon-thin" %}</div>
			<h1 class="h2 mb-3">{{ error }}</h1>
			<p class="h4 text-muted font-weight-normal mb-5">We’ll be back shortly!</p>
		{% else %}
			<div class="display-3 text-muted mb-3">{{ page.error }}</div>

			<h1 class="h2 mb-3">Oops&hellip; You just found an error page</h1>
			<p class="h4 text-muted font-weight-normal mb-5">{{ error }}</p>

			<a class="btn btn-primary" href="javascript:history.back()">
				{% include ui/icon.html icon="arrow-left" class="mr-1" %} Go back
			</a>

		{% endif %}
	</div>
</div>
