---
layout: base
body-class: border-top-wide border-primary
---

<div class="d-flex h-auto min-h-full justify-content-center">
    <div class="d-flex align-items-center justify-content-center flex-fill">
        <div class="container">
            <div class="row">
                <div class="col {{ page.col-class | default: 'col-login' }} mx-auto">
                    <div class="text-center mb-4">
                        <img src="{{ site.base }}/img/logo.svg" class="h-8" alt="">
                    </div>

                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

