---
layout: base
body-class: border-top-2 border-primary
---

<div class="d-flex align-items-center justify-content-center flex-fill min-vh-100 min-vw-100">
    <div class="container">
        <div class="row">
            <div class="col {{ page.col-class | default: 'col-login' }} mx-auto">
                <div class="text-center mb-3">
                    <img src="{{ site.base }}/img/logo.svg" class="h-6 mb-3" alt="">
                </div>
                    {{ content }}
            </div>
        </div>
    </div>
</div>

