{% assign person-id = include.person-id | default: 1 %}
{% assign person = people[person-id] %}
<div class="navbar-nav flex-row{% if include.class %} {{ include.class }}{% endif %}">

	{% unless include.condensed %}
	<div class="nav-item d-none d-{{ include.breakpoint }}-flex me-3">
		<div class="btn-list">
			{% include "ui/button.html" icon="heart" icon-color="pink" outline=true text="Sponsor"
			href=site.githubSponsorsUrl external=true %}
		</div>
	</div>
	{% endunless %}

	{% if include.show-theme-toggle or include.show-notifications or include.show-apps or include.show-language-selector %}
	<div class="d-none d-{{ include.breakpoint }}-flex me-3">
		{% if include.show-theme-toggle %}
			{% include "layout/navbar-side-theme.html" %}
		{% endif %}
		{% if include.show-notifications %}
			{% include "layout/navbar-side-notifications.html" %}
		{% endif %}
		{% if include.show-apps %}
			{% include "layout/navbar-side-apps.html" %}
		{% endif %}
		{% if include.show-language-selector %}
			{% include "layout/navbar-side-language.html" %}
		{% endif %}
	</div>
	{% endif %}

	{% if include.show-user %}
		{% include "layout/navbar-side-user.html" person-id=person-id hide-username=include.hide-username dark=include.dark %}
	{% endif %}
</div>
