<!-- BEGIN NOTIFICATIONS -->
<div class="nav-item dropdown d-none d-md-flex">
	<a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications" data-bs-auto-close="outside" aria-expanded="false">
		{% include "ui/icon.html" icon="bell" %}
		<span class="badge bg-red"></span>
	</a>
	<!-- BEGIN NAVBAR NOTIFICATIONS -->
	<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
		{% include "cards/navbar-notifications.html" %}
	</div>
	<!-- END NAVBAR NOTIFICATIONS -->
</div>
<!-- END NOTIFICATIONS -->
