<!-- BEGIN LANGUAGE SELECTOR -->
<div class="nav-item dropdown d-none d-md-flex">
	<a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Select language"
		data-bs-auto-close="outside" aria-expanded="false">
		EN
	</a>
	<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end">
		{% for language in languages %}
		<a class="dropdown-item" href="#" data-lang="{{ language.code }}">
			{{ language.name }}
		</a>
		{% endfor %}
	</div>
</div>
<!-- END LANGUAGE SELECTOR -->
