<div class="card">
	<img class="card-img-top" src="{{ site.data.photos[5].small }}" alt="Card image cap">
	<div class="card-body">
		<h4 class="card-title">Card title</h4>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	</div>
	<ul class="list-group card-list-group">
		<li class="list-group-item">Cras justo odio</li>
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item">Vestibulum at eros</li>
	</ul>
	<div class="card-body">
		<a href="javascript:void(0)" class="card-link">Card link</a>
		<a href="javascript:void(0)" class="card-link">Another link</a>
	</div>
</div>