<div class="card">
	<div class="card-header">
		<h3 class="card-title text-center">December 2017</h3>
	</div>
	<div class="card-body p-3">
		<table class="table table-calendar">
			<tbody>
			<tr>
				<th>Mo</th>
				<th>Tu</th>
				<th>We</th>
				<th>Th</th>
				<th>Fr</th>
				<th>Sa</th>
				<th>Su</th>
			</tr>
			<tr>
				<td class="text-muted">27</td>
				<td class="text-muted">28</td>
				<td class="text-muted">29</td>
				<td class="text-muted">30</td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
			</tr>
			<tr>
				<td><a href="javascript:void(0)" class="table-calendar-link">4</a></td>
				<td>5</td>
				<td><a href="javascript:void(0)" class="table-calendar-link">6</a></td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
				<td>10</td>
			</tr>
			<tr>
				<td>11</td>
				<td><a href="javascript:void(0)" class="table-calendar-link">12</a></td>
				<td>13</td>
				<td>14</td>
				<td><a href="javascript:void(0)">15</a></td>
				<td>16</td>
				<td>17</td>
			</tr>
			<tr>
				<td>18</td>
				<td><a href="javascript:void(0)" class="table-calendar-link">19</a></td>
				<td><a href="javascript:void(0)" class="table-calendar-link">20</a></td>
				<td>21</td>
				<td>22</td>
				<td>23</td>
				<td>24</td>
			</tr>
			<tr>
				<td>25</td>
				<td>26</td>
				<td>27</td>
				<td>28</td>
				<td>29</td>
				<td>30</td>
				<td class="text-muted">1</td>
			</tr>
			</tbody>
		</table>
	</div>

	<ul class="list-group card-list-group">
		<li class="list-group-item list-group-item-red">
			<a href="javascript:void(0)" class="text-inherit">Cras justo odio</a>
			<span class="float-right text-muted">16 Dec</span>
		</li>
		<li class="list-group-item list-group-item-blue">
			<a href="javascript:void(0)" class="text-inherit">Dapibus ac facilisis in</a>
			<span class="float-right text-muted">22 Dec</span>
		</li>
		<li class="list-group-item list-group-item-red">
			<a href="javascript:void(0)" class="text-inherit">Vestibulum at eros</a>
			<span class="float-right text-muted">29 Dec</span>
		</li>
	</ul>
</div>