{% assign color = include.color | default: 'blue' %}
{% assign offset = include.offset | default: 0 %}
{% assign limit = include.limit | default: 20 %}
{% assign aggregate = include.aggregate | default: false %}

<div class="card">
	<div class="card-body">
		<div class="card-value float-right text-{{ color }}">{{ include.rate | default: '+5%' }}</div>
		<h3 class="mb-1">{{ include.title | default: '423' }}</h3>
		<div class="text-muted">{{ include.description | default: 'Users online' }}</div>
	</div>
	<div class="card-chart-bg">
		<div id="{{ include.id }}" style="height: 100%"></div>
	</div>
</div>

<script>
{% include js/chart-bg.js id=include.id color=color %}
</script>