<div class="card">
	<div class="card-header">
		<h3 class="card-title">Client card</h3>
		<div class="card-options">
			<button type="button" class="btn btn-option" data-toggle="tooltip" title="Edit">
				<i class="si si-pencil"></i>
			</button>
			<div class="dropdown card-options-dropdown">
				<button type="button" class="btn btn-option dropdown-toggle" data-toggle="dropdown"><i class="si si-options"></i></button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="javascript:void(0)">
						<i class="si si-bell mr-3"></i>News
					</a>
					<a class="dropdown-item" href="javascript:void(0)">
						<i class="si si-envelope mr-3"></i>Messages
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="javascript:void(0)">
						<i class="si si-pencil mr-3"></i>Edit Profile
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="card-map card-map-placeholder" style="background-image: url({{ site.base }}/demo/staticmap.png)"></div>

	<div class="card-body">
		<div class="media mb-5">
			<img class="d-flex mr-5 rounded" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15ec911398e%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15ec911398e%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.84375%22%20y%3D%2236.65%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
			<div class="media-body">
				<h5>Axa Global Group</h5>
				<address class="text-muted small">
					1290 Avenua of The Americas<br>
					New York, NY 101040105
				</address>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="h6">Relationship</div>
				<p>Client</p>
			</div>
			<div class="col-6">
				<div class="h6">Business Type</div>
				<p>Insurance Company</p>
			</div>
			<div class="col-6">
				<div class="h6">Website</div>
				<p><a href="javascript:void(0)">http://www.axa.com</a></p>
			</div>
			<div class="col-6">
				<div class="h6">Office Phone</div>
				<p>+123456789</p>
			</div>
		</div>

		<div class="h6">Description</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dignissimos doloribus eum fugiat itaque laboriosam maiores nisi nostrum perspiciatis vero.</p>
	</div>
</div>