<div class="card">
	<div class="card-body">
		<h4 class="card-title">Top Countries</h4>
	</div>
	<table class="table card-table">
		<tbody>
		<tr>
			<td width="1"><i class="flag flag-us"></i></td>
			<td>
				USA
				<div class="progress progress-xs mt-2">
					<div class="progress-bar" style="width: 78%"></div>
				</div>
			</td>
			<td width="1" class="text-right"><span class="text-muted">$6425</span></td>
		</tr>
		<tr>
			<td><i class="flag flag-pl"></i></td>
			<td>
				Poland
				<div class="progress progress-xs mt-2">
					<div class="progress-bar" style="width: 62%"></div>
				</div>
			</td>
			<td class="text-right"><span class="text-muted">$5582</span></td>
		</tr>
		<tr>
			<td><i class="flag flag-de"></i></td>
			<td>
				Germany
				<div class="progress progress-xs mt-2">
					<div class="progress-bar" style="width: 48%"></div>
				</div>
			</td>
			<td class="text-right"><span class="text-muted">$4587</span></td>
		</tr>
		<tr>
			<td><i class="flag flag-ru"></i></td>
			<td>
				Russia
				<div class="progress progress-xs mt-2">
					<div class="progress-bar" style="width: 35%"></div>
				</div>
			</td>
			<td class="text-right"><span class="text-muted">$2520</span></td>
		</tr>
		<tr>
			<td><i class="flag flag-au"></i></td>
			<td>
				Australia
				<div class="progress progress-xs mt-2">
					<div class="progress-bar" style="width: 30%"></div>
				</div>
			</td>
			<td class="text-right"><span class="text-muted">$1899</span></td>
		</tr>
		<tr>
			<td><i class="flag flag-gb"></i></td>
			<td>
				Great Britain
				<div class="progress progress-xs mt-2">
					<div class="progress-bar" style="width: 22%"></div>
				</div>
			</td>
			<td class="text-right"><span class="text-muted">$1056</span></td>
		</tr>
		</tbody>
	</table>
</div>