<div class="card">
	<div class="card-header">
		<h3 class="card-title">Development Activity</h3>
	</div>
	<div id="chart-development-activity" style="height: 15rem"></div>
	<table class="table card-table table-striped table-vcenter">
		<thead>
		<tr>
			<th colspan="2">User</th>
			<th>Commit</th>
			<th>Date</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="w-1"><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[10].photo }})"></span></td>
			<td>Ryan Lawrence</td>
			<td>Initial commit</td>
			<td>May 6, 2016</td>
			<td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
		</tr>
		<tr>
			<td><span class="avatar">BM</span></td>
			<td>Benji Miller</td>
			<td>Main structure</td>
			<td>April 22, 2016</td>
			<td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
		</tr>
		<tr>
			<td><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[16].photo }})"></span></td>
			<td>Justine Adams</td>
			<td>Left sidebar adjusments</td>
			<td>April 15, 2016</td>
			<td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
		</tr>
		<tr>
			<td><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[12].photo }})"></span></td>
			<td>Brett Harris</td>
			<td>Topbar dropdown style</td>
			<td>April 8, 2016</td>
			<td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
		</tr>
		</tbody>
	</table>
</div>

{% include js-charts.html id="chart-development-activity" data="development-activity" %}