<div class="card">
	<div class="card-header">
		<h3 class="card-title">Development Activity</h3>
	</div>
	<div id="chart-development-activity" style="height: 10rem"></div>
	<div class="table-responsive">
		<table class="table card-table table-striped table-vcenter">
			<thead>
			<tr>
				<th colspan="2">User</th>
				<th>Commit</th>
				<th>Date</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="w-1"><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[10].photo }})"></span></td>
				<td>{{ site.data.users[10].name }} {{ site.data.users[10].surname }}</td>
				<td>Initial commit</td>
				<td class="text-nowrap">May 6, 2018</td>
				<td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
			</tr>
			<tr>
				<td><span class="avatar">BM</span></td>
				<td>{{ site.data.users[17].name }} {{ site.data.users[17].surname }}</td>
				<td>Main structure</td>
				<td class="text-nowrap">April 22, 2018</td>
				<td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
			</tr>
			<tr>
				<td><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[16].photo }})"></span></td>
				<td>{{ site.data.users[16].name }} {{ site.data.users[16].surname }}</td>
				<td>Left sidebar adjustments</td>
				<td class="text-nowrap">April 15, 2018</td>
				<td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
			</tr>
			<tr>
				<td><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[12].photo }})"></span></td>
				<td>{{ site.data.users[12].name }} {{ site.data.users[12].surname }}</td>
				<td>Topbar dropdown style</td>
				<td class="text-nowrap">April 8, 2018</td>
				<td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
			</tr>
			<tr>
				<td><span class="avatar" style="background-image: url({{ site.base }}/{{ site.data.users[19].photo }})"></span></td>
				<td>{{ site.data.users[19].name }} {{ site.data.users[19].surname }}</td>
				<td>Fixes #625</td>
				<td class="text-nowrap">April 9, 2018</td>
				<td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

{% include js-charts.html id="chart-development-activity" data="development-activity" %}
