{% assign width = include.width | default: '54%' %}
{% assign color = include.color | default: 'blue' %}
{% assign title = include.title | default: 'Today Expenses' %}
{% assign digit = include.digit | default: '$8500' %}
<div class="card">
	<div class="card-body text-center">
		<div class="h5">{{ title }}</div>
		<div class="display-4 font-weight-bold mb-4">{{ digit }}</div>
		<div class="progress progress-sm">
			<div class="progress-bar bg-{{ color }}" style="width: {{ width }}"></div>
		</div>
	</div>
</div>