<div class="card">
	<div class="card-body">
		<h4 class="card-title">Follow</h4>
	</div>

	<table class="table card-table">
		<tr>
			<td class="align-middle" width="1">
				<span class="avatar avatar-md" style="background-image: url({{ site.data.users[38].photo }})"></span>
			</td>
			<td>
				<strong>Jacob Thornton</strong>
				<small class="d-block text-muted">@fat</small>
			</td>
			<td class="align-middle" width="1">
				<button class="btn btn-outline-primary btn-sm">
					<span class="fa fa-twitter"></span> Follow
				</button>
			</td>
		</tr>
		<tr>
			<td class="align-middle" width="1">
				<span class="avatar avatar-md" style="background-image: url({{ site.data.users[39].photo }})"></span>
			</td>
			<td>
				<strong>Dave Gamache</strong>
				<small class="d-block text-muted">@dhg</small>
			</td>
			<td class="align-middle" width="1">
				<button class="btn btn-outline-primary btn-sm">
					<span class="fa fa-twitter"></span> Follow
				</button>
			</td>
		</tr>
		<tr>
			<td class="align-middle" width="1">
				<span class="avatar avatar-md" style="background-image: url({{ site.data.users[40].photo }})"></span>
			</td>
			<td>
				<strong>Mark Otto</strong>
				<small class="d-block text-muted">@mdo</small>
			</td>
			<td class="align-middle" width="1">
				<button class="btn btn-outline-primary btn-sm">
					<span class="fa fa-twitter"></span> Follow
				</button>
			</td>
		</tr>
	</table>
</div>