<form class="card" action="" method="get">


	<div class="card-body">
		<div class="card-title">Forgot password</div>

		<p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
		<div class="form-group">
			<label class="form-label" for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		</div>
		<div class="form-footer">
			<button type="submit" class="btn btn-primary btn-block">Send me new password</button>
		</div>
	</div>
	<div class="card-footer">
		<a href="login.html"><i class="mdi mdi-arrow-left"></i> Back to login form</a>
	</div>
</form>