<div class="card {% if include.bg-color %}bg-{{ include.bg-color }} text-white{% endif %}">
	<div class="card-body p-4">
		<div class="row">
			<div class="col-auto">
				<div class="stamp stamp-md {% if include.icon-color %}bg-{{ include.icon-color }}{% endif %}">
					<i class="{{ include.icon }}"></i>
				</div>
			</div>
			<div class="col text-right">
				<div class="small text-muted">{{ include.title }}</div>
				<div class="h4 m-0">{{ include.value }}</div>
			</div>
		</div>
	</div>
</div>