<form class="card" action="" method="get">

	<div class="card-body">
		<div class="card-title">Sign In</div>

		<div class="form-group">
			<label class="form-label" for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label class="form-label" for="exampleInputPassword1">
				Password
				<a href="./forgot-password.html" class="pull-right small">I forgot password</a>
			</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input">
				Remember me
			</label>
		</div>
		<div class="form-footer">
			<button type="submit" class="btn btn-primary btn-block">Sign in</button>
		</div>
	</div>
</form>