<div class="card">
	<div class="card-header">
		<h3 class="card-title">
			Audit Log
		</h3>
	</div>
	<div class="card-body">
		<div class="timeline">
			<div class="timeline-item">
				<span class="timeline-badge bg-success"></span>
				<span class="timeline-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus enim eos ipsa voluptas. Adipisci dignissimos, dolores excepturi fugiat inventore minus molestias nam necessitatibus pariatur, quia sint totam. Blanditiis, praesentium temporibus?</span>
				<span class="timeline-time">Just now</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-info"></span>
				<span class="timeline-text">System shutdown <span class="badge badge-success">pending</span></span>
				<span class="timeline-time">14 mins</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-danger"></span>
				<span class="timeline-text">New invoice received</span>
				<span class="timeline-time">20 mins</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-accent"></span>
				<span class="timeline-text">DB overloaded 80% <span class="badge badge-warning">settled</span></span>
				<span class="timeline-time">1 hr</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-warning"></span>
				<span class="timeline-text">System error - <a href="javascript:void(0)">Check</a></span>
				<span class="timeline-time">2 hrs</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-brand"></span>
				<span class="timeline-text">Production server down</span>
				<span class="timeline-time">3 hrs</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-info"></span>
				<span class="timeline-text">Production server up</span>
				<span class="timeline-time">5 hrs</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-success"></span>
				<span class="timeline-text">New order received <span class="badge badge-danger">urgent</span></span>
				<span class="timeline-time">7 hrs</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-success"></span>
				<span class="timeline-text">12 new users registered</span>
				<span class="timeline-time">Just now</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-info"></span>
				<span class="timeline-text">System shutdown <span class="badge badge-success">pending</span></span>
				<span class="timeline-time">14 mins</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-danger"></span>
				<span class="timeline-text">New invoice received</span>
				<span class="timeline-time">20 mins</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-accent"></span>
				<span class="timeline-text">DB overloaded 80% <span class="badge badge-warning">settled</span></span>
				<span class="timeline-time">1 hr</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-danger"></span>
				<span class="timeline-text">New invoice received</span>
				<span class="timeline-time">20 mins</span>
			</div>
			<div class="timeline-item">
				<span class="timeline-badge bg-accent"></span>
				<span class="timeline-text">DB overloaded 80% <span class="badge badge-warning">settled</span></span>
				<span class="timeline-time">1 hr</span>
			</div>
		</div>
	</div>
</div>