<div class="card">
	<div class="card-header">
		<h3 class="card-title">Match results</h3>
	</div>
	<div class="card-body">
		<div class="row align-items-center gutters-sm">
			<div class="col text-left">
				<img src="assets/images/teams/real-madrid.png" alt="">
			</div>
			<div class="col-auto text-center">
				<div class="display-4 font-weight-bold">2:4</div>
				<div class="text-muted">Today, 20:45</div>
			</div>
			<div class="col text-right">
				<img src="assets/images/teams/fc-barcelona.png" alt="">
			</div>
		</div>
	</div>
	<table class="card-table table table-center table-md mt-4">
		<tr>
			<td></td>
			<td class="font-weight-bold">Match stats</td>
			<td></td>
		</tr>

		<tr>
			<td>19</td>
			<td>Fouls</td>
			<td>12</td>
		</tr>

		<tr>
			<td>6</td>
			<td>Yellow Cards</td>
			<td>2</td>
		</tr>

		<tr>
			<td>0</td>
			<td>Red Cards</td>
			<td>0</td>
		</tr>

		<tr>
			<td>0</td>
			<td>Offsides</td>
			<td>0</td>
		</tr>

		<tr>
			<td>3</td>
			<td>Corner Kicks</td>
			<td>4</td>
		</tr>

		<tr>
			<td>5</td>
			<td>Saves</td>
			<td>3</td>
		</tr>

	</table>
</div>