<div class="card">
	<div class="card-body">
		<div class="card-value float-right text-{{ include.color | default: 'success' }}">{{ include.rate | default: '23%' }}</div>
		<h3 class="mb-1">{{ include.title | default: '423' }}</h3>
		<div>{{ include.description | default: 'Users online' }}</div>
		{% if include.progress %}
		<div class="mt-4">
			<div class="progress progress-xs">
				<div class="progress-bar bg-{{ include.color | default: 'success' }}" style="width: {{ include.progress }}"></div>
			</div>
		</div>
		{% endif %}
	</div>
</div>