<div class="card">
	<div class="card-body">
		<h3 class="card-title">Private message</h3>
		<div class="card-subtitle"> Send private message to Olivia Wenscombe </div>
		<form action="">
			<div class="form-group">
				<label class="form-label">Subject</label>
				<input placeholder="Message subject" class="form-control" type="email">
			</div>
			<div class="form-group">
				<label class="form-label">Message</label>
				<textarea rows="3" placeholder="Your message" class="form-control"></textarea>
			</div>
			<button class="btn btn-primary btn-block">Send</button>
		</form>
	</div>
</div>