<div class="card">
	<div class="card-header">
		<h3 class="card-title">Client Notifications</h3>
	</div>
	<div class="card-body">
		<ul class="list-unstyled">
			<li class="media align-items-center">
				<div class="media-icon align-self-start bg-danger text-white mr-3">
					<i class="si si-home"></i>
				</div>
				<div class="media-body">
					2 day delay - Schedule a Meeting with <a href="javascript:void(0)">{{ site.data.users[16].name }} {{ site.data.users[16].surname }}</a>
				</div>
			</li>
			<li class="media align-items-center mt-4">
				<div class="media-icon align-self-start bg-primary text-white mr-3">
					<i class="si si-present"></i>
				</div>
				<div class="media-body">
					Client 1 Year Anniversary <a href="">Send Email</a>
				</div>
			</li>
			<li class="media align-items-center mt-4">
				<div class="media-icon align-self-start bg-warning text-white mr-3">
					<i class="si si-home"></i>
				</div>
				<div class="media-body">
					Reminder - Call <a href="">{{ site.data.users[12].name }} {{ site.data.users[12].surname }}</a> to confirm affiliate pricing
				</div>
			</li>
			<li class="media align-items-center mt-4">
				<div class="media-icon align-self-start bg-success text-white mr-3">
					<i class="si si-home"></i>
				</div>
				<div class="media-body">
					Contact signed by <a href="">{{ site.data.users[11].name }} {{ site.data.users[11].surname }}</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="card-footer">
		<a href=""><i class="si si-plus"></i> Add Task</a>
	</div>
</div>