<div class="card">
	<div class="card-tabs">
		<a href="" class="card-tabs-item">
			<h3 class="mb-1">72</h3>
			<div class="text-uppercase text-success font-weight-bold h6 m-0 text-nowrap">Up to date</div>
		</a>
		<a href="" class="card-tabs-item">
			<h3 class="mb-1">25</h3>
			<div class="text-uppercase text-warning font-weight-bold h6 m-0 text-nowrap">Outdated</div>
		</a>
		<a href="" class="card-tabs-item active">
			<h3 class="mb-1">2</h3>
			<div class="text-uppercase text-danger font-weight-bold h6 m-0 text-nowrap">Danger</div>
		</a>
	</div>
	<table class="table card-table">
		<tr>
			<td>
				<strong><a href="javascript:void(0)" class="text-inherit">uglify-js</a></strong>
			</td>
			<td class="text-right">3.0.10</td>
		</tr>
		<tr>
			<td>
				<strong><a href="javascript:void(0)" class="text-inherit">moment</a></strong>
			</td>
			<td class="text-right">2.18.1</td>
		</tr>
	</table>
</div>