<div class="card">
	<div class="card-header">
		<h3 class="card-title">Best Pictures for Today</h3>
	</div>
	<div class="card-body">
		<div>
			<div class="row img-gallery">
				{% for photo in site.data.photos limit:4 offset:30 %}
				<div class="col-6">
					<a href="javascript:void(0)" class="d-block link-overlay">
						<img class="d-block img-fluid rounded" src="{{ photo.small }}" alt="">
						<span class="link-overlay-bg rounded">
						<i class="fa fa-search"></i>
					</span>
					</a>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>

</div>