<div class="card card-profile">
	<div class="card-header" style="background-image: url({{ site.data.photos[18].small }});"></div>
	<div class="card-body text-center">
		<img class="card-profile-img" src="{{ site.data.users[4].photo }}">

		<h3 class="mb-3">{{ site.data.users[4].name }} {{ site.data.users[4].surname }}</h3>

		<p class="mb-4">
			Big belly rude boy, million dollar hustler. Unemployed.
		</p>

		<button class="btn btn-outline-primary btn-sm">
			<span class="fa fa-twitter"></span> Follow
		</button>
	</div>
</div>