<div class="card">
	<div class="card-header">
		<h3 class="card-title">Progress bars</h3>
	</div>
	<div class="card-body">
		<div class="progress progress-sm mb-3">
			<div class="progress-bar" style="width: 20%"></div>
		</div>

		<div class="progress progress-sm mb-3">
			<div class="progress-bar bg-danger" style="width: 45%"></div>
			<div class="progress-bar bg-warning" style="width: 30%"></div>
			<div class="progress-bar bg-success" style="width: 12%"></div>
		</div>

		<div class="progress progress-sm mb-3">
			<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 63%"></div>
		</div>

		<div class="progress progress-sm">
			<div class="progress-bar progress-bar-indeterminate"></div>
		</div>
	</div>
</div>