<form class="card" action="" method="get">


	<div class="card-body">
		<div class="card-title">Create new account</div>

		<div class="form-group">
			<label class="form-label">Name</label>
			<input type="text" class="form-control" placeholder="Enter name">
		</div>
		<div class="form-group">
			<label class="form-label">Email address</label>
			<input type="email" class="form-control" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label class="form-label">Password</label>
			<input type="password" class="form-control" placeholder="Password">
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input">
				Agree the <a href="terms.html">terms and policy</a>
			</label>
		</div>
		<div class="form-footer">
			<button type="submit" class="btn btn-primary btn-block">Create new account</button>
		</div>
	</div>
</form>