<div class="card">
	<div class="card-header">
		<h3 class="card-title">
			Sales Stats
		</h3>
	</div>
	<table class="table card-table">
		<tr>
			<th>
				Scheduled
			</th>
			<th>
				Count
			</th>
			<th class="text-right">
				Amount
			</th>
		</tr>
		<tr>
			<td class="text-muted">
				13.06.2017
			</td>
			<td>
				67
			</td>
			<td class="text-right">
				$14,740
			</td>
		</tr>
		<tr>
			<td class="text-muted">
				28.02.2017
			</td>
			<td>
				120
			</td>
			<td class="text-right">
				$11,002
			</td>
		</tr>
		<tr>
			<td class="text-muted">
				06.03.2017
			</td>
			<td>
				32
			</td>
			<td class="text-right">
				$10,900
			</td>
		</tr>
		<tr>
			<td class="text-muted">
				21.10.2017
			</td>
			<td>
				130
			</td>
			<td class="text-right">
				$14,740
			</td>
		</tr>
		<tr>
			<td class="text-muted">
				02.01.2017
			</td>
			<td>
				5
			</td>
			<td class="text-right">
				$18,540
			</td>
		</tr>
		<tr>
			<td class="text-muted">
				06.03.2017
			</td>
			<td>
				32
			</td>
			<td class="text-right">
				$10,900
			</td>
		</tr>
		<tr>
			<td class="text-muted">
				31.12.2017
			</td>
			<td>
				201
			</td>
			<td class="text-right">
				$25,609
			</td>
		</tr>
	</table>
	<div class="card-footer">
		<div class="text-right">
			<button type="button" class="btn btn-primary">
				<i class="mdi mdi-export mr-2"></i>Export data
			</button>
		</div>
	</div>
</div>