<div class="card">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item">
				<a class="nav-link active" href="javascript:void(0)">My Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="javascript:void(0)">Preferences</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="javascript:void(0)">Payment Methods</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="javascript:void(0)">API Access</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="javascript:void(0)">Limits</a>
			</li>
		</ul>
	</div>
	<div class="card-body">
		<h4 class="card-title">Special title treatment</h4>
		<div class="card-text">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		</div>
		<a href="javascript:void(0)" class="btn btn-primary">Go somewhere</a>
	</div>
</div>