{% assign color = include.color | default: 'blue' %}
{% assign chart_type = include.type | default: 'bar' %}
{% assign limit = include.limit | default: 20 %}
{% assign offset = include.offset | default: 0 %}
{% assign aggregate = include.aggregate | default: false %}

<div class="card">
	<div class="card-body">
		<div class="card-value float-right text-warning">
			<div class="sparkline" data-sparkline="{% include chart-data.html limit=limit offset=offset aggregate=aggregate %}" data-sparkline-color="{{ site.colors[color] }}" data-sparkline-type="{{ chart_type }}"></div>
		</div>
		<h3 class="mb-1">$10M <i class="mdi mdi-trending-up text-success"></i></h3>
		<div class="text-muted">Profit for this month</div>
	</div>
</div>
