<div class="card">
	<div class="card-header">
		<div class="card-title">Portfolio</div>
	</div>
	<table class="table card-table">
		<tbody>
		<tr>
			<td class="font-weight-bold">AAPL</td>
			<td class="text-right">
				115.52
				<span class="text-success">(0.34%) <i class="fa fa-caret-up"></i></span>
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">GOOG</td>
			<td class="text-right">
				635.3
				<span class="text-danger">(-1.15%) <i class="fa fa-caret-down"></i></span>
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">MSFT</td>
			<td class="text-right">
				46.74
				<span class="text-success">(0.26%) <i class="fa fa-caret-up"></i></span>
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">LNKD</td>
			<td class="text-right">
				190.04
				<span class="text-success">(0.28%) <i class="fa fa-caret-up"></i></span>
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">TSLA</td>
			<td class="text-right">
				181.47
				<span class="text-danger">(-0.23%) <i class="fa fa-caret-down"></i></span>
			</td>
		</tr>
		<tr>
			<td class="font-weight-bold">YA</td>
			<td class="text-right">
				37.75
				<span class="text-danger">(-0.74%) <i class="fa fa-caret-down"></i></span>
			</td>
		</tr>
		</tbody>
	</table>
</div>