<div class="card">
	<table class="table card-table">
		{% for product in site.data.products %}
		<tr>
			<td><img src="{{ product.image }}" alt="" style="width: 15rem"></td>
			<td>
				<h4 class="mb-5"><a href="#">{{ product.name }}</a></h4>

				<div class="row mb-5">
					<div class="col-auto">32 reviews</div>
					<div class="col-auto">20 offers</div>
				</div>
				<div class="row text-muted">
					<div class="col-lg-6">Camera 12MP, Auto Focus</div>
					<div class="col-lg-6">Retina HD display</div>
					<div class="col-lg-6">4.7-inch (diagonal) widescreen LCD</div>
					<div class="col-lg-6">Multi-Touch display with IPS technology</div>
					<div class="col-lg-6">1334-by-750-pixel resolution at 326 ppi</div>
					<div class="col-lg-6">1400:1 contrast ratio (typical)</div>
				</div>
			</td>
			<td class="text-right">
				<div class="h4">{{ product.price }}</div>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>