<div class="card">
	<div class="card-body">

		{% for task in site.data.tasks %}
		<div class="card">
			<div class="card-status bg-{{ task.background }}"></div>
			<div class="card-body">
				<h4 class="mb-3">{{ task.name }}</h4>

				<div class="row">
					<div class="col-auto">
						<div class="text-muted-dark"><i class="mdi mdi-calendar mr-1 text-muted w-4 text-center"></i> {{ task.date }}</div>
					</div>
					<div class="col-auto">
						<div class="text-muted-dark"><i class="mdi mdi-map-marker mr-1 text-muted w-4 text-center"></i> {{ task.place }}</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

	</div>
</div>