<div class="card">
    <div class="card-header">
        <h3 class="card-title">Support Request</h3>
    </div>

    <table class="table card-table table-vcenter table-responsive-lg">
        <thead>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>time</th>
                <th>phone number</th>
                <th>city</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Cecilia Welch</td>
                <td class="text-muted">heather_keeling@gottileb.ca</td>
                <td class="text-muted">01:06AM</td>
                <td class="text-muted">215-593-5846</td>
                <td class="text-muted">South Marine</td>
                <td>
                    <button class="btn btn-primary btn-sm">Sent</button>
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold">Cecilia Welch</td>
                <td class="text-muted">heather_keeling@gottileb.ca</td>
                <td class="text-muted">01:06AM</td>
                <td class="text-muted">215-593-5846</td>
                <td class="text-muted">South Marine</td>
                <td>
                    <button class="btn btn-primary btn-sm">Sent</button>
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold">Cecilia Welch</td>
                <td class="text-muted">heather_keeling@gottileb.ca</td>
                <td class="text-muted">01:06AM</td>
                <td class="text-muted">215-593-5846</td>
                <td class="text-muted">South Marine</td>
                <td>
                    <button class="btn btn-secondary btn-sm">Open</button>
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold">Cecilia Welch</td>
                <td class="text-muted">heather_keeling@gottileb.ca</td>
                <td class="text-muted">01:06AM</td>
                <td class="text-muted">215-593-5846</td>
                <td class="text-muted">South Marine</td>
                <td>
                    <button class="btn btn-secondary btn-sm">Open</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>