{% assign author = site.data.users[7] %}
<div class="card">
	<div class="card-body">
		<article class="media">
			<div class="mr-3">
				<div class="avatar avatar-xl" style="background-image: url({{ author.photo }})"></div>
			</div>
			<div class="media-body">
				<div class="content">

					<p class="h5">
						John Smith <small>@johnsmith</small> <small class="float-right text-muted">31 minutes ago</small>
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
					</p>
					{% if include.show-image %}
					<figure>
						<img src="{{ site.data.photos[9].small }}" alt="" class="rounded">
					</figure>
					{% endif %}
				</div>
				<nav class="d-flex text-muted">
					<a href="#" class="icon mr-3">
						<i class="fe fe-repeat"></i>
					</a>
					<a href="#" class="icon mr-3">
						<i class="fe fe-twitter"></i> 24
					</a>
					<a href="#" class="icon mr-3">
						<i class="fe fe-heart"></i> 43
					</a>
					<a href="" class="text-muted ml-auto">
						5 notes
					</a>
				</nav>
			</div>
		</article>
	</div>
</div>