// DM Sans Variable Font
@use '../config' as *;

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 100 1000;
  src:
    url('#{$assets-base}/fonts/dm-sans/DMSans-Variable.woff2') format('woff2'),
    url('#{$assets-base}/fonts/dm-sans/DMSans-Variable.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 100 1000;
  src:
    url('#{$assets-base}/fonts/dm-sans/DMSans-VariableItalic.woff2') format('woff2'),
    url('#{$assets-base}/fonts/dm-sans/DMSans-VariableItalic.ttf') format('truetype');
  font-display: swap;
}
