<form action="#" class="js-layout-form">
   <div class="mb-2">
      <label class="form-label">Color scheme</label>
      {% include ui/input-selectgroup.html name="color-scheme" values="light,dark" type="radio" class="w-100p" %}
   </div>
   <div class="mb-2">
      <label class="form-label">Nav position</label>
      {% include ui/input-selectgroup.html name="nav-position" values="top,side" type="radio" class="w-100p" %}
   </div>
   <div class="mb-2">
      <label class="form-label">Header color</label>
      {% include ui/input-selectgroup.html name="header-color" values="light,dark" type="radio" class="w-100p" %}
   </div>
   <!--<div class="mb-2">-->
   <!--<label class="form-label">Header fixed</label>-->
   <!--{% include ui/input-selectgroup.html name="header-fixed" values="fixed,default" type="radio" class="w-100p" %}-->
   <!--</div>-->
   <div class="mb-2">
      <label class="form-label">Sidebar position</label>
      {% include ui/input-selectgroup.html name="sidebar-position" values="left,right" type="radio" class="w-100p" %}
   </div>
   <div class="mb-2">
      <label class="form-label">Sidebar size</label>
      {% include ui/input-selectgroup.html name="sidebar-size" values="default,folded" type="radio" class="w-100p" %}
   </div>
   <div class="mb-2">
      <label class="form-label">Sidebar color</label>
      {% include ui/input-selectgroup.html name="sidebar-color" values="light,dark" type="radio" class="w-100p" %}
   </div>
   <div class="mb-2">
      <label class="form-label">Sidebar fixed</label>
      {% include ui/input-selectgroup.html name="sidebar-fixed" values="fixed,default" type="radio" class="w-100p" %}
   </div>



   <!--<div class="form-footer">-->
   <!--<button type="submit" class="btn btn-primary">Save options</button>-->
   <!--</div>-->
</form>
