<div class="row row-deck row-cards">
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/sales.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/revenue.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/new-clients.html %}
	</div>

	<div class="col-sm-6 col-lg-3">
	  {% include cards/charts/active-users.html %}
	</div>

	<div class="col-lg-7">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Traffic summary</h3>
				{% include ui/chart.html chart-id="mentions" size="lg" legend=true %}
			</div>
		</div>
	</div>

	<div class="col-lg-5">
		{% include cards/map.html title="Top countries" %}
	</div>

	<div class="col-lg-6">
		<div class="row row-cards row-deck">
			<div class="col-sm-6">
				{% include cards/project-summary.html stage-color="red" %}
			</div>
			<div class="col-sm-6">
				{% include cards/project-summary.html title="UI Redesign" date="11 Nov 2019" stage="Final review" avatar-limit=3 avatar-offset=9 project-color="green" value=80 percentage-color="green" %}
			</div>

			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=43 title="New Tickets" percentage=6 %}
			</div>
			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=95 number-prefix="$" title="Daily Earnings" percentage=-2 %}
			</div>
			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=7 title="New Replies" percentage=9 %}
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		{% include cards/development-activity.html %}
	</div>

	<div class="col-sm-6 col-xl-3">
		{% include cards/small-stats.html color="blue" icon="currency-dollar" count="132" subtitle="Sales" description="12 waiting payments" %}
	</div>
	<div class="col-sm-6 col-xl-3">
		{% include cards/small-stats.html color="green" icon="shopping-cart" count="78" subtitle="Orders" description="32 shipped" %}
	</div>
	<div class="col-sm-6 col-xl-3">
		{% include cards/small-stats.html chart-position="left" chart-type="pie" chart-data="56/100" chart-label="56%" color="red" count="1352" subtitle="Members" description="163 registered today" %}
	</div>
	<div class="col-sm-6 col-xl-3">
		{% include cards/small-stats.html color="yellow" chart-type="pie" chart-data="22/100" color="yellow" count="132" subtitle="Comments" description="16 waiting" %}
	</div>

	<div class="col-md-6 col-lg-8">
		{% include cards/most-visited-pages.html %}
	</div>

	<div class="col-md-6 col-lg-4">
		{% include cards/sponsor.html %}
	</div>

	<div class="col-md-6 col-lg-4">
		{% include cards/social-traffic.html %}
	</div>

	<div class="col-md-6 col-lg-8">
		{% include cards/tasks.html %}
	</div>
</div>