<div class="row row-deck">
   <div class="col-sm-6 col-lg-3">
      {% include cards/charts/sales.html %}
   </div>
   <div class="col-sm-6 col-lg-3">
      {% include cards/charts/revenue.html %}
   </div>
   <div class="col-sm-6 col-lg-3">
      {% include cards/charts/new-clients.html %}
   </div>

   <div class="col-sm-6 col-lg-3">
     {% include cards/charts/active-users.html %}
   </div>

   <div class="col-lg-6">
      <div class="row">
         <div class="col-md-6">
            {% include cards/project-summary.html stage-color="red" %}
         </div>
         <div class="col-md-6">
            {% include cards/project-summary.html title="UI Redesign" date="11 Nov 2019" stage="Final review" avatar-limit=3 avatar-offset=9 project-color="green" value=80 percentage-color="green" %}
         </div>

         <div class="col-6 col-sm-4">
            {% include cards/small-stats-3.html number=43 title="New Tickets" percentage=6 %}
         </div>
         <div class="col-6 col-sm-4">
            {% include cards/small-stats-3.html number=95 number-prefix="$" title="Daily Earnings" percentage=-2 %}
         </div>
         <div class="col-6 col-sm-4">
            {% include cards/small-stats-3.html number=7 title="New Replies" percentage=9 %}
         </div>
      </div>
   </div>
   <div class="col-lg-6">
      {% include cards/map.html title="Top users" %}
   </div>

   <div class="col-lg-6">
      {% include cards/development-activity.html %}
   </div>
   <div class="col-lg-6">
      <div class="row row-deck">
         <div class="col-md-12">
            {% comment %}{% include cards/charts/card.html chart-id="temperature" height=10 %}{% endcomment %}
         </div>
         <div class="col-md-12">
            {% comment %}{% include cards/charts/card.html chart-id="donut" height=10 %}{% endcomment %}
         </div>
      </div>
   </div>

   <div class="col-sm-6 col-xl-3">
      {% include cards/small-stats.html color="blue" icon="dollar-sign" count="132" subtitle="Sales" description="12 waiting payments" %}
   </div>
   <div class="col-sm-6 col-xl-3">
      {% include cards/small-stats.html color="green" icon="shopping-cart" count="78" subtitle="Orders" description="32 shipped" %}
   </div>
   <div class="col-sm-6 col-xl-3">
      {% include cards/small-stats.html chart-position="left" chart-type="donut" chart-data="56/100" chart-label="56%" color="red" count="1352" subtitle="Members" description="163 registered today" %}
   </div>
   <div class="col-sm-6 col-xl-3">
      {% include cards/small-stats.html color="yellow" chart-type="pie" chart-data="22/100" color="yellow" count="132" subtitle="Comments" description="16 waiting" %}
   </div>
</div>

<div class="row row-deck">
   {% for article in site.data.articles limit: 3 offset: 4 %}
   <div class="col-lg">
      {% include cards/blog-single.html article=article type="image" %}
   </div>
   {% endfor %}

   <div class="col-12">
      {% include cards/invoices.html %}
   </div>

   <div class="col-12">
      {% include cards/table-users.html %}
   </div>
</div>
