<script src="{{ site.base }}/libs/jquery/jquery.js"></script>
<script src="{{ site.base }}/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="{{ site.base }}/libs/apexcharts/apexcharts.min.js"></script>
<script src="{{ site.base }}/libs/peity/jquery.peity.min.js"></script>
<script src="{{ site.base }}/libs/autosize/autosize.min.js"></script>


<script src="{{ site.base }}/js/tabler.js"></script>
<script src="{{ site.base }}/js/app/charts.js"></script>

<script>
   window.tabler = window.tabler || {};
   window.tabler.colors = { {% for color in site.colors %}
      '{{ color[0] }}': '{{ color[1].hex }}',{% endfor %}
   };
</script>
