<ul class="navbar-nav flex-row">

	<li class="nav-item dropdown d-none d-md-flex mr-3">
		<a href="#" class="nav-link px-0" data-toggle="dropdown">
			{% include ui/icon.html icon="bell" %}
		</a>
		<div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
			{% include cards/navbar-notifications.html %}
		</div>
	</li>

	<li class="nav-item dropdown">
		<a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-toggle="dropdown">
			{% include ui/avatar.html person-id=1 %}
			<div class="d-none d-lg-block pl-2">
				<div>Paweł Kuna</div>
				<div class="mt-1 small text-muted">Founder</div>
			</div>
		</a>
		{% include ui/dropdown-menu.html right=true icons=true separated=true %}
	</li>
</ul>