{% assign breakpoint = include.breakpoint | default: 'md' %}
<nav class="navbar navbar-expand-{{ breakpoint }} {% if include.dark %}navbar-dark{% else %}navbar-light{% endif %}{% if include.background %} bg-{{ include.background }}{% endif %}">
	<div class="container-xl">
		{% include layout/navbar-toggler.html target="navbar-menu" %}
		{% include layout/navbar-logo.html dark=include.dark class="d-none-navbar-horizontal" breakpoint=breakpoint %}

		<div class="collapse navbar-collapse pl-0 pl-{{ breakpoint }}-4" id="navbar-menu">
			{% include layout/navbar-menu.html class="ml-lg-5" %}
		</div>

		{% include layout/navbar-search.html breakpoint=breakpoint class="mr-4" %}
		{% include layout/navbar-side.html %}
	</div>
</nav>