<nav class="navbar navbar-vertical navbar-expand-md navbar-dark navbar-primary" id="navbar-primary">
	<div class="container">
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quae, veniam? Adipisci alias assumenda debitis dolores ex laudantium nam, nesciunt non, pariatur quis repellat suscipit unde vel veniam veritatis voluptatem!
		</div>

		<div style="opacity: .64;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur cum delectus dicta dolor doloribus dolorum eum expedita facere in nesciunt, nostrum perferendis porro quas, quibusdam ratione rerum sit voluptatum!</div>
	</div>
</nav>

