<nav class="navbar navbar-light navbar-secondary navbar-expand-md" id="navbar-secondary">
	<div class="container">
		{% include layout/navbar-logo.html class="d-none-navbar-vertical" %}

		<form class="form-inline w-50 mr-4 d-none d-md-flex">
			{% include ui/form/input-icon.html prepend=true input-class="form-control-flush w100" class="w100" %}
		</form>

		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				{% include ui/avatar.html person-id=1 dropdown=true %}
				{% include ui/dropdown-menu.html right=true icons=true separated=true arrow=true %}
			</li>
		</ul>
	</div>
</nav>

