{% assign person-id = include.person-id | default: 12 | minus: 1 %}
{% assign person = site.data.people[person-id] %}

{% if include.menu-layout != 'vertical' %}
	{% include layout/navbar-logo.html class="mr-4" %}
{% else %}
	{% include layout/navbar-search.html class="mr-4" %}
{% endif %}

<ul class="nav navbar-menu align-items-center ml-auto">
   <li class="nav-item d-none d-lg-flex mr-3">
      {% include ui/button.html href=site.github_url text="Source code" icon="brand/github" icon-color="github" external=true %}
   </li>

   <li class="nav-item dropdown">
      <a href="#" data-toggle="dropdown"
         class="nav-link d-flex align-items-center py-0 px-lg-0 px-2 text-reset ml-2">
         {% include ui/avatar.html src=person.photo size="sm" %}
         <span class="ml-2 d-none d-lg-block lh-1">
            {{ person.full_name }}
            <span class="text-muted d-block mt-1 text-h6">Administrator</span>
         </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
         <a class="dropdown-item" href="#">
            {% include ui/icon.html icon="user" class="dropdown-icon" %} Profile
         </a>
         <a class="dropdown-item" href="#">
            {% include ui/icon.html icon="settings" class="dropdown-icon" %} Settings
         </a>
         <a class="dropdown-item" href="#">
            {% include ui/icon.html icon="mail" class="dropdown-icon" %} Inbox
            <span class="badge bg-primary ml-auto">6</span>
         </a>
         <a class="dropdown-item" href="#">
            {% include ui/icon.html icon="send" class="dropdown-icon" %} Message
         </a>
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="#">
            {% include ui/icon.html icon="help-circle" class="dropdown-icon" %} Need help?
         </a>
         <a class="dropdown-item" href="#">
            {% include ui/icon.html icon="log-out" class="dropdown-icon" %} Sign out
         </a>
      </div>
   </li>
</ul>
