<nav class="navbar navbar-light navbar-secondary navbar-expand" id="navbar-secondary">
	<div class="container">
		{% include layout/navbar-logo.html class="d-none-navbar-vertical" %}

		<form class="form-inline w-50 mr-4 d-none d-md-flex ">
			{% include ui/form/input-icon.html prepend=true input-class="form-control-flush w-100" class="w-100" %}
		</form>

		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a href="#" class="nav-link px-0" data-toggle="dropdown">
					{% include ui/icon.html icon="settings" %}
				</a>
				{% include ui/dropdown-menu.html right=true icons=true separated=true arrow=true %}
			</li>

			<li class="nav-item dropdown">
				<a href="#" class="nav-link" data-toggle="dropdown">
					{% include ui/flag.html flag="us" class="mr-1" %}
					<span class="d-none d-lg-inline">English</span>
				</a>
				<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" style="">
					<a href="#" class="dropdown-item">{% include ui/flag.html flag="de" class="mr-1" %} German</a>
					<a href="#" class="dropdown-item">{% include ui/flag.html flag="pl" class="mr-1" %} Polish</a>
					<a href="#" class="dropdown-item">{% include ui/flag.html flag="jp" class="mr-1" %} Japan</a>
					<a href="#" class="dropdown-item">{% include ui/flag.html flag="ru" class="mr-1" %} Russian</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a href="#" class="nav-link px-0" data-toggle="dropdown">
					{% include ui/icon.html icon="bell" %}
				</a>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow dropdown-menu-card" style="max-width: 20rem;">
					{% include cards/navbar-notifications.html %}
				</div>
			</li>

			<li class="nav-item dropdown pl-3">
				<a href="#" class="nav-link d-flex lh-1 text-reset p-0 text-left" data-toggle="dropdown">
					{% include ui/avatar.html person-id=1 %}
					<div class="d-none d-lg-block pl-2">
						<div>Paweł Kuna</div>
						<div class="mt-1 small text-muted">Founder</div>
					</div>
				</a>
				{% include ui/dropdown-menu.html right=true icons=true separated=true arrow=true %}
			</li>
		</ul>
	</div>
</nav>

