{% assign breakpoint = 'lg' %}
<nav class="navbar navbar-vertical navbar-expand-{{ breakpoint }} navbar-dark navbar-primary" id="navbar-primary">
	<div class="container">
		{% include layout/navbar-logo.html class="d-none-navbar-horizontal" %}

		<div>
			Lorem ipsum
		</div>

		<div class="d-none-navbar-vertical">
			only horizontal
		</div>

		<div class="d-none-navbar-vertical-narrow">
			hide narrow
		</div>

		<div class="d-none-navbar-horizontal">
			only sidebar
		</div>

		<div class="text-muted">Lorem ipsum</div>
	</div>
</nav>

