{% assign breakpoint = 'md' %}
<nav class="navbar navbar-vertical navbar-expand-{{ breakpoint }} navbar-dark navbar-primary" id="navbar-primary">
	<div class="container">
		{% include layout/navbar-logo.html class="hide-navbar-horizontal" %}

		<div>
			Lorem ipsum
		</div>

		<div class="d-none-navbar-vertical text-green">
			only horizontal
		</div>

		<div class="d-none-navbar-vertical-narrow text-red">
			hide narrow
		</div>

		<div class="d-none-navbar-horizontal text-blue">
			only sidebar
		</div>

		<div style="opacity: .64;">Lorem ipsum</div>
	</div>
</nav>

