<nav class="navbar navbar-light navbar-secondary navbar-expand" id="navbar-secondary">
	<div class="container">
		{% include layout/navbar-logo.html class="d-none-navbar-vertical" %}

		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
				</a>
				{% include ui/dropdown-menu.html right=true %}
			</li>

		</ul>
	</div>
</nav>

