{% if include.show %}
<meta name="twitter:image:src" content="https://preview-dev.tabler.io/img/components/{{ page.slug }}.png">
<meta name="twitter:site" content="@tabler_ui">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
<meta name="twitter:description" content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
<meta property="og:image" content="https://preview-dev.tabler.io/img/components/{{ page.slug }}.png">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">
<meta property="og:site_name" content="Tabler">
<meta property="og:type" content="object">
<meta property="og:title" content="Tabler: Premium and Open Source dashboard template with responsive and high quality UI.">
<meta property="og:url" content="https://preview-dev.tabler.io{{ page.url }}">
<meta property="og:description" content="Tabler comes with tons of well-designed components and features. Start your adventure with Tabler and make your dashboard great again. For free!">
{% endif %}
