{% if page.page-title or layout.page-title %}
<!-- Page title -->
<div class="page-title-box">

	<div class="row align-items-center">
		<div class="col-auto">
			{% if page.page-pretitle %}
			<!-- Page pre-title -->
			<div class="page-pretitle">
				{{ page.page-pretitle }}
			</div>
			{% endif %}
			<h2 class="page-title">
				{{ page.page-title | default: layout.page-title }}
			</h2>
		</div>

		{% if page.page-title-description %}
		<div class="col-auto">
			<div class="text-muted text-h5">{{ page.page-title-description }}</div>
		</div>
		{% endif %}

		{% if page.page-title-actions %}
			{% include layout/page-title-actions.html actions=page.page-title-actions %}
		{% endif %}
	</div>
</div>
{% endif %}
