<!-- Page title -->
<div class="page-header{% if include.class %} {{ include.class }}{% endif %}">

	<div class="row align-items-center">
		<div class="col-auto">
			{% if include.pretitle %}
			<!-- Page pre-title -->
			<div class="page-pretitle">
				{{ include.pretitle }}
			</div>
			{% endif %}
			<h2 class="page-title">
				{{ include.title }}
			</h2>
		</div>

		{% if include.description %}
		<div class="col-auto">
			<div class="text-muted text-h5 mt-2">{{ include.description }}</div>
		</div>
		{% endif %}

		{% if include.actions %}
			{% include layout/page-header-actions.html actions=include.actions %}
		{% endif %}
	</div>
</div>
