{% if page.page-title or layout.page-title %}
<div class="page-title-box">

   <div class="row align-items-center">
      <div class="col">
         <div class="page-pretitle">
            Overview
         </div>
         <h2 class="page-title">
            {{ page.page-title | default: layout.page-title }}
         </h2>
      </div>
      <div class="col-auto">
         {% include ui/button.html text="New view" color="secondary" icon="plus" %}
         {% include ui/button.html text="Create new report" color="primary" class="ml-3" %}
      </div>
   </div>
</div>
{% endif %}
