<aside class="sidebar{% if page.sidebar-dark %} sidebar-dark{% endif %}{% if page.sidebar-narrow %} sidebar-narrow{% endif %}{% if page.sidebar-right %} sidebar-right{% endif %}">
	<!-- Sidebar logo -->
	{% include layout/navbar-logo.html prefix="sidebar" %}

	<div class="sidebar-content">
		<div>
			<!-- Sidebar menu -->
			{% include layout/menu-aside.html %}

			<div class="hide-sidebar-folded">
				<hr>

				<div class="text-muted">
					<div class="mb-2">
						<strong>160MB</strong> from <strong>2GB</strong> used.
					</div>
					{% include ui/progress.html percentage=30 size="sm" %}
				</div>
			</div>
		</div>

		<div class="mt-auto hide-sidebar-folded pt-3">
			{% include ui/button.html text="Logout" color="primary" icon="log-out" block=true %}
		</div>
	</div>
</aside>

