{% assign id = 0 | random_id %}
<div class="p-3">
   <a href="{{ site.base }}" class=" navbar-brand text-inherit">
      <img src="{{ site.base }}/img/logo{% if include.white %}-white{% endif %}.svg" alt="" class="hide-sidenav-folded navbar-brand-logo">
      <img src="{{ site.base }}/img/logo-small{% if include.white %}-white{% endif %}.svg" alt="" class="hide-sidenav-expanded navbar-brand-logo">
   </a>
</div>

<h6 class="navbar-heading">
   Docs
</h6>

{% include layout/menu.html menu=include.menu class="mb-md-4" %}
