<a href="{{ site.base }}" class="navbar-brand text-inherit">
   <img src="{{ site.base }}/img/logo-small.svg" alt="" class="navbar-brand-logo mr-3">
</a>
<ul class="navbar-nav mb-md-4">
   <li class="nav-item">
      <a class="nav-link" href="#">
         {% include ui/icon.html icon="clipboard" %}
         <span class="nav-link-text">Getting started</span>
      </a>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link" href="#" data-toggle="collapse" role="button" aria-expanded="false">
         {% include ui/icon.html icon="book-open" %}
         <span class="nav-link-text">Components</span>
      </a>
      <div class="collapse">
         <ul class="nav nav-sm flex-column">
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Alerts
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Avatars
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Badges
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Breadcrumb
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Buttons
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Button group
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Cards
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Charts
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Dropdowns
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Forms
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Icons
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Lists
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Modal
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Navs
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Navbar
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Page headers
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Pagination
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Popovers
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Progress
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Social post
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Spinners
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Tables
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Toasts
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Tooltips
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Typography
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  Utilities
               </a>
            </li>
         </ul>
      </div>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="#">
         {% include ui/icon.html icon="git-branch" %}
         <span class="nav-link-text">Changelog</span>
         <span class="badge bg-primary text-white ml-auto">v1.0.0</span>
      </a>
   </li>
</ul>
