{% assign menu = page.menu | default: layout.menu %}
<aside class="sidenav {% if include.class %} {{ include.class }}{% endif %} {% if include.dark %}sidenav-dark bg-dark text-white{% else %}sidenav-light{% endif %}{% if include.fixed %} sidenav-fixed{% endif %}{% if include.right %} sidenav-right{% endif %}{% if include.folded %} sidenav-folded{% endif %} js-sidebar" id="sidebar">

   {% comment %}
   {% unless include.empty %}
   {% include layout/sidenav-content.html menu=menu dark=include.dark %}
   {% endunless %}
   {% endcomment %}
</aside>
