@use "config";

pre.highlight,
.highlight pre {
  max-height: 30rem;
  margin: 1.5rem 0;
  overflow: auto;
  border-radius: var(--#{config.$prefix}border-radius);
}

.highlight {
  margin: 0;

  code > * {
    margin: 0 !important;
    padding: 0 !important;
  }

  .c, .c1 { color: config.$color-highlight-gray; }
  .nt, .nc, .nx { color: config.$color-highlight-red; }
  .na, .p { color: config.$color-highlight-yellow; }
  .s, .dl, .s2 { color: config.$color-highlight-green; }
  .k { color: config.$color-highlight-blue; }
  .s1, .mi { color: config.$color-highlight-purple; }
}
