---
layout: default
menu: docs
title: Documentation
---

<div class="container">
	{% include page-title.html title="Documentation" %}

	<div class="row">
		<div class="col-lg-3">
			<div class="card">
				<ul class="list-group card-list-group">
					{% for doc in site.docs %}
					{% unless doc.hide %}<li class="list-group-item"><a href="{{ site.base }}{{ doc.url }}">{{ doc.title }}</a></li>{% endunless %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="card">
				<div class="card-body">

					<div class="text-wrap p-lg-6">
						<h2 class="mt-0 mb-4">{{ page.title }}</h2>

						{% if page.description %}
							<p>{{ page.description }}</p>
						{% endif %}

						{% if page.toc %}
						{{ content | toc_only }}
						{% endif %}

						{{ content | toc_generate }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>