{% assign class = class %}
<div class="input-group{% if flat %} input-group-flat{% endif %}{% if class %} {{ class }}{% endif %}">
	{% if prepend %}
	<span class="input-group-text">
		{% if prepend == "checkbox" or prepend == "radio" %}
			<input class="form-check-input m-0" type="{{ prepend }}" checked>
		{% else %}
			{{ prepend }}
		{% endif %}
	</span>
	{% endif %}
	<input type="{{ type | default: 'text' }}" class="form-control{% if input-class %} {{ input-class }}{% endif %}" {% if placeholder %} placeholder="{{ placeholder }}" {% endif %}{% if value %} value="{{ value }}"{% endif %} autocomplete="off">
	{% if append %}
	<span class="input-group-text">
		{% if append == "checkbox" or append == "radio" %}
			<input class="form-check-input m-0" type="{{ append }}" checked>
		{% else %}
			{{ append }}
		{% endif %}
	</span>
	{% endif %}
	{% if append-link %}
	<span class="input-group-text">
		<a href="#" class="input-group-link">{{ append-link }}</a>
	</span>
	{% endif %}
	{% if append-html %}
	<span class="input-group-text">
		{{ append-html }}
	</span>
	{% endif %}
	{% if append-button %} 
	{% assign buttons = append-button | split: ',' %}
	<span class="input-group-text">
		{% for button in buttons %}
		{% assign b = button | split: ':' %}
		{% assign icon = b[0] %}
		{% assign description = b[1] %}

		<a href="#" class="link-secondary{% unless forloop.first %} ms-2{% endunless %}{% if forloop.index == 3 %} disabled{% endif %}" title="{{ description }}" data-bs-toggle="tooltip">{% include "ui/icon.html" icon=icon %}</a>
		{% endfor %}
	</span>
	{% endif %}
</div>
