{% capture addon %}
	{% if include.loader %}
		<span class="input-icon-addon{% if include.icon-class %} {{ include.icon-class }}{% endif %}">
			{% include ui/spinner.html class="text-muted" size="sm" %}
		</span>
	{% else %}
		{% assign icon = include.icon | default: 'search' %}
		<span class="input-icon-addon{% if include.icon-class %} {{ include.icon-class }}{% endif %}">
			{% include ui/icon.html icon=icon %}
		</span>
	{% endif %}
{% endcapture %}

<div class="input-icon{% if include.class %} {{ include.class }}{% endif %}">
	{% if include.prepend %}
		{{ addon }}
	{% endif %}

	<input type="text" class="form-control{% if include.light %} form-control-light{% endif %}{% if include.rounded %} form-control-rounded{% endif %}{% if include.dark %} form-control-dark{% endif %}{% if include.input-class %} {{ include.input-class }}{% endif %}" placeholder="{{ include.placeholder | default: 'Search…' }}">

	{% unless include.prepend %}
		{{ addon }}
	{% endunless %}
</div>
