<div class="input-group{% if include.class %} {{ include.class }}{% endif %}">
  {% if include.prepend %}
  <div class="input-group-prepend">
    <span class="input-group-text">{{ include.prepend }}</span>
  </div>
  {% endif %}
  <input type="text" class="form-control{% if include.input-class %} {{ include.input-class }}{% endif %}"{% if include.placeholder %} placeholder="{{ include.placeholder }}"{% endif %}{% if include.placeholder %} value="{{ include.value }}"{% endif %}>
  {% if include.append %}
  <div class="input-group-append">
    <span class="input-group-text">{{ include.append }}</span>
  </div>
  {% endif %}
</div>
