{% assign key = include.key | default: 'people' %}
{% assign data = site.data.selects[key] %}
{% assign options = data.options %}
<select name="{{ key }}" id="select-{{ key }}" class="form-select">
   {% if options == 'people' %}
      {% for person in site.data.people limit: 20 %}
      <option value="{{ person.id }}" data-data='{"image": "{{ site.base }}/{{ person.photo }}"}'{% if person.id == value %} selected{% endif %}>{{ person.full_name }}</option>
      {% endfor %}

   {% else %}
      {% for option in options %}
      {% if option[1] %}
         {% assign value = option[0] %}
         {% assign name = option[1].name %}
         {% assign all-data = option[1] %}
      {% else %}
      {% assign value = option %}
      {% assign name = option %}
      {% endif %}
      <option value="{{ value }}"{% if all-data.image %} data-data='{"image": "{{ site.base }}/{{ all-data.image }}"}'{% endif %}{% if data.value == value %} selected{% endif %}>{{ name }}</option>
      {% endfor %}

   {% endif %}
</select>

{% append_lib selectize %}
{% capture_global scripts %}
<script>
   $(document).ready(function(){
	   $('#select-{{ key }}').selectize({});
   });
</script>
{% endcapture_global %}
