---
title: Pagination
layout: default
---

<div class="container">
	<div>
		{% include pagination.html %}
	</div>
	<div>
		{% include pagination.html count=8 %}
	</div>
	<div>
		{% include pagination.html pager=true %}
	</div>
	<div>
		{% include pagination.html pager=true count=0 %}
	</div>
	<div>
		{% include pagination.html left-icon="fe fe-chevron-left" right-icon="fe fe-chevron-right" %}
	</div>
	<div>
		{% include pagination.html class="justify-content-center" %}
	</div>
	<div>
		{% include pagination.html class="justify-content-end" %}
	</div>
	<div>
		{% include pagination.html class="pagination-simple" %}
	</div>

	<div class="d-flex align-items-center mb-4">
		<div class="page-total-text ">1-20 of 85 items</div>
		{% include pagination.html class="m-0" %}
	</div>
</div>