---
layout: default
title: Store components
menu: components.store
---

<div class="container">
	{% include page-title.html title="Store components" %}


	<div class="row row-cards">
		<div class="col-lg-3">
			<div class="row">
				<div class="col-md-6 col-lg-12">
					{% include cards/store-product.html product=0 %}
				</div>
				<div class="col-md-6 col-lg-12">
					{% include cards/store-product.html product=3 %}
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			{% include cards/store-list.html %}
		</div>
	</div>
</div>