// stylelint-disable declaration-no-important

@include dark-mode {
  & {
    --#{$variable-prefix}body-color: #{$dark-mode-text};
    --#{$variable-prefix}body-color-rgb: #{to-rgb($dark-mode-text)};

    --#{$variable-prefix}card-bg: #{$dark};
    --#{$variable-prefix}card-bg-rgb: #{to-rgb($dark)};

    color: $dark-mode-text;
    background-color: $dark-mode-darken;
  }

  .text-body {
    color: $dark-mode-text;
  }

  .card,
  .card-footer,
  .card-stacked::after,
  .footer:not(.footer-transparent),
  .modal-content,
  .modal-header,
  .dropdown-menu,
  .alert:not(.alert-important) {
    background-color: $dark;
    color: inherit;
  }

  .card {
    border-color: transparent;
  }

  .card-tabs .nav-tabs .nav-link {
    background-color: $dark-mode-darken;
    color: inherit;
  }

  .card-tabs .nav-tabs .nav-link.active {
    background-color: $dark;
    color: inherit;
  }

  .btn-white,
  .form-file-button {
    //@include button-variant($dark-mode-lighten, $border-color, $dark-mode-text, rgba($dark, 0), $border-color, $dark-mode-text);
    background-image: none;
  }

  .form-check-input:not(:checked),
  .form-select,
  .form-file-text,
  .form-control,
  .form-selectgroup-label,
  .form-selectgroup-check,
  .form-imagecheck-figure:before {
    background-color: $dark-mode-darken;
    color: $dark-mode-text;
    border-color: $dark-mode-lighten-10;
  }

  .form-control-plaintext {
    color: $dark-mode-text;
  }

  .input-group-flat .input-group-text {
    background-color: $dark-mode-darken;
  }

  .highlight {
    background-color: $dark-mode-darken;
  }

  .avatar {
    --tblr-avatar-bg: #{$dark-mode-lighten};
  }

  .avatar-list-stacked .avatar {
    box-shadow: 0 0 0 2px $dark;
  }

  .markdown,
  .markdown>*,
  .btn-close,
  .accordion-button {
    color: inherit;
  }

  .apexcharts-text {
    fill: $dark-mode-text;
  }

  .apexcharts-legend-text {
    color: inherit !important;
  }

  .navbar-brand-autodark {
    @include autodark-image;
  }

  .table thead th,
  .input-group-text {
    background: transparent;
  }

  .list-group-item {
    color: $dark-mode-text;
    border-color: $border-color-transparent;
  }

  .form-fieldset {
    border-color: $input-border-color;
  }

  .list-group-header {
    background: $dark-mode-darken;
    border-color: $input-border-color;
  }
}

