$margin-spacers: map-merge($spacers, (auto: auto, null: $spacer));

$border-values: (
  null: $border-width solid $border-color-transparent,
  wide: $border-width-wide solid $border-color-transparent,
  0: 0,
);

//Utilities
$utilities: (
  "object": (
    property: object-fit,
    class: object,
    values: (
      contain: contain,
      cover: cover,
      fill: fill,
      scale-down: scale-down,
      none: none,
    )
  ),
  "spacing": (
    property: letter-spacing,
    class: tracking,
    values: (
      tight: -.05em,
      normal: 0,
      wide: .05em,
    )
  ),
  "cursor": (
    property: cursor,
    class: cursor,
    values: (
      auto: auto,
      pointer: pointer,
      move: move,
      not-allowed: not-allowed,
      zoom-in: zoom-in,
      zoom-out: zoom-out,
      default: default,
      none: none,
      help: help,
      progress: progress,
      wait: wait,
      text: text,
      v-text: vertical-text,
      grab: grab,
      grabbing: grabbing,
    )
  ),
  "border": (
    property: border,
    values: $border-values
  ),
  "border-top": (
    property: border-top,
    values: $border-values
  ),
  "border-end": (
    class: border-end,
    property: border-right,
    values: $border-values
  ),
  "border-bottom": (
    property: border-bottom,
    values: $border-values
  ),
  "border-start": (
    class: border-start,
    property: border-left,
    values: $border-values
  ),
  "border-x": (
    class: border-x,
    property: border-left border-right,
    values: $border-values
  ),
  "border-y": (
    class: border-y,
    property: border-top border-bottom,
    values: $border-values
  ),
  "width": (
    property: width,
    class: w,
    values: $size-values
  ),
  "height": (
    property: height,
    class: h,
    values: $size-values
  ),
  "columns": (
    property: columns,
    class: columns,
    responsive: true,
    values: 2 3 4
  )
) !default;