//Utilities
$utilities: (
  "text-align": (
    responsive: true,
    property: text-align,
    class: text,
    values: (
      left: start,
      right: end,
      center: center
    )
  ),
  "object": (
    property: object-fit,
    class: object,
    values: (
      contain: contain,
      cover: cover,
      fill: fill,
      scale-down: scale-down,
      none: none,
    )
  ),
  "spacing": (
    property: letter-spacing,
    class: tracking,
    values: (
      tight: -.05em,
      normal: 0,
      wide: .05em,
    )
  ),
  "cursor": (
    property: cursor,
    class: cursor,
    values: (
      auto: auto,
      pointer: pointer,
      move: move,
      not-allowed: not-allowed,
      zoom-in: zoom-in,
      zoom-out: zoom-out
    )
  ),
  "font-size": (
    property: font-size,
    class: text,
    values: (
      h1: $h1-font-size,
      h2: $h2-font-size,
      h3: $h3-font-size,
      h4: $h4-font-size,
      h5: $h5-font-size,
      h6: $h6-font-size,
    )
  ),
  "font-weight": (
    property: font-weight,
    values: (
      light: 300,
      normal: 400,
      medium: 500,
      semibold: 600,
      bold: 700,
      extrabold: 800,
      black: 900,
    )
  ),
  "border": (
    property: border,
    values: (
      null: $border-width solid $border-color,
      wide: $border-width-wide solid $border-color,
      0: 0,
    )
  ),
  "border-top": (
    property: border-top,
    values: (
      null: $border-width solid $border-color,
      wide: $border-width-wide solid $border-color,
      0: 0,
    )
  ),
  "border-right": (
    property: border-right,
    values: (
      null: $border-width solid $border-color,
      wide: $border-width-wide solid $border-color,
      0: 0,
    )
  ),
  "border-bottom": (
    property: border-bottom,
    values: (
      null: $border-width solid $border-color,
      wide: $border-width-wide solid $border-color,
      0: 0,
    )
  ),
  "border-left": (
    property: border-left,
    values: (
      null: $border-width solid $border-color,
      wide: $border-width-wide solid $border-color,
      0: 0,
    )
  ),
  "leading": (
    property: line-height,
    class: leading,
    values: $spacers
  ),
  "width": (
    property: width,
    class: w,
    values: $size-values
  ),
  "height": (
    property: height,
    class: h,
    values: $size-values
  ),

  //Flow-relative values
  "padding-right": (
    responsive: true,
    property: padding-inline-end,
    class: pr,
    values: $spacers
  ),
  "padding-left": (
    responsive: true,
    property: padding-inline-start,
    class: pl,
    values: $spacers
  ),
  "margin-right": (
    responsive: true,
    property: margin-inline-end,
    class: mr,
    values: map-merge($spacers, (auto: auto))
  ),
  "margin-left": (
    responsive: true,
    property: margin-inline-start,
    class: ml,
    values: map-merge($spacers, (auto: auto))
  ),
  "negative-margin-right": (
    responsive: true,
    property: margin-inline-end,
    class: mr,
    values: $negative-spacers
  ),
  "negative-margin-left": (
    responsive: true,
    property: margin-inline-start,
    class: ml,
    values: $negative-spacers
  ),
) !default;
