// COLORS
$bg-surface-dark: #161f32;
$bg-surface-secondary-dark: #1b293a;
$bg-surface-tertiary-dark: #131c2e;

//
// Dark mode
//
$darken-dark: darken($dark, 2%) !default;
$lighten-dark: lighten($dark, 2%) !default;
$border-color-dark: lighten($dark, 4%) !default;
$border-color-translucent-dark: rgba(72, 110, 149, 0.14) !default;
$border-dark-color-dark: lighten($dark, 4%) !default;
$border-color-active-dark: lighten($dark, 12%) !default;

//new bootsrap variables
$body-color-dark: $light !default;
$body-emphasis-color-dark: $white !default;

$code-color-dark: var(--#{$prefix}gray-300) !default;
$text-secondary-dark: rgba(153, 159, 164, 1) !default;

//
$body-color-dark: $gray-500 !default;
$body-bg-dark: var(--#{$prefix}surface-secondary-dark) !default;
$body-secondary-color-dark: rgba($body-color-dark, 0.75) !default;
$body-secondary-bg-dark: var(--#{$prefix}bg-surface-dark) !default;
$body-tertiary-color-dark: rgba($body-color-dark, 0.5) !default;
$body-tertiary-bg-dark: var(--#{$prefix}bg-surface-tertiary-dark) !default;
$body-emphasis-color-dark: $white !default;
$border-color-dark: $gray-700 !default;
$border-color-translucent-dark: rgba($white, 0.15) !default;


