//
// Dark mode
//
$darken-dark: darken($dark, 2%) !default;
$lighten-dark: lighten($dark, 2%) !default;
$border-color-dark: lighten($dark, 4%) !default;
$border-color-translucent-dark: rgba(72, 110, 149, .14) !default;
$border-dark-color-dark: lighten($dark, 4%) !default;
$border-color-active-dark: lighten($dark, 12%) !default;

//new bootsrap variables
$body-color-dark: $light !default;
$body-emphasis-color-dark: $white !default;

$code-color-dark: var(--#{$prefix}gray-300) !default;
$text-muted-dark: rgba(153, 159, 164, 1) !default;
 