@use "sass:color";

//
// Dark mode
//
$darken-dark: color.adjust($dark, $lightness: -2%, $space: hsl) !default;
$lighten-dark: color.adjust($dark, $lightness: 2%, $space: hsl) !default;
$border-color-dark: color.adjust($dark, $lightness: 8%, $space: hsl) !default;
$border-color-translucent-dark: rgba(72, 110, 149, .14) !default;
$border-dark-color-dark: color.adjust($dark, $lightness: 4%, $space: hsl) !default;
$border-active-color-dark: color.adjust($dark, $lightness: 12%, $space: hsl) !default;

//new bootsrap variables
$body-color-dark: $gray-200 !default;
$body-emphasis-color-dark: $white !default;

$code-color-dark: var(--#{$prefix}gray-300) !default;
$text-secondary-dark: rgba(153, 159, 164, 1) !default;
 