

@import "config";
@import "demo/highlight";
@import "demo/examples";


.card-sponsor {
  background: #dbe7f6 no-repeat center/100% 100%;
  border-color: #548ed2;
  min-height: 316px;
}

body.no-transitions * {
  transition: none !important;
}


.dropdown-menu-demo {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 0;
  margin-bottom: 1rem;
}

.demo-icon-preview {
  position: sticky;
  top: 0;

  svg,
  i {
    width: 15rem;
    height: 15rem;
    font-size: 15rem;
    stroke-width: 1.5;
    margin: 0 auto;
    display: block;

    @include media-breakpoint-down(sm) {
      width: 10rem;
      height: 10rem;
      font-size: 10rem;
    }
  }
}

.demo-icon-preview-icon {
  pre {
    margin: 0;
    user-select: all;
  }
}

.demo-dividers {
  >p {
    opacity: .2;
    user-select: none;
  }
}


$demo-icon-size: 4rem;
.demo-icons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -2px -1px 0;
  list-style: none;

  >* {
    flex: 1 0 $demo-icon-size;
  }
}

.demo-icons-list-wrap {
  overflow: hidden;
}

.demo-icons-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  text-align: center;
  padding: .5rem;
  border-right: 1px solid var(--#{$prefix}border-color);
  border-bottom: 1px solid var(--#{$prefix}border-color);
  color: inherit;
  cursor: pointer;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  &:hover {
    text-decoration: none;
  }
}


//
// Settings
//
.settings-btn {
  position: fixed;
  right: -1px;
  top: 10rem;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: $shadow;
}

.settings-scheme {
  display: inline-block;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  position: relative;
  border: 1px solid var(--#{$prefix}border-color);
  box-shadow: $shadow;

  &-light { background: linear-gradient(135deg, $white 50%, $light 50%); }
  &-mixed { background-image: linear-gradient(135deg, $dark 50%, #fff 50%); }
  &-transparent { background: $light; }
  &-dark { background: $dark; }
  &-colored { background-image: linear-gradient(135deg, var(--#{$prefix}primary) 50%, $light 50%); }
}