

@import "config";
@import "demo/highlight";
@import "demo/examples";


.card-sponsor {
  background: #dbe7f6 no-repeat center/100% 100%;
  border-color: #548ed2;
  min-height: 316px;
}

body.no-transitions * {
  transition: none !important;
}


.dropdown-menu-demo {
  display: inline-block;
  width: 100%;
  position: relative;
  top: 0;
  margin-bottom: 1rem;
}

.demo-icon-preview {
  position: sticky;
  top: 0;

  svg,
  i {
    width: 15rem;
    height: 15rem;
    font-size: 15rem;
    stroke-width: 1.5;
    margin: 0 auto;
    display: block;

    @include media-breakpoint-down(sm) {
      width: 10rem;
      height: 10rem;
      font-size: 10rem;
    }
  }
}

.demo-dividers {
  >p {
    opacity: .2;
    user-select: none;
  }
}