---
title: Colors
page-header: Colors
page-menu: base.colors
layout: default
permalink: colors.html
---

<div class="card">
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Swatch</th>
						<th>CSS variables</th>
						<th colspan="2">CSS class</th>
					</tr>
				</thead>
				{% for category in css-props.colors %}
				{% for prop in category.props %}
				<tr>
					{% if forloop.first %}
					<th class="text-left" rowspan="{{ category.props | size }}">{{ category.name }}</th>
					{% endif %}
					<td>
						<div class="d-flex justify-content-center">
							<div class="w-100 h-7 p-1 rounded border{% if prop.todo %} border-danger text-danger{% endif %}" style="background-color: var({{ prop.variable }})">{% if prop.todo %}{% include "ui/icon.html" icon="alert-square-rounded" type="filled" %}{% endif %}</div>
						</div>
					</td>
					<td>
						<code>{{ prop.variable }}</code>
					</td>
					<td>
						<div class="space-y">
						{% for class in prop.classes %}
							<div><code>{{ class }}</code></div>
						{% endfor %}
						</div>
					</td>
					{% if environment == 'development' %}
					<td>
						<div class="space-y">
						{% for class in prop.classes %}
							<div class="{{ class }} border p-2 rounded">123</div>
						{% endfor %}
						</div>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
				{% endfor %}
			</table>
		</div>
	</div>
</div>
