---
menu: base.lists
title: Lists
page-header: Lists
menu: base.lists
---

<div class="row row-cards">
	<div class="col-md-6">
		<div class="row row-cards">
			<div class="col-12">
				{% include cards/users-list-2.html %}
			</div>
			<div class="col-12">
				{% include cards/users-list.html offset=8 checkbox=true hover=true checked-ids="2,5,8" title="Contacts" %}
			</div>
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Links and buttons</h3>
					</div>
					<div class="list-group list-group-flush">
						<a href="#" class="list-group-item list-group-item-action active" aria-current="true">
							The current link item
						</a>
						<a href="#" class="list-group-item list-group-item-action">A second link item</a>
						<a href="#" class="list-group-item list-group-item-action">A third link item</a>
						<a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
						<a class="list-group-item list-group-item-action disabled">A disabled link item</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row row-cards">
			<div class="col-12">
				{% include cards/users-list.html hoverable=true  %}
			</div>
			<div class="col-12">
				{% include cards/users-list-headers.html %}
			</div>
		</div>
	</div>
</div>
