---
layout: base
title: Onboarding
permalink: onboarding.html
---

<nav class="navbar">
	<div class="container">
		<div class="row w-100 align-items-center">
			<div class="col-auto me-auto">
				{% include "layout/navbar-logo.html" class="logo-gray" %}
			</div>
			<div class="col-2">
				{% include "ui/progress.html" value="50" size="sm" %}
			</div>
			<div class="col-auto ms-auto">
				<a href="#" class="btn btn-ghost">Skip to dashboard</a>
			</div>
		</div>
	</div>
</nav>

<main class="py-5">
	<div class="container container-tight">
		<div class="page-header">
			<h1 class="page-title">
				Let's set up your account
			</h1>
		</div>
		<div class="my-4">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolorem consequuntur quos. Veritatis numquam labore facere
			aliquam a ab, excepturi neque praesentium molestiae. Doloribus cumque excepturi animi harum quo nesciunt.
		</div>

		<div class="btn-list justify-content-between mt-6">
			{% include "ui/button.html" text="Back" color="link link-secondary" %}
			{% include "ui/button.html" text="Continue" color="primary" %}
		</div>
	</div>
</main>

