---
layout: single
title: Sign in with illustration
container-size: normal
hide-logo: true
permalink: sign-in-illustration.html
---

<div class="row align-items-center g-4">
	<div class="col-lg">
		<div class="container-tight">
			<div class="text-center mb-4">
				{% include "layout/navbar-logo.html" %}
			</div>

			{% include "cards/sign-in.html" show-header="1" %}
		</div>
	</div>
	<div class="col-lg d-none d-lg-block">
		{% include "ui/illustration.html" image="boy-with-key.svg" class="d-block mx-auto" height=400 %}
	</div>
</div>


