---
title: Tabs
page-header: Tabs
page-menu: base.tabs
layout: default
permalink: tabs.html
---

<div class="row row-cards">
	<div class="col-md-4">{% include "cards/tabs.html" id="1" settings=true %}</div>
	<div class="col-md-4">{% include "cards/tabs.html" id="2" reverse=true settings=true %}</div>
	<div class="col-md-4">{% include "cards/tabs.html" id="3" icons=true %}</div>
	<div class="col-md-4">{% include "cards/tabs.html" id="4" dropdown=true %}</div>
	<div class="col-md-4">{% include "cards/tabs.html" id="5" justified=true activity=true %}</div>
	<div class="col-md-4">{% include "cards/tabs.html" id="6" justified=true disabled=true %}</div>
	<div class="col-md-4">{% include "cards/tabs.html" id="7" justified=true icons=true activity=true %}</div>
	<div class="col-md-4">{% include "cards/tabs.html" id="8" animation=true activity=true %}</div>
</div>
