---
layout: base
---

{% assign no-container = page.no-container | default: layout.no-container %}

<div class="page">
	{% if page.layout-sidebar %}
		{% include layout/sidebar.html dark=page.layout-sidebar-dark right=page.layout-sidebar-right transparent=page.layout-navbar-transparent breakpoint="lg" %}
	{% endif %}

	{% unless page.layout-hide-topbar %}
		{% include layout/navbar.html condensed=page.layout-navbar-condensed overlap=page.layout-navbar-overlap dark=page.layout-navbar-dark hide-brand=page.layout-navbar-hide-brand hide-menu=page.layout-navbar-hide-menu sticky=page.layout-navbar-sticky transparent=page.layout-topbar-transparent class=page.layout-navbar-class %}
	{% endunless %}

	<div class="page-wrapper{% if page.layout-wrapper-full %} page-wrapper-full{% endif %}">
		<div class="container-xl">
			{% include layout/page-header.html %}
		</div>

		<div class="page-body">
			{% if page.layout-wrapper-full %}
			{{ content }}
			{% else %}
			{% unless no-container %}
			<div class="container-xl{% if page.container-centered %} d-flex flex-column justify-content-center{% endif %}">
			{% endunless %}
				{{ content }}
			{% unless no-container %}
			</div>
			{% endunless %}

			{% endif %}
		</div>

		{% include layout/footer.html %}
	</div>
</div>

{% comment %}{% include settings.html %}{% endcomment %}