---
layout: default
menu: docs
title: Documentation
page-header: Documentation
---

{% assign current-url = page.url | replace_regex: "^/", "" %}

<div class="row gx-lg-4">
	<div class="d-none d-lg-block col-lg-3">
		{% include docs/menu.html %}
	</div>
	<div class="col-lg-9">
		<div class="card card-lg">
			<div class="card-body">
				<div class="markdown">
					<div>
						<div class="d-flex mb-3">
							<h1 class="m-0">{{ page.title }}</h1>

							{% if page.bootstrap-link %}
							<p class="ms-auto">
								<a href="https://getbootstrap.com/docs/5.0/{{ page.bootstrap-link }}" target="_blank" class="d-flex align-items-center">
									{% include ui/icon.html icon="external-link" color="blue" class="pe-1" %}
									Bootstrap documentation
								</a>
							</p>
							{% endif %}
						</div>

						{% if page.description %}
						<p>{{ page.description }}</p>
						{% endif %}

						{% if page.plugin %}
						{% include docs/plugin.html plugin=page.plugin %}
						{% endif %}
					</div>

					{{ content }}
				</div>
			</div>
		</div>
	</div>
</div>
