---
layout: base
body-class: body-marketing
---

<header class="header">
	<div class="container">
		<nav class="row align-items-center">
			<div class="col-auto">
				<h1 class="navbar-brand navbar-brand-autodark pe-0 pe-md-3">
					<a href="{{ site.base }}">
						<img src="{{ site.base }}/static/logo.svg" width="110" height="32" alt="Tabler"
						     class="navbar-brand-image">
					</a>
				</h1>
			</div>
			<div class="col-auto ms-auto">
				<div class="navbar">
					<a class="navbar-link active" href="/">UI Kit</a>
					<a class="navbar-link" href="/">Email templates</a>
					<a class="navbar-link" href="/">Icons</a>
					<a class="navbar-link" href="/">Documentation</a>
					<a class="navbar-link" href="/">Changelog</a>
					<a href="{{ site.github-url }}" class="navbar-link" target="_blank" rel="noreferrer">
						{% include ui/icon.html icon="brand-github" class="mr-2" %}
						Source code
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>

{{ content }}

<footer class="footer">
	<div class="container">
		<div class="py-3">
			<div class="row g-4">
				<div class="col-lg-7">
					<div class="row g-4">
						<div class="col-md">
							<div class="subheader mb-3">Our products</div>
							<ul class="list-unstyled list-separated">
								<li><a class="link-muted" href="/">UI Kit</a></li>
								<li><a class="link-muted" href="/icons">2664 open source icons</a></li>
								<li><a class="link-muted" href="/emails">Email templates</a></li>
								<li><a class="link-muted" href="/pricing">Pricing</a></li>
							</ul>
						</div>
						<div class="col-md">
							<div class="subheader mb-3">Support</div>
							<ul class="list-unstyled list-separated">
								<li><a class="link-muted" href="/">Blog</a></li>
								<li><a class="link-muted" href="/">Documentation</a></li>
								<li><a class="link-muted" href="/">Support</a></li>
								<li><a href="https://status.tabler.io" class="link-muted" target="_blank" rel="noreferrer">Status</a>
								</li>
							</ul>
						</div>
						<div class="col-md">
							<div class="subheader mb-3">Tabler</div>
							<ul class="list-unstyled list-separated">
								<li><a class="link-muted" href="/">About</a></li>
								<li><a class="link-muted" href="/">Blog</a></li>
								<li><a class="link-muted" href="/">Changelog</a></li>
								<li><a href="{{ site.github-url }}" class="link-muted" target="_blank" rel="noreferrer">Github</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 ml-auto">
					<div class="text-muted">Tabler comes with tons of well-designed components and features. Start your
						adventure with Tabler and make your dashboard great again. For free!
					</div>
					<div class="mt-4 mt-lg-6">
						<div class="row gx-3">
							<div class="col-auto">
								<a href="https://twitter.com/codecalm" class="link-muted" aria-label="social.label" target="_blank" rel="noreferrer">
									{% include ui/icon.html icon="brand-twitter" %}
								</a>
							</div>
							<div class="col-auto">
								<a href="{{ site.github-url }}" class="link-muted" aria-label="social.label" target="_blank" rel="noreferrer">
									{% include ui/icon.html icon="brand-github" %}
								</a>
							</div>
							<div class="col-auto">
								<a href="https://dribbble.com/codecalm" class="link-muted" aria-label="social.label" target="_blank" rel="noreferrer">
									{% include ui/icon.html icon="brand-dribbble" %}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<footer class="footer">
	<div class="container">
		<div class="py-3 border-top-light text-center text-lg-start">
			<div class="row g-4">
				<div class="col-lg-auto text-lg-end order-lg-last">
					<div class="row justify-center">
						<div class="col-auto">©<a href="https://codecalm.net" class="link-muted" target="_blank"
						                          rel="noopener noreferrer">codecalm.net</a></div>
						<div class="col-auto">
							<ul class="list-inline list-inline-dots">
								<li class="list-inline-item">
									<a class="link-muted" href="/terms-of-service">Terms of service</a>
								</li>
								<li class="list-inline-item">
									<a class="link-muted" href="/privacy-policy">Privacy policy</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg">
					Made with
					{% include ui/icon.html icon="heart" filled=true color="red" inline=true %}
					in Poland.
				</div>
			</div>
		</div>
	</div>
</footer>