---
layout: default
title: Settings
page-header: Account Settings
---

<div class="card">
	<div class="row g-0">
		<div class="col-12 col-md-3 border-end">
			<div class="card-body">
				<h4 class="subheader">Business settings</h4>

				<div class="list-group list-group-transparent">
					<a href="{{ site.base }}/settings.html" class="list-group-item list-group-item-action d-flex align-items-center{% if page.path == 'settings.html' %} active{% endif %}">My Account</a>
					<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">My Notifications</a>
					<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Connected Apps</a>
					<a href="{{ site.base }}/settings-plan.html" class="list-group-item list-group-item-action d-flex align-items-center{% if page.path == 'settings-plan.html' %} active{% endif %}">Plans</a>
					<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Billing & Invoices</a>
				</div>

				<h4 class="subheader mt-4">Experience</h4>

				<div class="list-group list-group-transparent">
					<a href="#" class="list-group-item list-group-item-action">Give Feedback</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-9 d-flex flex-column">

			{{ content }}

		</div>
	</div>
</div>