<div class="card">
	<img class="card-img-top" src="{{ site.base }}/img/photos/{{ site.data.photos[14].file }}" alt="">

	<div class="card-header">
		<h5 class="card-title">Card title</h5>
		<div class="card-options">
			<a href="javascript:void(0)" class="btn btn-secondary btn-sm">Button</a>
			<a href="javascript:void(0)" class="btn btn-primary btn-sm">Button</a>
		</div>
	</div>

	<div class="card-body">
		<p>Aliquam autem, culpa dolore doloremque eius error fugiat hic id illum nemo porro quia quos reiciendis, reprehenderit saepe sed, sequi similique vero.</p>
	</div>

	<ul class="list-group list-group-flush">
		<li class="list-group-item">Cras justo odio</li>
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item">Vestibulum at eros</li>
	</ul>

	<div class="card-body">
		<a href="javascript:void(0)" class="card-link">Card link</a>
		<a href="javascript:void(0)" class="card-link">Another link</a>
	</div>

	<div class="progress card-progress">
		<div class="progress-bar bg-green" style="width: 20%"></div>
	</div>
</div>
