

<div class="card">
	<div class="card-body d-flex flex-column">
		<div class="d-flex align-items-center border-bottom pb-3 mb-3">
			<div>
				{% include ui/avatar.html person-id="3" class="mr-3"%}
			</div>
			<div class="text-muted">
				<strong class="text-body">Martin</strong> completed the task <a href="#">Set up client chat channel</a>
				<div class="font-light">Just now</div>
			</div>
		</div>

		<div class="d-flex align-items-center border-bottom pb-3 mb-3">
			<div>
				{% include ui/avatar.html person-id="31" class="mr-3"%}
			</div>
			<div class="text-muted">
				<strong class="text-body">Pablo</strong> left the project
				<div class="font-light">Just now</div>
			</div>
		</div>

		<div class="d-flex align-items-center">
			<div>
				{% include ui/avatar.html person-id="10" class="mr-3"%}
			</div>
			<div class="text-muted">
				<strong class="text-body">Kate</strong> added the task <a href="#">Let's make Tabler awesome!</a>
				<div class="font-light">Just now</div>
			</div>
		</div>
	</div>
</div>
