<div class="card">
    <div class="card-header">
        <h4>Book Hotel</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label class="form-label">Check-in</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pick a date">
                    <div class="input-group-append">
                    <span class="input-group-text">
                        {% include ui/icon.html icon='calendar' %}
                    </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Check-out</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pick a date">
                    <div class="input-group-append">
                    <span class="input-group-text">
                        {% include ui/icon.html icon='calendar' %}
                    </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">Adults</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                    <span class="input-group-text">
                        {% include ui/icon.html icon='user' %}
                    </span>
                            </div>
                            <input type="text" class="form-control" placeholder="1">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="form-label">Children</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                    <span class="input-group-text">
                        {% include ui/icon.html icon='user' %}
                    </span>
                            </div>
                            <input type="text" class="form-control" placeholder="2">
                        </div>
                    </div>
                </div>
            </div>

            <label class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input"/>
                <span class="custom-control-label">
            I need to rent a car as well
            </span>

            </label>
            <button type="submit" class="btn btn-primary btn-block">Book Hotel now</button>
        </form>
    </div>
</div>