<div class="card">
   <div class="row row-0">
      <div class="col-3{% if include.right %} order-md-last{% endif %}">
         <img src="{{ site.base }}/static/photos/{{ include.img | default: '2854fd67ddbd6217.jpg' }}" class="w-100 h-100 object-cover" alt="{{ include.img-alt | default: 'Card side image' }}">
      </div>
      <div class="col">
         <div class="card-body">
            {% if include.title %}
            <h3 class="card-title">{{ include.title }}</h3>
            {% endif %}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima
               neque pariatur perferendis sed suscipit velit vitae voluptatem.</p>
         </div>
      </div>
   </div>
</div>
