<div class="card">
	{% include ui/chart.html chart-id="development-activity" height=10 class="mt-4" %}

	<div class="table-responsive">
		<table class="table card-table table-vcenter">
			<thead>
			<tr>
				<th>User</th>
				<th>Commit</th>
				<th>Date</th>
			</tr>
			</thead>
			<tbody>
			{% for commit in site.data.commits limit: 5 %}
			<tr>
				<td class="w-1">
					{% include ui/avatar.html person-id=forloop.index %}
				</td>
				<td class="td-truncate">
					<div class="text-truncate">
						{{ commit.description }}
					</div>
				</td>
				<td class="text-nowrap text-muted">{{ commit.date | date_to_string }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

