<form class="card card-md" action="{{ site.base }}" method="get">
	<div class="card-body">
		<h2 class="mb-5 text-center">Forgot password</h2>

		<p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>

		<div class="mb-3">
			<label class="form-label">Email address</label>
			<input type="email" class="form-control" placeholder="Enter email">
		</div>
		<div class="form-footer">
			<button type="submit" class="btn btn-primary btn-block">Send me new password</button>
		</div>
	</div>
</form>
<div class="text-center text-muted">
	Forget it, <a href="{{ site.base }}/sign-in.html">send me back</a> to the sign in screen.
</div>
