<div class="card">
   <div class="card-body">
      <div class="card-title text-nowrap"><h4 class="text-blue"><a href="{{site.data.icons[include.group].url}}" class="d-inline mb-0">{{ include.title }}</a></h4></div>
      <div class="icons-list-wrap">
         <ul class="icons-list">
            {% for icon in site.data.icons[include.group].icons %}
            <li class="icons-list-item" data-toggle="tooltip" data-placement="top" title="{{icon}}" style="z-index:100;">
               {% include ui/icon.html icon=icon class="icon-md" %}
            </li>
            {% endfor %}
            {% for icon in (0..10) %}
            <li></li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>
