<div class="card">
   <div class="card-body">
      <div class="card-title">{{ include.title }}</div>
      <div class="icons-list-wrap">
         <ul class="icons-list">
            {% for icon in site.data.icons[include.group] %}
            <li class="icons-list-item">
               {% include ui/icon.html icon=icon class="icon-md" %}
            </li>
            {% endfor %}
            {% for icon in (0..20) %}
            <li></li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>
