<div class="card">
    <a href="javascript:void(0)">
        <img class="card-img-top" src="{{ site.base }}/img/photos/{{ site.data.photos[0].file }}"/>
    </a>
    <div class="card-body">
        <h4>Awesome Breakfast</h4>
        <div class="toolbar mb-3">
            <a href="javascript:void(0)" class="text-muted">
                {% include ui/icon.html icon="clock" %}
                May 23rd, 2018
            </a>
            <a href="#feed-form-1" class="text-muted">
                {% include ui/icon.html icon="message-square" %}
                24
            </a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur consequatur dolor dolore, earum enim
            error, nemo neque nulla quasi rerum, </p>
        <a href="javascript:void(0)" class="btn btn-primary">See more</a>
    </div>
</div>
