<div class="card">
	<div class="card-body p-4 py-5 text-center">
		{% include ui/avatar.html size="xl" placeholder="W" class="mb-4" %}
		<h3>{{ include.title | default: "New website" }}</h3>
		<p class="text-muted">Due to: 28 Aug 2018</p>
		<p class="mb-3">
			<span class="tag">Development</span>
		</p>
		<div>
			{% include ui/avatar-list.html text="+5" stacked=true %}
		</div>
	</div>
	<div class="progress card-progress">
		<div class="progress-bar bg-green" style="width: 20%"></div>
	</div>
</div>
