<div class="card">
    <div class="card-body">
        <h4>System redesign</h4>
        <div class="toolbar mb-3">
            <a href="#" class="text-muted">
                {% include ui/icon.html icon="file" %}
                24 Files
            </a>
            <a href="#" class="text-muted">
                {% include ui/icon.html icon="bar-chart-2" %}
                12 Reports
            </a>
        </div>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis dolorem earum et, fugiat illum
            incidunt modi ne... </p>
        {% include ui/avatar-list.html text="+5" %}
    </div>
</div>
