{% assign person-id = include.person-id | default: 43 %}
{% assign person = site.data.people | where: "id", person-id %}
{% assign p = person[0] %}

<div class="card">
    <div class="card-body">
        <svg class="icon float-left">
            <use xlink:href="#svg-map-pin"></use>
        </svg>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aperiam dolorem explicabo hic,
            illo inventore molestiae!</p>

        <div class="d-flex align-items-center">
            <a href="javascript:void(0)">
                {% include ui/avatar.html person=p size="lg" %}
            </a>
            <div class="mx-3">
                <h4>{{ p.full_name }}</h4>
                <div>
                    {% include ui/icon.html icon="star" class="icon-filled text-warning" %}
                    {% include ui/icon.html icon="star" class="icon-filled text-warning" %}
                    {% include ui/icon.html icon="star" class="icon-filled text-warning" %}
                    {% include ui/icon.html icon="star" class="icon-filled text-warning" %}
                    {% include ui/icon.html icon="star" %}
                </div>
            </div>
        </div>
    </div>
</div>
