{% assign product-id = include.product-id | default: 0 %}
{% assign product = site.data.products[product-id] %}

<div class="card">
	<div class="card-body{% unless include.lorem %} h-8{% endunless %}">
      {% if include.lorem %}
      <h3 class="card-title">Card with ribbon</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur consequuntur culpa cum dolorum eveniet.</p>
      {% endif %}
	</div>

	<div class="ribbon{% if include.top %} ribbon-top{% endif %}{% if include.left %} ribbon-left{% endif %}{% if include.bottom %} ribbon-bottom{% endif %}{% if include.bookmark %} ribbon-bookmark{% endif %}{% if include.color %} bg-{{ include.color }}{% endif %}">{% if include.text %}{{ include.text }}{% else %}{% include ui/icon.html icon="star" class="icon-filled" use-svg=true %}{% endif %}</div>
</div>
