{% assign chart-type = include.chart-type | default: 'line' %}
{% assign chart-position = include.chart-position | default: 'right' %}
<div class="card">
	<div class="card-body p-3 d-flex align-items-center">
		{% if include.icon %}
		<span class="{% if include.color %}bg-{{ include.color }} text-white{% endif %} stamp mr-3">{% include ui/icon.html icon=include.icon %}</span>
		{% elsif include.person-id %}
		{% include ui/avatar.html person-id=include.person-id class="mr-3 rounded" %}
		{% endif %}

		{% if include.chart-data and chart-position=="left" %}
		<div class="mr-3">
			{% include ui/sparkline.html data=include.chart-data type=chart-type color=include.color label=include.chart-label label-icon=include.chart-label-icon %}
		</div>
		{% endif %}

		<div class="mr-3">
			<div>
				<strong>{{ include.count | default: 1700 | format_number }}</strong> {{ include.subtitle }}
				{% if include.small-icon %}
				{% include ui/icon.html icon=include.small-icon color=include.color class="icon-sm ml-1" %}
				{% endif %}
			</div>
			<div class="text-muted">{{ include.description | default: "Users" }}</div>
		</div>

		{% if include.second-icon %}
			<div class="ml-auto">
				{% include ui/icon.html icon=include.second-icon color=include.color class="icon-lg icon-thin" %}
			</div>
		{% endif %}

		{% if include.chart-data and chart-position=="right" %}
		<div class="ml-auto">
			{% include ui/sparkline.html data=include.chart-data type=chart-type color=include.color label=include.chart-label label-icon=include.chart-label-icon %}
		</div>
		{% endif %}
	</div>
</div>
