<div class="card">
	<div class="card-header">
		<h4 class="card-title">Social Media Traffic</h4>
	</div>
	<table class="table card-table table-vcenter">
		<thead>
		<tr>
			<th>Network</th>
			<th colspan="2">Visitors</th>
		</tr>
		</thead>
		<tr>
			<td>Instagram</td>
			<td>3,550</td>
			<td class="w-50">
				<div class="progress progress-xs">
					<div class="progress-bar bg-primary" style="width: 76%"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>Twitter</td>
			<td>1,789</td>
			<td class="w-50">
				<div class="progress progress-xs">
					<div class="progress-bar bg-primary" style="width: 62%"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>Facebook</td>
			<td>1,245</td>
			<td class="w-50">
				<div class="progress progress-xs">
					<div class="progress-bar bg-primary" style="width: 46%"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>Pinterest</td>
			<td>854</td>
			<td class="w-50">
				<div class="progress progress-xs">
					<div class="progress-bar bg-primary" style="width: 26%"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>VK</td>
			<td>650</td>
			<td class="w-50">
				<div class="progress progress-xs">
					<div class="progress-bar bg-primary" style="width: 20%"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>Pinterest</td>
			<td>95</td>
			<td class="w-50">
				<div class="progress progress-xs">
					<div class="progress-bar bg-primary" style="width: 6%"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>Pinterest</td>
			<td>95</td>
			<td class="w-50">
				<div class="progress progress-xs">
					<div class="progress-bar bg-primary" style="width: 6%"></div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
