<div class="card">
	<table class="table card-table table-vcenter">
		{% for product in site.data.products %}
		<tr>
			<td style="width: 33%"><img src="{{ site.base }}/img/products/{{ product.image }}" alt="" class="h-16"></td>
			<td>
				<h3>
					{{ product.name }}
				</h3>
				{% assign mod = forloop.index | modulo: 2 %}
				{% if mod == 0 %}
				<span class="badge bg-red">New</span>
				{% endif %}
			<div class="d-flex">
				{% include ui/stars.html %}
				<div class="text-muted">({{ forloop.index | random_number: 4, 100 }})</div>
			</div>
			<div class="text-muted">{{ forloop.index | random_number: 4, 50 }} offers</div>
			<h1 class="text-azure">{{ product.price }}$</h1>
			</td>
		</tr>
		{% endfor %}
	</table>
	<div class="d-flex">
		
	</div>
</div>