{% assign product-id = include.product-id | default: 1 %}
{% assign product = site.data.products[product-id] %}
<div class="card">
	<div class="card-body">
		<div class="mb-4 text-center">
			<img src="{{ site.base }}/img/products/{{ product.image }}" alt="Apple iPhone 7 128GB" class="img-fluid">
		</div>
		<h4 class="card-title"><a href="#">{{ product.name }}</a></h4>
		<div class="mt-5 d-flex align-items-center">
			<div class="h3 mb-0">
				<strong>{{ product.price }}</strong>
			</div>
			<div class="ml-auto">
				<a href="#" class="btn btn-primary">{% include ui/icon.html icon='plus' %} Add to cart</a>
			</div>
		</div>
	</div>
</div>
