<div class="row">
    <div class="col-lg-3">
        {% include cards/store-product.html product=0 %}
        {% include cards/store-product.html product=1 %}
    </div>
    <div class="col-lg-9">
        <div class="card p-3">
            <div class="row">
                <div class="col-md-6 mt-2">     
                    <img src="{{ site.base }}/img/products/{{ product.image }}" alt="" class="w-100">
                </div>
                <div class="col-md-6 mt-2 px-5 d-flex justify-content-center flex-column">
                    {% assign id = include.product-id | default: 0 %}
                    {% assign product = site.data.products[id] %}
                    <h2>{{ product.name }}</h2>
                    <div class="text-muted">{{product.producer}}</div>
                    <div class="d-flex">
                        {% include ui/stars.html %}
                        <span class="text-muted ml-1">(54)</span>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut quasi voluptatem sequi quo inventore vitae optio sunt adipisci accusantium recusandae fugit eos suscipit maxime omnis praesentium, modi qui tempora. Eos.</p>
                    <h1 class="text-azure">{{product.price}}$</h1>
                </div>
                <div class="col-md-12 mt-3">
                    <ul class="nav {% if include.pills %}nav-pills{% if include.header %} card-header-pills{% endif %}{% elsif include.tabs %}nav-tabs{% if include.header %} card-header-tabs{% endif %}{% endif %}">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Description
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">
                                Specs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                                Reviews
                            </a>
                        </li>
                    </ul>
                    <p class="m-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero dicta dolorem quaerat molestias reprehenderit quasi praesentium, sequi explicabo iusto repudiandae labore aperiam nihil eos, similique magnam quas quo voluptate corrupti ratione officiis culpa facere corporis eveniet voluptas. Sapiente perspiciatis aspernatur, veritatis maiores suscipit ea, enim amet aliquam quaerat sunt deserunt! Accusamus labore earum dolore autem, facere beatae quod rem expedita ut perferendis! <br><br>
                    Recusandae cupiditate error molestiae rerum asperiores similique hic quaerat? Animi, doloremque similique adipisci omnis nulla ad odit. Harum quas, numquam culpa in et quaerat ducimus dolore provident possimus distinctio pariatur sint aliquam sunt ad nostrum repellendus neque officiis, unde porro quasi ratione? Possimus ipsa nobis explicabo eum porro. Pariatur maxime facilis sed dolorem quod. Provident quibusdam voluptatum fugiat enim quidem ullam maxime nesciunt nisi.</p>
                </div>
            </div>
        </div>
    </div>
</div>

 



