{% assign person = site.data.people[4] %}

<div class="card p-3">
     <div class="row">
        <div class="col-lg-12">
            <h3>Order Details</h3>
            <p>June 21 2019 2:12 AM</p>
            <strong>Status: </strong>
            <span class="badge badge-pill text-white bg-green">Success</span>
        </div>
    </div>
</div>

<div class="card p-3">
    <div class="row">
        <div class="col-lg-4">
            <h3>Billing Address</h3>
            <strong>{{person.full_name}}</strong><br>
            {{person.street_name}}, {{person.city}}<br>
            <strong>Email: </strong>{{person.email}}<br>
            <strong>Phone: </strong>{{person.number}}
        </div>
        <div class="col-lg-4">
            <h3>Shipping Address</h3>
            <strong>{{person.full_name}}</strong><br>
            {{person.street_name}}, {{person.city}}<br>
        </div>
        <div class="col-lg-4">
            <h3>Payment method</h3>

        </div>
    </div>
</div>

{% include cards/store-list-2.html amount=2 show-summary=true%}