{% assign person-id = include.person-id | default: 0 %}
{% assign person = site.data.people[person-id] %}
<div class="card">
	<div class="card-body">
		<div class="row row-sm align-items-center">
			<div class="col-auto">
				{% include ui/avatar.html person=person size="lg" %}
			</div>
			<div class="col">
				<h4 class="card-title m-0">
					<a href="#">{{ person.full_name }}</a>
				</h4>
				<div class="text-muted">
					Working in {{ person.company }}
				</div>
				<div class="small mt-1">
					<span class="text-success">●</span> Online
				</div>
			</div>
			<div class="col-auto">
				<a href="#" class="btn btn-sm btn-white d-none d-md-inline-block">
					Subscribe
				</a>
			</div>
			<div class="col-auto">
				<div class="dropdown">
					<button class="btn-options" type="button" data-toggle="dropdown">
						{% include ui/icon.html icon="dots-vertical" %}
					</button>
					{% include ui/dropdown-menu.html right=true %}
				</div>
			</div>
		</div>
	</div>
</div>
