<div class="card">
	<div class="card-header">
		<h4 class="card-title">Top users</h4>
	</div>
	<div class="card-body">
		<div class="row">
			{% for person in site.data.people limit: 12 offset: 40 %}
			<div class="col-sm-6" data-id="8">
				<div class="media">
					<a href="javascript:void(0)">
						{% include ui/avatar.html src=person.photo size="md" %}
					</a>
				</div>
				<div class="d-flex flex-column">
					<a href="javascript:void(0)" class="text-default">{{ person.full_name }}</a>
					<a href="javascript:void(0)" class="text-muted leading-none">
						{{ person.company }}
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
