{% assign person-id = include.person-id | default: 25 %}
{% assign person = site.data.people | where: "id", person-id %}
{% assign p = person[0] %}

<div class="card">
    <div class="card-body">
        <div class="card-title">{{ include.title | default: 'Basic info' }}</div>
        <div class="mb-2">
            {% include ui/icon.html icon="book" class="mr-2 text-muted" %}
            Went to: <strong>{{ p.university }}</strong>
        </div>
        <div class="mb-2">
            {% include ui/icon.html icon="briefcase" class="mr-2 text-muted" %}
            Worked at: <strong>{{ p.company }}</strong>
        </div>
        <div class="mb-2">
            {% include ui/icon.html icon="home" class="mr-2 text-muted" %}
            Lives in: <strong>{{ p.city }}, {{ p.country }}</strong>
        </div>
       <div class="mb-2">
          {% include ui/icon.html icon="map-pin" class="mr-2 text-muted" %}
          From: <strong>{% include ui/flag.html flag=p.country_code %} {{ p.country }}</strong>
       </div>
       <div class="mb-2">
          {% include ui/icon.html icon="calendar" class="mr-2 text-muted" %}
          Birth date: <strong>{{ p.birth_date }}</strong>
       </div>
       <div>
          {% include ui/icon.html icon="clock" class="mr-2 text-muted" %}
          Time zone: <strong>{{ p.time_zone }}</strong>
       </div>
    </div>
</div>
