{% assign photos = site.data.photos | where: "horizontal", true %}
{% assign person-id = include.person-id | default: 9 %}
{% assign person = site.data.people | where: "id", person-id %}
{% assign p = person[0] %}

<div class="card">
	<div class="card-body d-flex align-items-center justify-content-between">
		<div class="d-flex align-items-center flex-row pr-1">
			<div>
				{% include ui/avatar.html person=p size="md" class="mr-3" %}
			</div>
			<div>
				<p class="mb-0">{{ p.full_name }}</p>
				<p class="mb-0 text-muted">{{ p.job_title }}</p>
			</div>
		</div>
		{% include ui/button.html text="Follow" pill="true" outline="true" color="primary"%}
	</div>

	<div class="card-footer">
		<div class="row row-xs">
			{% for photo in photos limit: 9 %}
			<div class="col-4 mb-2">
				<div class="media media-1x1 rounded">
					<a class="media-content"
					   style="background-image: url({{ site.base }}/img/photos/{{ photo.file }})"></a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
