name: Test build

on:
  pull_request:
    types: [ opened, reopened ]

env:
  NODE: 18

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "${{ env.NODE }}"
          cache: pnpm

      - name: Install PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
          bundler-cache: true

      - run: ruby --version
      - run: node --version

      - name: Install pnpm dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build
